Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Plugin] Update the host functions for the API change.
  plugins/httpsreq/httpsreqbase.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/wasi_crypto/asymmetric_common/func.cpp
  plugins/wasi_crypto/asymmetric_common/func.h
  plugins/wasi_crypto/common/func.cpp
  plugins/wasi_crypto/common/func.h
  plugins/wasi_crypto/kx/func.cpp
  plugins/wasi_crypto/kx/func.h
  plugins/wasi_crypto/signatures/func.cpp
  plugins/wasi_crypto/signatures/func.h
  plugins/wasi_crypto/symmetric/func.cpp
  plugins/wasi_crypto/symmetric/func.h
  plugins/wasi_crypto/utils/hostfunction.h
  plugins/wasi_nn/wasinnbase.h
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasmedge_process/processbase.h
  plugins/wasmedge_process/processfunc.cpp
  plugins/wasmedge_process/processfunc.h
Owners: @hydai, @ibmibmibm, @q82419

[Test] Update tests for the host function API change.
  examples/plugin/get-string/getstring.cpp
  test/api/APIUnitTest.cpp
  test/api/hostfunc_c.c
  test/api/hostfunc_c.h
  test/externref/ExternrefTest.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
  test/mixcall/mixcallTest.cpp
  test/plugins/httpsreq/httpsreq.cpp
  test/plugins/wasi_crypto/common.cpp
  test/plugins/wasi_crypto/helper.cpp
  test/plugins/wasi_crypto/helper.h
  test/plugins/wasi_nn/wasi_nn.cpp
  test/plugins/wasmedge_process/wasmedge_process.cpp
  test/spec/hostfunc.h
Owners: @hydai, @q82419, @ibmibmibm

[CI] Fix lost file when packaging on Windows.
  .github/scripts/wasmedge.wxs
Owners: @hydai

[CI] Fix lost file when packaging on Windows.
  .github/scripts/wasmedge.wxs
Owners: @hydai

Update lxc.md
  docs/book/en/src/kubernetes/docker/lxc.md
Owners: @hydai

[Plugin] Update the host functions for the API change.
  plugins/httpsreq/httpsreqbase.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/wasi_crypto/asymmetric_common/func.cpp
  plugins/wasi_crypto/asymmetric_common/func.h
  plugins/wasi_crypto/common/func.cpp
  plugins/wasi_crypto/common/func.h
  plugins/wasi_crypto/kx/func.cpp
  plugins/wasi_crypto/kx/func.h
  plugins/wasi_crypto/signatures/func.cpp
  plugins/wasi_crypto/signatures/func.h
  plugins/wasi_crypto/symmetric/func.cpp
  plugins/wasi_crypto/symmetric/func.h
  plugins/wasi_crypto/utils/hostfunction.h
  plugins/wasi_nn/wasinnbase.h
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasmedge_process/processbase.h
  plugins/wasmedge_process/processfunc.cpp
  plugins/wasmedge_process/processfunc.h
Owners: @hydai, @ibmibmibm, @q82419

[Runtime] Use the calling frame to replace memory instance in host functions.
  include/api/wasmedge/wasmedge.h
  include/executor/executor.h
  include/host/wasi/wasibase.h
  include/host/wasi/wasifunc.h
  include/runtime/callingframe.h
  include/runtime/hostfunc.h
  include/runtime/instance/function.h
  include/runtime/instance/module.h
  lib/api/wasmedge.cpp
  lib/executor/helper.cpp
  lib/executor/instantiate/function.cpp
  lib/host/wasi/wasifunc.cpp
Owners: @q82419, @ibmibmibm

[Test] Update tests for the host function API change.
  examples/plugin/get-string/getstring.cpp
  test/api/APIUnitTest.cpp
  test/api/hostfunc_c.c
  test/api/hostfunc_c.h
  test/externref/ExternrefTest.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
  test/mixcall/mixcallTest.cpp
  test/plugins/httpsreq/httpsreq.cpp
  test/plugins/wasi_crypto/common.cpp
  test/plugins/wasi_crypto/helper.cpp
  test/plugins/wasi_crypto/helper.h
  test/plugins/wasi_nn/wasi_nn.cpp
  test/plugins/wasmedge_process/wasmedge_process.cpp
  test/spec/hostfunc.h
Owners: @hydai, @q82419, @ibmibmibm

fix: remove no-used branch
  plugins/wasi_nn/wasinnenv.h
  test/plugins/wasi_nn/wasi_nn.cpp
Owners: @hydai, @q82419

[Misc] code misc
  include/ast/component.h
  include/ast/component/canon_section.h
Owners: @q82419

[Proposal] complete the canonical form section loading
  lib/loader/ast/component.cpp
Owners: @q82419

[CI] add the CI for httpsreq plugin (#1763)
  .github/workflows/build-extensions.yml
  utils/httpsreq/build-openssl.sh
Owners: @hydai, @ibmibmibm, @q82419

[Rust] Bumped the version of wasmedge-sdk to v0.3.0 (#1709)
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/global.rs
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/examples/executor_register_active_module.rs
  bindings/rust/wasmedge-sys/examples/executor_register_named_module.rs
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/store_get_named_module.rs
  bindings/rust/wasmedge-sys/examples/vm_get_active_module.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/global.rs
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/src/validator.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  docs/book/en/src/embed/rust.md
Owners: @hydai, @yanganto

[API] Add the const qualifer for some APIs.
  bindings/rust/wasmedge-sys/src/utils.rs
  include/api/wasmedge/wasmedge.h
  include/vm/async.h
  include/vm/vm.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @hydai, @yanganto, @q82419

[CAPI] Add a new API for compiling a given wasm byte array to native binary
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/hostfunc_c.c
Owners: @q82419

[CAPI] Add a new API for looking up the native handler from a given WASI mapped Fd/Handler
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

fix hello.wasm output
  examples/wasm/README.md
Owners: @hydai

[Docs] fix hello.wasm output (#1766)
  examples/wasm/README.md
Owners: @hydai

[CAPI] Add a new API for looking up the native handler from a given WASI mapped Fd/Handler
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

[CAPI] Add a new API for compiling a given wasm byte array to native binary
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/hostfunc_c.c
Owners: @q82419

[API] Add the const qualifer for some APIs.
  bindings/rust/wasmedge-sys/src/utils.rs
  include/api/wasmedge/wasmedge.h
  include/vm/async.h
  include/vm/vm.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @hydai, @yanganto, @q82419

[Changelog] Update the changelog for the 0.11.0-alpha.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
  test/spec/CMakeLists.txt
Owners: @hydai, @q82419

[Changelog] Update the changelog for the 0.11.0-alpha.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
  test/spec/CMakeLists.txt
Owners: @hydai, @q82419

[CI] Fix the release CI.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the release CI.
  .github/workflows/release.yml
Owners: @hydai

[CI] The zip file name should use inputs.version
  .github/workflows/reusable-build-on-windows.yml
Owners: @hydai

[CI] The output folder is build not its name
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[CI] The actions/upload-release-asset@v1 is too new for manylinux1 and maynlinux2010. Use legacy handler
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[CI] The source tarball should always upload to the associated workflow
  .github/workflows/reusable-create-source-tarball.yml
Owners: @hydai

[CI] bump the fc version from 37 to 38
  .github/workflows/reusable-build-srpm.yml
Owners: @hydai

[CI] The upload-release-assets cannot use in manylinux1 and manylinux2010
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[CI] Drop support for manylinux1 images
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
Owners: @hydai

[CI] Upload assets for the legacy system
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[CI] The asset name of macOS should removed the darwin version
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai

[Misc] format the yml file
  .github/workflows/build-extensions.yml
Owners: @hydai

[CI] Fix release workflow and drop manylinux1 (#1771)
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-build-srpm.yml
  .github/workflows/reusable-create-source-tarball.yml
Owners: @hydai

[CI] All the workflow should upload artifacts no matter it's in release mode or not
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[CI] All the workflow should upload artifacts no matter it's in release mode or not
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

typo fix
  docs/book/en/src/embed/rust.md
Owners: @hydai

[Docs] typo fix (#1775)
  docs/book/en/src/embed/rust.md
Owners: @hydai
