Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Test] Fix case.
  test/host/wasi_crypto/notimplement.cpp
Owners: @q82419

[WASI] Add const.
  lib/host/wasi_crypto/asymmetric_common/func.cpp
  lib/host/wasi_crypto/signatures/func.cpp
Owners: @q82419

[WASI] Replace .value() with `*`.
  lib/host/wasi_crypto/asymmetric_common/func.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
Owners: @q82419

[WASI] replace std::next with `+`
  lib/host/wasi_crypto/common/array_output.cpp
Owners: @q82419

[WASI] Rsa padding only use in sign and verify.
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @q82419

[WASI] Signature should use rc count.
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/rsa.h
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @q82419

[Test] Add rsa encoding test.
  test/host/wasi_crypto/asymmetric.cpp
Owners: @q82419

[WASI] key exchange base dh only need const key.
  include/host/wasi_crypto/kx/dh/x25519.h
  include/host/wasi_crypto/kx/kx.h
  lib/host/wasi_crypto/kx/dh/x25519.cpp
  lib/host/wasi_crypto/kx/kx.cpp
Owners: @q82419

[WASI] Fix Alg type.
  lib/host/wasi_crypto/signatures/func.cpp
Owners: @q82419

[WASI] Format.
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @q82419

[WASI] Fix type error.
  lib/api/wasmedge.cpp
  tools/wasmedge/wasmedger.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Format.
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/rsa.h
  lib/host/wasi_crypto/kx/dh/ecdsa.cpp
  lib/host/wasi_crypto/kx/kx.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
Owners: @q82419

[WASI] Format.
  include/host/wasi_crypto/asymmetric_common/ecdsa.h
Owners: @q82419

[Test] Add notimplemented test.
  test/host/wasi_crypto/notimplement.cpp
Owners: @q82419

[Docs] Update place.
  docs/book/en/src/dev/rust/crypto.md
Owners: @hydai

[WASI] Function should return signatures size.
  include/host/wasi_crypto/signatures/rsa.h
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @q82419

[WASI] Format header files.
  lib/api/wasmedge.cpp
  lib/vm/vm.cpp
  tools/wasmedge/wasmedger.cpp
Owners: @q82419, @hydai, @ibmibmibm

[Doc] Use fork repo because custom lnk.
  docs/book/en/src/dev/rust/crypto.md
Owners: @hydai

[Test] Add clone test check.
  test/host/wasi_crypto/aeads.cpp
  test/host/wasi_crypto/hash.cpp
  test/host/wasi_crypto/helper.cpp
  test/host/wasi_crypto/helper.h
  test/host/wasi_crypto/kdf.cpp
  test/host/wasi_crypto/mac.cpp
Owners: @q82419

[WASI] Use custom SharedEvpPkey.
  include/host/wasi_crypto/asymmetric_common/ecdsa.h
  include/host/wasi_crypto/kx/dh/x25519.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/rsa.h
  include/host/wasi_crypto/utils/evp_wrapper.h
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Fix keytype and mutable.
  lib/host/wasi_crypto/symmetric/key.cpp
Owners: @q82419

replace shared ptr vec
  include/host/wasi_crypto/utils/secret_vec.h
Owners: @hydai, @ibmibmibm, @q82419

[Test] Add key exchange ecdsa test.
  test/host/wasi_crypto/kx.cpp
Owners: @q82419

[WASI] Replace std::shared vec by vec.
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/rsa.h
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/mac.h
  include/host/wasi_crypto/utils/evp_wrapper.h
  include/host/wasi_crypto/utils/secret_vec.h
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
  lib/host/wasi_crypto/symmetric/mac.cpp
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
Owners: @q82419, @hydai, @ibmibmibm

[Doc] Not support android.
  docs/book/en/src/dev/rust/crypto.md
Owners: @hydai

[WASI} Include only when specific.
  lib/vm/vm.cpp
Owners: @q82419

[WASI] Add explain for ecdsa sign.
  include/host/wasi_crypto/signatures/ecdsa.h
  lib/host/wasi_crypto/signatures/ecdsa.cpp
Owners: @q82419

[WASI] Fix format.
  lib/host/wasi_crypto/signatures/eddsa.cpp
Owners: @q82419

[WASI] Fix windows warning.
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Size cast.
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Support new feature:symmetric_state_clone.
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/func.h
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/mac.h
  include/host/wasi_crypto/symmetric/state.h
  lib/host/wasi_crypto/module.cpp
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/ctx.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
  lib/host/wasi_crypto/symmetric/hash.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
  lib/host/wasi_crypto/symmetric/mac.cpp
  lib/host/wasi_crypto/symmetric/state.cpp
Owners: @q82419

[WASI] Thread safe everywhere.
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/rsa.h
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/mac.h
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/hash.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
  lib/host/wasi_crypto/symmetric/mac.cpp
Owners: @q82419

[WASI] Refactor ecdsa.
  include/host/wasi_crypto/asymmetric_common/ecdsa.h
  include/host/wasi_crypto/kx/dh/ecdsa.h
  include/host/wasi_crypto/signatures/ecdsa.h
  lib/host/wasi_crypto/kx/dh/ecdsa.cpp
  lib/host/wasi_crypto/signatures/ecdsa.cpp
Owners: @q82419

[WASI] Optimization unnecessary copy.
  include/host/wasi_crypto/asymmetric_common/ecdsa.h
  include/host/wasi_crypto/kx/dh/x25519.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/rsa.h
  lib/host/wasi_crypto/kx/dh/x25519.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @q82419

[WASI] Remove extra final.
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @q82419

[WASI] Fix format
  include/host/wasi_crypto/kx/dh/ecdsa.h
Owners: @q82419

[Action] Update build script and action
  .github/workflows/bindings-rust.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/static-code-analysis.yml
  utils/docker/build-manylinux.sh
Owners: @hydai, @ibmibmibm, @q82419

[Changelog] Update the changelog for the 0.10.1-alpha.2 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[CI] Fix the WASI-NN release CI.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the WASI-NN release CI.
  .github/workflows/release.yml
Owners: @hydai
