Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Docs] Update the plugin release status.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/cli/wasmedgec.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_crypto.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/contribute/build_from_src/plugin_wasmedge_httpsreq.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/plugin.md
  docs/book/en/src/write_wasm/rust/networking-https.md
  docs/book/en/src/write_wasm/rust/networking.md
  docs/book/en/src/write_wasm/rust/wasicrypto.md
  docs/book/en/src/write_wasm/rust/wasinn.md
  docs/book/zh/src/dev/rust/networking-https.md
Owners: @hydai

[Docs] Update the plugin release status.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/cli/wasmedgec.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_crypto.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/contribute/build_from_src/plugin_wasmedge_httpsreq.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/plugin.md
  docs/book/en/src/write_wasm/rust/networking-https.md
  docs/book/en/src/write_wasm/rust/networking.md
  docs/book/en/src/write_wasm/rust/wasicrypto.md
  docs/book/en/src/write_wasm/rust/wasinn.md
  docs/book/zh/src/dev/rust/networking-https.md
Owners: @hydai

[Changelog] Update the changelog for the 0.11.1 release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/book.toml
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/sdk/c/ref.md
Owners: @hydai

[Changelog] Update the changelog for the 0.11.1 release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/book.toml
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/sdk/c/ref.md
Owners: @hydai

[CI] Fix ubuntu release CI
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix ubuntu release CI
  .github/workflows/release.yml
Owners: @hydai

[Rust][refactor](config): Removed copy_from from Config.
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/validator.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](config): Removed copy_from from Config.
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/executor.rs
Owners: @hydai, @yanganto

[Rust SDK][fix](compiler, module): Fixed clippy issues.
  bindings/rust/wasmedge-sdk/src/compiler.rs
  bindings/rust/wasmedge-sdk/src/module.rs
Owners: @hydai, @yanganto

[Rust] Removed the deprecated `Config::copy_from` APIs (#1884)
  bindings/rust/wasmedge-sdk/src/compiler.rs
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/validator.rs
Owners: @hydai, @yanganto

[Rust][refactor](examples): Refactored doc comments.
  bindings/rust/wasmedge-sys/examples/wasi_print_env.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](examples): Added a new example.
  bindings/rust/wasmedge-sdk/examples/wasi_print_env.rs
Owners: @hydai, @yanganto

[Rust] Added a new example for presenting the wasi-related feature. (#1895)
  bindings/rust/wasmedge-sdk/examples/wasi_print_env.rs
  bindings/rust/wasmedge-sys/examples/wasi_print_env.rs
Owners: @hydai, @yanganto

[rust-macro][doc](cargo.toml, readme, lib): Added required doc comments.
  bindings/rust/wasmedge-macro/Cargo.toml
  bindings/rust/wasmedge-macro/README.md
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[CI][feat](rust): Added workflows for publishing wasmedge-macro crate.
  .github/workflows/rust-wasmedge-macro-docs.yml
  .github/workflows/rust-wasmedge-macro-release.yml
Owners: @hydai

[CI][refactor](rust): Renamed the workflows.
  .github/workflows/rust-wasmedge-macro-docs.yml
  .github/workflows/rust-wasmedge-macro-release.yml
Owners: @hydai

[CI][refactor](rust): Refactored workflow.
  .github/workflows/rust-wasmedge-macro-docs.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-macro-release): Used nightly Rust.
  .github/workflows/rust-wasmedge-macro-release.yml
Owners: @hydai

[Misc] add qualified name std for move and forward (#1888)
  include/experimental/expected.hpp
Owners: @q82419

[Docs] Update the WasmEdge-Go doc to 0.11.0.
  docs/book/en/src/sdk/c/0.10.1/ref.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/0.10.1/ref.md
  docs/book/en/src/sdk/go/0.10.1/upgrade_to_0.11.0.md
  docs/book/en/src/sdk/go/ref.md
Owners: @hydai

[Rust] wasmedge-macro v0.1.0 (#1899)
  .github/workflows/rust-wasmedge-macro-docs.yml
  .github/workflows/rust-wasmedge-macro-release.yml
  bindings/rust/wasmedge-macro/Cargo.toml
  bindings/rust/wasmedge-macro/README.md
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[CI][feat](rust-wasmedge-types-release): Added PR as a trigger condition.
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-types): Refactored workflows.
  .github/workflows/rust-wasmedge-types-docs.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

[CI][feat](rust-wasmedge-macro-release): Added PR as a trigger condition.
  .github/workflows/rust-wasmedge-macro-release.yml
Owners: @hydai

[rust-macro][fix](cargo.toml): Added the description metadata.
  bindings/rust/wasmedge-macro/Cargo.toml
Owners: @hydai, @yanganto

[Installer] add new options that user could specify os and arch for installer
  utils/install.sh
Owners: @SAtacker

[CI] Make the Ubuntu CI reusable.
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Owners: @hydai

[CI] Fix LLVM path on MacOS 12.
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai

[Rust] wasmedge-types v0.3.0 (#1900)
  .github/workflows/rust-wasmedge-macro-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
  .github/workflows/rust-wasmedge-types-release.yml
  bindings/rust/wasmedge-macro/Cargo.toml
Owners: @hydai, @yanganto

[Rust][doc](Cargo.toml, readme, lib): Updated doc comments.
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[CI][refactor](rust-wasmedge-sys-docs): Refactored workflow.
  .github/workflows/rust-wasmedge-sys-docs.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sys): Refactored workflows.
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sys-docs): Refactored workflow.
  .github/workflows/rust-wasmedge-sys-docs.yml
Owners: @hydai

[Rust][doc](vm): Refactored doc comments.
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Docs] Update the WasmEdge-Go doc to 0.11.0.
  docs/book/en/src/sdk/c/0.10.1/ref.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/0.10.1/ref.md
  docs/book/en/src/sdk/go/0.10.1/upgrade_to_0.11.0.md
  docs/book/en/src/sdk/go/ref.md
Owners: @hydai

[CI] Make the Ubuntu CI reusable.
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Owners: @hydai

[CI] Fix LLVM path on MacOS 12.
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai

[Installer] add new options that user could specify os and arch for installer
  utils/install.sh
Owners: @SAtacker

[Utils] Installer: Fix missing ] error
  utils/install.sh
Owners: @SAtacker

[Utils] Installer: Fix missing ] error
  utils/install.sh
Owners: @SAtacker
