Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

fix compile warnnings
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableInstanceContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_StoreContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_TableInstanceContext.h
  bindings/java/wasmedge-jni/lib/AstModuleContext.c
  bindings/java/wasmedge-jni/lib/ExecutorContext.c
  bindings/java/wasmedge-jni/lib/ExportTypeContext.c
  bindings/java/wasmedge-jni/lib/ExternRef.c
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.c
  bindings/java/wasmedge-jni/lib/MemoryInstanceContext.c
  bindings/java/wasmedge-jni/lib/ModuleInstanceContext.c
  bindings/java/wasmedge-jni/lib/StatisticsContext.c
  bindings/java/wasmedge-jni/lib/StoreContext.c
  bindings/java/wasmedge-jni/lib/TableInstanceContext.c
  bindings/java/wasmedge-jni/lib/ValueType.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
Owners: @hydai, @q82419

build for macos & windows
  .github/workflows/bindings-java.yml
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdge.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/FindWasmEdge.cmake
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/wasmedge-version.properties.in
Owners: @hydai, @q82419

add github actions for bings-java
  .github/workflows/bindings-java.yml
  bindings/java/wasmedge-java/build.gradle
Owners: @hydai

Update bindings-java.yml
  .github/workflows/bindings-java.yml
Owners: @hydai

build for macos & windows
  .github/workflows/bindings-java.yml
  bindings/java/wasmedge-java/build.gradle
Owners: @hydai

[Misc] Bump the C API version to 0.0.1.
  CMakeLists.txt
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @q82419

[CI] Use the linux-arm64 runner instead of the ARM64 runner
  .github/workflows/README.md
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test-install-script.yml
Owners: @hydai

[Docs] Fix missing link of openwrt
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[CI] Use the linux-arm64 runner instead of the ARM64 runner
  .github/workflows/README.md
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test-install-script.yml
Owners: @hydai

[Fuzz] Link LIB_FUZZING_ENGINE library for oss-fuzz
  tools/fuzz/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Fuzz] Check linking static library with fuzzer
  tools/fuzz/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Loader] Reject unreasonable long vector sizes
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
Owners: @q82419

[Loader] Reject wrong data in `AOTSection`
  lib/loader/ast/section.cpp
  lib/loader/shared_library.cpp
Owners: @q82419

[AOT] Record unreachable status for every control stacks
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Fuzz] Make fuzzer compatible with old libc++
  lib/driver/fuzzPO.cpp
Owners: @q82419

[Fuzz] Export `LLVMFuzzerTestOneInput` symbol
  tools/fuzz/po.cpp
  tools/fuzz/tool.cpp
Owners: @hydai, @ibmibmibm, @q82419

[Loader] Capped maximum local counts to 67108864
  lib/loader/ast/segment.cpp
Owners: @q82419

[Fuzz] Add corpus for po fuzzer
  utils/corpus/po/add.txt
  utils/corpus/po/disable1.txt
  utils/corpus/po/enable1.txt
  utils/corpus/po/enable2.txt
  utils/corpus/po/gas-limit1.txt
  utils/corpus/po/gas-limit2.txt
  utils/corpus/po/help.txt
  utils/corpus/po/memory-page-limit1.txt
  utils/corpus/po/memory-page-limit2.txt
  utils/corpus/po/reactor.txt
  utils/corpus/po/simple.txt
  utils/corpus/po/time-limit1.txt
  utils/corpus/po/time-limit2.txt
  utils/corpus/po/version.txt
Owners: @hydai, @ibmibmibm, @q82419

Data Count Section
  lib/loader/serialization/deserialize.cpp
  lib/loader/serialization/serialize.cpp
Owners: @q82419

[Docs] Update the Quick start guides links of README. (#1999)
  README-zh-TW.md
  README-zh.md
Owners: @hydai

[Changelog] Update the changelog for the 0.11.2-alpha.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Misc] Support non-english args for win-cli
  include/api/wasmedge/wincli_helper.h
  tools/wasmedge/CMakeLists.txt
  tools/wasmedge/wasmedgec.cpp
  tools/wasmedge/wasmedger.cpp
  tools/wasmedge/wincli_helper.cpp
Owners: @q82419, @hydai, @ibmibmibm

[Docs] Add document for running WasmEdge in Knative
  docs/book/en/src/use_cases/kubernetes/kubernetes/knative.md
Owners: @hydai

[Docs] Add Simplified Chinese document for running WasmEdge in Knative
  docs/book/zh/src/kubernetes/kubernetes/knative.md
Owners: @hydai

[Docs] Add navigation links for Knative document
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/use_cases/kubernetes/kubernetes.md
  docs/book/zh/src/SUMMARY.md
Owners: @hydai

refactor(rust-sys): refactor find_wasmedge
  bindings/rust/wasmedge-sys/build.rs
Owners: @hydai, @yanganto

refactor(rust-sdk): refactor the plugin loading
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Changelog] Update the changelog for the 0.11.2-alpha.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[CI] Fix the host runner of releasing plug-in.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the host runner of releasing plug-in.
  .github/workflows/release.yml
Owners: @hydai

feat(rust-sdk): implement PluginManager
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/plugin.rs
Owners: @hydai, @yanganto

refactor(rust-sdk): remove the plugin loading code from Vm::new
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

refactor(rust-sdk): remove the plugin loading code from ImportObjectBuilder::build_as_wasmedge_process
  bindings/rust/wasmedge-sdk/src/import.rs
Owners: @hydai, @yanganto

chore(rust-sys): update the doc comments
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

chore: fix the clippy issues
  bindings/rust/wasmedge-macro/src/lib.rs
  bindings/rust/wasmedge-sdk/examples/call_func_in_threads.rs
  bindings/rust/wasmedge-sdk/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sdk/examples/executor_register_active_module.rs
  bindings/rust/wasmedge-sdk/examples/executor_register_named_module.rs
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/examples/host_func_with_custom_error.rs
  bindings/rust/wasmedge-sdk/examples/memory.rs
  bindings/rust/wasmedge-sdk/examples/multi_value.rs
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/build.rs
  bindings/rust/wasmedge-sys/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sys/examples/executor_register_active_module.rs
  bindings/rust/wasmedge-sys/examples/executor_register_named_module.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/threads.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

chore: fix the clippy issues
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust] Changes for supporting youki (#1995)
  bindings/rust/wasmedge-macro/src/lib.rs
  bindings/rust/wasmedge-sdk/examples/call_func_in_threads.rs
  bindings/rust/wasmedge-sdk/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sdk/examples/executor_register_active_module.rs
  bindings/rust/wasmedge-sdk/examples/executor_register_named_module.rs
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/examples/host_func_with_custom_error.rs
  bindings/rust/wasmedge-sdk/examples/memory.rs
  bindings/rust/wasmedge-sdk/examples/multi_value.rs
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/plugin.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/build.rs
  bindings/rust/wasmedge-sys/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sys/examples/executor_register_active_module.rs
  bindings/rust/wasmedge-sys/examples/executor_register_named_module.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/threads.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

chore(rust-sys): update doc comments
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

feat(rust-sdk): implement LogManager
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/log.rs
Owners: @hydai, @yanganto

[Test] Find system-wise RapidJSON first, if not found, then fallback to download
  test/spec/CMakeLists.txt
Owners: @q82419

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
