Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[Rust][fix](readme, lib, rust.md): Fixed the reivew issues.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
  docs/book/en/src/embed/rust.md
Owners: @hydai, @yanganto

[Rust] Updated API docs and the Rust section of WasmEdge Book (#1688)
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
  docs/book/en/src/embed/rust.md
Owners: @hydai, @yanganto

[Driver] Fix the lost threads proposal option in tools.
  lib/driver/compiler.cpp
  lib/driver/tool.cpp
Owners: @q82419

[Driver] Fix the lost threads proposal option in tools.
  lib/driver/compiler.cpp
  lib/driver/tool.cpp
Owners: @q82419

[Rust SDK] Supported MultiMemories config option.
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sys/src/config.rs
Owners: @hydai, @yanganto

[Rust SDK] Supported MultiMemories config option. (#1690)
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sys/src/config.rs
Owners: @hydai, @yanganto

[CI] Upload the extension artifect and drop macos-10.15.
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @hydai

[CI] Upload the extension artifect and drop macos-10.15.
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @hydai

[Changelog] Update the changelog for the 0.10.1 release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Changelog] Update the changelog for the 0.10.1 release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Docs] Update JS docs to reflect new nodejs API support (#1635)
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/dev/js.md
  docs/book/en/src/dev/js/es6.md
  docs/book/en/src/dev/js/fetch.md
  docs/book/en/src/dev/js/networking.md
  docs/book/en/src/dev/js/nodejs.md
  docs/book/en/src/dev/js/npm.md
  docs/book/en/src/dev/js/quickstart.md
  docs/book/en/src/dev/js/ssr.md
  docs/book/en/src/dev/js/tensorflow.md
Owners: @hydai

[CI] Fix the build_for_riscv.yml.
  .github/workflows/build_for_riscv.yml
Owners: @hydai

Update quickstart.md
  docs/book/en/src/dev/js/quickstart.md
Owners: @hydai

[Docs] Add documents about docker release images
  docs/book/en/src/start/docker.md
Owners: @hydai

Update nodejs.md
  docs/book/en/src/dev/js/nodejs.md
Owners: @hydai

Update networking.md
  docs/book/en/src/dev/js/networking.md
Owners: @hydai

[CI] install the ninja_build tool.
  .github/workflows/build_for_riscv.yml
Owners: @hydai

Update ssr.md
  docs/book/en/src/dev/js/ssr.md
Owners: @hydai

Update networking.md
  docs/book/en/src/dev/js/networking.md
Owners: @hydai

Update ssr.md
  docs/book/en/src/dev/js/ssr.md
Owners: @hydai

Update tensorflow.md
  docs/book/en/src/dev/js/tensorflow.md
Owners: @hydai

Update es6.md
  docs/book/en/src/dev/js/es6.md
Owners: @hydai

Update npm.md
  docs/book/en/src/dev/js/npm.md
Owners: @hydai

[Docs] Add documents about docker release images
  docs/book/en/src/start/docker.md
Owners: @hydai

[CI] Publish docker slim image in release.yml
  .github/workflows/release-published.yml
  .github/workflows/release.yml
  docs/book/en/src/start/docker.md
  utils/docker/Dockerfile.release
Owners: @hydai, @ibmibmibm, @q82419

[CI] Fix the build_for_riscv.yml
  .github/workflows/build_for_riscv.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sdk-docs): Refactored workflow.
  .github/workflows/rust-wasmedge-sdk-docs.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sys-docs, rust-wasmedge-types-docs): Removed unused workflows.
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sdk-docs.yml): Refactored workflow.
  .github/workflows/rust-wasmedge-sdk-docs.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sdk-docs): Added clippy.
  .github/workflows/rust-wasmedge-sdk-docs.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sdk-docs): Refactored workflow.
  .github/workflows/rust-wasmedge-sdk-docs.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sdk-release): Refactored workflow.
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sdk-release): Refactored workflow.
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

[Docs] Simplify the developer experience (#1696)
  docs/book/en/src/dev/js/es6.md
  docs/book/en/src/dev/js/networking.md
  docs/book/en/src/dev/js/nodejs.md
  docs/book/en/src/dev/js/npm.md
  docs/book/en/src/dev/js/quickstart.md
  docs/book/en/src/dev/js/ssr.md
  docs/book/en/src/dev/js/tensorflow.md
Owners: @hydai

[CI][refactor](sdk-release): Refactored workflow.
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

[CI][refactor](sdk-release, types-docs): Refactored workflows.
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[CI][refactor](sys-release): Refactored workflow.
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

[CI][refactor](sdk-docs, sys-docs, types-docs): Refactored workflows.
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[CI][refactor](sys-release, sdk-release): Refactored workflows.
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

[CI][refactor](sys-release): Refactored workflow.
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
