Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

refactor(rust-sys): refactor code to match the proc-macro change in rust-sys
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/examples/call_hostfunc_chain.rs
  bindings/rust/wasmedge-sys/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

chore(rust-sdk): update versioning table in rust-sdk
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

chore(rust-macro): bump rust-macro to 0.2.0
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

chore(rust-sys): update versioning table in rust-sys
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

Release wasmedge-macro v0.2.0
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

ci(rust-release-workflow): no tag creation
  .github/workflows/rust-wasmedge-macro-release.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

[Rust] ci(rust-release-workflow): no tag creation (#2053)
  .github/workflows/rust-wasmedge-macro-release.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

ci: update rust-wasmedge-sys-release workflow
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

ci: update rust-wasmedge-sdk-release workflow
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

[CI] Refactor the release workflows for Rust SDK (#2054)
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

feat: tf load, init, setinput
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasi_nn/wasinnmodule.cpp
Owners: @hydai

fix comment and add unit test for reading S33
  lib/loader/filemgr.cpp
  test/loader/filemgrTest.cpp
Owners: @q82419

use test read in read sn
  lib/loader/filemgr.cpp
Owners: @q82419

[Loader] support read sn and read s33 (#2030)
  include/loader/filemgr.h
  lib/loader/filemgr.cpp
  test/loader/filemgrTest.cpp
Owners: @q82419

[Misc] Fix the IWYU on MacOS.
  .github/workflows/IWYU_scan.yml
  test/spec/CMakeLists.txt
Owners: @hydai, @q82419

[Utils] Installer: Add deprecated warning for 0.8.2 and below
  .github/workflows/test-install-script.yml
  utils/install.sh
Owners: @hydai, @SAtacker

[Utils] Installer CI: Fix macOS repetition pattern for grep
  .github/workflows/test-install-script.yml
Owners: @hydai

[Misc] Fix the IWYU on MacOS.
  .github/workflows/IWYU_scan.yml
  test/spec/CMakeLists.txt
Owners: @hydai, @q82419

refactor: unify the logic of loading vector
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
Owners: @q82419

Fixing sections & Coding Style
  include/loader/loader.h
  lib/loader/serialization/description.cpp
  lib/loader/serialization/serialize.cpp
  lib/loader/serialization/type.cpp
Owners: @q82419

refactor(rust-macro): remove unstable feature from rust-macro
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

fix(rust-sys): fix clippy issues in rust-sys
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[Test] Fix the header not found if re-run cmake.
  test/spec/CMakeLists.txt
Owners: @q82419

[Docs] Fix the lost link of wish_list.
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Docs] Fix the lost link of wish_list.
  docs/book/en/src/SUMMARY.md
Owners: @hydai
