Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[WASI] thread create
  include/executor/executor.h
  include/host/wasi/environ.h
  include/vm/vm.h
  lib/executor/engine/controlInstr.cpp
  lib/executor/executor.cpp
  lib/executor/helper.cpp
  lib/host/wasi/wasifunc.cpp
  lib/vm/vm.cpp
Owners: @q82419, @ibmibmibm

[Misc] coding style
  tools/wasmedge/wasmedger.cpp
  utils/wasi-cpp-header/generate.sh
Owners: @hydai, @ibmibmibm, @q82419

[Plugin] Support openssl3 on wasi-crypto plugin
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_crypto/asymmetric_common/ecdsa.h
  plugins/wasi_crypto/signatures/rsa.cpp
  plugins/wasi_crypto/signatures/rsa.h
  plugins/wasi_crypto/symmetric/kdf.cpp
  plugins/wasi_crypto/symmetric/kdf.h
  plugins/wasi_crypto/utils/evp_wrapper.h
Owners: @hydai, @ibmibmibm, @q82419

[Plugin] Support openssl3 on wasi-crypto plugin
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_crypto/asymmetric_common/ecdsa.h
  plugins/wasi_crypto/signatures/rsa.cpp
  plugins/wasi_crypto/signatures/rsa.h
  plugins/wasi_crypto/symmetric/kdf.cpp
  plugins/wasi_crypto/symmetric/kdf.h
  plugins/wasi_crypto/utils/evp_wrapper.h
Owners: @hydai, @ibmibmibm, @q82419

[Plugin] split thread lambda creation into executor; tid manager
  examples/thread/rust-wasi-native-thread/src/main.rs
  include/executor/executor.h
  lib/executor/executor.cpp
  plugins/CMakeLists.txt
  plugins/wasmedge_thread/threadenv.cpp
  plugins/wasmedge_thread/threadenv.h
  plugins/wasmedge_thread/threadfunc.cpp
  plugins/wasmedge_thread/threadfunc.h
Owners: @hydai, @q82419

[Verify] alias definition
  include/ast/component/alias_section.h
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/alias_definition.cpp
  test/loader/component/testData/alias-definition.wasm
  test/loader/component/testData/alias-definition.wat
Owners: @q82419

[Rust SDK][refactor](import, module, global): Supported clippy::result-large-err.
  bindings/rust/wasmedge-sdk/src/externals/global.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/module.rs
Owners: @hydai, @yanganto

[Rust][version]: Bumped to 0.10.0.
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

[Rust][refactor](utils): Refactored code for Windows platform.
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Rust SDK][version] Bumped to 0.5.0.
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

[Rust][version] Bumped to 0.9.1.
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

[Rust SDK][refactor](examples): Refactored hello_world example.
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](caller, lib): Implemented Caller.
  bindings/rust/wasmedge-sdk/src/caller.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][fix](module): Fixed clippy issue.
  bindings/rust/wasmedge-sdk/src/module.rs
Owners: @hydai, @yanganto

[Rust SDK][fix](caller): Fixed clippy issues.
  bindings/rust/wasmedge-sdk/src/caller.rs
Owners: @hydai, @yanganto

[Rust][doc](frame): Added doc comments.
  bindings/rust/wasmedge-sys/src/frame.rs
Owners: @hydai, @yanganto

[rust-macro][feat](lib): Implemented sys_async_host_function and sys_async_host_function2 macros.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[CI][refactor](rust): Printed clippy version.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[rust-macro][doc](lib): Added doc comments.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[Rust][refactor](frame): Supported thread safety.
  bindings/rust/wasmedge-sys/src/frame.rs
Owners: @hydai, @yanganto

[rust-types][refactor](lib): Refactored WasmEdgeResult to support clippy::result-large-err.
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](cargo): Changed the version of wasmedge-sys crate.
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

[Rust][fix](examples): Fixed clippy issues.
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/src/loader.rs
Owners: @hydai, @yanganto

[rust-macro][refactor](lib): Refactored expand_host_func.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[Rust][refactor]: Supported clippy::result-large-err.
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/ast_module.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/global.rs
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/statistics.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/src/validator.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
Owners: @hydai, @yanganto

[Rust SDK][version] Bumped to 0.4.1.
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

[Rust][fix](utils): Fixed clippy issue.
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[rust-types][version]: Bumped to 0.3.0.
  bindings/rust/wasmedge-types/Cargo.toml
Owners: @hydai, @yanganto

[Rust SDK][feat](caller, lib): Implemented Caller.
  bindings/rust/wasmedge-sdk/src/caller.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](cargo): Introduced wasmedge-macro crate.
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

[rust-macro][feat]: Implemented host_function and async_host_function2 macros.
  bindings/rust/Cargo.toml
  bindings/rust/wasmedge-macro/Cargo.toml
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[Fix] hacky code to stop module loads component data
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/module.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/core_module.cpp
  test/loader/component/testData/core-module.wasm
  test/loader/component/testData/core-module.wat
Owners: @q82419

[Fix] component-model hasn't merged into WASM spec
  include/common/configure.h
Owners: @q82419

[Verify] canon definition
  test/loader/component/CMakeLists.txt
  test/loader/component/canon_definition.cpp
  test/loader/component/testData/canon-definition.wasm
  test/loader/component/testData/canon-definition.wat
Owners: @q82419

[WASI] Sync wasi-crypto.
  plugins/wasi_crypto/asymmetric_common/ecdsa.h
  plugins/wasi_crypto/utils/hostfunction.h
  test/plugins/wasi_crypto/asymmetric.cpp
  thirdparty/wasi_crypto/api.hpp
  utils/wasi-cpp-header/.gitignore
Owners: @hydai, @ibmibmibm, @q82419

[Rust] Fixed the issue #1816 (#1825)
  .github/workflows/bindings-rust.yml
  bindings/rust/Cargo.toml
  bindings/rust/wasmedge-macro/Cargo.toml
  bindings/rust/wasmedge-macro/src/lib.rs
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/src/caller.rs
  bindings/rust/wasmedge-sdk/src/externals/global.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/ast_module.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/frame.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/global.rs
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/statistics.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/src/validator.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
  bindings/rust/wasmedge-types/Cargo.toml
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[Misc] Propose new committers and reviewers
  docs/OWNER.md
Owners: @hydai

[Fix] hacky code to stop module loads component data
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/module.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/core_module.cpp
  test/loader/component/testData/core-module.wasm
  test/loader/component/testData/core-module.wat
Owners: @q82419

[WASI] Sync wasi-crypto.
  plugins/wasi_crypto/asymmetric_common/ecdsa.h
  plugins/wasi_crypto/utils/hostfunction.h
  test/plugins/wasi_crypto/asymmetric.cpp
  thirdparty/wasi_crypto/api.hpp
  utils/wasi-cpp-header/.gitignore
Owners: @hydai, @ibmibmibm, @q82419

[Verify] start definition
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/start_definition.cpp
  test/loader/component/testData/start-definition.wasm
  test/loader/component/testData/start-definition.wat
Owners: @q82419
