Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Fix] component-model hasn't merged into WASM spec
  include/common/configure.h
Owners: @q82419

[Fix] core type ast
  include/ast/component/corealias_section.h
  include/ast/component/coretype_section.h
  include/ast/component/module_decl.h
  include/ast/description.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] load component from path
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/loader.cpp
Owners: @q82419

[Fix] replace inherit with `std::variant` for branching AST
  include/ast/component/import_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Verify] component type definitions
  include/ast/component/alias_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
  test/loader/component/testData/type-definition.wasm
  test/loader/component/testData/type-definition.wat
Owners: @q82419

[Fix] use `std::variant` in AST
  include/ast/component/canon_section.h
  include/ast/component/coreinstance_section.h
  include/ast/component/import_section.h
  include/ast/component/type_section.h
  include/ast/component_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] given different name for tests
  include/ast/component/instance_section.h
  lib/loader/ast/component_section.cpp
  test/loader/component/import_export_definition.cpp
  test/loader/component/nested_component.cpp
  test/loader/component/type_definition.cpp
Owners: @q82419

[Misc] header format
  include/ast/component/start_section.h
Owners: @q82419

[Verify] type definition
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
  test/loader/CMakeLists.txt
  test/loader/component/CMakeLists.txt
  test/loader/component/testData/type-definition.wasm
  test/loader/component/testData/type-definition.wat
  test/loader/component/type_definition.cpp
Owners: @q82419

[Fix] replace inherit with `std::variant` in type definition
  include/ast/component/type_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Verify] component import/export definitions
  include/common/enum.inc
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/import_export_definition.cpp
  test/loader/component/testData/import-export-definition.wasm
  test/loader/component/testData/import-export-definition.wat
Owners: @q82419

[Verify] nested component
  lib/loader/ast/component.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/nested_component.cpp
  test/loader/component/testData/nested-component.wasm
  test/loader/component/testData/nested-component.wat
Owners: @q82419

[Misc] remove all file path in header
  include/ast/component.h
  include/ast/component/alias_section.h
  include/ast/component/canon_section.h
  include/ast/component/corealias_section.h
  include/ast/component/coreinstance_section.h
  include/ast/component/coretype_section.h
  include/ast/component/export_section.h
  include/ast/component/import_section.h
  include/ast/component/instance_section.h
  include/ast/component/module_decl.h
  include/ast/component/sort.h
  include/ast/component/start_section.h
  include/ast/component/type_section.h
  include/ast/component/value_type.h
  include/ast/component_section.h
Owners: @q82419

[Verify] core type definition
  lib/loader/ast/component.cpp
  lib/loader/ast/type.cpp
  lib/loader/loader.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/core_type_definition.cpp
  test/loader/component/testData/core-type-definition.wasm
  test/loader/component/testData/core-type-definition.wat
Owners: @q82419

[Verify] instance definition
  include/ast/component.h
  lib/loader/ast/component.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/instance_definition.cpp
  test/loader/component/testData/instance-definition.wasm
  test/loader/component/testData/instance-definition.wat
Owners: @q82419

[Verify] canon definition
  test/loader/component/CMakeLists.txt
  test/loader/component/canon_definition.cpp
  test/loader/component/testData/canon-definition.wasm
  test/loader/component/testData/canon-definition.wat
Owners: @q82419

[Verify] alias definition
  include/ast/component/alias_section.h
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/alias_definition.cpp
  test/loader/component/testData/alias-definition.wasm
  test/loader/component/testData/alias-definition.wat
Owners: @q82419

[Verify] start definition
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/start_definition.cpp
  test/loader/component/testData/start-definition.wasm
  test/loader/component/testData/start-definition.wat
Owners: @q82419

[Fix] hacky code to stop module loads component data
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/module.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/core_module.cpp
  test/loader/component/testData/core-module.wasm
  test/loader/component/testData/core-module.wat
Owners: @q82419

[Fix] component section should follow the same trick as module
  include/ast/component.h
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  test/loader/component/nested_component.cpp
  test/loader/component/testData/nested-component.wasm
  test/loader/component/testData/nested-component.wat
Owners: @q82419

[Component] instantiate component init
  include/ast/component/coreinstance_section.h
  include/common/enum.inc
  include/executor/executor.h
  include/runtime/instance/component.h
  include/runtime/storemgr.h
  lib/executor/CMakeLists.txt
  lib/executor/instantiate/component.cpp
  lib/executor/instantiate/component/core_instance.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Component] copy types into component instance
  include/runtime/instance/component.h
  lib/executor/instantiate/component.cpp
Owners: @q82419

[Component] call start function in component
  include/runtime/instance/component.h
  include/runtime/storemgr.h
  lib/executor/instantiate/component.cpp
Owners: @q82419

[Component] record existed module for scoped store manager
  include/executor/executor.h
  include/runtime/instance/component.h
  lib/executor/instantiate/component.cpp
  lib/executor/instantiate/component/core_instance.cpp
Owners: @q82419

[Validator] Add component validator and test
  include/validator/validator.h
  lib/validator/CMakeLists.txt
  lib/validator/component_validator.cpp
  test/CMakeLists.txt
  test/validator/CMakeLists.txt
  test/validator/componentTest.cpp
  test/validator/testData/component-validator.wasm
  test/validator/testData/component-validator.wat
Owners: @q82419

[Fix] out sync from base branch
  include/runtime/storemgr.h
  lib/executor/instantiate/component.cpp
Owners: @q82419

[Docs] Refactor WasmEdge book: Introduction
  docs/book/en/src/index.md
  docs/book/en/src/intro.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Quick Start
  docs/book/en/src/quick_start.md
  docs/book/en/src/quick_start/install.md
  docs/book/en/src/quick_start/run_cli.md
  docs/book/en/src/quick_start/run_in_aot_mode.md
  docs/book/en/src/quick_start/use_docker.md
  docs/book/en/src/start/cli.md
  docs/book/en/src/start/docker.md
  docs/book/en/src/start/universal.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Write WebAssembly Apps
  docs/book/en/src/dev.md
  docs/book/en/src/dev/rust/bindgen.md
  docs/book/en/src/write_wasm.md
  docs/book/en/src/write_wasm/as.md
  docs/book/en/src/write_wasm/c.md
  docs/book/en/src/write_wasm/c/simd.md
  docs/book/en/src/write_wasm/go.md
  docs/book/en/src/write_wasm/grain.md
  docs/book/en/src/write_wasm/javascript.png
  docs/book/en/src/write_wasm/js.md
  docs/book/en/src/write_wasm/js/es6.md
  docs/book/en/src/write_wasm/js/modules.md
  docs/book/en/src/write_wasm/js/networking.md
  docs/book/en/src/write_wasm/js/nodejs.md
  docs/book/en/src/write_wasm/js/npm.md
  docs/book/en/src/write_wasm/js/quickstart.md
  docs/book/en/src/write_wasm/js/rust.md
  docs/book/en/src/write_wasm/js/ssr.md
  docs/book/en/src/write_wasm/js/tensorflow.md
  docs/book/en/src/write_wasm/kotlin.md
  docs/book/en/src/write_wasm/python.md
  docs/book/en/src/write_wasm/rust.md
  docs/book/en/src/write_wasm/rust/bindgen.md
  docs/book/en/src/write_wasm/rust/command.md
  docs/book/en/src/write_wasm/rust/networking-https.md
  docs/book/en/src/write_wasm/rust/networking-nonblocking.md
  docs/book/en/src/write_wasm/rust/networking.md
  docs/book/en/src/write_wasm/rust/ssr.md
  docs/book/en/src/write_wasm/rust/tensorflow.md
  docs/book/en/src/write_wasm/rust/wasi.md
  docs/book/en/src/write_wasm/rust/wasicrypto.md
  docs/book/en/src/write_wasm/rust/wasinn.md
  docs/book/en/src/write_wasm/swift.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Features
  docs/book/en/src/features.md
  docs/book/en/src/features/comparison.md
  docs/book/en/src/features/integrations.md
  docs/book/en/src/features/platforms.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/features/proprietary_extend.md
  docs/book/en/src/intro/features.md
  docs/book/en/src/intro/integrations.md
  docs/book/en/src/intro/standard.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Develop Plugin
  docs/book/en/src/extend/plugin.md
  docs/book/en/src/extend/plugin/loadable.md
  docs/book/en/src/plugin.md
Owners: @hydai

[Docs] Update the roadmap.
  docs/ROADMAP.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Use CLI
  docs/book/en/src/cli.md
  docs/book/en/src/cli/wasmedge.md
  docs/book/en/src/cli/wasmedgec.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Contribute
  docs/book/en/src/contribute.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/android.md
  docs/book/en/src/contribute/build_from_src/android/apk.md
  docs/book/en/src/contribute/build_from_src/android/cli.md
  docs/book/en/src/contribute/build_from_src/android/ndk.md
  docs/book/en/src/contribute/build_from_src/linux.md
  docs/book/en/src/contribute/build_from_src/macos.md
  docs/book/en/src/contribute/build_from_src/openharmony.md
  docs/book/en/src/contribute/build_from_src/openwrt.md
  docs/book/en/src/contribute/build_from_src/raspberrypi.md
  docs/book/en/src/contribute/build_from_src/sel4.md
  docs/book/en/src/contribute/build_from_src/wasmedge-sel4.png
  docs/book/en/src/contribute/build_from_src/windows.md
  docs/book/en/src/contribute/contribute.md
  docs/book/en/src/contribute/internal.md
  docs/book/en/src/contribute/release_process.md
  docs/book/en/src/contribute/wish_list.md
  docs/book/en/src/extend.md
  docs/book/en/src/extend/build.md
  docs/book/en/src/extend/build_on_mac.md
  docs/book/en/src/extend/build_on_windows.md
  docs/book/en/src/extend/contribute.md
  docs/book/en/src/os.md
  docs/book/en/src/os/android.md
  docs/book/en/src/os/linux.md
  docs/book/en/src/os/mac.md
  docs/book/en/src/os/windows.md
Owners: @hydai

[Docs] Remove the old deprecated docs.
  docs/CONTRIBUTING.md
  docs/SECURITY-Hindi-translation.md
  docs/build-zh-TW.md
  docs/build-zh.md
  docs/build.md
  docs/build_on_mac.md
  docs/build_on_windows.md
  docs/c_api.md
  docs/c_api_quick_start-zh-TW.md
  docs/c_api_quick_start-zh.md
  docs/c_api_quick_start.md
  docs/extensions.md
  docs/externref.md
  docs/go_api.md
  docs/highlights.md
  docs/host_function.md
  docs/install.md
  docs/integrations.md
  docs/run.md
  docs/run_javascript.md
  docs/showcase.md
  docs/simd-Hindi-translation.md
  docs/simd.md
  docs/use_cases-zh-TW.md
  docs/use_cases-zh.md
  docs/use_cases.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Use Library
  docs/book/en/src/embed.md
  docs/book/en/src/sdk.md
  docs/book/en/src/sdk/c.md
  docs/book/en/src/sdk/c/0.10.1/ref.md
  docs/book/en/src/sdk/c/0.10.1/upgrade_to_0.11.0.md
  docs/book/en/src/sdk/c/0.9.1/ref.md
  docs/book/en/src/sdk/c/0.9.1/upgrade_to_0.10.0.md
  docs/book/en/src/sdk/c/externref.md
  docs/book/en/src/sdk/c/hostfunction.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go.md
  docs/book/en/src/sdk/go/0.9.1/ref.md
  docs/book/en/src/sdk/go/0.9.1/upgrade_to_0.10.0.md
  docs/book/en/src/sdk/go/app.md
  docs/book/en/src/sdk/go/bindgen.md
  docs/book/en/src/sdk/go/function.md
  docs/book/en/src/sdk/go/memory.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/sdk/go/tensorflow.md
  docs/book/en/src/sdk/node.md
  docs/book/en/src/sdk/python.md
  docs/book/en/src/sdk/rust.md
  docs/book/en/src/sdk/rust/concurrent_fib.md
  docs/book/en/src/sdk/rust/how_to_use_module_instance.md
  docs/book/en/src/sdk/rust/memory_manipulation.md
  docs/book/en/src/sdk/rust/say_hello.md
  docs/book/en/src/sdk/rust/sys_run_host_func.md
  docs/book/en/src/sdk/rust/table_and_funcref.md
Owners: @hydai

[Docs] Update the README and SUMMARY of book.
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/ROADMAP.md
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Component] create module instance based on export list
  lib/executor/instantiate/component/core_instance.cpp
Owners: @q82419

[WASI] Support PyTorch Backend of WASI-NN proposal (#1654)
  .github/workflows/build-extensions.yml
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-pytorch-fixtures.sh
  utils/wasi-nn/install-pytorch.sh
Owners: @hydai, @q82419, @ibmibmibm

[Runtime] The `private` members should be `protected` in module instance.
  include/runtime/instance/module.h
Owners: @q82419
