Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

ci(rust-wasmedge-sdk-release): Refactored the workflow
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

ci(rust-wasmedge-macro-release): Refactored the workflow
  .github/workflows/rust-wasmedge-macro-release.yml
Owners: @hydai

ci(rust-wasmedge-types-release): Refactored the workflow
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

ci(rust-wasmedge-sys-release): Refactored the workflow
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

ci(rust-wasmedge-sdk-release): Refactored the workflow
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

[Test] Add the repeated compile and force interpreter tests.
  test/api/APIUnitTest.cpp
  test/api/apiTestData/fibonacci.wasm
  test/api/apiTestData/fibonacci.wat
Owners: @q82419

[CI] Enable dependabot
  .github/dependabot.yml
Owners: @hydai

[Misc] Add off log system api
  .github/workflows/inventory.yml
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  include/api/wasmedge/wasmedge.h
  include/common/log.h
  lib/api/wasmedge.cpp
  lib/common/log.cpp
  test/api/APIUnitTest.cpp
Owners: @hydai, @yanganto, @q82419

[Misc] Add off log system api
  .github/workflows/inventory.yml
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  include/api/wasmedge/wasmedge.h
  include/common/log.h
  lib/api/wasmedge.cpp
  lib/common/log.cpp
  test/api/APIUnitTest.cpp
Owners: @hydai, @yanganto, @q82419

[Docs] Fix wrong typo of commands in OpenVINO installation.
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[Docs] Fix wrong typo of commands in OpenVINO installation.
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

ci(rust-wasmedge-macro-release): Refactored the workflow
  .github/workflows/rust-wasmedge-macro-release.yml
Owners: @hydai

ci(rust-wasmedge-types-release): Refactored the workflow
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

ci(rust-wasmedge-sys-release): Refactored the workflow
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

ci: Removed workflows for rustdocs release
  .github/workflows/rust-wasmedge-macro-docs.yml
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

ci(rust-wasmedge-sdk-release): Refactored the workflow
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

ci: removed the unused command
  .github/workflows/rust-wasmedge-macro-release.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

[CI] Updated the workflows for Rust bindings release (#1964)
  .github/workflows/rust-wasmedge-macro-docs.yml
  .github/workflows/rust-wasmedge-macro-release.yml
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

refactor(rust-sdk): Refactored test code
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

refactor(rust-macro)!: Changed the argument type of the expand_host_func func
  bindings/rust/wasmedge-macro/Cargo.toml
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

doc(rust-sys): Updated the versions and the dependencies
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

refactor(rust-macro)!: Changed the argument types of the expand_host_func func.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

doc: added changelog files
  bindings/rust/wasmedge-macro/CHANGELOG.md
  bindings/rust/wasmedge-sdk/CHANGELOG.md
  bindings/rust/wasmedge-sys/CHANGELOG.md
  bindings/rust/wasmedge-types/CHANGELOG.md
Owners: @hydai, @yanganto

doc(wasmedge-sys): Removed CHANGELOG
  bindings/rust/wasmedge-sys/CHANGELOG.md
Owners: @hydai, @yanganto

refactor(rust-sdk): refactored test code
  bindings/rust/wasmedge-sdk/src/instance.rs
Owners: @hydai, @yanganto

[Rust] Refactored procedural macro (#1965)
  bindings/rust/wasmedge-macro/CHANGELOG.md
  bindings/rust/wasmedge-macro/Cargo.toml
  bindings/rust/wasmedge-macro/src/lib.rs
  bindings/rust/wasmedge-sdk/CHANGELOG.md
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/CHANGELOG.md
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-types/CHANGELOG.md
Owners: @hydai, @yanganto

[Utils] Installer: Fix ubuntu detection using lsb_release
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer CI: Test plugins for specific OSes
  .github/workflows/test-python-install-script.yml
Owners: @hydai

[Utils] Installer: Add platform, machine, distro specification options
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: WasmEdge installer
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
  utils/install.sh
Owners: @hydai, @ibmibmibm, @q82419, @SAtacker

[Utils] Installer CI: Install lsb_release for Ubuntu 20.04
  .github/workflows/test-python-install-script.yml
Owners: @hydai

[Utils] Installer CI: remove `=` in CLI args
  .github/workflows/test-python-install-script.yml
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Minor addtions
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Fix typos and minor mistakes in ref.md
  docs/book/en/src/sdk/c/ref.md
Owners: @hydai

[Common] Add the force interpreter configure.
  include/api/wasmedge/wasmedge.h
  include/common/configure.h
  lib/api/wasmedge.cpp
Owners: @q82419

[Test] Add the repeated compile and force interpreter tests.
  test/api/APIUnitTest.cpp
  test/api/apiTestData/fibonacci.wasm
  test/api/apiTestData/fibonacci.wat
Owners: @q82419

[Loader] Support force interpreter mode in loader.
  include/loader/loader.h
  lib/api/wasmedge.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/segment.cpp
  lib/loader/loader.cpp
Owners: @q82419

[Driver] Apply force interpreter mode in tools.
  lib/driver/compilerTool.cpp
  lib/driver/runtimeTool.cpp
Owners: @q82419

[Utils] Installer: WasmEdge installer (#1914)
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
  utils/install.sh
Owners: @hydai, @ibmibmibm, @q82419, @SAtacker

[Utils] Installer CI: Change debug option
  .github/workflows/test-install-script.yml
Owners: @hydai
