Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[Misc] use class to hide subclass from toplevel namespace
  include/ast/component/import_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] resolve conflict via remove problem commit
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] style check
  include/ast/component/alias_section.h
  include/ast/component/sort.h
Owners: @q82419

[Proposal] load instance section
  include/ast/component.h
  include/ast/component/coreinstance_section.h
  include/ast/component/export_section.h
  include/ast/component/instance_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AST] reuse `ValueType` for `ExternDesc`
  include/ast/component/import_section.h
  include/ast/component/type_section.h
  include/ast/component/value_type.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] remove dead code, shadow local, and GNU extension
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load start section
  include/ast/component.h
  include/ast/component/start_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AST] handle `FieldType` constructor issue
  include/ast/component/coretype_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AST] explicit mark `override`
  include/ast/component/coretype_section.h
Owners: @q82419

[Misc] introduce `std::variant` for every `union` case
  include/ast/component/type_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core type definition complete
  include/ast/description.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load type defintions: Part I
  include/ast/component.h
  include/ast/component/type_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load type defintions: Part II
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load canon section
  include/ast/component.h
  include/ast/component/canon_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load type defintions: Part III
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load alias section
  include/ast/component.h
  include/ast/component/alias_section.h
  include/ast/component/export_section.h
  include/ast/component/sort.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core type section
  include/ast/component.h
  include/ast/component/corealias_section.h
  include/ast/component/coretype_section.h
  include/ast/component/module_decl.h
  include/ast/component_section.h
  include/ast/description.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  lib/loader/ast/type.cpp
Owners: @q82419

[Proposal] load type defintions: Part IV
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load nested component section
  include/ast/component.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Executor] Handle the AOT terminated case.
  lib/executor/engine/engine.cpp
  lib/vm/vm.cpp
Owners: @q82419

[Common] Separate the C and C++ enum headers.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
  docs/book/en/src/embed/rust.md
  include/CMakeLists.txt
  include/ast/description.h
  include/ast/instruction.h
  include/common/configure.h
  include/common/dense_enum_map.h
  include/common/enum.inc
  include/common/enum_ast.hpp
  include/common/enum_configure.h
  include/common/enum_configure.hpp
  include/common/enum_errcode.h
  include/common/enum_errcode.hpp
  include/common/enum_errinfo.hpp
  include/common/enum_types.h
  include/common/enum_types.hpp
  include/common/errcode.h
  include/common/errinfo.h
  include/common/spare_enum_map.h
  include/common/statistics.h
  include/common/types.h
  lib/api/CMakeLists.txt
  rpm/wasmedge.spec.in
Owners: @hydai, @yanganto, @q82419, @dm4

[Docs] Use the correct docker hub image name
  docs/book/en/src/kubernetes/demo/wasi.md
Owners: @hydai

[Docs] Use the correct Docker hub image
  docs/book/en/src/kubernetes/demo/server.md
Owners: @hydai

[Docs] Use correct image names
  docs/book/en/src/kubernetes/cri/crio.md
Owners: @hydai

[Docs] Correct image names
  docs/book/en/src/kubernetes/cri/containerd.md
Owners: @hydai

[Docs] Update image name
  docs/book/en/src/kubernetes/kubernetes/kubernetes-crio.md
Owners: @hydai

[Docs] Correct image name
  docs/book/en/src/kubernetes/kubernetes/kubernetes-containerd.md
Owners: @hydai

[Docs] correct image name
  docs/book/en/src/kubernetes/kubernetes/kind.md
Owners: @hydai

[Docs] correct image name
  docs/book/en/src/kubernetes/kubernetes/kubeedge.md
Owners: @hydai

[Docs] Correct image name
  docs/book/en/src/kubernetes/kubernetes/superedge.md
Owners: @hydai

[Docs] correct image names
  docs/book/en/src/kubernetes/kubernetes/openyurt.md
Owners: @hydai

Create lxc.md
  docs/book/en/src/kubernetes/docker/lxc.md
Owners: @hydai

Create containerd.md
  docs/book/en/src/kubernetes/docker/containerd.md
Owners: @hydai

Create docker.md
  docs/book/en/src/kubernetes/docker.md
Owners: @hydai

Update kubernetes.md
  docs/book/en/src/kubernetes.md
Owners: @hydai

[Common] Separate the C and C++ enum headers.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
  docs/book/en/src/embed/rust.md
  include/CMakeLists.txt
  include/ast/description.h
  include/ast/instruction.h
  include/common/configure.h
  include/common/dense_enum_map.h
  include/common/enum.inc
  include/common/enum_ast.hpp
  include/common/enum_configure.h
  include/common/enum_configure.hpp
  include/common/enum_errcode.h
  include/common/enum_errcode.hpp
  include/common/enum_errinfo.hpp
  include/common/enum_types.h
  include/common/enum_types.hpp
  include/common/errcode.h
  include/common/errinfo.h
  include/common/spare_enum_map.h
  include/common/statistics.h
  include/common/types.h
  lib/api/CMakeLists.txt
  rpm/wasmedge.spec.in
Owners: @hydai, @yanganto, @q82419, @dm4

Create .markdown-lint.yml
  .github/linters/.markdown-lint.yml
Owners: @hydai

Update lxc.md
  docs/book/en/src/kubernetes/docker/lxc.md
Owners: @hydai

Update lxc.md
  docs/book/en/src/kubernetes/docker/lxc.md
Owners: @hydai

[Runtime] Use the calling frame to replace memory instance in host functions.
  include/api/wasmedge/wasmedge.h
  include/executor/executor.h
  include/host/wasi/wasibase.h
  include/host/wasi/wasifunc.h
  include/runtime/callingframe.h
  include/runtime/hostfunc.h
  include/runtime/instance/function.h
  include/runtime/instance/module.h
  lib/api/wasmedge.cpp
  lib/executor/helper.cpp
  lib/executor/instantiate/function.cpp
  lib/host/wasi/wasifunc.cpp
Owners: @q82419, @ibmibmibm

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
