Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[CI] Add the wasi-crypto CI.
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/static-code-analysis.yml
Owners: @hydai

[WASI] Refactor to correct the wasi-crypto module names.
  docs/book/en/src/dev/rust/wasicrypto.md
  include/common/enum.inc
  lib/driver/tool.cpp
  lib/vm/vm.cpp
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_crypto/asymmetric_common/module.cpp
  plugins/wasi_crypto/asymmetric_common/module.h
  plugins/wasi_crypto/common/module.cpp
  plugins/wasi_crypto/common/module.h
  plugins/wasi_crypto/ctx.cpp
  plugins/wasi_crypto/ctx.h
  plugins/wasi_crypto/kx/module.cpp
  plugins/wasi_crypto/kx/module.h
  plugins/wasi_crypto/module.cpp
  plugins/wasi_crypto/signatures/ctx.cpp
  plugins/wasi_crypto/signatures/module.cpp
  plugins/wasi_crypto/signatures/module.h
  plugins/wasi_crypto/symmetric/module.cpp
  plugins/wasi_crypto/symmetric/module.h
  test/plugins/wasi_crypto/common.cpp
  test/plugins/wasi_crypto/helper.cpp
  test/plugins/wasi_crypto/helper.h
Owners: @hydai, @q82419

[Docs] Supporting information of wasi-crypto.
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/dev/rust.md
  docs/book/en/src/dev/rust/wasicrypto.md
  docs/book/en/src/intro/standard.md
Owners: @hydai

[CI] Move out the wasi-crypto testing.
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  plugins/wasi_crypto/CMakeLists.txt
  utils/docker/build-manylinux.sh
  utils/wasi-crypto/build-openssl.sh
Owners: @hydai, @ibmibmibm, @q82419

[RISCV64] Add the configuration for riscv64 and the CI file.
  .github/workflows/build_for_riscv.yml
  include/api/wasmedge/int128.h
  include/ast/instruction.h
  include/common/int128.h
  lib/api/wasmedge.cpp
  lib/system/allocator.cpp
Owners: @hydai, @q82419, @ibmibmibm

[WASI] Implement the signature context of wasi-crypto.
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/func.h
  include/host/wasi_crypto/signatures/options.h
  include/host/wasi_crypto/signatures/registed.h
  include/host/wasi_crypto/signatures/rsa.h
  include/host/wasi_crypto/signatures/signatures.h
  include/host/wasi_crypto/signatures/signstate.h
  include/host/wasi_crypto/signatures/verificationstate.h
  lib/host/wasi_crypto/signatures/ctx.cpp
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/func.cpp
  lib/host/wasi_crypto/signatures/options.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
  lib/host/wasi_crypto/signatures/signatures.cpp
  lib/host/wasi_crypto/signatures/signstate.cpp
  lib/host/wasi_crypto/signatures/verificationstate.cpp
Owners: @q82419

[CI] Move out the wasi-crypto testing.
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  plugins/wasi_crypto/CMakeLists.txt
  utils/docker/build-manylinux.sh
  utils/wasi-crypto/build-openssl.sh
Owners: @hydai, @ibmibmibm, @q82419

[Test] Add the wasi-crypto tests.
  test/CMakeLists.txt
  test/api/APIUnitTest.cpp
  test/host/wasi_crypto/CMakeLists.txt
  test/host/wasi_crypto/aeads.cpp
  test/host/wasi_crypto/asymmetric.cpp
  test/host/wasi_crypto/common.cpp
  test/host/wasi_crypto/hash.cpp
  test/host/wasi_crypto/helper.cpp
  test/host/wasi_crypto/helper.h
  test/host/wasi_crypto/kdf.cpp
  test/host/wasi_crypto/kx.cpp
  test/host/wasi_crypto/mac.cpp
  test/host/wasi_crypto/notimplement.cpp
  test/host/wasi_crypto/signatures.cpp
Owners: @q82419

[CI] Add the wasi-crypto CI.
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/static-code-analysis.yml
Owners: @hydai

[Common] Rename the enum `Wasi_Crypto` to `WasiCrypto`.
  include/common/enum.inc
  lib/vm/vm.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

[WASI] Implement the symmetric context in wasi-crypto.
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/func.h
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/key.h
  include/host/wasi_crypto/symmetric/mac.h
  include/host/wasi_crypto/symmetric/options.h
  include/host/wasi_crypto/symmetric/registed.h
  include/host/wasi_crypto/symmetric/state.h
  include/host/wasi_crypto/symmetric/tag.h
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/ctx.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
  lib/host/wasi_crypto/symmetric/hash.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
  lib/host/wasi_crypto/symmetric/key.cpp
  lib/host/wasi_crypto/symmetric/mac.cpp
  lib/host/wasi_crypto/symmetric/options.cpp
  lib/host/wasi_crypto/symmetric/state.cpp
  lib/host/wasi_crypto/symmetric/tag.cpp
Owners: @q82419

[Docs] Add the wasi-crypto documentation.
  docs/book/en/src/dev/rust/crypto.md
Owners: @hydai

[WASI] wasi-crypto host functions and definitions.
  CMakeLists.txt
  docs/witx/crypto/proposal_asymmetric_common.witx
  docs/witx/crypto/proposal_common.witx
  docs/witx/crypto/proposal_external_secrets.witx
  docs/witx/crypto/proposal_kx.witx
  docs/witx/crypto/proposal_signatures.witx
  docs/witx/crypto/proposal_symmetric.witx
  include/api/wasmedge/wasmedge.h
  include/common/enum.inc
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/module.h
  include/host/wasi_crypto/utils/error.h
  include/host/wasi_crypto/utils/evp_wrapper.h
  include/host/wasi_crypto/utils/handles_manager.h
  include/host/wasi_crypto/utils/hostfunction.h
  include/host/wasi_crypto/utils/optional.h
  include/host/wasi_crypto/utils/secret_vec.h
  lib/api/CMakeLists.txt
  lib/api/wasmedge.cpp
  lib/driver/tool.cpp
  lib/host/CMakeLists.txt
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/module.cpp
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
  lib/host/wasi_crypto/utils/hostfunction.cpp
  lib/vm/CMakeLists.txt
  lib/vm/vm.cpp
  thirdparty/wasi_crypto/api.hpp
  utils/docker/build-manylinux.sh
  utils/wasi-cpp-header/crypto-custom.patch
  utils/wasi-cpp-header/crypto_generate.sh
  utils/wasi-cpp-header/src/cpp_header.rs
Owners: @hydai, @q82419, @ibmibmibm

[WASI] Implement the asymmetric common context in wasi-crypto.
  include/host/wasi_crypto/asymmetric_common/ecdsa.h
  include/host/wasi_crypto/asymmetric_common/func.h
  include/host/wasi_crypto/asymmetric_common/keypair.h
  include/host/wasi_crypto/asymmetric_common/publickey.h
  include/host/wasi_crypto/asymmetric_common/registed.h
  include/host/wasi_crypto/asymmetric_common/secretkey.h
  lib/host/wasi_crypto/asymmetric_common/ctx.cpp
  lib/host/wasi_crypto/asymmetric_common/func.cpp
  lib/host/wasi_crypto/asymmetric_common/keypair.cpp
  lib/host/wasi_crypto/asymmetric_common/publickey.cpp
  lib/host/wasi_crypto/asymmetric_common/secretkey.cpp
Owners: @q82419

[WASI] Implement the common context in wasi-crypto.
  include/host/wasi_crypto/common/array_output.h
  include/host/wasi_crypto/common/func.h
  include/host/wasi_crypto/common/options.h
  lib/host/wasi_crypto/common/array_output.cpp
  lib/host/wasi_crypto/common/ctx.cpp
  lib/host/wasi_crypto/common/func.cpp
  lib/host/wasi_crypto/common/options.cpp
Owners: @q82419

[Docs] Supporting information of wasi-crypto.
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/dev/rust.md
  docs/book/en/src/dev/rust/wasicrypto.md
  docs/book/en/src/intro/standard.md
Owners: @hydai

[WASI] Refactor to correct the wasi-crypto module names.
  docs/book/en/src/dev/rust/wasicrypto.md
  include/common/enum.inc
  lib/driver/tool.cpp
  lib/vm/vm.cpp
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_crypto/asymmetric_common/module.cpp
  plugins/wasi_crypto/asymmetric_common/module.h
  plugins/wasi_crypto/common/module.cpp
  plugins/wasi_crypto/common/module.h
  plugins/wasi_crypto/ctx.cpp
  plugins/wasi_crypto/ctx.h
  plugins/wasi_crypto/kx/module.cpp
  plugins/wasi_crypto/kx/module.h
  plugins/wasi_crypto/module.cpp
  plugins/wasi_crypto/signatures/ctx.cpp
  plugins/wasi_crypto/signatures/module.cpp
  plugins/wasi_crypto/signatures/module.h
  plugins/wasi_crypto/symmetric/module.cpp
  plugins/wasi_crypto/symmetric/module.h
  test/plugins/wasi_crypto/common.cpp
  test/plugins/wasi_crypto/helper.cpp
  test/plugins/wasi_crypto/helper.h
Owners: @hydai, @q82419

[WASI] Implement the key exchange context of wasi-crypto.
  include/host/wasi_crypto/kx/dh/ecdsa.h
  include/host/wasi_crypto/kx/dh/x25519.h
  include/host/wasi_crypto/kx/func.h
  include/host/wasi_crypto/kx/kx.h
  include/host/wasi_crypto/kx/options.h
  include/host/wasi_crypto/kx/registed.h
  lib/host/wasi_crypto/kx/ctx.cpp
  lib/host/wasi_crypto/kx/dh/ecdsa.cpp
  lib/host/wasi_crypto/kx/dh/x25519.cpp
  lib/host/wasi_crypto/kx/func.cpp
  lib/host/wasi_crypto/kx/kx.cpp
  lib/host/wasi_crypto/kx/options.cpp
Owners: @q82419

[CI] Modify build_for_riscv.yml
  .github/workflows/build_for_riscv.yml
Owners: @hydai

[API] Update the wasi-crypto plugin related API.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Owners: @q82419

[Changelog] Update the changelog for the 0.10.1-rc.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

WIP: Test on windows.
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-rust.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/inventory.yml
  .github/workflows/linter.yml
  .github/workflows/mdbook.yml
  .github/workflows/post-release.yml
  .github/workflows/release-published.yml
  .github/workflows/release.yml
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
  .github/workflows/rust-wasmedge-types-release.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/test-install-script.yml
  .github/workflows/witx.yml
Owners: @hydai

[Changelog] Update the changelog for the 0.10.1-rc.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[API] Update the wasi-crypto plugin related API.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Owners: @q82419

[CI] Fix the release CI of plugins.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the release CI of plugins.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the release package path of wasi-nn.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the release package path of wasi-nn.
  .github/workflows/release.yml
Owners: @hydai

[RISCV64] clang-format the files.
  include/api/wasmedge/int128.h
  include/ast/instruction.h
  include/common/int128.h
  lib/api/wasmedge.cpp
  lib/system/allocator.cpp
Owners: @q82419, @ibmibmibm

[CI] Fix the release build of wasi-crypto.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the release build of wasi-crypto.
  .github/workflows/release.yml
Owners: @hydai

[RISC-V] Clang-format the files.
  include/api/wasmedge/int128.h
  include/ast/instruction.h
  include/common/int128.h
  lib/api/wasmedge.cpp
  lib/system/allocator.cpp
Owners: @q82419, @ibmibmibm

[RISCV64] Fix the format.
  lib/system/allocator.cpp
Owners: @ibmibmibm

[CI] Fix the wasi-crypto upload path in release CI.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the wasi-crypto upload path in release CI.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the build_for_riscv.yml
  .github/workflows/build_for_riscv.yml
Owners: @hydai

[CI] Fix the build_for_riscv.yml
  .github/workflows/build_for_riscv.yml
Owners: @hydai

[Rust][doc](readme, lib): Refactored doc comments.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[mdbook][refactor](rust): Updated document.
  docs/book/en/src/embed/rust.md
Owners: @hydai

[Rust][doc](readme): Updated readme.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sys/README.md
Owners: @hydai, @yanganto
