Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @dannypsnl, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
bindings/java/                  @dannypsnl
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
plugins/                        @ibmibmibm
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

ci: update the workflows for Rust SDK release
  .github/workflows/rust-wasmedge-macro-release.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

[CI] update the workflows for Rust SDK release (#2298)
  .github/workflows/rust-wasmedge-macro-release.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

Fix the compiler.cpp and delete unnecessary content.
  .github/workflows/build_for_riscv.yml
  lib/aot/compiler.cpp
Owners: @hydai, @ibmibmibm

[Docs] Mention vcpkg port in docs (#2284)
  docs/book/en/src/quick_start/install.md
Owners: @hydai

[Docs] Migrate from k8s.gcr.io to registry.k8s.io. See kubernetes/k8s.io#4780
  docs/book/en/src/use_cases/kubernetes/kubernetes/kubeedge.md
  docs/book/zh/src/kubernetes/kubernetes/kubeedge.md
Owners: @hydai

Fix the error of cpu type.
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[MISC] Set exit code of execution failed to 128 + SIGABRT
  lib/driver/runtimeTool.cpp
Owners: @q82419

feat: support validation and execution of gc proposal
  include/ast/instruction.h
  include/ast/section.h
  include/ast/type.h
  include/common/enum_types.hpp
  include/executor/executor.h
  include/runtime/instance/heap.h
  include/runtime/instance/module.h
  include/validator/formchecker.h
  lib/api/wasmedge.cpp
  lib/common/errinfo.cpp
  lib/driver/runtimeTool.cpp
  lib/executor/engine/controlInstr.cpp
  lib/executor/engine/engine.cpp
  lib/executor/instantiate/global.cpp
  lib/executor/instantiate/module.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/section.cpp
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
Owners: @q82419

[Docs] Add the docs to execute with multiple modules.
  .github/workflows/mdbook.yml
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/sdk/c.md
  docs/book/en/src/sdk/c/multimodule.md
Owners: @hydai

[Docs] Add the docs to execute with multiple modules.
  .github/workflows/mdbook.yml
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/sdk/c.md
  docs/book/en/src/sdk/c/multimodule.md
Owners: @hydai

[Docs] Migrate from k8s.gcr.io to registry.k8s.io. See kubernetes/k8s.io#4780 (#2300)
  docs/book/en/src/use_cases/kubernetes/kubernetes/kubeedge.md
  docs/book/zh/src/kubernetes/kubernetes/kubeedge.md
Owners: @hydai

[Utils] Installer: Export WASMEDGE_LIB_DIR to installation-path/lib if unset
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Export WASMEDGE_LIB_DIR to installation-path/lib if unset (#2304)
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Socket] remove useless buffer
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
Owners: @ibmibmibm

[Socket] Add missing fdflag for sock_accept
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  include/host/wasi/wasifunc.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/vinode.cpp
  lib/host/wasi/wasifunc.cpp
  test/host/wasi/wasi.cpp
Owners: @ibmibmibm

[Host] Mock the host modules of plug-ins.
  include/host/mock/log.h
  include/host/mock/wasi_crypto_func.h
  include/host/mock/wasi_crypto_module.h
  include/host/mock/wasi_nn_func.h
  include/host/mock/wasi_nn_module.h
  include/host/mock/wasmedge_httpsreq_func.h
  include/host/mock/wasmedge_httpsreq_module.h
  include/host/mock/wasmedge_process_func.h
  include/host/mock/wasmedge_process_module.h
Owners: @q82419

[Test] Add the tests of the mock modules.
  test/CMakeLists.txt
  test/host/mock/CMakeLists.txt
  test/host/mock/mockTest.cpp
Owners: @q82419

[Common] Remove the elements in HostRegistration and mock the modules in VM.
  include/common/enum.inc
  include/runtime/storemgr.h
  include/vm/vm.h
  lib/driver/runtimeTool.cpp
  lib/vm/vm.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

[API] Add the `WasmEdge_PluginContext` and related APIs.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Owners: @q82419

[API] Add the VM context APIs.
  examples/capi/mandelbrot-set-in-threads/README.md
  examples/capi/wasi-env/README.md
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @hydai, @q82419

[Test] Add the unit test of plugin C API.
  test/api/APIUnitTest.cpp
  test/api/CMakeLists.txt
Owners: @q82419

[API] Remove the specific plug-in modules creation APIs.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Owners: @q82419

add sign off
  lib/driver/runtimeTool.cpp
Owners: @q82419

[WASI] Disable using fd_renumber on preopen fd (#2293)
  include/host/wasi/environ.h
Owners: @ibmibmibm

[Driver] Fix the type mismatch when forwarding extra arguments in runtime tool.
  lib/driver/runtimeTool.cpp
Owners: @q82419

[Host] Mock the host modules of plug-ins.
  include/host/mock/log.h
  include/host/mock/wasi_crypto_func.h
  include/host/mock/wasi_crypto_module.h
  include/host/mock/wasi_nn_func.h
  include/host/mock/wasi_nn_module.h
  include/host/mock/wasmedge_httpsreq_func.h
  include/host/mock/wasmedge_httpsreq_module.h
  include/host/mock/wasmedge_process_func.h
  include/host/mock/wasmedge_process_module.h
Owners: @q82419

[Test] Add the tests of the mock modules.
  test/CMakeLists.txt
  test/host/mock/CMakeLists.txt
  test/host/mock/mockTest.cpp
Owners: @q82419

[API] Add the VM context APIs.
  examples/capi/mandelbrot-set-in-threads/README.md
  examples/capi/wasi-env/README.md
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @hydai, @q82419

[API] Add the `WasmEdge_PluginContext` and related APIs.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Owners: @q82419

[Test] Add the unit test of plugin C API.
  test/api/APIUnitTest.cpp
  test/api/CMakeLists.txt
Owners: @q82419

[Common] Remove the elements in HostRegistration and mock the modules in VM.
  include/common/enum.inc
  include/runtime/storemgr.h
  include/vm/vm.h
  lib/driver/runtimeTool.cpp
  lib/vm/vm.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

[API] Remove the specific plug-in modules creation APIs.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Owners: @q82419

[Socket] implement nonblock mode for sock_accept
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
Owners: @ibmibmibm

[Docs] Add the guide to upgrade to 0.12.0 C API.
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/sdk/c/0.11.2/upgrade_to_0.12.0.md
  docs/book/en/src/sdk/c/ref.md
Owners: @hydai

[Docs] Add the plugin path description.
  docs/book/en/src/contribute/installer.md
  docs/book/en/src/quick_start/install.md
Owners: @hydai

[Docs] Update the status of WasmEdge-Process plug-in.
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/plugin_wasmedge_process.md
  docs/book/en/src/plugin.md
Owners: @hydai

[Changelog] Update the changelog for the 0.12.0-alpha.2 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Misc] Set exit code of execution failed to 128 + SIGABRT (#2291)
  lib/driver/runtimeTool.cpp
Owners: @q82419

[Docs] Add the guide to upgrade to 0.12.0 C API.
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/sdk/c/0.11.2/upgrade_to_0.12.0.md
  docs/book/en/src/sdk/c/ref.md
Owners: @hydai

[Docs] Add the plugin path description.
  docs/book/en/src/contribute/installer.md
  docs/book/en/src/quick_start/install.md
Owners: @hydai
