Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Docs] Add document for integrating WasmEdge with Knative (#2011)
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/use_cases/kubernetes/kubernetes.md
  docs/book/en/src/use_cases/kubernetes/kubernetes/knative.md
  docs/book/zh/src/SUMMARY.md
  docs/book/zh/src/kubernetes/kubernetes/knative.md
Owners: @hydai

refactor(rust-sys)!: remove the deprecated API
  bindings/rust/wasmedge-sys/examples/call_hostfunc_chain.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

refactor(rust-sdk)!: remove the deprecated APIs.
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/import.rs
Owners: @hydai, @yanganto

[Misc] Change minimum required cmake from 3.9.4 to 3.10.2
  CMakeLists.txt
  utils/ohos/configuration/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Loader] Downgrade the log level from error to info if the AOT section is not correct and fallback to the interpreter mode
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
Owners: @q82419

[CI] Use a larger runner for building docker images
  .github/workflows/docker.yml
Owners: @hydai

[Loader] Downgrade the log level from error to info if the AOT section is not correct and fallback to the interpreter mode
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
Owners: @q82419

[CI] Trigger bindings-java workflow only when the related files are modified
  .github/workflows/bindings-java.yml
Owners: @hydai

[Misc] Change minimum required cmake from 3.9.4 to 3.10.2
  CMakeLists.txt
  utils/ohos/configuration/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Test] Find system-wise RapidJSON first, if not found, then fallback to download
  test/spec/CMakeLists.txt
Owners: @q82419

[Rust] Implement LogManager (#2015)
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/log.rs
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Rust] Remove the deprecated APIs (#2020)
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sys/examples/call_hostfunc_chain.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[CI] Trigger bindings-java workflow only when the related files are modified
  .github/workflows/bindings-java.yml
Owners: @hydai

[CI] Release the WASI-NN TFLite backend for ubuntu.
  .github/workflows/release.yml
Owners: @hydai

[CI] Release the WASI-NN TFLite backend for ubuntu.
  .github/workflows/release.yml
Owners: @hydai

[Docs] Update WASI-NN TFLite supporting docs.
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/plugin.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[CI] Add WASI-NN TFLite test on Ubuntu.
  .github/workflows/build-extensions.yml
Owners: @hydai

init Aysnc API definition
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Async.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
Owners: @hydai

adjust API definition
  bindings/java/.idea/.gitignore
  bindings/java/.idea/inspectionProfiles/Project_Default.xml
  bindings/java/.idea/java.iml
  bindings/java/.idea/misc.xml
  bindings/java/.idea/modules.xml
  bindings/java/.idea/uiDesigner.xml
  bindings/java/.idea/vcs.xml
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
Owners: @hydai

modify some definition and implement 1st version API
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Async.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Command
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_Async.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/Async.c
  bindings/java/wasmedge-jni/lib/Async.h
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

modify Async construtor
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Async.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
Owners: @hydai

modify JNI files auto-generated
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
Owners: @hydai

return type from WasmEdgeResult to void
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
  bindings/java/wasmedge-jni/lib/Async.c
  bindings/java/wasmedge-jni/lib/Async.h
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.h
Owners: @hydai, @q82419

modify CMake file
  bindings/java/wasmedge-jni/CMakeLists.txt
Owners: @hydai

replace * Merged the `WasmEdge_ImportObjectContext` into the `WasmEdge_ModuleInstanceContext`.
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
Owners: @hydai

push test jar
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
Owners: @hydai

JNI API implement
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

remove small mistakes
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @q82419

modify interface name
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @q82419

change AsyncGet definition
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

args type modify
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
Owners: @hydai

jar with interface List
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

move doc position
  bindings/java/README.md
Owners: @hydai

fix interface and add Doc
  bindings/java/README.md
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

debug WasmEdgeAsync
  bindings/java/wasmedge-java/build/libs/fibonacci.wasm
  bindings/java/wasmedge-java/build/libs/fibonacci.wat
  bindings/java/wasmedge-java/build/libs/file.sh
  bindings/java/wasmedge-java/build/libs/test.class
  bindings/java/wasmedge-java/build/libs/test.java
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

update README doc
  bindings/java/wasmedge-java/README.md
Owners: @hydai

finsh Unit Test
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeAsyncTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
Owners: @q82419

fix async get func
  bindings/java/wasmedge-java/build/libs/file.sh
  bindings/java/wasmedge-java/build/libs/test.class
  bindings/java/wasmedge-java/build/libs/test.java
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

test files
  bindings/java/wasmedge-java/build/libs/pre.sh
  bindings/java/wasmedge-java/build/libs/test.c
Owners: @hydai

remove redundant files
  bindings/java/.idea/.gitignore
  bindings/java/.idea/inspectionProfiles/Project_Default.xml
  bindings/java/.idea/java.iml
  bindings/java/.idea/misc.xml
  bindings/java/.idea/modules.xml
  bindings/java/.idea/uiDesigner.xml
  bindings/java/.idea/vcs.xml
  bindings/java/wasmedge-java/build/libs/fibonacci.wasm
  bindings/java/wasmedge-java/build/libs/fibonacci.wat
  bindings/java/wasmedge-java/build/libs/file.sh
  bindings/java/wasmedge-java/build/libs/pre.sh
  bindings/java/wasmedge-java/build/libs/test.c
  bindings/java/wasmedge-java/build/libs/test.class
  bindings/java/wasmedge-java/build/libs/test.java
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Command
Owners: @hydai
