Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Changelog] Update changelog for 0.11.2-rc.3
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Plugin] Handle the case of WasmEdge installation path in `/usr`.
  lib/plugin/plugin.cpp
Owners: @q82419

[CI] Update docker ci workflow
  .github/workflows/docker.yml
Owners: @hydai

chore(rustfmt): remove the deprecated options
  bindings/rust/.rustfmt.toml
Owners: @hydai, @yanganto

refactor(rust-sys): refactor async module
  bindings/rust/wasmedge-sys/src/async.rs
Owners: @hydai, @yanganto

chore(rust-sdk)!: bump version 0.6.0
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

chore(rust-sys): update CHANGELOG
  bindings/rust/wasmedge-sys/CHANGELOG.md
Owners: @hydai, @yanganto

refactor(rust-sdk)!: refactor run_func_async method in Vm
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

refactor(rust-sys)!: remove the deprecated async design
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/async_host_func.rs
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_registered_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_bytes.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_file.rs
  bindings/rust/wasmedge-sys/src/async.rs
  bindings/rust/wasmedge-sys/src/async_env.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

chore(rust-sys): refine the doc comments
  bindings/rust/wasmedge-sys/src/async.rs
Owners: @hydai, @yanganto

refactor(rust-sdk)!: refactor the APIs in Vm
  bindings/rust/wasmedge-sdk/examples/host_func_with_custom_error.rs
  bindings/rust/wasmedge-sdk/examples/wasi_print_env.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

ci(inventory): update allowlist
  .github/workflows/inventory.yml
Owners: @hydai

feat(rust-sdk)!: implement new async APIs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

chore(rust-sys)!: bump version 0.11.0
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

refactor(rust-sys)!: refactor the APIs in Vm
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust] Remove deprecated async APIs (#2039)
  .github/workflows/inventory.yml
  bindings/rust/.rustfmt.toml
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/examples/host_func_with_custom_error.rs
  bindings/rust/wasmedge-sdk/examples/wasi_print_env.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/CHANGELOG.md
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/async_host_func.rs
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_registered_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_bytes.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_file.rs
  bindings/rust/wasmedge-sys/src/async.rs
  bindings/rust/wasmedge-sys/src/async_env.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

fixing build
  lib/loader/serialization/deserialize.cpp
  lib/loader/serialization/serialize.cpp
Owners: @q82419

added file
  lib/loader/serialization/serialize.cpp
Owners: @q82419

serialized sections
  lib/loader/serialization/serialize.cpp
  lib/loader/serialization/type.cpp
Owners: @q82419

chore(rust-sys): update versioning table in rust-sys and remove the unused README_zh.md
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/README_zh.md
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

chore(rust-sdk): update versioning table in rust-sdk
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[MISC] Fix default plugin paths
  lib/plugin/plugin.cpp
Owners: @q82419

[CI] Update docker ci workflow
  .github/workflows/docker.yml
Owners: @hydai

[Test] Fix the rapidjson include dir when use the system rapidjson.
  test/spec/CMakeLists.txt
Owners: @q82419

[Changelog] Update the changelog for the 0.11.2 release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/book.toml
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/ref.md
Owners: @hydai

[Test] Fix the rapidjson include dir when use the system rapidjson.
  test/spec/CMakeLists.txt
Owners: @q82419

[Changelog] Update the changelog for the 0.11.2 release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/book.toml
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/ref.md
Owners: @hydai

[Docs] Update the summary.
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Docs] Update the summary.
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Docs] Update SOVERSION in the document
  docs/book/en/src/sdk/c/ref.md
Owners: @hydai

[Docs] Update SOVERSION in the document
  docs/book/en/src/sdk/c/ref.md
Owners: @hydai

chore(rust-sdk): improve the doc comments in rust-sdk::Config
  bindings/rust/wasmedge-sdk/src/config.rs
Owners: @hydai, @yanganto

feat(rust-sdk)!: implement Func::wrap_async API in rust-sdk
  bindings/rust/wasmedge-sdk/src/externals/function.rs
Owners: @hydai, @yanganto

refactor(rust-sys): remove data argument from Function::create_async API in rust-sys
  bindings/rust/wasmedge-sys/examples/async_host_func.rs
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

chore(rust-sdk): add new examples for rust-sdk
  bindings/rust/wasmedge-sdk/examples/async_hello_world.rs
  bindings/rust/wasmedge-sdk/examples/async_run_func.rs
Owners: @hydai, @yanganto

feat(rust-macro)!: implement a procedural macro used in rust-sys
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

refactor(rust-macro)!: redesign proc-macros used in rust-sys and rust-sdk.
  bindings/rust/wasmedge-macro/Cargo.toml
Owners: @hydai, @yanganto

chore(rust-sys): remove README_zh.md from rust-sys
  bindings/rust/wasmedge-sys/README_zh.md
Owners: @hydai, @yanganto

chore(rust-sys): update example
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
Owners: @hydai, @yanganto

refactor(rust-sdk)!: refactor Caller in rust-sdk
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/examples/create_host_func_in_host_func.rs
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
  bindings/rust/wasmedge-sdk/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/examples/host_func_with_custom_error.rs
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/examples/table.rs
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/caller.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto
