Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[Rust][refactor](example, vm): Refactored code for linux platform.
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](import, instance): Refactored code for linux platform.
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
Owners: @hydai, @yanganto

[Rust SDK][test](import): Added a new test case.
  bindings/rust/wasmedge-sdk/src/import.rs
Owners: @hydai, @yanganto

[rust-macro][feat](lib): Implemented sys_host_function proc-macro.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[Fix] component section should follow the same trick as module
  include/ast/component.h
  include/loader/loader.h
  lib/loader/ast/component.cpp
  test/loader/component/nested_component.cpp
  test/loader/component/testData/nested-component.wasm
  test/loader/component/testData/nested-component.wat
Owners: @q82419

[Rust][refactor](examples): Refactored example code.
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

[Rust SDK][doc](import, function): Refactored doc comments.
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/import.rs
Owners: @hydai, @yanganto

[Socket] Adjust kSaDataLen on IPv6 case
  include/host/wasi/environ.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  test/host/socket/wasi_socket.cpp
Owners: @ibmibmibm, @q82419

[Socket] Adjust kSaDataLen on IPv6 case
  include/host/wasi/environ.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  test/host/socket/wasi_socket.cpp
Owners: @ibmibmibm, @q82419

[Examples] Add wasi-crypto example. (#1817)
  examples/plugin/wasi-crypto-signature/.gitignore
  examples/plugin/wasi-crypto-signature/Cargo.toml
  examples/plugin/wasi-crypto-signature/README.md
  examples/plugin/wasi-crypto-signature/src/lib.rs
  examples/plugin/wasi-crypto-signature/src/main.rs
  examples/plugin/wasi-crypto-signature/src/signatures.rs
Owners: @hydai

[Rust] Supported additional data object (#1848)
  bindings/rust/wasmedge-macro/src/lib.rs
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
  bindings/rust/wasmedge-sdk/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sdk/examples/table.rs
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[Proposal] introduce componen-model to Proposal enum and NodeAST
  include/common/configure.h
  include/common/enum.inc
Owners: @q82419

[AST] init the Component ast and loading code
  include/ast/component.h
  include/loader/loader.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
Owners: @q82419

[AST] complete component's preamble part
  include/ast/component.h
  lib/loader/ast/component.cpp
Owners: @q82419

[Proposal] load sections
  include/ast/component.h
  include/ast/component/import_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core:alias section
  include/ast/component.h
  include/ast/component/corealias_section.h
  include/ast/component/export_section.h
  include/ast/component/sort.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core:instance section
  include/ast/component.h
  include/ast/component/coreinstance_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load export section
  include/ast/component.h
  include/ast/component/export_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] use class to hide subclass from toplevel namespace
  include/ast/component/import_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] resolve conflict via remove problem commit
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load start section
  include/ast/component.h
  include/ast/component/start_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core type section
  include/ast/component.h
  include/ast/component/corealias_section.h
  include/ast/component/coretype_section.h
  include/ast/component/module_decl.h
  include/ast/component_section.h
  include/ast/description.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  lib/loader/ast/type.cpp
Owners: @q82419

[Proposal] load type defintions: Part I
  include/ast/component.h
  include/ast/component/type_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load canon section
  include/ast/component.h
  include/ast/component/canon_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load alias section
  include/ast/component.h
  include/ast/component/alias_section.h
  include/ast/component/export_section.h
  include/ast/component/sort.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load type defintions: Part II
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AST] reuse `ValueType` for `ExternDesc`
  include/ast/component/import_section.h
  include/ast/component/type_section.h
  include/ast/component/value_type.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core type definition complete
  include/ast/description.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AST] handle `FieldType` constructor issue
  include/ast/component/coretype_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] style check
  include/ast/component/alias_section.h
  include/ast/component/sort.h
Owners: @q82419

[AST] explicit mark `override`
  include/ast/component/coretype_section.h
Owners: @q82419

[Misc] introduce `std::variant` for every `union` case
  include/ast/component/type_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load type defintions: Part III
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load type defintions: Part IV
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load instance section
  include/ast/component.h
  include/ast/component/coreinstance_section.h
  include/ast/component/export_section.h
  include/ast/component/instance_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load nested component section
  include/ast/component.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] remove dead code, shadow local, and GNU extension
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] complete the canonical form section loading
  lib/loader/ast/component.cpp
Owners: @q82419

[Misc] code misc
  include/ast/component.h
  include/ast/component/canon_section.h
Owners: @q82419

[Proposal] correct the flatten section loading
  include/ast/component/start_section.h
  include/ast/component_section.h
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  lib/loader/loader.cpp
Owners: @q82419

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
