Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Rust][refactor](Cargo.toml): Refactored features.
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

[Rust SDK][fix](config): Fixed clippy issues.
  bindings/rust/wasmedge-sdk/src/config.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Check clang version.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Installed llvm@14.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Installed llvm@12.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Set LLVM_DIR.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored the path to LLVM.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Recovered LLVM settings.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Set llvm@14.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored workflow.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored workflow.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Enabled macos-12 env.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Rust][refactor](rust-bindings): Refactored workflow.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Enabled macos-11 env.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored build_windows job.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Docs] Fix link to contribution doc
  README.md
Owners: @hydai

[Docs] Fix link to contribution doc (#1881)
  README.md
Owners: @hydai

[Rust][refactor](vm): Refactored test_vm_get_wasinn_module.
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[CI] Add httpsreq plugin into release assets
  .github/workflows/release.yml
Owners: @hydai

[Rust] Implemented new APIs for WASI-NN and Config(#1879)
  .github/workflows/bindings-rust.yml
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sdk/src/wasi.rs
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto

Revert "[PO] Add output file option for redirecting output to a file"
  include/po/argument_parser.h
  lib/driver/compilerTool.cpp
  lib/driver/fuzzPO.cpp
  lib/driver/runtimeTool.cpp
  lib/po/argument_parser.cpp
  test/po/help.cpp
  test/po/po.cpp
  test/po/subcommand.cpp
Owners: @q82419, @ibmibmibm

Revert "[Test] Add fuzzing test tools"
  CMakeLists.txt
  cmake/Helper.cmake
  include/driver/fuzzPO.h
  include/driver/fuzzTool.h
  lib/api/wasmedge.cpp
  lib/driver/CMakeLists.txt
  lib/driver/fuzzPO.cpp
  lib/driver/fuzzTool.cpp
  tools/CMakeLists.txt
  tools/fuzz/CMakeLists.txt
  tools/fuzz/po.cpp
  tools/fuzz/tool.cpp
Owners: @hydai, @ibmibmibm, @q82419

Revert "[Loader] Reject None type in function type definitions"
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/loader.cpp
Owners: @q82419

Revert "[Loader] Reject unreasonable long vector sizes"
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/shared_library.cpp
Owners: @q82419

[CI] Statically link LLVM on ubuntu 20.04 with clang++
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @hydai

[Loader] Revert commit 19895708eb867e3f193f69e3b5420a6586d2a6e3
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/shared_library.cpp
Owners: @q82419

[CI] Statically link LLVM on ubuntu 20.04 with clang++
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @hydai

[CI] Add httpsreq plugin into release assets
  .github/workflows/release.yml
Owners: @hydai

[Loader] Revert commit 19895708eb867e3f193f69e3b5420a6586d2a6e3
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/shared_library.cpp
Owners: @q82419

[MISC] format the code by clang-foramt
  include/experimental/expected.hpp
Owners: @q82419

[MISC] add qualified name std for move and forward
  include/experimental/expected.hpp
Owners: @q82419

[Utils] Installer CI: Arm arch images not available for github actions python setup
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer: Handle cases when `CONST_lib_dir` does not exist
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: fix symlinks for linux
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer CI: glibc 2.29 not found
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer CI: Add python packages for OSes
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer: fix for symlinks when version does not contain more than one digit
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Tensorflow Extensions WIP
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Fix version lib symlinks for Darwin
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: removesuffix is a 3.9+ method
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419
