Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

clang-format files
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @q82419

cast WasmEdge_Async to jobject
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @q82419

fix test case
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeAsyncTest.java
Owners: @q82419

change header file to make build on Mac and Windows
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @q82419

remove debug msg
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @q82419

fix test case
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @q82419

rebase master changes
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @q82419

fix mac os build
  .github/workflows/bindings-java.yml
Owners: @hydai

[CI] Add network libs into slim images
  .github/workflows/release.yml
  utils/docker/Dockerfile.release
Owners: @hydai, @ibmibmibm, @q82419

[CI] Add network libs into slim images
  .github/workflows/release.yml
  utils/docker/Dockerfile.release
Owners: @hydai, @ibmibmibm, @q82419

[CI] Add WASI-NN TFLite test on Ubuntu.
  .github/workflows/build-extensions.yml
Owners: @hydai

[Docs] Update WASI-NN TFLite supporting docs.
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/plugin.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[Changelog] Update the changelog for the 0.11.2-rc.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Java] Implement Async API in Java SDK (#1990)
  .github/workflows/bindings-java.yml
  bindings/java/README.md
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeAsyncTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_Async.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

[Changelog] Update the changelog for the 0.11.2-rc.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Fuzz] Remove sanitizer flag for oss-fuzz build
  cmake/Helper.cmake
Owners: @ibmibmibm

update android app cmake project
  utils/android/app/lib/build.gradle
  utils/android/app/lib/src/main/cpp/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

update android project readme
  utils/android/app/README.md
Owners: @hydai, @ibmibmibm, @q82419

udpate android cmake minimum required version
  utils/android/app/lib/src/main/cpp/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Fuzz] Remove sanitizer flag for oss-fuzz build
  cmake/Helper.cmake
Owners: @ibmibmibm

[Android] udpate android cmake minimum required version (#2013)
  utils/android/app/README.md
  utils/android/app/lib/build.gradle
  utils/android/app/lib/src/main/cpp/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Changelog] Update the changelog for the 0.11.2-rc.2 pre-release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/src/sdk/c.md
  docs/book/en/src/sdk/go.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[Plugin] Use the library path to load the default plug-in path.
  lib/plugin/plugin.cpp
Owners: @q82419

[Plugin] Use the library path to load the default plug-in path.
  lib/plugin/plugin.cpp
Owners: @q82419

[Changelog] Update the changelog for the 0.11.2-rc.2 pre-release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/src/sdk/c.md
  docs/book/en/src/sdk/go.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

feat: support read sn and read s33
  include/loader/filemgr.h
  lib/loader/filemgr.cpp
Owners: @q82419

fix too large error code
  lib/loader/filemgr.cpp
Owners: @q82419

[Rust]: Fix clippy issues in rust-sdk.
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust]: Add basic fiber support.
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/async_host_func2.rs
  bindings/rust/wasmedge-sys/examples/async_host_func3.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_named_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_bytes.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_file.rs
  bindings/rust/wasmedge-sys/src/async_env.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust]: Remove unused lines.
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
Owners: @hydai, @yanganto

[Rust]: Store async state in global variable.
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/async_host_func2.rs
  bindings/rust/wasmedge-sys/examples/async_host_func3.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_bytes.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_file.rs
  bindings/rust/wasmedge-sys/src/async_env.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust]: Fix doc issues in wasmedge-sys.
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

[Rust]: Remove the unused functions.
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/async_host_func.rs
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_registered_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_bytes.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_file.rs
  bindings/rust/wasmedge-sys/src/async.rs
  bindings/rust/wasmedge-sys/src/async_env.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust]: Fix clippy issues.
  bindings/rust/wasmedge-sys/examples/async_host_func.rs
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_registered_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_file.rs
  bindings/rust/wasmedge-sys/examples/threads.rs
  bindings/rust/wasmedge-sys/examples/vm_get_active_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/src/async.rs
  bindings/rust/wasmedge-sys/src/async_env.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust]: Pass store as a parameter explicitly.
  bindings/rust/wasmedge-sys/examples/async_host_func3.rs
  bindings/rust/wasmedge-sys/src/async_env.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust] A fiber based async mechanism design. (#1991)
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/async_host_func.rs
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_registered_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_bytes.rs
  bindings/rust/wasmedge-sys/examples/async_run_wasm_from_file.rs
  bindings/rust/wasmedge-sys/examples/threads.rs
  bindings/rust/wasmedge-sys/examples/vm_get_active_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/src/async_env.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[WASI]: Capitalize variables.
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
Owners: @ibmibmibm

[WASI] Make epoll edge triggered. (#1975)
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  include/host/wasi/wasifunc.h
  lib/host/wasi/environ.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
  lib/host/wasi/wasimodule.cpp
  test/host/wasi/wasi.cpp
Owners: @ibmibmibm

[Plugin] Handle the case of WasmEdge installation path in `/usr`.
  lib/plugin/plugin.cpp
Owners: @q82419

[Changelog] Update changelog for 0.11.2-rc.3
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai
