Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[Examples]: Add README to wasi-crypto-signature.
  examples/plugin/wasi-crypto-signature/.gitignore
  examples/plugin/wasi-crypto-signature/Cargo.toml
  examples/plugin/wasi-crypto-signature/README.md
  examples/plugin/wasi-crypto-signature/src/lib.rs
  examples/plugin/wasi-crypto-signature/src/main.rs
  examples/plugin/wasi-crypto-signature/src/signatures.rs
Owners: @hydai

[Docs] Rearrange and rephrase build instructions
  docs/book/en/src/extend/build.md
  docs/book/en/src/extend/build_on_windows.md
Owners: @hydai

[Rust SDK] chore, fix crate repository link
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

[WASI] Add p384 https://github.com/WebAssembly/wasi-crypto/pull/62
  plugins/wasi_crypto/kx/dh/ecdsa.cpp
  plugins/wasi_crypto/kx/dh/ecdsa.h
  plugins/wasi_crypto/kx/registed.h
  plugins/wasi_crypto/signatures/ecdsa.cpp
  plugins/wasi_crypto/signatures/ecdsa.h
  plugins/wasi_crypto/signatures/registed.h
  plugins/wasi_crypto/utils/hostfunction.cpp
  test/plugins/wasi_crypto/asymmetric.cpp
  test/plugins/wasi_crypto/kx.cpp
  test/plugins/wasi_crypto/signatures.cpp
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Add p384 https://github.com/WebAssembly/wasi-crypto/pull/62
  plugins/wasi_crypto/kx/dh/ecdsa.cpp
  plugins/wasi_crypto/kx/dh/ecdsa.h
  plugins/wasi_crypto/kx/registed.h
  plugins/wasi_crypto/signatures/ecdsa.cpp
  plugins/wasi_crypto/signatures/ecdsa.h
  plugins/wasi_crypto/signatures/registed.h
  plugins/wasi_crypto/utils/hostfunction.cpp
  test/plugins/wasi_crypto/asymmetric.cpp
  test/plugins/wasi_crypto/kx.cpp
  test/plugins/wasi_crypto/signatures.cpp
Owners: @hydai, @ibmibmibm, @q82419

[Rust] chore, fix crate repository link (#1833)
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

[Misc] Deprecated gitlab CI settings
  .gitlab-ci.yml
Owners: @hydai

[CI] Bump codeql-action from v1 to v2
  .github/workflows/codeql-analysis.yml
Owners: @hydai

[Misc] Bump CI image from Ubuntu 20.04 to Ubuntu 22.04
  docs/book/en/src/extend/build.md
  docs/book/en/src/os/linux.md
  docs/book/zh-TW/src/extend/build.md
  docs/book/zh/src/extend/build.md
  docs/book/zh/src/os/linux.md
  utils/docker/Dockerfile.base
  utils/docker/Dockerfile.build-clang
  utils/docker/Dockerfile.build-gcc
  utils/docker/Dockerfile.ci-image-base
  utils/docker/Dockerfile.ubuntu2004_x86_64
  utils/docker/Dockerfile.ubuntu2104_armv7l
  utils/docker/Dockerfile.ubuntu2204_armv7l
Owners: @hydai, @ibmibmibm, @q82419

[Verify] canon definition
  test/loader/component/CMakeLists.txt
  test/loader/component/canon_definition.cpp
  test/loader/component/testData/canon-definition.wasm
  test/loader/component/testData/canon-definition.wat
Owners: @q82419

[Verify] component type definitions
  include/ast/component/alias_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
  test/loader/component/testData/type-definition.wasm
  test/loader/component/testData/type-definition.wat
Owners: @q82419

[Verify] start definition
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/start_definition.cpp
  test/loader/component/testData/start-definition.wasm
  test/loader/component/testData/start-definition.wat
Owners: @q82419

[Misc] given different name for tests
  include/ast/component/instance_section.h
  lib/loader/ast/component_section.cpp
  test/loader/component/import_export_definition.cpp
  test/loader/component/nested_component.cpp
  test/loader/component/type_definition.cpp
Owners: @q82419

[Fix] replace inherit with `std::variant` for branching AST
  include/ast/component/import_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Verify] instance definition
  include/ast/component.h
  lib/loader/ast/component.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/instance_definition.cpp
  test/loader/component/testData/instance-definition.wasm
  test/loader/component/testData/instance-definition.wat
Owners: @q82419

[Verify] alias definition
  include/ast/component/alias_section.h
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/alias_definition.cpp
  test/loader/component/testData/alias-definition.wasm
  test/loader/component/testData/alias-definition.wat
Owners: @q82419

[Fix] use `std::variant` in AST
  include/ast/component/canon_section.h
  include/ast/component/coreinstance_section.h
  include/ast/component/import_section.h
  include/ast/component/type_section.h
  include/ast/component_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Verify] component import/export definitions
  include/common/enum.inc
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/import_export_definition.cpp
  test/loader/component/testData/import-export-definition.wasm
  test/loader/component/testData/import-export-definition.wat
Owners: @q82419

[Fix] hacky code to stop module loads component data
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/module.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/core_module.cpp
  test/loader/component/testData/core-module.wasm
  test/loader/component/testData/core-module.wat
Owners: @q82419

[Fix] core type ast
  include/ast/component/corealias_section.h
  include/ast/component/coretype_section.h
  include/ast/component/module_decl.h
  include/ast/description.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Verify] nested component
  lib/loader/ast/component.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/nested_component.cpp
  test/loader/component/testData/nested-component.wasm
  test/loader/component/testData/nested-component.wat
Owners: @q82419

[Verify] core type definition
  test/loader/component/CMakeLists.txt
  test/loader/component/core_type_definition.cpp
  test/loader/component/testData/core-type-definition.wasm
  test/loader/component/testData/core-type-definition.wat
Owners: @q82419

[Fix] replace inherit with `std::variant` in type definition
  include/ast/component/type_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] Deprecated gitlab CI settings
  .gitlab-ci.yml
Owners: @hydai

[AOT] Fix type mismatch for IntrinsicsTable initialization statement.
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[AOT] Fix type mismatch for IntrinsicsTable initialization statement.
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[AOT]: Allow assigning optimization levels.
  lib/driver/compilerTool.cpp
Owners: @q82419

[AOT]: Allow assigning optimization levels.
  lib/driver/compilerTool.cpp
Owners: @q82419

[Plugin] coding style
  docs/witx/typenames.witx
  docs/witx/wasi_native_threads.witx
  examples/thread/rust-func-call/.gitignore
  examples/thread/rust-func-call/Cargo.toml
  examples/thread/rust-func-call/src/main.rs
  examples/thread/rust-wasi-native-thread/Cargo.toml
  examples/thread/rust-wasi-native-thread/src/main.rs
  include/vm/vm.h
  lib/executor/executor.cpp
  lib/executor/helper.cpp
  plugins/wasmedge_thread/threadbase.h
  plugins/wasmedge_thread/threadfunc.cpp
  plugins/wasmedge_thread/threadfunc.h
  plugins/wasmedge_thread/threadmodule.cpp
  thirdparty/wasi/api.hpp
  utils/wasi-cpp-header/generate.sh
Owners: @hydai, @q82419, @ibmibmibm

[Misc] Propose new committers and reviewers
  docs/OWNER.md
Owners: @hydai

[Misc] add print support for uint128
  include/common/int128.h
  lib/common/CMakeLists.txt
  lib/common/int128.cpp
  lib/driver/runtimeTool.cpp
  test/CMakeLists.txt
  test/common/CMakeLists.txt
  test/common/int128Test.cpp
Owners: @q82419

[Rust SDK][feat](function, import): Supported data object.
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
  bindings/rust/wasmedge-sdk/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sdk/examples/table.rs
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust][feat](examples): Added a new example.
  bindings/rust/wasmedge-sys/examples/data_object_to_host_func.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
Owners: @hydai, @yanganto

[rust-macro][refactor](lib): Refactored expand_host_func function.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[Rust][feat](function): Added a new test.
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

[rust-macro][refactor](lib): Refactored expand_host_func and sys_expand_host_func.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](example): Refactored code.
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
Owners: @hydai, @yanganto

[rust-macro][fix](lib): Fixed clippy issues.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

[Rust][refactor](tests): Enabled integration test cases.
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[Rust][refactor](function): Refactored create function.
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
