Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[CI] Link system libc++ instead of brew llvm on MacOS.
  .github/workflows/build-extensions.yml
  .github/workflows/reusable-build-on-macos.yml
  cmake/Helper.cmake
Owners: @hydai, @ibmibmibm

[CI][fix](rust): Fixed the review issues.
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

Fix the docker image names
  docs/book/en/src/kubernetes/docker/lxc.md
Owners: @hydai

[Docs] Use the correct docker hub image name (#1760)
  .github/linters/.markdown-lint.yml
  docs/book/en/src/kubernetes.md
  docs/book/en/src/kubernetes/cri/containerd.md
  docs/book/en/src/kubernetes/cri/crio.md
  docs/book/en/src/kubernetes/demo/server.md
  docs/book/en/src/kubernetes/demo/wasi.md
  docs/book/en/src/kubernetes/docker.md
  docs/book/en/src/kubernetes/docker/containerd.md
  docs/book/en/src/kubernetes/docker/lxc.md
  docs/book/en/src/kubernetes/kubernetes/kind.md
  docs/book/en/src/kubernetes/kubernetes/kubeedge.md
  docs/book/en/src/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/en/src/kubernetes/kubernetes/kubernetes-crio.md
  docs/book/en/src/kubernetes/kubernetes/openyurt.md
  docs/book/en/src/kubernetes/kubernetes/superedge.md
Owners: @hydai

[Verify] nested component
  lib/loader/ast/component.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/nested_component.cpp
  test/loader/component/testData/nested-component.wasm
  test/loader/component/testData/nested-component.wat
Owners: @q82419

[Fix] replace inherit with `std::variant` for branching AST
  include/ast/component/import_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Docs] Apply the new API for some examples.
  docs/book/en/src/embed/c/0.10.1/ref.md
  docs/book/en/src/embed/c/ref.md
  docs/book/en/src/extend/plugin/externref.md
  docs/book/en/src/extend/plugin/hostfunction.md
Owners: @hydai

[Docs] Apply the new API for some examples.
  docs/book/en/src/embed/c/0.10.1/ref.md
  docs/book/en/src/embed/c/ref.md
  docs/book/en/src/extend/plugin/externref.md
  docs/book/en/src/extend/plugin/hostfunction.md
Owners: @hydai

[CI] Use slim version of super linter
  .github/workflows/mdbook.yml
Owners: @hydai

[CI] Bump codeql-action from v1 to v2
  .github/workflows/codeql-analysis.yml
Owners: @hydai

[Docs] Add a note for reminding users who have a limited network connection should use VPN to access the githubusercontent.com
  docs/book/en/src/index.md
  docs/book/en/src/start/install.md
Owners: @hydai

[Docs] Add a note for reminding users who have a limited network connection should use VPN to access the githubusercontent.com
  docs/book/en/src/index.md
  docs/book/en/src/start/install.md
Owners: @hydai

[Fix] replace inherit with `std::variant` in type definition
  include/ast/component/type_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] given different name for tests
  include/ast/component/instance_section.h
  lib/loader/ast/component_section.cpp
  test/loader/component/import_export_definition.cpp
  test/loader/component/nested_component.cpp
  test/loader/component/type_definition.cpp
Owners: @q82419

[Fix] use `std::variant` in AST
  include/ast/component/canon_section.h
  include/ast/component/coreinstance_section.h
  include/ast/component/import_section.h
  include/ast/component/type_section.h
  include/ast/component_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Changelog] Update the changelog for the 0.11.0 release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/src/embed/c/ref.md
Owners: @hydai

[Changelog] Update the changelog for the 0.11.0 release.
  .CurrentChangelog.md
  Changelog.md
  docs/book/en/src/embed/c/ref.md
Owners: @hydai

[CI] Use slim version of super linter
  .github/workflows/mdbook.yml
Owners: @hydai

[Docs] fix book toc
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Docs] fix book toc (#1814)
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Misc] refine the implementations
  plugins/CMakeLists.txt
  plugins/wasmedge_httpsreq/CMakeLists.txt
  plugins/wasmedge_httpsreq/httpsreqbase.h
  plugins/wasmedge_httpsreq/httpsreqenv.cpp
  plugins/wasmedge_httpsreq/httpsreqenv.h
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
  plugins/wasmedge_httpsreq/httpsreqfunc.h
  plugins/wasmedge_httpsreq/httpsreqmodule.cpp
  plugins/wasmedge_httpsreq/httpsreqmodule.h
  test/plugins/CMakeLists.txt
  utils/wasmedge_httpsreq/build-openssl.sh
Owners: @hydai, @q82419, @ibmibmibm

[Fix] core type ast
  include/ast/component/corealias_section.h
  include/ast/component/coretype_section.h
  include/ast/component/module_decl.h
  include/ast/description.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] refine the details
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
Owners: @hydai

[Verify] core type definition
  test/loader/component/CMakeLists.txt
  test/loader/component/core_type_definition.cpp
  test/loader/component/testData/core-type-definition.wasm
  test/loader/component/testData/core-type-definition.wat
Owners: @q82419

[Misc] rename Wasmedge to WasmEdge
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
Owners: @hydai

[Docs] update the docs for httpsreq plugin
  docs/book/en/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking-https.md
Owners: @hydai

[Plugin] refine the httpsreq plugin implementation (#1802)
  .github/workflows/build-extensions.yml
  docs/book/en/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking-https.md
  plugins/CMakeLists.txt
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/wasmedge_httpsreq/CMakeLists.txt
  plugins/wasmedge_httpsreq/httpsreqbase.h
  plugins/wasmedge_httpsreq/httpsreqenv.cpp
  plugins/wasmedge_httpsreq/httpsreqenv.h
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
  plugins/wasmedge_httpsreq/httpsreqfunc.h
  plugins/wasmedge_httpsreq/httpsreqmodule.cpp
  plugins/wasmedge_httpsreq/httpsreqmodule.h
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_httpsreq/CMakeLists.txt
  test/plugins/wasmedge_httpsreq/httpsreq.cpp
  utils/wasmedge_httpsreq/build-openssl.sh
Owners: @hydai, @q82419, @ibmibmibm

[Verify] instance definition
  include/ast/component.h
  lib/loader/ast/component.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/instance_definition.cpp
  test/loader/component/testData/instance-definition.wasm
  test/loader/component/testData/instance-definition.wat
Owners: @q82419

[Examples]: Add wasi-crypto example.
  examples/plugin/wasi-crypto/.gitignore
  examples/plugin/wasi-crypto/Cargo.toml
  examples/plugin/wasi-crypto/src/lib.rs
  examples/plugin/wasi-crypto/src/main.rs
  examples/plugin/wasi-crypto/src/signatures.rs
Owners: @hydai

[Docs] Add WASI Native Thread WITX
  docs/witx/wasi_native_threads.witx
Owners: @hydai

[Example] initialize ENV with VM
  include/host/wasi/wasifunc.h
  lib/executor/executor.cpp
  lib/host/wasi/wasifunc.cpp
  lib/host/wasi/wasimodule.cpp
  tools/wasmedge/wasmedger.cpp
Owners: @ibmibmibm, @q82419, @hydai

[Plugin] split wasmedge thread into a plugin
  docs/witx/wasi_native_threads.witx
  examples/thread/rust-func-call/.gitignore
  examples/thread/rust-func-call/Cargo.toml
  examples/thread/rust-func-call/src/main.rs
  examples/thread/rust-wasi-native-thread/src/main.rs
  include/common/enum.inc
  include/host/wasi/environ.h
  include/host/wasi/wasifunc.h
  lib/host/wasi/environ.cpp
  lib/host/wasi/wasifunc.cpp
  plugins/CMakeLists.txt
  plugins/wasmedge_thread/CMakeLists.txt
  plugins/wasmedge_thread/threadbase.h
  plugins/wasmedge_thread/threadenv.cpp
  plugins/wasmedge_thread/threadenv.h
  plugins/wasmedge_thread/threadfunc.cpp
  plugins/wasmedge_thread/threadfunc.h
  plugins/wasmedge_thread/threadmodule.cpp
  plugins/wasmedge_thread/threadmodule.h
  thirdparty/wasi/api.hpp
  tools/wasmedge/wasmedger.cpp
  utils/wasi-cpp-header/generate.sh
  utils/wasi-cpp-header/typenames.witx.rej
Owners: @hydai, @q82419, @ibmibmibm

[WASI] init environ with vm pointer; Add createThreadWithFunctionAddress to executor
  include/executor/executor.h
  include/host/wasi/environ.h
  include/vm/vm.h
  lib/executor/engine/controlInstr.cpp
  lib/executor/executor.cpp
  lib/executor/helper.cpp
  lib/host/wasi/CMakeLists.txt
  lib/host/wasi/environ.cpp
  lib/host/wasi/wasifunc.cpp
  lib/host/wasi/wasimodule.cpp
  lib/vm/vm.cpp
Owners: @q82419, @ibmibmibm

[Plugin] rebase wasmedge thread to master
  include/host/wasi/wasifunc.h
  lib/host/wasi/wasifunc.cpp
  plugins/CMakeLists.txt
  plugins/wasmedge_thread/threadenv.cpp
  plugins/wasmedge_thread/threadfunc.cpp
  plugins/wasmedge_thread/threadfunc.h
Owners: @ibmibmibm, @hydai

[WASI] fix api.hpp
  thirdparty/wasi/api.hpp
  thirdparty/wasi/api.hpp.rej
Owners: @ibmibmibm

[WASI] Add pthread_create pthread_join wasi
  include/host/wasi/wasifunc.h
  lib/host/wasi/wasifunc.cpp
  lib/host/wasi/wasimodule.cpp
Owners: @ibmibmibm

[Example] Add rust-wasi-native-thread example
  examples/thread/rust-wasi-native-thread/.gitignore
  examples/thread/rust-wasi-native-thread/Cargo.toml
  examples/thread/rust-wasi-native-thread/src/main.rs
Owners: @hydai

[Misc] eliminate useless code
  include/host/wasi/environ.h
  include/vm/vm.h
  lib/executor/helper.cpp
  lib/host/wasi/CMakeLists.txt
  lib/host/wasi/wasifunc.cpp
  lib/host/wasi/wasimodule.cpp
  lib/vm/vm.cpp
  plugins/wasmedge_thread/CMakeLists.txt
  plugins/wasmedge_thread/threadenv.cpp
  plugins/wasmedge_thread/threadenv.h
  plugins/wasmedge_thread/threadfunc.cpp
  thirdparty/wasi/api.hpp.rej
  utils/wasi-cpp-header/generate.sh
  utils/wasi-cpp-header/typenames.witx.rej
Owners: @ibmibmibm, @q82419, @hydai

[WASI] define witx of thread types
  docs/witx/typenames.witx
  docs/witx/wasi_native_threads.witx
  thirdparty/wasi/api.hpp
Owners: @hydai, @ibmibmibm

[Example] rust-wasi-native-thread example
  examples/thread/rust-wasi-native-thread/src/main.rs
Owners: @hydai
