Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[CI] workflow: make the concurrency group fallback to github.ref if the event is not PR
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-rust.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/inventory.yml
  .github/workflows/linter.yml
  .github/workflows/mdbook.yml
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
  .github/workflows/rust-wasmedge-types-release.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/test-install-script.yml
  .github/workflows/witx.yml
Owners: @hydai

[AOT] Add a mask on shift operands
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[AOT] Add a mask on shift operands
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Docs] update annotation to "module.wasm.image/variant: compat-smart" (#1720)
  docs/book/en/src/kubernetes/cri/containerd.md
  docs/book/en/src/kubernetes/demo/server.md
  docs/book/en/src/kubernetes/demo/wasi.md
  docs/book/en/src/kubernetes/kubernetes/kind.md
  docs/book/en/src/kubernetes/kubernetes/kubeedge.md
  docs/book/en/src/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/en/src/kubernetes/kubernetes/kubernetes-crio.md
  docs/book/en/src/kubernetes/kubernetes/openyurt.md
  docs/book/en/src/kubernetes/kubernetes/superedge.md
  docs/book/zh/src/kubernetes/cri/containerd.md
  docs/book/zh/src/kubernetes/demo/server.md
  docs/book/zh/src/kubernetes/demo/wasi.md
  docs/book/zh/src/kubernetes/kubernetes/kind.md
  docs/book/zh/src/kubernetes/kubernetes/kubeedge.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-crio.md
  docs/book/zh/src/kubernetes/kubernetes/openyurt.md
Owners: @hydai

[CI] The document of rust bindings should be triggered only when the related codes are modified
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[Docs] Apply the md format.
  docs/book/en/src/dev/js.md
  docs/book/en/src/dev/js/modules.md
  docs/book/en/src/dev/js/networking.md
  docs/book/en/src/dev/js/nodejs.md
  docs/book/en/src/dev/js/quickstart.md
  docs/book/en/src/dev/js/ssr.md
  docs/book/en/src/dev/rust/networking-https.md
  docs/book/en/src/frameworks/mesh/dapr.md
  docs/book/en/src/frameworks/mesh/wasm-nginx-module.md
  docs/book/en/src/os/openwrt.md
  docs/book/en/src/start/docker.md
  docs/book/zh/src/dev/rust.md
  docs/book/zh/src/dev/rust/bindgen.md
  docs/book/zh/src/dev/rust/command.md
  docs/book/zh/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking-nonblocking.md
  docs/book/zh/src/dev/rust/networking.md
  docs/book/zh/src/dev/rust/ssr.md
  docs/book/zh/src/embed/go/ref.md
  docs/book/zh/src/frameworks/app/reactr.md
  docs/book/zh/src/os/openwrt.md
  utils/ohos/README-zh.md
Owners: @hydai, @ibmibmibm, @q82419

[CI] The document of rust bindings should be triggered only when the related codes are modified
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[Loader] Fix the set number of instruction immediate in debug mode.
  lib/loader/ast/instruction.cpp
Owners: @q82419

[Proposal] introduce componen-model to Proposal enum and NodeAST
  include/common/configure.h
  include/common/enum.inc
Owners: @q82419

[AST] complete component's preamble part
  include/ast/component.h
  lib/loader/ast/component.cpp
Owners: @q82419

[AST] init the Component ast and loading code
  include/ast/component.h
  include/loader/loader.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
Owners: @q82419

[Rust][fix](examples): Fix errors in hostfunc.rs and hostfunc2.rs.
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
Owners: @hydai, @yanganto

[Rust] (examples): Fix errors in hostfunc.rs and hostfunc2.rs. (#1537)
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
Owners: @hydai, @yanganto

[CI] Check markdown format for pr (all rules in markdownlint)
  .github/workflows/mdbook.yml
Owners: @hydai

[WASI] move openvino def into branch
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

build: change wasi-nn prompt
  plugins/wasi_nn/CMakeLists.txt
Owners: @hydai

[WASI] add pytorch backend, only cpu
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

tests: fix context init
  test/plugins/wasi_nn/wasi_nn.cpp
Owners: @q82419

fix: no input error
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

only cpu target
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

test: add pytorch test
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-pytorch-fixtures.sh
Owners: @q82419, @hydai, @ibmibmibm

[Rust SDK][refactor](memory): Refactored the signature of write method.
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
Owners: @hydai, @yanganto

[Rust][refactor](memory): Refactored the signature of set_data method.
  bindings/rust/wasmedge-sys/src/instance/memory.rs
Owners: @hydai, @yanganto

load section
  include/ast/component.h
  include/ast/component/import_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load export section
  include/ast/component.h
  include/ast/component/export_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AOT] Make the fallback cases more clear
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Rust] Refactored Memory::write method in `wasmedge-sdk` (#1733)
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
  bindings/rust/wasmedge-sys/src/instance/memory.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Added new trigger condition.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](inventory): Added new trigger condition.
  .github/workflows/inventory.yml
Owners: @hydai

[Rust][feat](vm): Implemented new APIs.
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](instance): Defined AsInstance trait and implemented WasiNnInstance.
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][fix](instance): Fixed an import issue.
  bindings/rust/wasmedge-sdk/src/instance.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](lib, utils): Added utils module and implemented driver functions.
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/utils.rs
Owners: @hydai, @yanganto

[Rust][refactor](module, executor, vm): Refactored AsImport trait.
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](import): Supported for building wasi-nn and wasi-crypto import objects.
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
Owners: @hydai, @yanganto

[Rust][feat](module, lib): Implemented WasiCryptoSignature.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust][refactor](module, lib): Renamed WasiCryptoSignatures.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[CI][fix](rust): Fix a review issue.
  .github/workflows/rust-wasmedge-sdk-docs.yml
Owners: @hydai

[Rust SDK][version]: v0.3.1
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

[Rust][version]: v0.8.1
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
