Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[Loader] Reject None type in function type definitions
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/loader.cpp
Owners: @q82419

[Loader] Reject unreasonable long vector sizes
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/shared_library.cpp
Owners: @q82419

[Test] Add fuzzing test tools
  CMakeLists.txt
  cmake/Helper.cmake
  include/driver/fuzzPO.h
  include/driver/fuzzTool.h
  lib/api/wasmedge.cpp
  lib/driver/CMakeLists.txt
  lib/driver/fuzzPO.cpp
  lib/driver/fuzzTool.cpp
  tools/CMakeLists.txt
  tools/fuzz/CMakeLists.txt
  tools/fuzz/po.cpp
  tools/fuzz/tool.cpp
Owners: @hydai, @ibmibmibm, @q82419

[PO] Add output file option for redirecting output to a file
  include/po/argument_parser.h
  lib/driver/compilerTool.cpp
  lib/driver/fuzzPO.cpp
  lib/driver/runtimeTool.cpp
  lib/po/argument_parser.cpp
  test/po/help.cpp
  test/po/po.cpp
  test/po/subcommand.cpp
Owners: @q82419, @ibmibmibm

[Docs] replace wasm-bindgen with wasmedge-bindgen in go sdk (#1852)
  docs/book/en/src/sdk/go/bindgen.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Use Library
  docs/book/en/src/embed.md
  docs/book/en/src/sdk.md
  docs/book/en/src/sdk/c.md
  docs/book/en/src/sdk/c/0.10.1/ref.md
  docs/book/en/src/sdk/c/0.10.1/upgrade_to_0.11.0.md
  docs/book/en/src/sdk/c/0.9.1/ref.md
  docs/book/en/src/sdk/c/0.9.1/upgrade_to_0.10.0.md
  docs/book/en/src/sdk/c/externref.md
  docs/book/en/src/sdk/c/hostfunction.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go.md
  docs/book/en/src/sdk/go/0.9.1/ref.md
  docs/book/en/src/sdk/go/0.9.1/upgrade_to_0.10.0.md
  docs/book/en/src/sdk/go/app.md
  docs/book/en/src/sdk/go/bindgen.md
  docs/book/en/src/sdk/go/function.md
  docs/book/en/src/sdk/go/memory.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/sdk/go/tensorflow.md
  docs/book/en/src/sdk/node.md
  docs/book/en/src/sdk/python.md
  docs/book/en/src/sdk/rust.md
  docs/book/en/src/sdk/rust/concurrent_fib.md
  docs/book/en/src/sdk/rust/how_to_use_module_instance.md
  docs/book/en/src/sdk/rust/memory_manipulation.md
  docs/book/en/src/sdk/rust/say_hello.md
  docs/book/en/src/sdk/rust/sys_run_host_func.md
  docs/book/en/src/sdk/rust/table_and_funcref.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Features
  docs/book/en/src/features.md
  docs/book/en/src/features/comparison.md
  docs/book/en/src/features/integrations.md
  docs/book/en/src/features/platforms.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/features/proprietary_extend.md
  docs/book/en/src/intro/features.md
  docs/book/en/src/intro/integrations.md
  docs/book/en/src/intro/standard.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Contribute
  docs/book/en/src/contribute.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/android.md
  docs/book/en/src/contribute/build_from_src/android/apk.md
  docs/book/en/src/contribute/build_from_src/android/cli.md
  docs/book/en/src/contribute/build_from_src/android/ndk.md
  docs/book/en/src/contribute/build_from_src/linux.md
  docs/book/en/src/contribute/build_from_src/macos.md
  docs/book/en/src/contribute/build_from_src/openharmony.md
  docs/book/en/src/contribute/build_from_src/openwrt.md
  docs/book/en/src/contribute/build_from_src/raspberrypi.md
  docs/book/en/src/contribute/build_from_src/sel4.md
  docs/book/en/src/contribute/build_from_src/wasmedge-sel4.png
  docs/book/en/src/contribute/build_from_src/windows.md
  docs/book/en/src/contribute/contribute.md
  docs/book/en/src/contribute/internal.md
  docs/book/en/src/contribute/release_process.md
  docs/book/en/src/contribute/wish_list.md
  docs/book/en/src/extend.md
  docs/book/en/src/extend/build.md
  docs/book/en/src/extend/build_on_mac.md
  docs/book/en/src/extend/build_on_windows.md
  docs/book/en/src/extend/contribute.md
  docs/book/en/src/os.md
  docs/book/en/src/os/android.md
  docs/book/en/src/os/linux.md
  docs/book/en/src/os/mac.md
  docs/book/en/src/os/windows.md
Owners: @hydai

[Docs] Update the roadmap.
  docs/ROADMAP.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Quick Start
  docs/book/en/src/quick_start.md
  docs/book/en/src/quick_start/install.md
  docs/book/en/src/quick_start/run_cli.md
  docs/book/en/src/quick_start/run_in_aot_mode.md
  docs/book/en/src/quick_start/use_docker.md
  docs/book/en/src/start/cli.md
  docs/book/en/src/start/docker.md
  docs/book/en/src/start/universal.md
Owners: @hydai

[Docs] replace wasm-bindgen with wasmedge-bindgen in go sdk (#1852)
  docs/book/en/src/sdk/go/bindgen.md
Owners: @hydai

[Docs] Fix the line height of the code blocks.
  docs/book/en/theme/css/chrome.css
  docs/book/zh-TW/theme/css/chrome.css
  docs/book/zh/theme/css/chrome.css
Owners: @hydai

[Docs] Refactor WasmEdge book: Write WebAssembly Apps
  docs/book/en/src/dev.md
  docs/book/en/src/dev/rust/bindgen.md
  docs/book/en/src/write_wasm.md
  docs/book/en/src/write_wasm/as.md
  docs/book/en/src/write_wasm/c.md
  docs/book/en/src/write_wasm/c/simd.md
  docs/book/en/src/write_wasm/go.md
  docs/book/en/src/write_wasm/grain.md
  docs/book/en/src/write_wasm/javascript.png
  docs/book/en/src/write_wasm/js.md
  docs/book/en/src/write_wasm/js/es6.md
  docs/book/en/src/write_wasm/js/modules.md
  docs/book/en/src/write_wasm/js/networking.md
  docs/book/en/src/write_wasm/js/nodejs.md
  docs/book/en/src/write_wasm/js/npm.md
  docs/book/en/src/write_wasm/js/quickstart.md
  docs/book/en/src/write_wasm/js/rust.md
  docs/book/en/src/write_wasm/js/ssr.md
  docs/book/en/src/write_wasm/js/tensorflow.md
  docs/book/en/src/write_wasm/kotlin.md
  docs/book/en/src/write_wasm/python.md
  docs/book/en/src/write_wasm/rust.md
  docs/book/en/src/write_wasm/rust/bindgen.md
  docs/book/en/src/write_wasm/rust/command.md
  docs/book/en/src/write_wasm/rust/networking-https.md
  docs/book/en/src/write_wasm/rust/networking-nonblocking.md
  docs/book/en/src/write_wasm/rust/networking.md
  docs/book/en/src/write_wasm/rust/ssr.md
  docs/book/en/src/write_wasm/rust/tensorflow.md
  docs/book/en/src/write_wasm/rust/wasi.md
  docs/book/en/src/write_wasm/rust/wasicrypto.md
  docs/book/en/src/write_wasm/rust/wasinn.md
  docs/book/en/src/write_wasm/swift.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Introduction
  docs/book/en/src/index.md
  docs/book/en/src/intro.md
Owners: @hydai

[Docs] Refactor WasmEdge book: Use CLI
  docs/book/en/src/cli.md
  docs/book/en/src/cli/wasmedge.md
  docs/book/en/src/cli/wasmedgec.md
Owners: @hydai

[Docs] Update the WASI-NN docs.
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[Docs] Remove the old deprecated docs.
  docs/CONTRIBUTING.md
  docs/SECURITY-Hindi-translation.md
  docs/build-zh-TW.md
  docs/build-zh.md
  docs/build.md
  docs/build_on_mac.md
  docs/build_on_windows.md
  docs/c_api.md
  docs/c_api_quick_start-zh-TW.md
  docs/c_api_quick_start-zh.md
  docs/c_api_quick_start.md
  docs/extensions.md
  docs/externref.md
  docs/go_api.md
  docs/highlights.md
  docs/host_function.md
  docs/install.md
  docs/integrations.md
  docs/run.md
  docs/run_javascript.md
  docs/showcase.md
  docs/simd-Hindi-translation.md
  docs/simd.md
  docs/use_cases-zh-TW.md
  docs/use_cases-zh.md
  docs/use_cases.md
Owners: @hydai

[Docs] Add the redirection in book pages.
  docs/book/en/book.toml
Owners: @hydai

[Docs] Refactor WasmEdge book: Develop Plugin
  docs/book/en/src/extend/plugin.md
  docs/book/en/src/extend/plugin/loadable.md
  docs/book/en/src/plugin.md
Owners: @hydai

[Docs] Update the README and SUMMARY of book.
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/ROADMAP.md
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Docs] Fix the book redirection.
  docs/book/en/book.toml
Owners: @hydai

[Docs] Fix the book redirection.
  docs/book/en/book.toml
Owners: @hydai

[CI] Upload the ubuntu artifect.
  .github/workflows/build.yml
Owners: @hydai

[WASI] Refine the WASI-NN pytorch scripts
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/download-openvino-fixtures.sh
  utils/wasi-nn/download-pytorch-fixtures.sh
  utils/wasi-nn/install-openvino.sh
  utils/wasi-nn/install-pytorch.sh
Owners: @hydai, @q82419, @ibmibmibm

[WASI] Support PyTorch Backend of WASI-NN proposal (#1654)
  .github/workflows/build-extensions.yml
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-pytorch-fixtures.sh
  utils/wasi-nn/install-pytorch.sh
Owners: @hydai, @q82419, @ibmibmibm

[Misc] add print support for uint128
  include/common/int128.h
  lib/common/CMakeLists.txt
  lib/common/int128.cpp
  lib/driver/runtimeTool.cpp
  test/CMakeLists.txt
  test/common/CMakeLists.txt
  test/common/int128Test.cpp
Owners: @q82419

[Plugin] Add plugin in c interface
  include/CMakeLists.txt
  include/api/wasmedge/version.h.in
  include/api/wasmedge/wasmedge.h
  include/common/version.h.in
  include/plugin/plugin.h
  include/po/option.h
  include/po/parser.h
  lib/plugin/CMakeLists.txt
  lib/plugin/plugin.cpp
  plugins/CMakeLists.txt
  plugins/test/CMakeLists.txt
  plugins/test/test.c
  plugins/wasi_crypto/ctx.cpp
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasmedge_httpsreq/httpsreqenv.cpp
  plugins/wasmedge_process/processenv.cpp
Owners: @q82419, @hydai

[Changelog] Update the changelog for the 0.11.1-alpha.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

Port the "parse_json" example to the newer API
  examples/capi/host_functions/parse_json/Makefile
  examples/capi/host_functions/parse_json/README.md
  examples/capi/host_functions/parse_json/host_function.c
Owners: @hydai

[Rust] Add some lost functions for integration with rust containerd-shim-wasm (#1858)
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Example] Port the "parse_json" example to the newer API (#1860)
  examples/capi/host_functions/parse_json/Makefile
  examples/capi/host_functions/parse_json/README.md
  examples/capi/host_functions/parse_json/host_function.c
Owners: @hydai

[Plugin] Add plugin in c interface
  include/CMakeLists.txt
  include/api/wasmedge/version.h.in
  include/api/wasmedge/wasmedge.h
  include/common/version.h.in
  include/plugin/plugin.h
  include/po/option.h
  include/po/parser.h
  lib/plugin/CMakeLists.txt
  lib/plugin/plugin.cpp
  plugins/CMakeLists.txt
  plugins/test/CMakeLists.txt
  plugins/test/test.c
  plugins/wasi_crypto/ctx.cpp
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasmedge_httpsreq/httpsreqenv.cpp
  plugins/wasmedge_process/processenv.cpp
Owners: @q82419, @hydai

[Changelog] Update the changelog for the 0.11.1-alpha.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[CI] Fix the wasi-nn release CI.
  .github/workflows/release.yml
Owners: @hydai

[CI] Fix the wasi-nn release CI.
  .github/workflows/release.yml
Owners: @hydai

[Rust SDK][feat](vm, module): Implemented Clone trait.
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust][feat](vm, ast_module, config, module): Implemented Clone trait.
  bindings/rust/wasmedge-sys/src/ast_module.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/frame.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/validator.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][fix](vm, module): Fixed clippy issues.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][refactor](lib, function): Redesigned HOST_FUNCS.
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](examples): Added a new example.
  bindings/rust/wasmedge-sdk/examples/create_host_func_in_host_func.rs
Owners: @hydai, @yanganto

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
