Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Rust][fix](utils): Fixed a bug.
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Removed the redundant steps.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][fix](bindings-rust): Fixed an issue
  .github/workflows/bindings-rust.yml
Owners: @hydai

[rust-types][feat](lib): Implemented From trait.
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[rust-types][feat](lib): Implemented From trait.
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Rust][refactor](vm): Refactored test code.
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][fix](vm): Fixed clippy issues.
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][fix](vm): Fixed clippy issue.
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI] Fixed the issues in bindings-rust workflow for the Windows platform (#1676)
  .github/workflows/bindings-rust.yml
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/types.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-types/src/error.rs
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[CI] The cmake folder should be included in these workflows
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/static-code-analysis.yml
Owners: @hydai

[Common] workaround fmt ostream deprecated problem via setting FMT_DEPRECATED_OSTREAM, fix it later
  cmake/Helper.cmake
Owners: @ibmibmibm

[WASI] Implement the asymmetric common context in wasi-crypto.
  include/host/wasi_crypto/asymmetric_common/ecdsa.h
  include/host/wasi_crypto/asymmetric_common/func.h
  include/host/wasi_crypto/asymmetric_common/keypair.h
  include/host/wasi_crypto/asymmetric_common/publickey.h
  include/host/wasi_crypto/asymmetric_common/registed.h
  include/host/wasi_crypto/asymmetric_common/secretkey.h
  lib/host/wasi_crypto/asymmetric_common/ctx.cpp
  lib/host/wasi_crypto/asymmetric_common/func.cpp
  lib/host/wasi_crypto/asymmetric_common/keypair.cpp
  lib/host/wasi_crypto/asymmetric_common/publickey.cpp
  lib/host/wasi_crypto/asymmetric_common/secretkey.cpp
Owners: @q82419

[Test] Add the wasi-crypto tests.
  test/CMakeLists.txt
  test/api/APIUnitTest.cpp
  test/host/wasi_crypto/CMakeLists.txt
  test/host/wasi_crypto/aeads.cpp
  test/host/wasi_crypto/asymmetric.cpp
  test/host/wasi_crypto/common.cpp
  test/host/wasi_crypto/hash.cpp
  test/host/wasi_crypto/helper.cpp
  test/host/wasi_crypto/helper.h
  test/host/wasi_crypto/kdf.cpp
  test/host/wasi_crypto/kx.cpp
  test/host/wasi_crypto/mac.cpp
  test/host/wasi_crypto/notimplement.cpp
  test/host/wasi_crypto/signatures.cpp
Owners: @q82419

[Docs] Add the wasi-crypto documentation.
  docs/book/en/src/dev/rust/crypto.md
Owners: @hydai

[WASI] Implement the symmetric context in wasi-crypto.
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/func.h
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/key.h
  include/host/wasi_crypto/symmetric/mac.h
  include/host/wasi_crypto/symmetric/options.h
  include/host/wasi_crypto/symmetric/registed.h
  include/host/wasi_crypto/symmetric/state.h
  include/host/wasi_crypto/symmetric/tag.h
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/ctx.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
  lib/host/wasi_crypto/symmetric/hash.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
  lib/host/wasi_crypto/symmetric/key.cpp
  lib/host/wasi_crypto/symmetric/mac.cpp
  lib/host/wasi_crypto/symmetric/options.cpp
  lib/host/wasi_crypto/symmetric/state.cpp
  lib/host/wasi_crypto/symmetric/tag.cpp
Owners: @q82419

[WASI] Implement the signature context of wasi-crypto.
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/func.h
  include/host/wasi_crypto/signatures/options.h
  include/host/wasi_crypto/signatures/registed.h
  include/host/wasi_crypto/signatures/rsa.h
  include/host/wasi_crypto/signatures/signatures.h
  include/host/wasi_crypto/signatures/signstate.h
  include/host/wasi_crypto/signatures/verificationstate.h
  lib/host/wasi_crypto/signatures/ctx.cpp
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/func.cpp
  lib/host/wasi_crypto/signatures/options.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
  lib/host/wasi_crypto/signatures/signatures.cpp
  lib/host/wasi_crypto/signatures/signstate.cpp
  lib/host/wasi_crypto/signatures/verificationstate.cpp
Owners: @q82419

[WASI] Implement the key exchange context of wasi-crypto.
  include/host/wasi_crypto/kx/dh/ecdsa.h
  include/host/wasi_crypto/kx/dh/x25519.h
  include/host/wasi_crypto/kx/func.h
  include/host/wasi_crypto/kx/kx.h
  include/host/wasi_crypto/kx/options.h
  include/host/wasi_crypto/kx/registed.h
  lib/host/wasi_crypto/kx/ctx.cpp
  lib/host/wasi_crypto/kx/dh/ecdsa.cpp
  lib/host/wasi_crypto/kx/dh/x25519.cpp
  lib/host/wasi_crypto/kx/func.cpp
  lib/host/wasi_crypto/kx/kx.cpp
  lib/host/wasi_crypto/kx/options.cpp
Owners: @q82419

[WASI] Implement the common context in wasi-crypto.
  include/host/wasi_crypto/common/array_output.h
  include/host/wasi_crypto/common/func.h
  include/host/wasi_crypto/common/options.h
  lib/host/wasi_crypto/common/array_output.cpp
  lib/host/wasi_crypto/common/ctx.cpp
  lib/host/wasi_crypto/common/func.cpp
  lib/host/wasi_crypto/common/options.cpp
Owners: @q82419

[WASI] wasi-crypto host functions and definitions.
  CMakeLists.txt
  docs/witx/crypto/proposal_asymmetric_common.witx
  docs/witx/crypto/proposal_common.witx
  docs/witx/crypto/proposal_external_secrets.witx
  docs/witx/crypto/proposal_kx.witx
  docs/witx/crypto/proposal_signatures.witx
  docs/witx/crypto/proposal_symmetric.witx
  include/api/wasmedge/wasmedge.h
  include/common/enum.inc
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/module.h
  include/host/wasi_crypto/utils/error.h
  include/host/wasi_crypto/utils/evp_wrapper.h
  include/host/wasi_crypto/utils/handles_manager.h
  include/host/wasi_crypto/utils/hostfunction.h
  include/host/wasi_crypto/utils/optional.h
  include/host/wasi_crypto/utils/secret_vec.h
  lib/api/CMakeLists.txt
  lib/api/wasmedge.cpp
  lib/driver/tool.cpp
  lib/host/CMakeLists.txt
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/module.cpp
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
  lib/host/wasi_crypto/utils/hostfunction.cpp
  lib/vm/CMakeLists.txt
  lib/vm/vm.cpp
  thirdparty/wasi_crypto/api.hpp
  utils/docker/build-manylinux.sh
  utils/wasi-cpp-header/crypto-custom.patch
  utils/wasi-cpp-header/crypto_generate.sh
  utils/wasi-cpp-header/src/cpp_header.rs
Owners: @hydai, @q82419, @ibmibmibm

[Common] Rename the enum `Wasi_Crypto` to `WasiCrypto`.
  include/common/enum.inc
  lib/vm/vm.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419
