Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[OpenWrt] Build WasmEdge for OpenWrt.
  utils/openwrt/README-zh.md
  utils/openwrt/build_for_openwrt.sh
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Fix the README-zh.md.
  utils/openwrt/README-zh.md
Owners: @hydai, @ibmibmibm, @q82419

[CI] Upload from artifect for manylinux2014 to prevent from ECONNRESET error.
  .github/workflows/release.yml
Owners: @hydai

[CI] Upload from artifect for manylinux2014 to prevent from ECONNRESET error.
  .github/workflows/release.yml
Owners: @hydai

[Test] Move the WASI-NN tests to depend on plugin.
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnmodule.h
  test/host/wasi_nn/CMakeLists.txt
  test/host/wasi_nn/wasi_nn.cpp
Owners: @hydai, @q82419

[Plugin] Not to build and test wasmedge_process on unsupported platforms.
  plugins/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
  test/CMakeLists.txt
Owners: @hydai, @q82419

[Test] Move the wasmedge_process tests to depend on plugin.
  plugins/wasmedge_process/CMakeLists.txt
  test/host/wasmedge_process/CMakeLists.txt
  test/host/wasmedge_process/wasmedge_process.cpp
Owners: @hydai, @q82419

[Docs] Fix outdated contributing page (#1618)
  docs/CONTRIBUTING.md
  utils/docker/Dockerfile.ubuntu2004_x86_64
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Translate frameworks/app/reactr.md to zh
  docs/book/zh/src/frameworks/app/reactr.md
Owners: @hydai

[Test] Move the WASI-NN tests to depend on plugin.
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnmodule.h
  test/host/wasi_nn/CMakeLists.txt
  test/host/wasi_nn/wasi_nn.cpp
Owners: @hydai, @q82419

[Plugin] Not to build and test wasmedge_process on unsupported platforms.
  plugins/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
  test/CMakeLists.txt
Owners: @hydai, @q82419

[Test] Move the wasmedge_process tests to depend on plugin.
  plugins/wasmedge_process/CMakeLists.txt
  test/host/wasmedge_process/CMakeLists.txt
  test/host/wasmedge_process/wasmedge_process.cpp
Owners: @hydai, @q82419

[Docs] Fix some mistaks.
  utils/openwrt/README-zh.md
  utils/openwrt/build_for_openwrt.sh
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Add README-en.md.
  utils/openwrt/README-en.md
  utils/openwrt/README-zh.md
Owners: @hydai, @ibmibmibm, @q82419

move contribute to Book
  docs/CONTRIBUTING.md
  docs/book/en/src/SUMMARY.md
Owners: @hydai

move contribute to Book
  docs/book/en/src/extend/contribute.md
Owners: @hydai

[Test] Fix the API unit test error of wasmedge_process on non-Linux platforms.
  test/api/APIUnitTest.cpp
  test/api/CMakeLists.txt
Owners: @q82419

[Test] Fix the API unit test error of wasmedge_process on non-Linux platforms.
  test/api/APIUnitTest.cpp
  test/api/CMakeLists.txt
Owners: @q82419

Update SUMMARY.md
  docs/book/en/src/SUMMARY.md
Owners: @hydai

Update nodejs.md
  docs/book/en/src/dev/js/nodejs.md
Owners: @hydai

Update js.md
  docs/book/en/src/dev/js.md
Owners: @hydai

[Docs] Translate frameworks/app/reactr.md to zh
  docs/book/zh/src/frameworks/app/reactr.md
Owners: @hydai

[Docker] Release DockerSlim images
  .github/workflows/IWYU_scan.yml
  .github/workflows/build.yml
  .github/workflows/release-published.yml
  .github/workflows/release.yml
  utils/docker/Dockerfile.release
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Fix the CSS for extend the book page content width on widened monitors.
  .github/workflows/mdbook.yml
  docs/book/en/theme/css/general.css
  docs/book/en/theme/css/variables.css
  docs/book/zh-TW/theme/css/general.css
  docs/book/zh-TW/theme/css/variables.css
  docs/book/zh/theme/css/general.css
  docs/book/zh/theme/css/variables.css
Owners: @hydai

[Runtime] Fix the name of template.
  include/runtime/instance/module.h
Owners: @q82419

[Docker] Release DockerSlim images
  .github/workflows/IWYU_scan.yml
  .github/workflows/build.yml
  .github/workflows/release-published.yml
  .github/workflows/release.yml
  utils/docker/Dockerfile.release
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Fix the CSS for extend the book page content width on widened monitors.
  .github/workflows/mdbook.yml
  docs/book/en/theme/css/general.css
  docs/book/en/theme/css/variables.css
  docs/book/zh-TW/theme/css/general.css
  docs/book/zh-TW/theme/css/variables.css
  docs/book/zh/theme/css/general.css
  docs/book/zh/theme/css/variables.css
Owners: @hydai

[Runtime] Fix the name of template.
  include/runtime/instance/module.h
Owners: @q82419

Test: [CI] Ubuntu artifect
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  utils/docker/build-manylinux.sh
Owners: @hydai, @ibmibmibm, @q82419

Initial model for the component model, adding the necessary indexes
  include/ast/component/compmodel.h
  include/ast/component/indices.h
Owners: @q82419

Fix uninitialized variable warning
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[AOT] Fix uninitialized variable warning (#1642)
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Docs] Move contribute page to Book (#1629)
  docs/CONTRIBUTING.md
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/extend/contribute.md
Owners: @hydai

[Misc] Add the `PLUGIN` prefix for wasi-nn options and update the WASI-NN docs.
  CMakeLists.txt
  docs/book/en/src/dev/rust/wasinn.md
  plugins/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/CMakeLists.txt
  test/host/wasi_nn/CMakeLists.txt
  test/host/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[Test] Move the plugin tests into the `plugins` folder.
  test/CMakeLists.txt
  test/plugins/CMakeLists.txt
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  test/plugins/wasmedge_process/CMakeLists.txt
  test/plugins/wasmedge_process/wasmedge_process.cpp
Owners: @q82419

[Test] Fix the `-Wdeclaration-after-statement` on Windows.
  cmake/Helper.cmake
  test/api/hostfunc_c.c
Owners: @ibmibmibm, @q82419

[API] Export the loader, validater, and executor components in VM context.
  include/api/wasmedge/wasmedge.h
  include/vm/vm.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

[Test] Fix the `-Wdeclaration-after-statement` on Windows.
  cmake/Helper.cmake
  test/api/hostfunc_c.c
Owners: @ibmibmibm, @q82419

[API] Export the loader, validater, and executor components in VM context.
  include/api/wasmedge/wasmedge.h
  include/vm/vm.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

[Rust SDK][feat](function, import): Introduced new APIs for storing single-thread host functions.
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/import.rs
Owners: @hydai, @yanganto

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
