Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Proposal] correct the flatten section loading
  include/ast/component/start_section.h
  include/ast/component_section.h
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  lib/loader/loader.cpp
Owners: @q82419

[Misc] remove all file path in header
  include/ast/component.h
  include/ast/component/alias_section.h
  include/ast/component/canon_section.h
  include/ast/component/corealias_section.h
  include/ast/component/coreinstance_section.h
  include/ast/component/coretype_section.h
  include/ast/component/export_section.h
  include/ast/component/import_section.h
  include/ast/component/instance_section.h
  include/ast/component/module_decl.h
  include/ast/component/sort.h
  include/ast/component/start_section.h
  include/ast/component/type_section.h
  include/ast/component/value_type.h
  include/ast/component_section.h
Owners: @q82419

[Misc] header format
  include/ast/component/start_section.h
Owners: @q82419

README-zh-TW: get rid of Simplified Chinese
  README-zh-TW.md
Owners: @hydai

[Docs] README-zh-TW: get rid of Simplified Chinese (#1778)
  README-zh-TW.md
Owners: @hydai

[Plugins] Refine the host function headers.
  include/runtime/hostfunc.h
  plugins/httpsreq/httpsreqbase.h
  plugins/httpsreq/httpsreqenv.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/httpsreq/httpsreqmodule.h
  plugins/wasi_nn/wasinnbase.h
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasmedge_process/processbase.h
  plugins/wasmedge_process/processenv.cpp
  plugins/wasmedge_process/processenv.h
  plugins/wasmedge_process/processfunc.cpp
  plugins/wasmedge_process/processfunc.h
  plugins/wasmedge_process/processmodule.h
Owners: @q82419, @hydai

[Utils] Remove manylinux1 dockerfile and related patches about glibc and gcc
  utils/docker/Dockerfile.manylinux1_x86_64
  utils/docker/cmake-glibc-2.5.patch
  utils/docker/gcc-4.8.2-gcc-11.patch
  utils/docker/llvm-glibc-2.5.patch
Owners: @hydai, @ibmibmibm, @q82419

[CI] Dropped manylinux1 and manylinux2010 docker images support
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[Docs] Remove manylinux1 and manylinux2010 information from the book
  docs/book/en/src/extend/build.md
  docs/book/en/src/os/linux.md
  docs/book/zh-TW/src/extend/build.md
  docs/book/zh/src/extend/build.md
  docs/book/zh/src/os/linux.md
Owners: @hydai

[Utils] Remove manylinux2010 dockerfile
  utils/docker/Dockerfile.manylinux2010_x86_64
Owners: @hydai, @ibmibmibm, @q82419

[Changelog] Update 0.11.0 changelog for dropping the support of manylinux1 and manylinux2010
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[CI] The artifact from manylinux should be always uploaded
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[Changelog] Update 0.11.0 changelog for dropping the support of manylinux1 and manylinux2010
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[CI] Dropped manylinux1 and manylinux2010 docker images support
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[Utils] Remove manylinux2010 dockerfile
  utils/docker/Dockerfile.manylinux2010_x86_64
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Remove manylinux1 dockerfile and related patches about glibc and gcc
  utils/docker/Dockerfile.manylinux1_x86_64
  utils/docker/cmake-glibc-2.5.patch
  utils/docker/gcc-4.8.2-gcc-11.patch
  utils/docker/llvm-glibc-2.5.patch
Owners: @hydai, @ibmibmibm, @q82419

[CI] The artifact from manylinux should be always uploaded
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[Docs] Remove manylinux1 and manylinux2010 information from the book
  docs/book/en/src/extend/build.md
  docs/book/en/src/os/linux.md
  docs/book/zh-TW/src/extend/build.md
  docs/book/zh/src/extend/build.md
  docs/book/zh/src/os/linux.md
Owners: @hydai

[CMake] Add warning of statically link the tools.
  .github/workflows/reusable-build-on-macos.yml
  CMakeLists.txt
  docs/book/en/src/extend/build.md
Owners: @hydai

[AOT] Fix the lld warning of sdk_version on LLVM 14.
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Plugins] Refine the host function headers.
  include/runtime/hostfunc.h
  plugins/httpsreq/httpsreqbase.h
  plugins/httpsreq/httpsreqenv.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/httpsreq/httpsreqmodule.h
  plugins/wasi_nn/wasinnbase.h
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasmedge_process/processbase.h
  plugins/wasmedge_process/processenv.cpp
  plugins/wasmedge_process/processenv.h
  plugins/wasmedge_process/processfunc.cpp
  plugins/wasmedge_process/processfunc.h
  plugins/wasmedge_process/processmodule.h
Owners: @q82419, @hydai

[Misc] load component from path
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  lib/loader/loader.cpp
Owners: @q82419

[CMake] Add warning of statically link the tools.
  .github/workflows/reusable-build-on-macos.yml
  CMakeLists.txt
  docs/book/en/src/extend/build.md
Owners: @hydai

[AOT] Fix the lld warning of sdk_version on LLVM 14.
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Test] Move the AOT load from buffer test to the API unit test.
  test/api/APIAOTCoreTest.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

[Test] Move the AOT load from buffer test to the API unit test.
  test/api/APIAOTCoreTest.cpp
  test/api/APIUnitTest.cpp
Owners: @q82419

Translate /docs/book/en/src/os.md into zh-TW Signed-off-by:Cheng-En Lee <chengenl@usc.edu>
  docs/book/zh-TW/src/os.md
Owners: @hydai

Translate /docs/book/en/src/os.md into zh-TW
  docs/book/zh-TW/src/os.md
Owners: @hydai

change for linting
  docs/book/zh-TW/src/os.md
Owners: @hydai

translate /src/os.md
  docs/book/zh-TW/src/os.md
Owners: @hydai

[Verify] type definition
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
  test/loader/CMakeLists.txt
  test/loader/component/CMakeLists.txt
  test/loader/component/testData/type-definition.wasm
  test/loader/component/testData/type-definition.wat
  test/loader/component/type_definition.cpp
Owners: @q82419

[Docs] translate /src/os.md (#1794)
  docs/book/zh-TW/src/os.md
Owners: @hydai

[CAPI] Add SONAME and SOVERSION for C API
  CMakeLists.txt
  lib/api/CMakeLists.txt
Owners: @hydai, @q82419

[Docs] Add SONAME and SOVERSION information for C API
  docs/book/en/src/embed/c/ref.md
Owners: @hydai

[Docs] Use libwasmedge.so instead of libwasmedge_c.so
  docs/book/en/src/embed/c.md
  docs/book/en/src/embed/c/ref.md
  docs/book/en/src/embed/rust.md
  docs/book/en/src/extend/build.md
  docs/book/en/src/extend/build_on_mac.md
  docs/book/en/src/extend/build_on_windows.md
  docs/book/en/src/extend/plugin/externref.md
  docs/book/en/src/kubernetes/kubernetes/kind.md
  docs/book/zh-TW/src/embed/c.md
  docs/book/zh-TW/src/extend/build.md
  docs/book/zh/src/embed/c.md
  docs/book/zh/src/embed/rust.md
  docs/book/zh/src/extend/build.md
  docs/book/zh/src/extend/build_on_mac.md
  docs/book/zh/src/extend/build_on_windows.md
  docs/book/zh/src/extend/plugin/externref.md
  docs/book/zh/src/kubernetes/kubernetes/kind.md
Owners: @hydai

[Examples] update the android application with new SONAME
  docs/book/en/src/os/android/ndk.md
  docs/book/zh/src/os/android/ndk.md
  utils/android/app/lib/src/main/cpp/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Misc] Use wasmedge_shared instead of wasmedge_c_shared
  examples/embed_cxx/CMakeLists.txt
  lib/api/CMakeLists.txt
  plugins/httpsreq/CMakeLists.txt
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
  test/api/CMakeLists.txt
  test/externref/CMakeLists.txt
  tools/wasmedge/CMakeLists.txt
Owners: @hydai, @q82419, @ibmibmibm

[OpenWrt] Update openwrt build with new SONAME and SOVERSION
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @q82419

[Changelog] Update the SONAME and SOVERSION information
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Docs] Update android document for the 0.11.0 release
  docs/book/en/src/os/android/cli.md
  docs/book/en/src/os/android/ndk.md
  docs/book/zh/src/os/android/cli.md
  docs/book/zh/src/os/android/ndk.md
Owners: @hydai
