Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[CI][refactor](rust): Refactored release workflows.
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

[Rust SDK][refactor]: Refactored code to support host func error.
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/examples/table.rs
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[rust-types][version] Bumped to 0.2.1.
  bindings/rust/wasmedge-types/Cargo.toml
Owners: @hydai, @yanganto

[Rust][refactor](lib): Refactored BoxedFnSingle.
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](wasi): Implemented a new API in WasiInstance.
  bindings/rust/wasmedge-sdk/src/wasi.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](examples): Refactored code.
  bindings/rust/wasmedge-sdk/examples/memory.rs
Owners: @hydai, @yanganto

[Rust][version] Bumped to 0.9.0.
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

[Rust][refactor](module): Refactored doc comments.
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

[CI][refactor](rust): Refactored workflows.
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

[Rust][fix](vm): Fixed clippy issue.
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][refactor]: Refactored code to support semantic host func error.
  bindings/rust/wasmedge-sys/examples/call_hostfunc_chain.rs
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[Rust][doc]: Updated the doc comments.
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][doc]: Updated doc comments.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](io): Refactored code.
  bindings/rust/wasmedge-sdk/src/io.rs
Owners: @hydai, @yanganto

[Rust SDK][version] Bumped to 0.4.0.
  bindings/rust/wasmedge-sdk/Cargo.toml
Owners: @hydai, @yanganto

[Rust SDK][feat](function, import): Implemented new APIs.
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/import.rs
Owners: @hydai, @yanganto

[Rust][refactor](utils): Refactored code.
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Rust][feat](module): Implemented a new API in WasiModule.
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

[Rust][fix](examples): Fixed clippy issues.
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
Owners: @hydai, @yanganto

[Rust][refactor](frame): Refactored doc comments.
  bindings/rust/wasmedge-sys/src/frame.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](compiler): Implemented a new API.
  bindings/rust/wasmedge-sdk/src/compiler.rs
Owners: @hydai, @yanganto

[Doc][refactor](rust): Refactored rust doc.
  docs/book/en/src/embed/rust.md
  docs/book/en/src/embed/rust/concurrent_fib.md
  docs/book/en/src/embed/rust/how_to_use_module_instance.md
  docs/book/en/src/embed/rust/memory_manipulation.md
  docs/book/en/src/embed/rust/say_hello.md
  docs/book/en/src/embed/rust/sys_run_host_func.md
  docs/book/en/src/embed/rust/table_and_funcref.md
Owners: @hydai

[Rust][fix](function): Fixed clippy issues.
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

[Rust][feat](frame): Implemented CallingFrame.
  bindings/rust/wasmedge-sys/src/frame.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[rust-types][feat](error): Defined a new variant in InstanceError.
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto

[Rust][refactor](build script): Supported the changes in PR1783.
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/build.rs
Owners: @hydai, @yanganto

[Rust][fix](example, vm): Fixed clippy issues.
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][feat]: Implemented CallingFrame.
  bindings/rust/wasmedge-sys/examples/call_hostfunc_chain.rs
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[Rust][refactor](sys, sdk): Refactored code.
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/examples/table.rs
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/examples/call_hostfunc_chain.rs
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[Rust][refactor](compiler): Supported the changes in PR1801.
  bindings/rust/wasmedge-sys/src/compiler.rs
Owners: @hydai, @yanganto

[Misc] refine the httpsreq (#1768) (#1788)
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
  plugins/wasmedge_httpsreq/httpsreqfunc.h
Owners: @hydai

[Misc] modify the head File
  plugins/wasmedge_httpsreq/CMakeLists.txt
  plugins/wasmedge_httpsreq/httpsreqbase.h
  plugins/wasmedge_httpsreq/httpsreqenv.h
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
  plugins/wasmedge_httpsreq/httpsreqfunc.h
Owners: @hydai

[CI] Link system libc++ instead of brew llvm on MacOS.
  .github/workflows/build-extensions.yml
  .github/workflows/reusable-build-on-macos.yml
  cmake/Helper.cmake
Owners: @hydai, @ibmibmibm

[Rust][refactor](frame): Changed the visibility of the create method.
  bindings/rust/wasmedge-sys/src/frame.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](memory): Implemented new APIs.
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
Owners: @hydai, @yanganto

Update lxc.md
  docs/book/en/src/kubernetes/docker/lxc.md
Owners: @hydai

Fix lint issues
  docs/book/en/src/kubernetes/docker/lxc.md
Owners: @hydai

[Verify] component type definitions
  include/ast/component/alias_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
  test/loader/component/testData/type-definition.wasm
  test/loader/component/testData/type-definition.wat
Owners: @q82419

[Verify] component import/export definitions
  include/common/enum.inc
  lib/loader/ast/component_section.cpp
  test/loader/component/CMakeLists.txt
  test/loader/component/import_export_definition.cpp
  test/loader/component/testData/import-export-definition.wasm
  test/loader/component/testData/import-export-definition.wat
Owners: @q82419

[Test] rename the httpsreq module name in tests
  test/plugins/wasmedge_httpsreq/httpsreq.cpp
Owners: @q82419

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
