Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

fix: move some checkout outside
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

fix: remove model owner in context
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

[CMake] Add option to statically link LLVM on MacOS and Ubuntu.
  CMakeLists.txt
  cmake/Helper.cmake
  lib/CMakeLists.txt
  lib/aot/CMakeLists.txt
  lib/api/CMakeLists.txt
  tools/wasmedge/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[CI] Statically link LLVM and lld on MacOS.
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @hydai

[Docs] Update the build options doc.
  docs/book/en/src/extend/build.md
  docs/book/en/src/extend/build_on_windows.md
  docs/book/zh/src/extend/build_on_windows.md
Owners: @hydai

[Docs] Update the build options doc.
  docs/book/en/src/extend/build.md
  docs/book/en/src/extend/build_on_windows.md
  docs/book/zh/src/extend/build_on_windows.md
Owners: @hydai

[CI] Statically link LLVM and lld on MacOS.
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @hydai

[CMake] Add option to statically link LLVM on MacOS and Ubuntu.
  CMakeLists.txt
  cmake/Helper.cmake
  lib/CMakeLists.txt
  lib/aot/CMakeLists.txt
  lib/api/CMakeLists.txt
  tools/wasmedge/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[CI] Make create-source-tarball a reusable workflow
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-create-source-tarball.yml
Owners: @hydai

[CI] Make build-on-macos a reusable workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai

[CI] Make build-on-manylinux a reusable workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[CI] Make build-on-android a reusable workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-android.yml
Owners: @hydai

[CI] Run prettier on build.yml and release.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @hydai

[CI] Make reusable workflows for Fedora
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-srpm.yml
Owners: @hydai

[CI][README] Add matrix values for macOS and manylinux
  .github/workflows/README.md
  .github/workflows/build.yml
Owners: @hydai

[CI] Make build-on-windows a reusable workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-windows.yml
Owners: @hydai

[CI] Make build-on-windows a reusable workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-windows.yml
Owners: @hydai

[CI] Make build-on-manylinux a reusable workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-manylinux.yml
Owners: @hydai

[CI] Make reusable workflows for Fedora
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-srpm.yml
Owners: @hydai

[CI] Make build-on-macos a reusable workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai

[CI] Run prettier on build.yml and release.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Owners: @hydai

[CI] Make create-source-tarball a reusable workflow
  .github/workflows/README.md
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-create-source-tarball.yml
Owners: @hydai

[CI][README] Add matrix values for macOS and manylinux
  .github/workflows/README.md
  .github/workflows/build.yml
Owners: @hydai

[CI] Make build-on-android a reusable workflow
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-android.yml
Owners: @hydai

[Loader] Apply multi-memory proposal in threads proposal instructions.
  lib/loader/ast/instruction.cpp
Owners: @q82419

[Loader] Fix for the binary format change in multi-memory proposal.
  lib/loader/ast/instruction.cpp
  test/spec/CMakeLists.txt
Owners: @q82419

[Loader] Fix for the binary format change in multi-memory proposal.
  lib/loader/ast/instruction.cpp
  test/spec/CMakeLists.txt
Owners: @q82419

[Loader] Apply multi-memory proposal in threads proposal instructions.
  lib/loader/ast/instruction.cpp
Owners: @q82419

[AST] complete component's preamble part
  include/ast/component.h
  lib/loader/ast/component.cpp
Owners: @q82419

[Proposal] introduce componen-model to Proposal enum and NodeAST
  include/common/configure.h
  include/common/enum.inc
Owners: @q82419

[AST] init the Component ast and loading code
  include/ast/component.h
  include/loader/loader.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
Owners: @q82419

[Executor] Handle the AOT terminated case.
  lib/executor/engine/engine.cpp
  lib/vm/vm.cpp
Owners: @q82419

[Plugin] Remove weak symobol definition
  CMakeLists.txt
  include/common/defines.h
  include/plugin/plugin.h
  include/system/allocator.h
  lib/api/CMakeLists.txt
  plugins/httpsreq/CMakeLists.txt
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
Owners: @hydai, @q82419, @ibmibmibm

[AOT] Hide all lld symbols
  lib/aot/CMakeLists.txt
Owners: @ibmibmibm

[AOT] Hide all lld symbols
  lib/aot/CMakeLists.txt
Owners: @ibmibmibm

[Plugin] Remove weak symobol definition
  CMakeLists.txt
  include/common/defines.h
  include/plugin/plugin.h
  include/system/allocator.h
  lib/api/CMakeLists.txt
  plugins/httpsreq/CMakeLists.txt
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
Owners: @hydai, @q82419, @ibmibmibm

[Proposal] load sections
  include/ast/component.h
  include/ast/component/import_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core:alias section
  include/ast/component.h
  include/ast/component/corealias_section.h
  include/ast/component/export_section.h
  include/ast/component/sort.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core:instance section
  include/ast/component.h
  include/ast/component/coreinstance_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load export section
  include/ast/component.h
  include/ast/component/export_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419
