Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @dannypsnl, @ibmibmibm, @q82419, @dm4, @SAtacker

[CI] mdbook 0.4.26 bumps toml version which is not compatible with mdbook-variables
  .github/workflows/mdbook.yml
Owners: @hydai

[CI] downgrade mdbook version for the incompatible breaking changes
  .github/workflows/mdbook.yml
Owners: @hydai

[Windows] Fix building tests on Windows
  test/CMakeLists.txt
  test/spec/spectest.cpp
Owners: @q82419

modify: fromAIFlags test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add: toTimeval unit test case and small fix timespec unit test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

modify: toAIFlags unit test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add: unit test case
  test/host/wasi/CMakeLists.txt
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

use i2d_PKCS8PrivateKey_bio
  plugins/wasi_crypto/asymmetric_common/ecdsa.h
Owners: @ibmibmibm

fix test
  test/plugins/wasi_crypto/asymmetric.cpp
Owners: @q82419

fix: test
  test/plugins/wasi_crypto/asymmetric.cpp
Owners: @q82419

fix typo: sockGetLoaclAddr => sockGetLocalAddr
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
Owners: @ibmibmibm

[Misc] fix typo: sockGetLoaclAddr => sockGetLocalAddr (#2281)
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
Owners: @ibmibmibm

[Windows] Fix building tests on Windows
  test/CMakeLists.txt
  test/spec/spectest.cpp
Owners: @q82419

[Test] Add the plug-in unit tests for C++ API.
  test/plugins/CMakeLists.txt
  test/plugins/unittest/CMakeLists.txt
  test/plugins/unittest/testplugin.cpp
  test/plugins/unittest/testplugin.h
  test/plugins/unittest/unittest.cpp
Owners: @q82419

[CI] Separate and stand alone the wasmedge process plugin.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/CMakeLists.txt
  rpm/wasmedge.spec.in
  test/api/APIUnitTest.cpp
  test/api/CMakeLists.txt
  test/plugins/CMakeLists.txt
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @dm4, @q82419

[CI] Fix the test not run on Ubuntu build CI.
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Owners: @hydai

[Docs] Update the CMake options doc.
  docs/book/en/src/contribute/build_from_src.md
Owners: @hydai

use i2d_PKCS8PrivateKey_bio
  plugins/wasi_crypto/asymmetric_common/ecdsa.h
Owners: @ibmibmibm

fix test
  test/plugins/wasi_crypto/asymmetric.cpp
Owners: @q82419

fix: test
  test/plugins/wasi_crypto/asymmetric.cpp
Owners: @q82419

[CI] mdbook 0.4.26 bumps toml version which is not compatible with mdbook-variables
  .github/workflows/mdbook.yml
Owners: @hydai

use i2d_PKCS8PrivateKey_bio and fix test
  plugins/wasi_crypto/asymmetric_common/ecdsa.h
  test/plugins/wasi_crypto/asymmetric.cpp
Owners: @ibmibmibm, @q82419

[DOC] Move the doc.
  docs/book/en/src/contribute/build_from_src/riscv64.md
Owners: @hydai

[CI] Fix the test not run on Ubuntu build CI.
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Owners: @hydai

[CI] Separate and stand alone the wasmedge process plugin.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/CMakeLists.txt
  rpm/wasmedge.spec.in
  test/api/APIUnitTest.cpp
  test/api/CMakeLists.txt
  test/plugins/CMakeLists.txt
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @dm4, @q82419

[Docs] Update the CMake options doc.
  docs/book/en/src/contribute/build_from_src.md
Owners: @hydai

[Test] Add the plug-in unit tests for C++ API.
  test/plugins/CMakeLists.txt
  test/plugins/unittest/CMakeLists.txt
  test/plugins/unittest/testplugin.cpp
  test/plugins/unittest/testplugin.h
  test/plugins/unittest/unittest.cpp
Owners: @q82419

Update install.md
  docs/book/en/src/quick_start/install.md
Owners: @hydai

write down use cases
  docs/book/en/src/quick_start/install.md
Owners: @hydai

[RISCV64] Support WasmEdge on RISC-V64 arch.
  .github/workflows/build_for_riscv.yml
  docs/book/en/src/contribute/build_from_src/riscv64.md
  include/api/wasmedge/int128.h
  include/ast/instruction.h
  include/common/int128.h
  lib/aot/compiler.cpp
  lib/api/wasmedge.cpp
  lib/loader/ast/section.cpp
  lib/system/allocator.cpp
Owners: @hydai, @q82419, @ibmibmibm

[CI] The upstream already fixed the incompatible issue, change back to latest mdbook
  .github/workflows/mdbook.yml
Owners: @hydai

[Misc] Bump spdlog to 1.11.0 and support fmt 9.0.
  fossa-deps.yml
  lib/common/CMakeLists.txt
  lib/host/wasi/environ.cpp
Owners: @hydai, @q82419, @ibmibmibm

[CI] Fix some CI.
  .github/workflows/static-code-analysis.yml
  docs/book/en/src/contribute/build_from_src/riscv64.md
Owners: @hydai

[CI] Fix the error of installing dependencies.
  .github/workflows/static-code-analysis.yml
Owners: @hydai

[Socket] fix SockGetPeerAddr buffer size
  lib/host/wasi/wasifunc.cpp
Owners: @ibmibmibm

[WASI] Fix environ_get and args_get
  include/host/wasi/environ.h
  lib/host/wasi/wasifunc.cpp
Owners: @ibmibmibm

[CI] Fix the problem of installing mdBook preprocessors.
  .github/workflows/mdbook.yml
Owners: @hydai

[WASI-Socket] fix SockGetPeerAddr buffer size (#2285)
  lib/host/wasi/wasifunc.cpp
Owners: @ibmibmibm

[WASI] Disable using fd_renumber on preopen fd
  include/host/wasi/environ.h
Owners: @ibmibmibm

[WASI-Crypto] use i2d_PKCS8PrivateKey_bio and fix test (#2283)
  plugins/wasi_crypto/asymmetric_common/ecdsa.h
  test/plugins/wasi_crypto/asymmetric.cpp
Owners: @ibmibmibm, @q82419

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
bindings/java/                  @dannypsnl
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
plugins/                        @ibmibmibm
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
