Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[WASI] Use tie replace get
  lib/host/wasi_crypto/kx/func.cpp
Owners: @q82419

[Format] Clang-fromat wasi-crypto
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/signatures/signstate.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/registed.h
  include/host/wasi_crypto/utils/evp_wrapper.h
  lib/host/wasi_crypto/common/array_output.cpp
  lib/host/wasi_crypto/signatures/factory.cpp
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
  test/host/wasi_crypto/aeads.cpp
  test/host/wasi_crypto/common.cpp
  test/host/wasi_crypto/hash.cpp
  test/host/wasi_crypto/kdf.cpp
  test/host/wasi_crypto/kx.cpp
  test/host/wasi_crypto/mac.cpp
  test/host/wasi_crypto/notimplement.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Fix doc format
  include/host/wasi_crypto/ctx.h
  lib/host/wasi_crypto/asymmetric_common/factory.cpp
  lib/host/wasi_crypto/common/func.cpp
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/ctx.cpp
Owners: @q82419

[WASI] Add const
  lib/host/wasi_crypto/symmetric/func.cpp
Owners: @q82419

[WASI] Fix algorithm_type cast
  include/host/wasi_crypto/utils/hostfunction.h
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Remove unnecessary define.
  include/host/wasi_crypto/utils/error.h
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Add header.
  lib/host/wasi_crypto/symmetric/aeads.cpp
Owners: @q82419

[WASI] Fix error string parse.
  include/host/wasi_crypto/utils/hostfunction.h
Owners: @hydai, @ibmibmibm, @q82419

[Test] Add `WASI_CRYPTO_EXPECT_FAILURE`.
  test/host/wasi_crypto/cipher.cpp
  test/host/wasi_crypto/common.cpp
  test/host/wasi_crypto/hash.cpp
  test/host/wasi_crypto/helper.h
  test/host/wasi_crypto/kdf.cpp
  test/host/wasi_crypto/mac.cpp
  test/host/wasi_crypto/notimplement.cpp
  test/host/wasi_crypto/x25519.cpp
Owners: @q82419

[WASI] Take the boolean value.
  lib/host/wasi_crypto/symmetric/factory.cpp
Owners: @q82419

[WASI] Deduce unnecessary template parma
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
  lib/host/wasi_crypto/symmetric/options.cpp
Owners: @q82419

[WASI] Cast std::numeric_limits<int>::max() to size_t
  lib/host/wasi_crypto/symmetric/aeads.cpp
Owners: @q82419

[CMake] Sort file names in lexically ordering.
  lib/host/wasi_crypto/CMakeLists.txt
  test/host/wasi_crypto/CMakeLists.txt
Owners: @q82419

[WASI] Use `Manager` rather than `Manger`
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/utils/handles_manager.h
  lib/host/wasi_crypto/asymmetric_common/ctx.cpp
  lib/host/wasi_crypto/common/ctx.cpp
  lib/host/wasi_crypto/kx/ctx.cpp
  lib/host/wasi_crypto/signatures/ctx.cpp
  lib/host/wasi_crypto/symmetric/ctx.cpp
Owners: @q82419, @hydai, @ibmibmibm

[Test] Add a simple test for value overwrite.
  test/host/wasi_crypto/cipher.cpp
Owners: @q82419

[WASI] Add ecdsa key exchange.
  include/host/wasi_crypto/kx/dh/ecdsa.h
  include/host/wasi_crypto/kx/registed.h
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/kx/dh/ecdsa.cpp
  lib/host/wasi_crypto/kx/kx.cpp
  lib/host/wasi_crypto/utils/hostfunction.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Support ecdsa signature raw form.
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/utils/evp_wrapper.h
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Tag not allow copy.
  include/host/wasi_crypto/symmetric/tag.h
Owners: @q82419

[WASI] Beautify code 1. replace `std::move` by `std::forward` in chain operation. 2. remove some meaningless typedef. 3. refactor add trait description.
  include/host/wasi_crypto/signatures/ecdsa.h
  lib/host/wasi_crypto/asymmetric_common/ctx.cpp
  lib/host/wasi_crypto/asymmetric_common/keypair.cpp
  lib/host/wasi_crypto/asymmetric_common/secretkey.cpp
  lib/host/wasi_crypto/kx/ctx.cpp
  lib/host/wasi_crypto/signatures/ctx.cpp
  lib/host/wasi_crypto/signatures/signatures.cpp
  lib/host/wasi_crypto/signatures/signstate.cpp
  lib/host/wasi_crypto/signatures/verificationstate.cpp
  lib/host/wasi_crypto/symmetric/ctx.cpp
  lib/host/wasi_crypto/symmetric/key.cpp
  lib/host/wasi_crypto/symmetric/state.cpp
Owners: @q82419

[WASI] Tag should use secret_vec.
  include/host/wasi_crypto/symmetric/tag.h
  include/host/wasi_crypto/utils/secret_vec.h
  lib/host/wasi_crypto/symmetric/tag.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] `RawTag` is read-only.
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/mac.h
  include/host/wasi_crypto/symmetric/state.h
  lib/host/wasi_crypto/symmetric/ctx.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
  lib/host/wasi_crypto/symmetric/state.cpp
Owners: @q82419

[WASI] Format rsa.
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @q82419

[WASi] Add static_assert.
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/hash.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
  lib/host/wasi_crypto/symmetric/mac.cpp
Owners: @q82419

[WASI] Fix tag, arrayoutput and managers action.
  include/host/wasi_crypto/common/array_output.h
  include/host/wasi_crypto/symmetric/tag.h
  include/host/wasi_crypto/utils/handles_manager.h
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Secret should wipe.
  include/host/wasi_crypto/asymmetric_common/keypair.h
  include/host/wasi_crypto/asymmetric_common/secretkey.h
  include/host/wasi_crypto/common/array_output.h
  include/host/wasi_crypto/kx/dh/x25519.h
  include/host/wasi_crypto/kx/kx.h
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/rsa.h
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/key.h
  include/host/wasi_crypto/symmetric/mac.h
  include/host/wasi_crypto/symmetric/tag.h
  include/host/wasi_crypto/utils/evp_wrapper.h
  include/host/wasi_crypto/utils/secret_vec.h
  lib/host/wasi_crypto/asymmetric_common/keypair.cpp
  lib/host/wasi_crypto/asymmetric_common/secretkey.cpp
  lib/host/wasi_crypto/kx/dh/x25519.cpp
  lib/host/wasi_crypto/kx/kx.cpp
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
  lib/host/wasi_crypto/symmetric/key.cpp
  lib/host/wasi_crypto/symmetric/mac.cpp
  lib/host/wasi_crypto/symmetric/tag.cpp
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Fix ecdsa signature.
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/utils/evp_wrapper.h
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
  test/host/wasi_crypto/signatures.cpp
Owners: @q82419, @hydai, @ibmibmibm

[Test] Add rsa signatures test.
  test/host/wasi_crypto/signatures.cpp
Owners: @q82419

[WASI] Rearrange place, add brackets.
  lib/host/wasi_crypto/utils/hostfunction.cpp
Owners: @hydai, @ibmibmibm, @q82419

[Test] Add eddsa test.
  test/host/wasi_crypto/signatures.cpp
Owners: @q82419

[WASI] Fix doc.
  include/host/wasi_crypto/signatures/rsa.h
  include/host/wasi_crypto/signatures/signatures.h
  include/host/wasi_crypto/signatures/signstate.h
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/symmetric/state.cpp
Owners: @q82419

[WASI] Update rsa extract pk and sk.
  include/host/wasi_crypto/utils/evp_wrapper.h
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Remove member's const.
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/mac.h
Owners: @q82419

[WASI] Add missing noexcept
  include/host/wasi_crypto/symmetric/tag.h
Owners: @q82419

[WASI] Fix possible name shadow.
  lib/host/wasi_crypto/asymmetric_common/func.cpp
Owners: @q82419

[Test] Add ecdsa k256 test.
  test/host/wasi_crypto/asymmetric.cpp
Owners: @q82419

[WASI] Remove blank.
  lib/host/wasi_crypto/utils/hostfunction.cpp
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Fix paramter name.
  include/host/wasi_crypto/kx/kx.h
Owners: @q82419

[WASI] Sync main change.
  include/host/wasi_crypto/module.h
  lib/host/wasi_crypto/module.cpp
  lib/vm/vm.cpp
Owners: @q82419

[Test] Fix leak.
  test/host/wasi_crypto/helper.cpp
Owners: @q82419

[WASI] Add missing noexcept
  include/host/wasi_crypto/symmetric/mac.h
Owners: @q82419

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
