Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Rust] wasmedge-sys v0.10.0 (#1904)
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](rust-wasmedge-sdk-docs): Refactored workflow.
  .github/workflows/rust-wasmedge-sdk-docs.yml
Owners: @hydai

[CI][refactor](rust-wasmedge-sdk): Refactored workflows.
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

[Rust SDK][doc](lib, readme): Updated doc comments.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[rust-workspace][doc](readme): Updated readme.
  bindings/rust/README.md
Owners: @hydai, @yanganto

[Rust SDK][feat](vm): Implemented new APIs.
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust] wasmedge-sdk v0.5.0 (#1907)
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  bindings/rust/README.md
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Book][refactor](rust): Refactored doc.
  docs/book/en/src/sdk/rust.md
  docs/book/en/src/sdk/rust/concurrent_fib.md
  docs/book/en/src/sdk/rust/how_to_use_module_instance.md
  docs/book/en/src/sdk/rust/memory_manipulation.md
  docs/book/en/src/sdk/rust/say_hello.md
  docs/book/en/src/sdk/rust/sys_run_host_func.md
  docs/book/en/src/sdk/rust/table_and_funcref.md
Owners: @hydai

[Rust][doc](readme, examples, lib): Refactored doc comments.
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][doc](lib, readme): Updated doc comments.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[mdbook][refactor](rust): Updated example documents.
  docs/book/en/src/sdk/rust.md
  docs/book/en/src/sdk/rust/concurrent_fib.md
  docs/book/en/src/sdk/rust/how_to_use_module_instance.md
  docs/book/en/src/sdk/rust/memory_manipulation.md
  docs/book/en/src/sdk/rust/say_hello.md
  docs/book/en/src/sdk/rust/sys_run_host_func.md
  docs/book/en/src/sdk/rust/table_and_funcref.md
Owners: @hydai

[Docs] Updated Rust SDK related files. (#1908)
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  docs/book/en/src/sdk/rust.md
  docs/book/en/src/sdk/rust/concurrent_fib.md
  docs/book/en/src/sdk/rust/how_to_use_module_instance.md
  docs/book/en/src/sdk/rust/memory_manipulation.md
  docs/book/en/src/sdk/rust/say_hello.md
  docs/book/en/src/sdk/rust/sys_run_host_func.md
  docs/book/en/src/sdk/rust/table_and_funcref.md
Owners: @hydai, @yanganto

[API] Add linker script to hide local symbols
  lib/api/CMakeLists.txt
  lib/api/libwasmedge.lds
Owners: @q82419

[API] Add linker script to hide local symbols
  lib/api/CMakeLists.txt
  lib/api/libwasmedge.lds
Owners: @q82419

[CI] Fix LLVM linking on MacOS 12 when building extensions.
  .github/workflows/build-extensions.yml
Owners: @hydai

[CI] Fix LLVM linking on MacOS 12 when building extensions.
  .github/workflows/build-extensions.yml
Owners: @hydai

[Windows] Implement Host Functions for Windows
  cmake/Helper.cmake
  include/host/wasi/inode.h
  lib/host/wasi/CMakeLists.txt
  lib/host/wasi/inode-win.cpp
Owners: @ibmibmibm

added the cxx example to the book
  docs/book/en/src/sdk/cxx/ExampleEmbeddingWasmEdgeInCxx.md
Owners: @hydai

[Tools] prevent file from loading twice
  lib/driver/runtimeTool.cpp
Owners: @q82419

[Tools] Detect valid _start function on command mode
  lib/driver/runtimeTool.cpp
Owners: @q82419

[Socket] unify socket address size with breaking api
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  include/host/wasi/wasifunc.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
  test/host/socket/wasi_socket.cpp
Owners: @ibmibmibm, @q82419

[Windows] Add WASI implementation status
  lib/host/wasi/inode-win.cpp
Owners: @ibmibmibm

[Common] Apply fmt 9.0.
  cmake/Helper.cmake
  include/common/errcode.h
  include/common/errinfo.h
Owners: @ibmibmibm, @q82419

[CI] Fix IWYU on MacOS.
  .github/workflows/IWYU_scan.yml
Owners: @hydai

[CI] Fix IWYU on MacOS.
  .github/workflows/IWYU_scan.yml
Owners: @hydai

ci(rust-wasmedge-macro-release): Refactored the workflow
  .github/workflows/rust-wasmedge-macro-release.yml
Owners: @hydai

ci(rust-wasmedge-types-release): Refactored the workflow
  .github/workflows/rust-wasmedge-types-release.yml
Owners: @hydai

ci(rust-wasmedge-sys-release): Refactored the workflow
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

ci(rust-wasmedge-sdk-release): Refactored the workflow
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

refactor(rust-macro)!: Changed the argument type of the expand_host_func func
  bindings/rust/wasmedge-macro/Cargo.toml
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

refactor(rust-macro)!: Changed the argument types of the expand_host_func func.
  bindings/rust/wasmedge-macro/src/lib.rs
Owners: @hydai, @yanganto

doc(rust-sys): Updated the versions and the dependencies
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

refactor(rust-sdk): Refactored test code
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Common] Apply fmt 9.0.
  cmake/Helper.cmake
  include/common/errcode.h
  include/common/errinfo.h
Owners: @ibmibmibm, @q82419

[CI] Enable dependabot
  .github/dependabot.yml
Owners: @hydai

[Common] Add the force interpreter configure.
  include/api/wasmedge/wasmedge.h
  include/common/configure.h
  lib/api/wasmedge.cpp
Owners: @q82419

[Loader] Support force interpreter mode in loader.
  include/loader/loader.h
  lib/api/wasmedge.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/segment.cpp
  lib/loader/loader.cpp
Owners: @q82419

[Driver] Apply force interpreter mode in tools.
  lib/driver/compilerTool.cpp
  lib/driver/runtimeTool.cpp
Owners: @q82419

ci(rust-wasmedge-macro-release): Removed cmake
  .github/workflows/rust-wasmedge-macro-release.yml
Owners: @hydai

ci(rust-wasmedge-sys-release): Refactored the workflow
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai
