Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @dannypsnl, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
bindings/java/                  @dannypsnl
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
plugins/                        @ibmibmibm
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

add: toAvoide unit test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add: fromFileType unit test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add: toSockOptSoName unit test
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add: unit test cased
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

tests: add test
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/CMakeLists.txt
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-tensorflow-fixtures.sh
Owners: @ibmibmibm, @q82419, @hydai

add: AIFlags unit test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add end line
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

delete unnecessary line
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

fix: #if statement
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

refactor(rust-sys): Refactored data_pointer and data_pointer_mut methods
  bindings/rust/wasmedge-sys/src/instance/memory.rs
Owners: @hydai, @yanganto

refactor(rust-sdk): Refactored data_pointer and data_pointer_mut methods
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
Owners: @hydai, @yanganto

refactor(rust-sys): refactor Memory struct
  bindings/rust/wasmedge-sys/src/frame.rs
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

chore(rust-sys): update code
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

chore(rust-sys): update code
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

feat(rust-sys): implement Clone trait for Memory
  bindings/rust/wasmedge-sys/src/instance/memory.rs
Owners: @hydai, @yanganto

feat(rust-sdk): implement Clone trait for Memory
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
Owners: @hydai, @yanganto

chore(rust-sys): update code
  bindings/rust/wasmedge-sys/src/instance/memory.rs
Owners: @hydai, @yanganto

feat(rust-sys): implement Clone trait for Global
  bindings/rust/wasmedge-sys/src/instance/global.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

feat(rust-sdk): implement Clone trait for Global
  bindings/rust/wasmedge-sdk/src/externals/global.rs
Owners: @hydai, @yanganto

chore(rust-sys): update code
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

feat(rust-sys): implement Clone trait for Table
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
Owners: @hydai, @yanganto

feat(rust-sdk): implement Clone trait for Table
  bindings/rust/wasmedge-sdk/src/externals/table.rs
Owners: @hydai, @yanganto

chore(rust-sys): update code
  bindings/rust/wasmedge-sys/src/instance/table.rs
Owners: @hydai, @yanganto

feat(rust-sys): implement Clone trait for Function
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

feat(rust-sdk): implement Clone trait for Func
  bindings/rust/wasmedge-sdk/src/externals/function.rs
Owners: @hydai, @yanganto

[RISCV64] Build WasmEdge on RISCV64 arch.
  docs/book/en/src/extend/build_for_RISC-V64.md
  lib/aot/compiler.cpp
  lib/loader/ast/section.cpp
Owners: @hydai, @ibmibmibm, @q82419

[Rust] Implement Clone trait for external instances (#2246)
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/global.rs
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sys/src/frame.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/global.rs
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
Owners: @hydai, @yanganto

[CI] Add workflow to build on RISCV64.
  .github/workflows/build_for_riscv.yml
Owners: @hydai

Clang-format
  include/common/int128.h
  lib/aot/compiler.cpp
Owners: @q82419, @ibmibmibm

[Java]Support V128 value, support try-with-resource
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/VmContext.java
Owners: @dannypsnl

[Java] Release binary files
  .github/workflows/bindings-java.yml
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdge.java
Owners: @hydai, @dannypsnl

[Docs] Describe more about --dir option for wasmedge
  docs/book/en/src/cli/wasmedge.md
  lib/driver/runtimeTool.cpp
Owners: @hydai, @q82419

build: remove local setup
  plugins/wasi_nn/CMakeLists.txt
Owners: @ibmibmibm

fix: segfault of session run
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @ibmibmibm

[Doc] Fix the doc.
  .github/workflows/build_for_riscv.yml
  docs/book/en/src/extend/build_for_RISC-V64.md
Owners: @hydai

[Doc] Fix the doc.
  docs/book/en/src/extend/build_for_RISC-V64.md
Owners: @hydai

[Docs] Describe more about --dir option for wasmedge (#2252)
  docs/book/en/src/cli/wasmedge.md
  lib/driver/runtimeTool.cpp
Owners: @hydai, @q82419

[WASI] Set filestat for special fd to 0
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
Owners: @ibmibmibm

[WASI] Set filestat for special fd to 0 (#2267)
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
Owners: @ibmibmibm

[CI] mdbook 0.4.26 bumps toml version which is not compatible with mdbook-variables
  .github/workflows/mdbook.yml
Owners: @hydai
