Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Rust][fix](function): Fixed clippy issues.
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

[rust-types][feat](error): Added a new variant in WasmEdgeError.
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto

[CI][refactor](inventory): Filtered out WasmEdge_StringWrap.
  .github/workflows/inventory.yml
Owners: @hydai

WIP instantiate
  include/runtime/instance/component.h
  lib/executor/instantiate/component.cpp
  test/executor/component/initTest.cpp
Owners: @q82419

[Rust] Fixed the potential deadlock issue. (#1867)
  .github/workflows/inventory.yml
  bindings/rust/wasmedge-sdk/examples/create_host_func_in_host_func.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto

[Rust] Refactored the support for `Clone` trait on `Vm` (#1870)
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/src/ast_module.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/frame.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/validator.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Changelog] Update the changelog for the 0.11.1-rc.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Changelog] Update the changelog for the 0.11.1-rc.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[CI] Use LLVM-14 for the MacOS release.
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai

[CI] Use LLVM-14 for the MacOS release.
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai

fix interface and add Doc
  bindings/java/README.md
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

test files
  bindings/java/wasmedge-java/build/libs/pre.sh
  bindings/java/wasmedge-java/build/libs/test.c
Owners: @hydai

modify List args
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
Owners: @hydai

args type modify
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
Owners: @hydai

modify CMake file
  bindings/java/wasmedge-jni/CMakeLists.txt
Owners: @hydai

modify JNI files auto-generated
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
Owners: @hydai

push test jar
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
Owners: @hydai

move doc position
  bindings/java/README.md
Owners: @hydai

fix typo
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
Owners: @q82419

fix async get func
  bindings/java/wasmedge-java/build/libs/file.sh
  bindings/java/wasmedge-java/build/libs/test.class
  bindings/java/wasmedge-java/build/libs/test.java
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

modify interface name
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @q82419

jar with interface List
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

debug WasmEdgeAsync
  bindings/java/wasmedge-java/build/libs/fibonacci.wasm
  bindings/java/wasmedge-java/build/libs/fibonacci.wat
  bindings/java/wasmedge-java/build/libs/file.sh
  bindings/java/wasmedge-java/build/libs/test.class
  bindings/java/wasmedge-java/build/libs/test.java
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

update README doc
  bindings/java/wasmedge-java/README.md
Owners: @hydai

remove small mistakes
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/lib/ExecutorContext.c
  bindings/java/wasmedge-jni/lib/ModuleInstanceContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

replace * Merged the `WasmEdge_ImportObjectContext` into the `WasmEdge_ModuleInstanceContext`.
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ModuleInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_ExecutorContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_ModuleInstanceContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/ExecutorContext.c
  bindings/java/wasmedge-jni/lib/ImportObjectContext.c
  bindings/java/wasmedge-jni/lib/ModuleInstanceContext.c
  bindings/java/wasmedge-jni/lib/ModuleInstanceContext.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

change AsyncGet definition
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

modify Async construtor
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Async.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
Owners: @hydai

remove redundant files
  bindings/java/.idea/.gitignore
  bindings/java/.idea/inspectionProfiles/Project_Default.xml
  bindings/java/.idea/java.iml
  bindings/java/.idea/misc.xml
  bindings/java/.idea/modules.xml
  bindings/java/.idea/uiDesigner.xml
  bindings/java/.idea/vcs.xml
  bindings/java/wasmedge-java/build/libs/fibonacci.wasm
  bindings/java/wasmedge-java/build/libs/fibonacci.wat
  bindings/java/wasmedge-java/build/libs/file.sh
  bindings/java/wasmedge-java/build/libs/pre.sh
  bindings/java/wasmedge-java/build/libs/test.c
  bindings/java/wasmedge-java/build/libs/test.class
  bindings/java/wasmedge-java/build/libs/test.java
  bindings/java/wasmedge-java/build/libs/wasmedge-java.jar
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Command
Owners: @hydai

finsh Unit Test
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeAsyncTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
Owners: @q82419

JNI API implement
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
Owners: @hydai, @q82419

return type from WasmEdgeResult to void
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
  bindings/java/wasmedge-jni/lib/Async.c
  bindings/java/wasmedge-jni/lib/Async.h
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

modify some definition and implement 1st version API
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Async.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Command
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeAsync.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_Async.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeAsync.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/Async.c
  bindings/java/wasmedge-jni/lib/Async.h
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.c
  bindings/java/wasmedge-jni/lib/WasmEdgeAsync.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

[rust-types][feat](error): Defined new variants to VmError.
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto

[Rust][feat](config): Implemented new APIs for Config.
  bindings/rust/wasmedge-sys/src/config.rs
Owners: @hydai, @yanganto

[Rust][refactor](examples): Refactored example code.
  bindings/rust/wasmedge-sys/examples/wasi_nn_pytorch.rs
Owners: @hydai, @yanganto

[Rust][feat](vm): Defined new APIs in Vm.
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][refactor](module): Added conditional compilation config.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][refactor](config, executor, lib, vm, module): Refactored conditional compilation.
  bindings/rust/wasmedge-sys/examples/wasi_nn_pytorch.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](config): Implemented new APIs for Config and HostRegistrationConfigOptions.
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sdk/src/wasi.rs
Owners: @hydai, @yanganto
