Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[Rust][feat](lib): Introduced global variable for storing non-thread-safe host functions.
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust][refactor](vm): Refactored APIs.
  bindings/rust/wasmedge-sys/examples/threads.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][feat](function): Implemented new API.
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](examples): Added new example.
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust][feat](examples): Added new example.
  bindings/rust/wasmedge-sys/examples/call_hostfunc_chain.rs
Owners: @hydai, @yanganto

[Rust][fix](lib): Fixed review issue.
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust] Introduced new host function storing design for the single-thread scenario (#1648)
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/examples/call_hostfunc_chain.rs
  bindings/rust/wasmedge-sys/examples/threads.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Misc] Add the `PLUGIN` prefix for wasi-nn options and update the WASI-NN docs.
  CMakeLists.txt
  docs/book/en/src/dev/rust/wasinn.md
  plugins/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/CMakeLists.txt
  test/host/wasi_nn/CMakeLists.txt
  test/host/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[Test] Move the plugin tests into the `plugins` folder.
  test/CMakeLists.txt
  test/plugins/CMakeLists.txt
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  test/plugins/wasmedge_process/CMakeLists.txt
  test/plugins/wasmedge_process/wasmedge_process.cpp
Owners: @q82419

[Utils] Add the option to assign the build type when building manylinux.
  utils/docker/build-manylinux.sh
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Separate the openVINO installation and WasmEdge building.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  test/plugins/wasi_nn/CMakeLists.txt
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/download-openvino-fixtures.sh
  utils/wasi-nn/install-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[Utils] Separate the openVINO installation and WasmEdge building.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  test/plugins/wasi_nn/CMakeLists.txt
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/download-openvino-fixtures.sh
  utils/wasi-nn/install-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[Utils] Add the option to assign the build type when building manylinux.
  utils/docker/build-manylinux.sh
Owners: @hydai, @ibmibmibm, @q82419

Set CMAKE_PROJECT_VERSION instead of just CPACK_
  CMakeLists.txt
  include/CMakeLists.txt
  include/api/wasmedge/version.h.in
  include/common/version.h.in
  rpm/CMakeLists.txt
  utils/ohos/configuration/CMakeLists.txt
Owners: @hydai, @q82419, @dm4, @ibmibmibm

spelling: infomation -> information
  include/common/errinfo.h
  include/po/argument_parser.h
Owners: @q82419

[Utils][CI] Install script: Add version check for plugins
  .github/workflows/test-install-script.yml
  utils/install.sh
Owners: @hydai, @SAtacker

[CI] Installer Script: Add Tests
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Install Script: Plugin install option
  utils/install.sh
Owners: @SAtacker

[Utils] Install Script: Improved Checking version number after installing
  utils/install.sh
Owners: @SAtacker

[CI] Install Script: Add missing `--plugins=wasi_nn-openvino`
  .github/workflows/test-install-script.yml
Owners: @hydai

[CI] fix: Remove WasmEdge installed in different locations with different versions
  .github/workflows/test-install-script.yml
Owners: @hydai

Revert "[CI] fix: Remove WasmEdge installed in different locations with"
  .github/workflows/test-install-script.yml
Owners: @hydai

[Misc] spelling: infomation -> information (#1650)
  include/common/errinfo.h
  include/po/argument_parser.h
Owners: @q82419

[CI] Add build_openwrt into build.yml
  .github/workflows/build.yml
  utils/openwrt/build_for_openwrt.sh
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @q82419

[CI] Fix the mistake of deleting docker.
  .github/workflows/build.yml
  docs/book/en/src/os/openwrt.md
  docs/book/zh/src/os/openwrt.md
Owners: @hydai

Update networking.md
  docs/book/en/src/dev/js/networking.md
Owners: @hydai

Delete fetch.md
  docs/book/en/src/dev/js/fetch.md
Owners: @hydai

Update ssr.md
  docs/book/en/src/dev/js/ssr.md
Owners: @hydai

Update networking.md
  docs/book/en/src/dev/js/networking.md
Owners: @hydai

[CI] Fix the build.yml.
  .github/workflows/build.yml
Owners: @hydai

[CI] Add static tool building flag in linux and macos build
  .github/workflows/build.yml
Owners: @hydai

[Tool] Merge tools code to library
  CMakeLists.txt
  cmake/Helper.cmake
  include/api/wasmedge/wasmedge.h
  include/driver/compiler.h
  include/driver/tool.h
  lib/CMakeLists.txt
  lib/api/CMakeLists.txt
  lib/api/wasmedge.cpp
  lib/driver/CMakeLists.txt
  lib/driver/compiler.cpp
  lib/driver/tool.cpp
  tools/wasmedge/CMakeLists.txt
  tools/wasmedge/wasmedgec.cpp
  tools/wasmedge/wasmedger.cpp
Owners: @hydai, @ibmibmibm, @q82419

[CMake] Add the info for downloading testing sources.
  test/CMakeLists.txt
  test/spec/CMakeLists.txt
Owners: @q82419

[CI] Add static tool building flag in linux and macos build
  .github/workflows/build.yml
Owners: @hydai

[Tool] Merge tools code to library
  CMakeLists.txt
  cmake/Helper.cmake
  include/api/wasmedge/wasmedge.h
  include/driver/compiler.h
  include/driver/tool.h
  lib/CMakeLists.txt
  lib/api/CMakeLists.txt
  lib/api/wasmedge.cpp
  lib/driver/CMakeLists.txt
  lib/driver/compiler.cpp
  lib/driver/tool.cpp
  tools/wasmedge/CMakeLists.txt
  tools/wasmedge/wasmedgec.cpp
  tools/wasmedge/wasmedger.cpp
Owners: @hydai, @ibmibmibm, @q82419

[CMake] Add the info for downloading testing sources.
  test/CMakeLists.txt
  test/spec/CMakeLists.txt
Owners: @q82419

[Tools] Add the lost WASI-NN host function registration in tools.
  lib/driver/tool.cpp
Owners: @q82419

[Tools] Add the lost WASI-NN host function registration in tools.
  lib/driver/tool.cpp
Owners: @q82419

[Docs] Add missing link to wasi-nn
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/dev/rust.md
Owners: @hydai

[Rust][refactor](vm, lib): Implemented conditional compilation for WasmEdgeProcess plugin.
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
