Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[RPM] Use capi_version and capi_soname in the spec file
  rpm/wasmedge.spec.in
Owners: @hydai, @dm4

[Misc] the static library doesn't use VERSION and SOVERSION
  lib/api/CMakeLists.txt
Owners: @q82419

[Changelog] Update the SONAME and SOVERSION information
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[CI] Update wxs for using the new SONAME in Windows installer
  .github/scripts/wasmedge.wxs
Owners: @hydai

[Docs] Update android document for the 0.11.0 release
  docs/book/en/src/os/android/cli.md
  docs/book/en/src/os/android/ndk.md
  docs/book/zh/src/os/android/cli.md
  docs/book/zh/src/os/android/ndk.md
Owners: @hydai

[OpenWrt] Update openwrt build with new SONAME and SOVERSION
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Add SONAME and SOVERSION information for C API
  docs/book/en/src/embed/c/ref.md
Owners: @hydai

[Examples] update the android application with new SONAME
  docs/book/en/src/os/android/ndk.md
  docs/book/zh/src/os/android/ndk.md
  utils/android/app/lib/src/main/cpp/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[CAPI] Add SONAME and SOVERSION for C API
  CMakeLists.txt
  lib/api/CMakeLists.txt
Owners: @hydai, @q82419

[Docs] Use libwasmedge.so instead of libwasmedge_c.so
  docs/book/en/src/embed/c.md
  docs/book/en/src/embed/c/ref.md
  docs/book/en/src/embed/rust.md
  docs/book/en/src/extend/build.md
  docs/book/en/src/extend/build_on_mac.md
  docs/book/en/src/extend/build_on_windows.md
  docs/book/en/src/extend/plugin/externref.md
  docs/book/en/src/kubernetes/kubernetes/kind.md
  docs/book/zh-TW/src/embed/c.md
  docs/book/zh-TW/src/extend/build.md
  docs/book/zh/src/embed/c.md
  docs/book/zh/src/embed/rust.md
  docs/book/zh/src/extend/build.md
  docs/book/zh/src/extend/build_on_mac.md
  docs/book/zh/src/extend/build_on_windows.md
  docs/book/zh/src/extend/plugin/externref.md
  docs/book/zh/src/kubernetes/kubernetes/kind.md
Owners: @hydai

[Misc] Use wasmedge_shared instead of wasmedge_c_shared
  examples/embed_cxx/CMakeLists.txt
  lib/api/CMakeLists.txt
  plugins/httpsreq/CMakeLists.txt
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
  test/api/CMakeLists.txt
  test/externref/CMakeLists.txt
  tools/wasmedge/CMakeLists.txt
Owners: @hydai, @q82419, @ibmibmibm

[Rename] rename httpsreq to wasmedge_httpsreq (#1768)
  .github/workflows/build-extensions.yml
  docs/book/en/src/dev/rust/networking-https.md
  plugins/CMakeLists.txt
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/wasmedge_httpsreq/CMakeLists.txt
  plugins/wasmedge_httpsreq/httpsreqbase.h
  plugins/wasmedge_httpsreq/httpsreqenv.cpp
  plugins/wasmedge_httpsreq/httpsreqenv.h
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
  plugins/wasmedge_httpsreq/httpsreqfunc.h
  plugins/wasmedge_httpsreq/httpsreqmodule.cpp
  plugins/wasmedge_httpsreq/httpsreqmodule.h
  utils/httpsreq/build-openssl.sh
Owners: @hydai, @ibmibmibm, @q82419

[Docker] Rename slim images
  .github/workflows/release.yml
  docs/book/en/src/start/docker.md
Owners: @hydai

[Refine] refine some implementations in httpsreq plugin (#1788)
  plugins/wasmedge_httpsreq/httpsreqenv.h
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
  test/plugins/httpsreq/httpsreq.cpp
Owners: @hydai, @q82419

[Tests] refine CI and test module for httpsreq
  .github/workflows/build-extensions.yml
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_httpsreq/CMakeLists.txt
  test/plugins/wasmedge_httpsreq/httpsreq.cpp
  utils/wasmedge_httpsreq/build-openssl.sh
Owners: @hydai, @q82419, @ibmibmibm

[Docs] Use mdbook-variables to update version in docs
  .github/workflows/mdbook.yml
  docs/book/en/book.toml
  docs/book/en/src/start/docker.md
  docs/book/en/src/start/install.md
Owners: @hydai

[Changelog] Update the changelog for the 0.11.0-rc.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Docker] Remove appdev images
  docs/book/en/src/start/docker.md
  utils/docker/Dockerfile.appdev_aarch64
  utils/docker/Dockerfile.appdev_x86_64
  utils/docker/build-appdev.md
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Update API docs to 0.11.0.
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/embed/c/0.10.1/ref.md
  docs/book/en/src/embed/c/0.10.1/upgrade_to_0.11.0.md
  docs/book/en/src/embed/c/0.9.1/upgrade_to_0.10.0.md
  docs/book/en/src/embed/c/ref.md
  docs/book/en/src/embed/go/0.9.1/upgrade_to_0.10.0.md
Owners: @hydai

[Docs] Add version updating steps in release process
  ReleaseProcess.md
Owners: @hydai

[Docs] Update API docs to 0.11.0.
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/embed/c/0.10.1/ref.md
  docs/book/en/src/embed/c/0.10.1/upgrade_to_0.11.0.md
  docs/book/en/src/embed/c/0.9.1/upgrade_to_0.10.0.md
  docs/book/en/src/embed/c/ref.md
  docs/book/en/src/embed/go/0.9.1/upgrade_to_0.10.0.md
Owners: @hydai

[Changelog] Update the changelog for the 0.11.0-rc.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[CI] Use allowlist to filter the false negative errors
  .github/workflows/inventory.yml
Owners: @hydai

[Docker] Remove appdev images
  docs/book/en/src/start/docker.md
  utils/docker/Dockerfile.appdev_aarch64
  utils/docker/Dockerfile.appdev_x86_64
  utils/docker/build-appdev.md
Owners: @hydai, @ibmibmibm, @q82419

[Docs] Add version updating steps in release process
  ReleaseProcess.md
Owners: @hydai

[Docs] Use mdbook-variables to update version in docs
  .github/workflows/mdbook.yml
  docs/book/en/book.toml
  docs/book/en/src/start/docker.md
  docs/book/en/src/start/install.md
Owners: @hydai

[Docker] Rename slim images
  .github/workflows/release.yml
  docs/book/en/src/start/docker.md
Owners: @hydai

[CAPI] Use 'FromBuffer' instead of 'FromArray'
  .CurrentChangelog.md
  Changelog.md
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @hydai, @q82419

[Rename] refine the httpsreq (#1768) (#1788)
  .github/workflows/build-extensions.yml
  plugins/CMakeLists.txt
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/wasmedge_httpsreq/CMakeLists.txt
  plugins/wasmedge_httpsreq/httpsreqbase.h
  plugins/wasmedge_httpsreq/httpsreqenv.cpp
  plugins/wasmedge_httpsreq/httpsreqenv.h
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
  plugins/wasmedge_httpsreq/httpsreqfunc.h
  plugins/wasmedge_httpsreq/httpsreqmodule.cpp
  plugins/wasmedge_httpsreq/httpsreqmodule.h
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_httpsreq/CMakeLists.txt
  test/plugins/wasmedge_httpsreq/httpsreq.cpp
  utils/wasmedge_httpsreq/build-openssl.sh
Owners: @hydai, @q82419, @ibmibmibm

[CAPI] Use 'FromBuffer' instead of 'FromArray'
  .CurrentChangelog.md
  Changelog.md
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
Owners: @hydai, @q82419

[CI] Use allowlist to filter the false negative errors
  .github/workflows/inventory.yml
Owners: @hydai

[Doc][fix](rust): Fixed lint issue.
  docs/book/en/src/embed/rust/say_hello.md
Owners: @hydai

[Rust SDK][feat]: Supported CallingFrame.
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/examples/table.rs
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust][refactor](lib): Refactored HOST_FUNCS.
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Rust][feat](compiler): Implemented a new API.
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](import): Refactored test code.
  bindings/rust/wasmedge-sdk/src/import.rs
Owners: @hydai, @yanganto

[Rust SDK][fix](instance): Fixed clippy issue.
  bindings/rust/wasmedge-sdk/src/instance.rs
Owners: @hydai, @yanganto

[rust-types][refactor](error): Renamed MyError as HostFuncError.
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto

[rust-types][refactor](error): Refactored HostFuncError.
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto

[rust-types][feat](error): Defined MyError and HostFuncError.
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto
