Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Test] Add NotImplement
  test/host/wasi_crypto/CMakeLists.txt
  test/host/wasi_crypto/notimplement.cpp
Owners: @q82419

[WASI] Use auto&
  lib/host/wasi_crypto/symmetric/key.cpp
Owners: @q82419

[WASI] Remove unnecessary <variant>.
  include/host/wasi_crypto/symmetric/key.h
Owners: @q82419

[WASI] Remove unnecessary comment.
  lib/host/wasi_crypto/symmetric/aeads/cipher.cpp
Owners: @q82419

[WASI] Fix hkdf import error
  lib/host/wasi_crypto/symmetric/eae/hkdf.cpp
Owners: @q82419

[WASI] Merge aeads/helper and aeads/cipher to aeads
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/aeads/helper.h
  include/host/wasi_crypto/symmetric/registed.h
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/symmetric/aeads.cpp
Owners: @q82419

[WASI] Rename SecretKey to SecretVec Refactor random.
  include/host/wasi_crypto/symmetric/aeads/cipher.h
  include/host/wasi_crypto/symmetric/eae/hkdf.h
  include/host/wasi_crypto/symmetric/mac/hmac.h
  include/host/wasi_crypto/utils/secret_vec.h
  lib/host/wasi_crypto/symmetric/aeads/cipher.cpp
  lib/host/wasi_crypto/symmetric/eae/hkdf.cpp
  lib/host/wasi_crypto/symmetric/mac/hmac.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Implement signatures Rsa
  include/host/wasi_crypto/signatures/registed.h
  include/host/wasi_crypto/signatures/rsa.h
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/signatures/factory.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
Owners: @q82419

[WASI] Fix kdf comment
  include/host/wasi_crypto/symmetric/kdf.h
Owners: @q82419

[WASI] use static inline constexpr
  include/host/wasi_crypto/symmetric/aeads/cipher.h
Owners: @q82419

[WASI] Merge hash/sha2 and hash/helper to hash
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/hash/helper.h
  include/host/wasi_crypto/symmetric/hash/sha2.h
  include/host/wasi_crypto/symmetric/registed.h
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/symmetric/hash.cpp
Owners: @q82419

[WASI] License fix.
  lib/host/wasi_crypto/symmetric/aeads/cipher.cpp
Owners: @q82419

[WASI] use std::in_place_type construct variant.
  lib/host/wasi_crypto/common/options.cpp
  lib/host/wasi_crypto/kx/factory.cpp
  lib/host/wasi_crypto/signatures/factory.cpp
  lib/host/wasi_crypto/symmetric/factory.cpp
Owners: @q82419

[WASI] use static inline constexpr
  lib/host/wasi_crypto/symmetric/factory.cpp
Owners: @q82419

[WASI] Remove redundant empty line.
  include/host/wasi_crypto/symmetric/mac.h
Owners: @q82419

[WASI] use CRYPTO_memcmp to prevent time-based side channel leak
  lib/host/wasi_crypto/symmetric/tag.cpp
Owners: @q82419

[WASI] Add const, optimize lambda capture and auto&& usage, add move on Expected map.
  include/host/wasi_crypto/asymmetric_common/factory.h
  include/host/wasi_crypto/kx/dh/x25519.h
  include/host/wasi_crypto/signatures/ecdsa.h
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/rsa.h
  include/host/wasi_crypto/signatures/signstate.h
  include/host/wasi_crypto/signatures/verificationstate.h
  include/host/wasi_crypto/symmetric/aeads.h
  include/host/wasi_crypto/symmetric/factory.h
  include/host/wasi_crypto/symmetric/hash.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/mac.h
  include/host/wasi_crypto/utils/secret_vec.h
  lib/host/wasi_crypto/asymmetric_common/ctx.cpp
  lib/host/wasi_crypto/asymmetric_common/factory.cpp
  lib/host/wasi_crypto/asymmetric_common/keypair.cpp
  lib/host/wasi_crypto/asymmetric_common/publickey.cpp
  lib/host/wasi_crypto/asymmetric_common/secretkey.cpp
  lib/host/wasi_crypto/kx/ctx.cpp
  lib/host/wasi_crypto/kx/dh/x25519.cpp
  lib/host/wasi_crypto/signatures/ctx.cpp
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/factory.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
  lib/host/wasi_crypto/signatures/signatures.cpp
  lib/host/wasi_crypto/signatures/signstate.cpp
  lib/host/wasi_crypto/signatures/verificationstate.cpp
  lib/host/wasi_crypto/symmetric/aeads.cpp
  lib/host/wasi_crypto/symmetric/ctx.cpp
  lib/host/wasi_crypto/symmetric/factory.cpp
  lib/host/wasi_crypto/symmetric/hash.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
  lib/host/wasi_crypto/symmetric/key.cpp
  lib/host/wasi_crypto/symmetric/mac.cpp
  lib/host/wasi_crypto/symmetric/state.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Rename assumingExist to checkExist
  include/host/wasi_crypto/utils/hostfunction.h
  lib/host/wasi_crypto/asymmetric_common/func.cpp
  lib/host/wasi_crypto/common/func.cpp
  lib/host/wasi_crypto/kx/func.cpp
  lib/host/wasi_crypto/signatures/func.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Remove `addressOfTemporary`
  include/host/wasi_crypto/utils/evp_wrapper.h
  lib/host/wasi_crypto/symmetric/kdf.cpp
Owners: @hydai, @ibmibmibm, @q82419

[Doc] Add doc
  docs/witx/crypto/README.md
Owners: @hydai

[WASI] Implement ed25519
  include/host/wasi_crypto/signatures/eddsa.h
  include/host/wasi_crypto/signatures/registed.h
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/factory.cpp
Owners: @q82419

[WASI] use std::in_place_type_t wrapper makeFactory
  lib/host/wasi_crypto/symmetric/factory.cpp
Owners: @q82419

[WASI] Rename opensslAssuming to opensslCheck
  include/host/wasi_crypto/utils/evp_wrapper.h
  lib/host/wasi_crypto/kx/dh/x25519.cpp
  lib/host/wasi_crypto/signatures/ecdsa.cpp
  lib/host/wasi_crypto/signatures/eddsa.cpp
  lib/host/wasi_crypto/signatures/rsa.cpp
  lib/host/wasi_crypto/symmetric/aeads/cipher.cpp
  lib/host/wasi_crypto/symmetric/eae/hkdf.cpp
  lib/host/wasi_crypto/symmetric/hash/sha2.cpp
  lib/host/wasi_crypto/symmetric/mac/hmac.cpp
  lib/host/wasi_crypto/utils/evp_wrapper.cpp
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Fix cipher update and final.
  lib/host/wasi_crypto/symmetric/aeads/cipher.cpp
Owners: @q82419

[Test] Add ed25519 test
  test/host/wasi_crypto/asymmetric.cpp
  test/host/wasi_crypto/signatures.cpp
Owners: @q82419

[Test] Add Rsa test
  test/host/wasi_crypto/signatures.cpp
Owners: @q82419

[WASI] Fix error fill zero
  include/host/wasi_crypto/utils/secret_vec.h
  lib/host/wasi_crypto/symmetric/aeads.cpp
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Use in_place_type_t for initialization.
  lib/host/wasi_crypto/common/options.cpp
Owners: @q82419

[WASI] Merge eae/helper and eae/hkdf to kdf.
  include/host/wasi_crypto/symmetric/eae/hkdf.h
  include/host/wasi_crypto/symmetric/kdf.h
  include/host/wasi_crypto/symmetric/registed.h
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/symmetric/factory.cpp
  lib/host/wasi_crypto/symmetric/kdf.cpp
Owners: @q82419

[WASI] Add const.
  lib/host/wasi_crypto/kx/func.cpp
Owners: @q82419

[WASI] Refactor HandleManager.
  include/host/wasi_crypto/utils/handles_manager.h
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Optimize symmetric factory.
  lib/host/wasi_crypto/symmetric/factory.cpp
Owners: @q82419

[WASI] Update comment
  lib/host/wasi_crypto/kx/dh/x25519.cpp
Owners: @q82419

[Test] Rename test file.
  test/host/wasi_crypto/CMakeLists.txt
  test/host/wasi_crypto/aeads.cpp
  test/host/wasi_crypto/kx.cpp
Owners: @q82419

[WASI] Add const
  lib/host/wasi_crypto/asymmetric_common/func.cpp
  lib/host/wasi_crypto/common/func.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
Owners: @q82419

[WASI] Fix options relative issue. 1. use better name 2. overwrite value instead of do nothing.
  lib/host/wasi_crypto/symmetric/options.cpp
Owners: @q82419

[WASI] Use const auto&
  lib/host/wasi_crypto/symmetric/ctx.cpp
Owners: @q82419

[WASI] Simplify optional declaration.
  include/host/wasi_crypto/utils/optional.h
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Use tuple ctor.
  lib/host/wasi_crypto/kx/ctx.cpp
Owners: @q82419

[WASI] Remove toOptional.
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/utils/hostfunction.h
  include/host/wasi_crypto/utils/optional.h
  lib/host/wasi_crypto/asymmetric_common/ctx.cpp
  lib/host/wasi_crypto/asymmetric_common/func.cpp
  lib/host/wasi_crypto/common/ctx.cpp
  lib/host/wasi_crypto/common/func.cpp
  lib/host/wasi_crypto/symmetric/ctx.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
Owners: @q82419, @hydai, @ibmibmibm
