Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Examples] Update CAPI examples with new SONAME and SOVERSION
  examples/capi/mandelbrot-set-in-threads/Makefile
  examples/capi/wasi-env/README.md
Owners: @hydai

[CI] Update wxs for using the new SONAME in Windows installer
  .github/scripts/wasmedge.wxs
Owners: @hydai

[CI] Update the verification rules on the macOS
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai

[RPM] Use capi_version and capi_soname in the spec file
  rpm/wasmedge.spec.in
Owners: @hydai, @dm4

[Misc] the static library doesn't use VERSION and SOVERSION
  lib/api/CMakeLists.txt
Owners: @q82419

[Proposal] load type defintions: Part II
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core type section
  include/ast/component.h
  include/ast/component/corealias_section.h
  include/ast/component/coretype_section.h
  include/ast/component/module_decl.h
  include/ast/component_section.h
  include/ast/description.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  lib/loader/ast/type.cpp
Owners: @q82419

[Proposal] load export section
  include/ast/component.h
  include/ast/component/export_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core:instance section
  include/ast/component.h
  include/ast/component/coreinstance_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] header format
  include/ast/component/start_section.h
Owners: @q82419

[Misc] remove dead code, shadow local, and GNU extension
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] use class to hide subclass from toplevel namespace
  include/ast/component/import_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] style check
  include/ast/component/alias_section.h
  include/ast/component/sort.h
Owners: @q82419

[AST] init the Component ast and loading code
  include/ast/component.h
  include/loader/loader.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
Owners: @q82419

[Misc] resolve conflict via remove problem commit
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load core:alias section
  include/ast/component.h
  include/ast/component/corealias_section.h
  include/ast/component/export_section.h
  include/ast/component/sort.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load start section
  include/ast/component.h
  include/ast/component/start_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] remove all file path in header
  include/ast/component.h
  include/ast/component/alias_section.h
  include/ast/component/canon_section.h
  include/ast/component/corealias_section.h
  include/ast/component/coreinstance_section.h
  include/ast/component/coretype_section.h
  include/ast/component/export_section.h
  include/ast/component/import_section.h
  include/ast/component/instance_section.h
  include/ast/component/module_decl.h
  include/ast/component/sort.h
  include/ast/component/start_section.h
  include/ast/component/type_section.h
  include/ast/component/value_type.h
  include/ast/component_section.h
Owners: @q82419

[Proposal] load type defintions: Part IV
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load instance section
  include/ast/component.h
  include/ast/component/coreinstance_section.h
  include/ast/component/export_section.h
  include/ast/component/instance_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Verify] type definition
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
  test/loader/CMakeLists.txt
  test/loader/component/CMakeLists.txt
  test/loader/component/testData/type-definition.wasm
  test/loader/component/testData/type-definition.wat
  test/loader/component/type_definition.cpp
Owners: @q82419

[Misc] introduce `std::variant` for every `union` case
  include/ast/component/type_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] load component from path
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  lib/loader/loader.cpp
Owners: @q82419

[Proposal] load core type definition complete
  include/ast/description.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load type defintions: Part III
  include/ast/component/type_section.h
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AST] explicit mark `override`
  include/ast/component/coretype_section.h
Owners: @q82419

[Proposal] load type defintions: Part I
  include/ast/component.h
  include/ast/component/type_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AST] reuse `ValueType` for `ExternDesc`
  include/ast/component/import_section.h
  include/ast/component/type_section.h
  include/ast/component/value_type.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[AST] complete component's preamble part
  include/ast/component.h
  lib/loader/ast/component.cpp
Owners: @q82419

[AST] handle `FieldType` constructor issue
  include/ast/component/coretype_section.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] introduce componen-model to Proposal enum and NodeAST
  include/common/configure.h
  include/common/enum.inc
Owners: @q82419

[Proposal] load sections
  include/ast/component.h
  include/ast/component/import_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Misc] code misc
  include/ast/component.h
  include/ast/component/canon_section.h
Owners: @q82419

[Proposal] load alias section
  include/ast/component.h
  include/ast/component/alias_section.h
  include/ast/component/export_section.h
  include/ast/component/sort.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] complete the canonical form section loading
  lib/loader/ast/component.cpp
Owners: @q82419

[Proposal] correct the flatten section loading
  include/ast/component/start_section.h
  include/ast/component_section.h
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
  lib/loader/loader.cpp
Owners: @q82419

[Proposal] load canon section
  include/ast/component.h
  include/ast/component/canon_section.h
  include/ast/component_section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Proposal] load nested component section
  include/ast/component.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component_section.cpp
Owners: @q82419

[Examples] Update CAPI examples with new SONAME and SOVERSION
  examples/capi/mandelbrot-set-in-threads/Makefile
  examples/capi/wasi-env/README.md
Owners: @hydai

[CI] Update the verification rules on the macOS
  .github/workflows/reusable-build-on-macos.yml
Owners: @hydai
