Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Utils] Installer CI: Change lib to lib64 directory
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer CI: Install which in CentOS
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer: Check if which is installed
  utils/install.sh
Owners: @SAtacker

[Utils] Installer CI: Change debug option (#1980)
  .github/workflows/test-install-script.yml
  utils/install.sh
Owners: @hydai, @SAtacker

[Utils] Revert "[Utils] Installer: WasmEdge installer (#1914)"
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
  utils/install.sh
Owners: @hydai, @ibmibmibm, @q82419, @SAtacker

[Utils] Revert "[Utils] Installer CI: Change debug option (#1980)"
  .github/workflows/test-install-script.yml
  utils/install.sh
Owners: @hydai, @SAtacker

[Utils] Revert "[Utils] Installer CI: Change debug option (#1980)"
  .github/workflows/test-install-script.yml
  utils/install.sh
Owners: @hydai, @SAtacker

[Utils] Revert "[Utils] Installer: WasmEdge installer (#1914)"
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
  utils/install.sh
Owners: @hydai, @ibmibmibm, @q82419, @SAtacker

[WASI]: Make epoll edge triggered.
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  include/host/wasi/wasifunc.h
  lib/host/wasi/environ.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/wasifunc.cpp
  lib/host/wasi/wasimodule.cpp
  test/host/wasi/wasi.cpp
Owners: @ibmibmibm

[WASI]: Add empty implementation for win and macos.
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/environ.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  test/host/wasi/wasi.cpp
Owners: @ibmibmibm

[WASI]: Remove unused variables on win.
  lib/host/wasi/inode-win.cpp
Owners: @ibmibmibm

[Docs] Fix typos and minor mistakes in ref.md
  docs/book/en/src/sdk/c/ref.md
Owners: @hydai

[CI] Refine workflow name
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/test-install-script.yml
  .github/workflows/witx.yml
Owners: @hydai

WasmEdge with OpenVINO support for Linux
  .github/workflows/build-extensions.yml
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  utils/wasi-nn/install-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[MISC] Fix operand of frintn
  include/common/roundeven.h
Owners: @q82419

[Executor] Add additional import hint message when instantiation failed.
  lib/executor/instantiate/import.cpp
Owners: @q82419

[WASI] Refine the WASI-NN pytorch scripts
  .github/workflows/build-extensions.yml
  utils/wasi-nn/install-pytorch.sh
Owners: @hydai, @ibmibmibm, @q82419

fix: add tflite version deps
  plugins/wasi_nn/CMakeLists.txt
Owners: @hydai

chore: add ci
  .github/workflows/build-extensions.yml
Owners: @hydai

build: download deps
  plugins/wasi_nn/CMakeLists.txt
Owners: @hydai

test: fix sorting error
  test/plugins/wasi_nn/wasi_nn.cpp
Owners: @q82419

add tensorflow lite backend.
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

build: log share
  plugins/wasi_nn/CMakeLists.txt
Owners: @hydai

fix: model url
  utils/wasi-nn/download-tflite-fixtures.sh
Owners: @hydai, @ibmibmibm, @q82419

test: add tflite test
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-tflite-fixtures.sh
Owners: @hydai, @q82419, @ibmibmibm

fix: script merged
  utils/wasi-nn/install-pytorch.sh
Owners: @hydai, @ibmibmibm, @q82419

test: add sort test
  test/plugins/wasi_nn/wasi_nn.cpp
Owners: @q82419

test: enable test in manylinux
  .github/workflows/build-extensions.yml
Owners: @hydai

[Misc] Fix operand of frintn (#1989)
  include/common/roundeven.h
Owners: @q82419

[CI] Refine workflow name
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/test-install-script.yml
  .github/workflows/witx.yml
Owners: @hydai

[Windows] Add WASI implementation status
  lib/host/wasi/inode-win.cpp
Owners: @ibmibmibm

[Windows] Implement Host Functions for Windows
  cmake/Helper.cmake
  include/host/wasi/inode.h
  lib/host/wasi/CMakeLists.txt
  lib/host/wasi/inode-win.cpp
Owners: @ibmibmibm

test(rust-sys): updated test_config_options method
  bindings/rust/wasmedge-sys/src/config.rs
Owners: @hydai, @yanganto

ci(bindings-rust): Refactored the workflow
  .github/workflows/bindings-rust.yml
Owners: @hydai

ci(bindings-rust): refactored the name of ubuntu job
  .github/workflows/bindings-rust.yml
Owners: @hydai

feat(rust-sdk): implemented new APIs for ConfigBuilder and Config
  bindings/rust/wasmedge-sdk/src/config.rs
Owners: @hydai, @yanganto

feat(rust-sys): implemented new APIs in Config.
  bindings/rust/wasmedge-sys/src/config.rs
Owners: @hydai, @yanganto

feat(rust-sys): enable wasi option in wasi_nn option
  bindings/rust/wasmedge-sys/src/config.rs
Owners: @hydai, @yanganto

feat(rust-sdk): implemented read_string method in Memory
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
Owners: @hydai, @yanganto

fix(rust-sdk): fixed the clippy issue.
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
Owners: @hydai, @yanganto
