Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

update java apis
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ConfigureContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExporTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExportTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
  bindings/java/wasmedge-java/src/test/java/WasmEdge_Test.java
  bindings/java/wasmedge-jni/lib/ConfigureContext.c
  bindings/java/wasmedge-jni/lib/ConfigureContext.h
  bindings/java/wasmedge-jni/lib/StoreContext.h
  bindings/java/wasmedge-jni/lib/VmContext.c
Owners: @hydai, @q82419

[Java SDK] Initial version
  bindings/java/wasmedge-java/README.md
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdge.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeF32Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeF64Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeI32Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeResult.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeString.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeString_Test.java
  bindings/java/wasmedge-java/src/wasmedge/CMakeLists.txt
  bindings/java/wasmedge-java/src/wasmedge/lib/WasmEdgeResult.c
  bindings/java/wasmedge-java/src/wasmedge/lib/WasmEdgeString.c
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdgeResult.h
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdgeString.h
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/FindWasmEdge.cmake
  bindings/java/wasmedge-jni/README.md
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdge.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdge_LogLevel.h
  bindings/java/wasmedge-jni/lib/WasmEdge.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

Add contexts and configurations
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ASTModuleContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ConfigureContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExporTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/LoaderContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/NativeResource.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StatisticsContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StoreContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/VMContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ValidatorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdge.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeLimit.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/CompilerOptimizationLevel.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/CompilerOutputFormat.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/HostRegistration.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/Proposal.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
  bindings/java/wasmedge-java/src/test/java/WasmEdge_Test.java
  bindings/java/wasmedge-jni/lib/StoreContext.c
Owners: @hydai, @q82419

upgrade junit & add exception cases
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StatisticsContext.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
Owners: @hydai, @q82419

global type context code complete
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/WasmEdgeMutability.java
  bindings/java/wasmedge-java/src/test/java/GlobalTypeContextTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_GlobalTypeContext.h
  bindings/java/wasmedge-jni/lib/GlobalTypeContext.c
Owners: @hydai, @q82419

function type context code complete
  bindings/java/wasmedge-java/hs_err_pid1015.log
  bindings/java/wasmedge-java/hs_err_pid908.log
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ValueType.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeF32Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeF64Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeI32Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeI64Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeValue.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/ValueType.java
  bindings/java/wasmedge-java/src/test/java/FunctionTypeContextTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_FunctionTypeContext.h
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.c
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

complete test cases for configure context
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ConfigureContext.java
  bindings/java/wasmedge-java/src/test/java/ConfigureContextTest.java
Owners: @hydai, @q82419

add more APIs
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ASTModuleContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/CompilerContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExportTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportObjectContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/LoaderContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StoreContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeLimit.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/ExternalType.java
  bindings/java/wasmedge-java/src/test/java/ASTModuleContextTest.java
  bindings/java/wasmedge-java/src/test/java/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/CompilerContextTest.java
  bindings/java/wasmedge-java/src/test/java/LoaderContextTest.java
  bindings/java/wasmedge-java/src/test/java/MemoryTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/StatisticsContextTest.java
  bindings/java/wasmedge-java/src/test/java/TableTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_TableTypeContext.h
  bindings/java/wasmedge-jni/lib/TableTypeContext.c
Owners: @hydai, @q82419

add context test cases
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ASTModuleContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExportTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/LoaderContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StatisticsContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ValidatorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/RefType.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/WasmEdgeMutability.java
  bindings/java/wasmedge-java/src/test/java/ASTModuleContextTest.java
  bindings/java/wasmedge-java/src/test/java/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/ExportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/FunctionTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/GlobalTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/ImportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/LoaderContextTest.java
  bindings/java/wasmedge-java/src/test/java/MemoryTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/StatisticsContextTest.java
  bindings/java/wasmedge-java/src/test/java/StoreContextTest.java
  bindings/java/wasmedge-java/src/test/java/TableTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/ValidatorContextTest.java
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

add configure context api
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ConfigureContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/WasmEdgeMutability.java
  bindings/java/wasmedge-java/src/test/java/ConfigureContextTest.java
Owners: @hydai, @q82419

code complete for configure context
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ConfigureContext.java
  bindings/java/wasmedge-java/src/test/java/ConfigureContextTest.java
  bindings/java/wasmedge-java/src/test/java/FunctionTypeContextTest.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_ConfigureContext.h
  bindings/java/wasmedge-jni/lib/ConfigureContext.c
Owners: @hydai, @q82419

add test cases for export types
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExportTypeContext.java
  bindings/java/wasmedge-java/src/test/java/ExportTypeContextTest.java
Owners: @hydai, @q82419

refactor code
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/hs_err_pid1015.log
  bindings/java/wasmedge-java/hs_err_pid908.log
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ASTModuleContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/CompilerContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ConfigureContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/FunctionTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/GlobalInstanceContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/GlobalTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/LoaderContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/MemoryInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/MemoryTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StatisticsContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StoreContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ValidatorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ValueTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-java/src/test/resources/apiTestData/fibonacci.wasm
  bindings/java/wasmedge-java/src/test/resources/apiTestData/import.wasm
  bindings/java/wasmedge-java/src/test/resources/apiTestData/import.wat
  bindings/java/wasmedge-java/src/test/resources/apiTestData/test.wasm
  bindings/java/wasmedge-java/src/test/resources/apiTestData/test.wat
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_CompilerContext.h
  bindings/java/wasmedge-jni/lib/CompilerContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

add test cases for compiler and loader
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/CompilerContext.java
  bindings/java/wasmedge-java/src/test/java/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/CompilerContextTest.java
  bindings/java/wasmedge-java/src/test/java/LoaderContextTest.java
Owners: @hydai, @q82419

add more APIs
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportObjectContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StoreContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeExternalRef.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeFunctionRef.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/ASTModuleContextTest.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
Owners: @hydai, @q82419

add test cases for import types
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ASTModuleContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/FunctionTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/ImportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/ValueTest.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
Owners: @hydai, @q82419

add test cases for global type, vm
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryInstanceContext.java
  bindings/java/wasmedge-java/src/test/java/GlobalInstanceContextTest.java
  bindings/java/wasmedge-java/src/test/java/MemoryInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
Owners: @hydai, @q82419

add test cases
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ValidatorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeExternalRef.java
  bindings/java/wasmedge-java/src/test/java/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/CompilerContextTest.java
  bindings/java/wasmedge-java/src/test/java/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/MemoryInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/StoreContextTest.java
  bindings/java/wasmedge-java/src/test/java/TableInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/TableTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/ValidatorContextTest.java
Owners: @hydai, @q82419

fix function type
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeCache.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/3.16.3/CMakeCCompiler.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/3.16.3/CMakeSystem.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/CMakeDirectoryInformation.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/CMakeOutput.log
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/Makefile.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/Makefile2
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/TargetDirectories.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/clion-environment.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/clion-log.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/cmake.check_cache
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/progress.marks
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/DependInfo.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/build.make
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/cmake_clean.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/depend.make
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/flags.make
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/link.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/progress.make
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/Makefile
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/Testing/Temporary/LastTest.log
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/cmake_install.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/wasmedge_jni.cbp
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/AstModuleContext.c
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.c
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.h
  bindings/java/wasmedge-jni/lib/LoaderContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

complete compiler test
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/CompilerContextTest.java
  bindings/java/wasmedge-jni/lib/CompilerContext.c
Owners: @hydai, @q82419

finish vm execution
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/AstModuleContext.h
  bindings/java/wasmedge-jni/lib/LoaderContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

code complete for loader context
  .gitignore
Owners: @hydai

code complete for loader context
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ASTModuleContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/LoaderContextTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeCache.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/3.16.3/CMakeCCompiler.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/3.16.3/CMakeSystem.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/CMakeDirectoryInformation.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/CMakeOutput.log
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/Makefile.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/Makefile2
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/TargetDirectories.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/clion-environment.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/clion-log.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/cmake.check_cache
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/progress.marks
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/DependInfo.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/build.make
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/cmake_clean.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/depend.make
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/flags.make
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/link.txt
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/CMakeFiles/wasmedge_jni.dir/progress.make
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/Makefile
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/Testing/Temporary/LastTest.log
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/cmake_install.cmake
  bindings/java/wasmedge-jni/cmake-build-debug-remote-host/wasmedge_jni.cbp
  bindings/java/wasmedge-jni/jni/org_wasmedge_ASTModuleContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_LoaderContext.h
  bindings/java/wasmedge-jni/lib/AstModuleContext.c
  bindings/java/wasmedge-jni/lib/AstModuleContext.h
  bindings/java/wasmedge-jni/lib/LoaderContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
Owners: @hydai, @q82419

add function type context
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionTypeContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.c
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.h
  bindings/java/wasmedge-jni/lib/LoaderContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
Owners: @hydai, @q82419

complete statistics context
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StatisticsContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StoreContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StatisticsContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ValidatorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_ExecutorContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_StatisticsContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_ValidatorContext.h
  bindings/java/wasmedge-jni/lib/ExecutorContext.c
  bindings/java/wasmedge-jni/lib/StatisticsContext.c
  bindings/java/wasmedge-jni/lib/StatisticsContext.h
  bindings/java/wasmedge-jni/lib/StoreContext.c
  bindings/java/wasmedge-jni/lib/StoreContext.h
  bindings/java/wasmedge-jni/lib/ValidatorContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

add table intance & memory instance
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableInstanceContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/GlobalInstanceContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/MemoryInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StoreContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableTypeContextTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_GlobalInstanceContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_MemoryInstanceContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_MemoryTypeContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_StoreContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_TableInstanceContext.h
  bindings/java/wasmedge-jni/lib/GlobalInstanceContext.c
  bindings/java/wasmedge-jni/lib/GlobalTypeContext.h
  bindings/java/wasmedge-jni/lib/MemoryInstanceContext.c
  bindings/java/wasmedge-jni/lib/MemoryTypeContext.c
  bindings/java/wasmedge-jni/lib/MemoryTypeContext.h
  bindings/java/wasmedge-jni/lib/StoreContext.c
  bindings/java/wasmedge-jni/lib/TableInstanceContext.c
  bindings/java/wasmedge-jni/lib/TableTypeContext.h
  bindings/java/wasmedge-jni/lib/ValueType.c
  bindings/java/wasmedge-jni/lib/ValueType.h
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

code complte for import type
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportTypeContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/GlobalInstanceContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StatisticsContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StoreContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_ImportTypeContext.h
  bindings/java/wasmedge-jni/lib/AstModuleContext.c
  bindings/java/wasmedge-jni/lib/ExecutorContext.c
  bindings/java/wasmedge-jni/lib/ExportTypeContext.c
  bindings/java/wasmedge-jni/lib/ImportTypeContext.c
  bindings/java/wasmedge-jni/lib/ImportTypeContext.h
  bindings/java/wasmedge-jni/lib/StatisticsContext.c
  bindings/java/wasmedge-jni/lib/ValidatorContext.c
Owners: @hydai, @q82419

update junit & fix test case
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryTypeContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/GlobalInstanceContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/MemoryInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StoreContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_MemoryTypeContext.h
  bindings/java/wasmedge-jni/lib/MemoryTypeContext.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

fix test cases
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StoreContextTest.java
Owners: @q82419

fix test case for global instance and memroy instance
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalInstanceContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/GlobalInstanceContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/MemoryInstanceTest.java
  bindings/java/wasmedge-jni/lib/common.c
Owners: @hydai, @q82419

happy birth day to myself 🎂
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeExternRef.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeExternalRef.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeFunctionRef.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableInstanceTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeExternRef.h
  bindings/java/wasmedge-jni/lib/ExternRef.c
  bindings/java/wasmedge-jni/lib/MemoryInstanceContext.c
  bindings/java/wasmedge-jni/lib/TableInstanceContext.c
  bindings/java/wasmedge-jni/lib/TableTypeContext.c
  bindings/java/wasmedge-jni/lib/ValueType.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

code complete for export type context
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ASTModuleContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExportTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeFunctionRef.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeLimit.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/ExternalType.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableInstanceTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_ExportTypeContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_MemoryTypeContext.h
  bindings/java/wasmedge-jni/lib/AstModuleContext.c
  bindings/java/wasmedge-jni/lib/ExportTypeContext.c
  bindings/java/wasmedge-jni/lib/ExportTypeContext.h
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.c
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.h
  bindings/java/wasmedge-jni/lib/GlobalTypeContext.c
  bindings/java/wasmedge-jni/lib/GlobalTypeContext.h
  bindings/java/wasmedge-jni/lib/MemoryTypeContext.c
  bindings/java/wasmedge-jni/lib/MemoryTypeContext.h
  bindings/java/wasmedge-jni/lib/StoreContext.c
  bindings/java/wasmedge-jni/lib/TableTypeContext.c
  bindings/java/wasmedge-jni/lib/TableTypeContext.h
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

fix test cases for WASI
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportObjectContextTest.java
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.c
  bindings/java/wasmedge-jni/lib/ImportObjectContext.c
  bindings/java/wasmedge-jni/lib/common.c
Owners: @q82419

add test for host func
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportObjectContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/lib/ExecutorContext.c
  bindings/java/wasmedge-jni/lib/ImportObjectContext.c
  bindings/java/wasmedge-jni/lib/ImportObjectContext.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

add import object context
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/HostFunction.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeExternRef.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeFuncRef.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WrapFunction.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportObjectContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/MemoryInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableInstanceTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/TableTypeContextTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_FunctionInstanceContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_ImportObjectContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_StoreContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeExternRef.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/ExternRef.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.h
  bindings/java/wasmedge-jni/lib/GlobalInstanceContext.h
  bindings/java/wasmedge-jni/lib/ImportObjectContext.c
  bindings/java/wasmedge-jni/lib/MemoryInstanceContext.h
  bindings/java/wasmedge-jni/lib/TableInstanceContext.h
  bindings/java/wasmedge-jni/lib/ValueType.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

code complete for store context
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/MemoryInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StoreContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/TableInstanceContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StoreContextTest.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_StoreContext.h
  bindings/java/wasmedge-jni/lib/FunctionTypeContext.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.h
  bindings/java/wasmedge-jni/lib/GlobalInstanceContext.c
  bindings/java/wasmedge-jni/lib/GlobalInstanceContext.h
  bindings/java/wasmedge-jni/lib/MemoryInstanceContext.c
  bindings/java/wasmedge-jni/lib/MemoryInstanceContext.h
  bindings/java/wasmedge-jni/lib/StoreContext.c
  bindings/java/wasmedge-jni/lib/TableInstanceContext.c
  bindings/java/wasmedge-jni/lib/TableInstanceContext.h
  bindings/java/wasmedge-jni/lib/common.c
Owners: @hydai, @q82419

fix bug for calling fuctions
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportObjectContextTest.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_ExecutorContext.h
  bindings/java/wasmedge-jni/lib/ExecutorContext.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

basic set up for host func
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/HostFunction.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportObjectContextTest.java
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.h
Owners: @hydai, @q82419

add dummy imp for host func
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/HostFunction.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportObjectContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/Result.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/enums/HostRegistration.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportObjectContextTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/jni/org_wasmedge_FunctionInstanceContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.c
  bindings/java/wasmedge-jni/lib/FunctionTypeInstance.h
  bindings/java/wasmedge-jni/lib/GlobalInstanceContext.h
  bindings/java/wasmedge-jni/lib/ImportObjectContext.c
  bindings/java/wasmedge-jni/lib/ImportObjectContext.h
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @hydai, @q82419

upgrade wasmedge
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ExecutorContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ImportObjectContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ModuleInstanceContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StoreContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ExecutorContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ImportObjectContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ModuleInstanceContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/StoreContextTest.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/FindWasmEdge.cmake
  bindings/java/wasmedge-jni/jni/org_wasmedge_ExecutorContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_ModuleInstanceContext.h
  bindings/java/wasmedge-jni/lib/ExecutorContext.c
  bindings/java/wasmedge-jni/lib/ImportObjectContext.c
  bindings/java/wasmedge-jni/lib/ImportObjectContext.h
  bindings/java/wasmedge-jni/lib/ModuleInstanceContext.c
  bindings/java/wasmedge-jni/lib/ModuleInstanceContext.h
  bindings/java/wasmedge-jni/lib/StoreContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419
