Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Docs] Update Dapr and QuickJS docs (#1597)
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/dev/js/networking.md
  docs/book/en/src/dev/js/nodejs.md
  docs/book/en/src/dev/js/rust.md
  docs/book/en/src/frameworks/mesh/dapr-wasmedge-in-action.png
  docs/book/en/src/frameworks/mesh/dapr-wasmedge.png
  docs/book/en/src/frameworks/mesh/dapr.md
Owners: @hydai

[Compiler] Replace mach_o with macho after LLVM 14 released
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Rust] Removed standalone mode (#1595)
  .github/workflows/bindings-rust.yml
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/build.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](lib): Implemented new versioning APIs
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[Rust][feat](utils): Supported new versioning CAPIs.
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[TMP] Remove all workflows except for the macos build
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-rust.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/inventory.yml
  .github/workflows/linter.yml
  .github/workflows/mdbook.yml
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
  .github/workflows/rust-wasmedge-types-release.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/test-install-script.yml
  .github/workflows/witx.yml
Owners: @hydai

[WASI] Refine the cmake options for WASI-NN.
  CMakeLists.txt
  docs/book/en/src/dev/rust/wasinn.md
  lib/vm/CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/CMakeLists.txt
  test/host/wasi_nn/CMakeLists.txt
  test/host/wasi_nn/wasi_nn.cpp
  utils/docker/build-wasinn-ubuntu-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[Utils] Move the WASI-NN build scripts into `utils/wasi-nn`.
  .github/workflows/build-extensions.yml
  test/host/wasi_nn/CMakeLists.txt
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/download_openvino_fixtures.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[Utils] Move the WASI-NN build scripts into `utils/wasi-nn`.
  .github/workflows/build-extensions.yml
  test/host/wasi_nn/CMakeLists.txt
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/download_openvino_fixtures.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[WASI] Refine the cmake options for WASI-NN.
  CMakeLists.txt
  docs/book/en/src/dev/rust/wasinn.md
  lib/vm/CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/CMakeLists.txt
  test/host/wasi_nn/CMakeLists.txt
  test/host/wasi_nn/wasi_nn.cpp
  utils/docker/build-wasinn-ubuntu-openvino.sh
Owners: @hydai, @q82419, @ibmibmibm

[Example] Add the C API example of initializing the WASI.
  examples/capi/wasi-env/README.md
  examples/capi/wasi-env/rust/Cargo.toml
  examples/capi/wasi-env/rust/src/lib.rs
  examples/capi/wasi-env/set_wasi_env.c
  examples/capi/wasi-env/wasi_get_env.wasm
Owners: @hydai

[Example] Add the C API example of initializing the WASI.
  examples/capi/wasi-env/README.md
  examples/capi/wasi-env/rust/Cargo.toml
  examples/capi/wasi-env/rust/src/lib.rs
  examples/capi/wasi-env/set_wasi_env.c
  examples/capi/wasi-env/wasi_get_env.wasm
Owners: @hydai

[CI] Bump IWYU to 0.18 to be compatible with LLVM 14 on MacOS
  .github/workflows/IWYU_scan.yml
Owners: @hydai

[Compiler] lld on macho requires -arch and -platform_version to always be specified
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Compiler] lld on macho requires -arch and -platform_version to always be specified
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Rust] Supported new C-APIs (#1602)
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Rust][feat](examples): Added a new example
  bindings/rust/wasmedge-sys/examples/wasi_print_env.rs
Owners: @hydai, @yanganto

[Rust][fix](module): Fixed bug.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Rust][fix](examples, module): Fixed the review issues.
  bindings/rust/wasmedge-sys/examples/wasi_print_env.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

[Rust][feat](examples): Added a new example.
  bindings/rust/Cargo.toml
  bindings/rust/wasmedge-sys/examples/data/wasi_print_env.wasm
  bindings/rust/wasmedge-sys/examples/data/wasi_print_env.wat
  bindings/rust/wasmedge-sys/examples/wasi_print_env.rs
  bindings/rust/wasmedge-sys/examples/wasi_print_env/Cargo.toml
  bindings/rust/wasmedge-sys/examples/wasi_print_env/src/lib.rs
Owners: @hydai, @yanganto

[Rust] Fixed a bug related to wasi module initialization (#1609)
  bindings/rust/Cargo.toml
  bindings/rust/wasmedge-sys/examples/data/wasi_print_env.wasm
  bindings/rust/wasmedge-sys/examples/data/wasi_print_env.wat
  bindings/rust/wasmedge-sys/examples/wasi_print_env.rs
  bindings/rust/wasmedge-sys/examples/wasi_print_env/Cargo.toml
  bindings/rust/wasmedge-sys/examples/wasi_print_env/src/lib.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Example] Update and refine the threads example.
  examples/capi/WasmEdge-Mandelbrot-Example/README.md
  examples/capi/mandelbrot-set-in-threads/Makefile
  examples/capi/mandelbrot-set-in-threads/README.md
  examples/capi/mandelbrot-set-in-threads/convert.js
  examples/capi/mandelbrot-set-in-threads/main.cc
  examples/capi/mandelbrot-set-in-threads/main.js
  examples/capi/mandelbrot-set-in-threads/mandelbrot.c
  examples/capi/mandelbrot-set-in-threads/mandelbrot.wasm
  examples/capi/mandelbrot-set-in-threads/output-node.png
  examples/capi/mandelbrot-set-in-threads/output-wasmedge.png
  examples/capi/mandelbrot-set-in-threads/package-lock.json
  examples/capi/mandelbrot-set-in-threads/test.bash
  examples/capi/mandelbrot-set-in-threads/worker.js
Owners: @hydai

[CI] Bump IWYU to 0.18 to be compatible with LLVM 14 on MacOS
  .github/workflows/IWYU_scan.yml
Owners: @hydai

[Example] Update and refine the threads example.
  examples/capi/WasmEdge-Mandelbrot-Example/README.md
  examples/capi/mandelbrot-set-in-threads/Makefile
  examples/capi/mandelbrot-set-in-threads/README.md
  examples/capi/mandelbrot-set-in-threads/convert.js
  examples/capi/mandelbrot-set-in-threads/main.cc
  examples/capi/mandelbrot-set-in-threads/main.js
  examples/capi/mandelbrot-set-in-threads/mandelbrot.c
  examples/capi/mandelbrot-set-in-threads/mandelbrot.wasm
  examples/capi/mandelbrot-set-in-threads/output-node.png
  examples/capi/mandelbrot-set-in-threads/output-wasmedge.png
  examples/capi/mandelbrot-set-in-threads/package-lock.json
  examples/capi/mandelbrot-set-in-threads/test.bash
  examples/capi/mandelbrot-set-in-threads/worker.js
Owners: @hydai

[Changelog] Update the changelog for the 0.10.1-alpha.2 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Docs] Fix outdated contributing page
  docs/CONTRIBUTING.md
Owners: @hydai

[Docs]: fix contributing page
  docs/CONTRIBUTING.md
Owners: @hydai

[Misc]: fix docker images
  utils/docker/Dockerfile.ubuntu2004_x86_64
Owners: @hydai, @ibmibmibm, @q82419

[WASI][Utils] Import wasi-crypto.
  docs/witx/crypto/README.md
  docs/witx/crypto/proposal_asymmetric_common.witx
  docs/witx/crypto/proposal_common.witx
  docs/witx/crypto/proposal_external_secrets.witx
  docs/witx/crypto/proposal_kx.witx
  docs/witx/crypto/proposal_signatures.witx
  docs/witx/crypto/proposal_symmetric.witx
  thirdparty/wasi_crypto/api.hpp
  utils/wasi-cpp-header/crypto-custom.patch
  utils/wasi-cpp-header/crypto_generate.sh
  utils/wasi-cpp-header/src/cpp_header.rs
Owners: @hydai, @ibmibmibm, @q82419

[CMake][WASI] Add wasi-crypto module.
  CMakeLists.txt
  include/host/wasi_crypto/module.h
  lib/host/CMakeLists.txt
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/module.cpp
  test/CMakeLists.txt
  test/host/wasi_crypto/CMakeLists.txt
  test/host/wasi_crypto/helper.cpp
Owners: @hydai, @q82419

[VM] Export wasi-crypto
  bindings/rust/wasmedge-sys/src/config.rs
  include/api/wasmedge/wasmedge.h
  include/common/enum.inc
  lib/api/CMakeLists.txt
  lib/api/wasmedge.cpp
  lib/vm/CMakeLists.txt
  lib/vm/vm.cpp
  test/api/APIUnitTest.cpp
  tools/wasmedge/wasmedger.cpp
Owners: @hydai, @yanganto, @q82419, @ibmibmibm

[WASI] Add common Context
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/common/ctx.cpp
Owners: @q82419

[WASI] Add Error handle.
  include/host/wasi_crypto/utils/error.h
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Implement common Options
  include/host/wasi_crypto/common/options.h
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/kx/options.h
  include/host/wasi_crypto/signatures/options.h
  include/host/wasi_crypto/symmetric/options.h
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/common/ctx.cpp
  lib/host/wasi_crypto/common/options.cpp
  lib/host/wasi_crypto/kx/options.cpp
  lib/host/wasi_crypto/signatures/options.cpp
  lib/host/wasi_crypto/symmetric/options.cpp
Owners: @q82419

[WASI] Register host function in wasi-crypto module
  lib/host/wasi_crypto/module.cpp
Owners: @q82419

[Utils] Import optional helper
  include/host/wasi_crypto/utils/optional.h
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Implement HandlesManager
  include/host/wasi_crypto/utils/handles_manager.h
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Add wasi-crypto HostFunction.
  include/host/wasi_crypto/asymmetric_common/func.h
  include/host/wasi_crypto/common/func.h
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/kx/func.h
  include/host/wasi_crypto/signatures/func.h
  include/host/wasi_crypto/symmetric/func.h
  include/host/wasi_crypto/utils/hostfunction.h
  lib/host/wasi_crypto/CMakeLists.txt
  lib/host/wasi_crypto/asymmetric_common/func.cpp
  lib/host/wasi_crypto/common/func.cpp
  lib/host/wasi_crypto/kx/func.cpp
  lib/host/wasi_crypto/signatures/func.cpp
  lib/host/wasi_crypto/symmetric/func.cpp
Owners: @q82419, @hydai, @ibmibmibm

[WASI] Add wasi-crypto context
  include/host/wasi_crypto/ctx.h
  include/host/wasi_crypto/module.h
  lib/host/wasi_crypto/CMakeLists.txt
Owners: @q82419

[WASI] Add wasi-crypto algorithm
  include/host/wasi_crypto/kx/alg.h
  include/host/wasi_crypto/signatures/alg.h
  include/host/wasi_crypto/symmetric/alg.h
Owners: @q82419
