Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @dannypsnl, @ibmibmibm, @q82419, @dm4, @SAtacker

doc(rust-sys): update doc comments in Function
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

chore(rust-sys): add test case
  bindings/rust/wasmedge-sys/src/plugin.rs
Owners: @hydai, @yanganto

chore(rust-sys): update code
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

ci(bindings-rust): update workflow
  .github/workflows/bindings-rust.yml
Owners: @hydai

doc(rust-sys): update doc comments
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/store.rs
Owners: @hydai, @yanganto

doc(rust-sys): update doc comments and README
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

chore(rust-sys): update examples
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/async_run_registered_func.rs
Owners: @hydai, @yanganto

chore(rust-sdk): update code in Vm
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

refactor(rust-sys): refactor create methods of Loader and Validator
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/examples/async_run_func.rs
  bindings/rust/wasmedge-sys/examples/executor_register_active_module.rs
  bindings/rust/wasmedge-sys/examples/executor_register_named_module.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/src/ast_module.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/validator.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/executor_with_statistics.rs
Owners: @hydai, @yanganto

feat(rust-sdk): implement new API in PluginManager
  bindings/rust/wasmedge-sdk/src/plugin.rs
Owners: @hydai, @yanganto

chore(rust-sys): update example
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
Owners: @hydai, @yanganto

refactor(rust-sdk): refactor Table
  bindings/rust/wasmedge-sdk/examples/table.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
Owners: @hydai, @yanganto

refactor(rust-sdk): refactor Func and FuncRef
  bindings/rust/wasmedge-sdk/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/types.rs
Owners: @hydai, @yanganto

chore(rust-sys): update code
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

refactor(rust-sys): remove WasmEdgeModule, WasiNNModule and WasiCrypto modules
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

chore(rust-sdk): update example
  bindings/rust/wasmedge-sdk/examples/run_func_in_aot_mode.rs
Owners: @hydai, @yanganto

refactor(rust-sdk): refactor Table
  bindings/rust/wasmedge-sdk/examples/table.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/wasi.rs
Owners: @hydai, @yanganto

ci(bindings-rust): update workflow
  .github/workflows/bindings-rust.yml
Owners: @hydai

ci(bindings-rust): update workflow (#2307)
  .github/workflows/bindings-rust.yml
Owners: @hydai

feat(rust-sdk): implement VmBuilder
  bindings/rust/wasmedge-sdk/examples/async_hello_world.rs
  bindings/rust/wasmedge-sdk/examples/async_run_func.rs
  bindings/rust/wasmedge-sdk/examples/create_host_func_in_host_func.rs
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/examples/host_func_with_custom_error.rs
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/examples/run_func_in_aot_mode.rs
  bindings/rust/wasmedge-sdk/examples/vm.rs
  bindings/rust/wasmedge-sdk/examples/wasi_print_env.rs
  bindings/rust/wasmedge-sdk/src/compiler.rs
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

doc(rust-sdk): update README
  bindings/rust/wasmedge-sdk/README.md
Owners: @hydai, @yanganto

chore(rust-sys): update dependency
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

[CI] Rename docker-slim.
  .github/workflows/release.yml
Owners: @hydai

[Docs] Add the link of C API references.
  docs/book/en/src/sdk/c.md
Owners: @hydai

[WASI] Change rights of pre-open fd
  lib/host/wasi/environ.cpp
Owners: @ibmibmibm

[WASI] Fix wrong rights for new VINode in path_open
  include/host/wasi/vinode.h
  lib/host/wasi/vinode.cpp
Owners: @ibmibmibm

[MISC] Rename rights for preopen fd
  lib/host/wasi/environ.cpp
Owners: @ibmibmibm

[MISC] Remove redundant document in VINode
  include/host/wasi/vinode.h
Owners: @ibmibmibm

[CI] Rename docker-slim.
  .github/workflows/release.yml
Owners: @hydai

[WASI] Fix fd_readdir
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
Owners: @ibmibmibm

[MISC] Add comment about fd_readdir
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
Owners: @ibmibmibm

[Docs] Update build from source section on Ubuntu
  docs/book/en/src/contribute/build_from_src/linux.md
Owners: @hydai

[Docs] Correct the WASI-NN docs.
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[Rust] Implement VmBuilder (#2312)
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/examples/async_hello_world.rs
  bindings/rust/wasmedge-sdk/examples/async_run_func.rs
  bindings/rust/wasmedge-sdk/examples/create_host_func_in_host_func.rs
  bindings/rust/wasmedge-sdk/examples/hello_world.rs
  bindings/rust/wasmedge-sdk/examples/host_func_with_custom_error.rs
  bindings/rust/wasmedge-sdk/examples/hostfunc_call_chain.rs
  bindings/rust/wasmedge-sdk/examples/run_func_in_aot_mode.rs
  bindings/rust/wasmedge-sdk/examples/vm.rs
  bindings/rust/wasmedge-sdk/examples/wasi_print_env.rs
  bindings/rust/wasmedge-sdk/src/compiler.rs
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/Cargo.toml
Owners: @hydai, @yanganto

[Tests] add unit test case of linux.h (#2243)
  test/host/wasi/CMakeLists.txt
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

[Docs] Add the link of C API references.
  docs/book/en/src/sdk/c.md
Owners: @hydai

[Docs] Correct the WASI-NN docs.
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[Docs] Update build from source section on Ubuntu
  docs/book/en/src/contribute/build_from_src/linux.md
Owners: @hydai

[CI] Use cache to reduce the building time of OpenWrt (#2309)
  .github/workflows/build_for_openwrt.yml
Owners: @hydai

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
bindings/java/                  @dannypsnl
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
plugins/                        @ibmibmibm
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
