Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Rust SDK][feat](instance, lib, vm): Implemented wasi-nn and wasi-crypto instances.
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](instance): Implemented AsInstance trait for WasmEdgeProcessInstance.
  bindings/rust/wasmedge-sdk/src/instance.rs
Owners: @hydai, @yanganto

[Rust][feat](utils): Implemented driver functions.
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Rust][refactor](module): Refactored name functions.
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

[Rust][feat](module, lib): Implemented WasiCryptoKx.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust][feat](module, lib): Implemented WasiCryptoSymmetric.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust][refactor](vm): Refactored test code.
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[CI][fix](rust): Fixed review issues.
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[Rust][refactor](module, vm): Refactored name functions.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust][feat](module, lib): Implemented WasiCryptoCommon and WasiCryptoAsymmetricCommon.
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](lib): Exposed the types defined in wasmedge-types crate.
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/externals/global.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[CI][refactor](rust): Refactored rust-release-related workflows.
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[Rust SDK][fix](instance): Fixed clippy issues.
  bindings/rust/wasmedge-sdk/src/instance.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](instance, wasi): Moved wasi related types into wasi module.
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sdk/src/wasi.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](vm, lib): Implemented Engine trait for Vm.
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](executor): Refactored test code.
  bindings/rust/wasmedge-sdk/src/executor.rs
Owners: @hydai, @yanganto

[Rust][feat](module): Implemented WasiNnModule.
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

[Rust] Supported new C-APIs (#1732)
  .github/workflows/bindings-rust.yml
  .github/workflows/inventory.yml
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/examples/create_import_object.rs
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/externals/global.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/utils.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sdk/src/wasi.rs
  bindings/rust/wasmedge-sys/Cargo.toml
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/hostfunc.rs
  bindings/rust/wasmedge-sys/examples/hostfunc2.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/table_and_funcref.rs
  bindings/rust/wasmedge-sys/examples/vm_register_import_module.rs
  bindings/rust/wasmedge-sys/examples/vm_run_registered_func_async.rs
  bindings/rust/wasmedge-sys/examples/wasi_module.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-sys/tests/common.rs
  bindings/rust/wasmedge-sys/tests/test_aot.rs
Owners: @hydai, @yanganto

[CI] All rust related workflows should execute when a related PR is sent
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[CI] Check markdown format for pr (all rules in markdownlint)
  .github/workflows/mdbook.yml
Owners: @hydai

[Docs] Fix type
  docs/book/zh-TW/src/index.md
Owners: @hydai

[CI] Refactor: migrate linter.yml to build.yml
  .github/workflows/README.md
  .github/workflows/linter.yml
  .github/workflows/reusable-call-linter.yml
Owners: @hydai

[CI] Ensure clang-format passed before workflows
  .github/workflows/build-extensions.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/codeql-analysis.yml
Owners: @hydai

[Tools] Use the option to link the tools to static library.
  .github/workflows/build.yml
  .github/workflows/release.yml
  CMakeLists.txt
  include/api/wasmedge/wasmedge.h
  lib/CMakeLists.txt
  lib/api/CMakeLists.txt
  lib/driver/CMakeLists.txt
  lib/driver/compilerTool.cpp
  lib/driver/runtimeTool.cpp
  test/spec/spectest.cpp
  tools/wasmedge/CMakeLists.txt
Owners: @hydai, @q82419, @ibmibmibm

[Rust SDK][refactor](example): Refactored work_in_parallel.
  bindings/rust/wasmedge-sdk/examples/data/mandelbrot.so
  bindings/rust/wasmedge-sdk/examples/work_in_parallel.rs
Owners: @hydai, @yanganto

[rust-types][doc](lib): Refactored doc comments.
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](example): Added a new example.
  bindings/rust/wasmedge-sdk/examples/data/mandelbrot.wasm
  bindings/rust/wasmedge-sdk/examples/work_in_parallel.rs
Owners: @hydai, @yanganto

[Rust][refactor](lib): Refactored Engine trait.
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](example): Refactored code.
  bindings/rust/wasmedge-sdk/examples/work_in_parallel.rs
Owners: @hydai, @yanganto

[Rust SDK][feat](config): Supported threads, tail_call, and function_references config options.
  bindings/rust/wasmedge-sdk/src/config.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](lib): Refactored Engine trait.
  bindings/rust/wasmedge-sdk/examples/call_func_in_threads.rs
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust SDK][fix](example): Removed mandelbrot.so.
  bindings/rust/wasmedge-sdk/examples/data/mandelbrot.so
  bindings/rust/wasmedge-sdk/examples/work_in_parallel.rs
Owners: @hydai, @yanganto

[Rust] New example for demonstrating the multi-threading capability (#1740)
  bindings/rust/wasmedge-sdk/examples/call_func_in_threads.rs
  bindings/rust/wasmedge-sdk/examples/data/mandelbrot.wasm
  bindings/rust/wasmedge-sdk/examples/work_in_parallel.rs
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[RISC-V64] Add whether __riscv_xlen == 64 to determine whether it is riscv64.
  include/api/wasmedge/int128.h
  include/ast/instruction.h
  include/common/int128.h
  lib/api/wasmedge.cpp
  lib/system/allocator.cpp
Owners: @q82419, @ibmibmibm

[CI] Ensure clang-format passed before workflows
  .github/workflows/build-extensions.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/codeql-analysis.yml
Owners: @hydai

[CI] Refactor: migrate linter.yml to build.yml
  .github/workflows/README.md
  .github/workflows/linter.yml
  .github/workflows/reusable-call-linter.yml
Owners: @hydai

[AOT] Make the fallback cases more clear
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Tools] Use the option to link the tools to static library.
  .github/workflows/build.yml
  .github/workflows/release.yml
  CMakeLists.txt
  include/api/wasmedge/wasmedge.h
  lib/CMakeLists.txt
  lib/api/CMakeLists.txt
  lib/driver/CMakeLists.txt
  lib/driver/compilerTool.cpp
  lib/driver/runtimeTool.cpp
  test/spec/spectest.cpp
  tools/wasmedge/CMakeLists.txt
Owners: @hydai, @q82419, @ibmibmibm

[CI] All rust related workflows should execute when a related PR is sent
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

ci: add pytorch test
  .github/workflows/build-extensions.yml
  utils/wasi-nn/install-pytorch.sh
Owners: @hydai, @ibmibmibm, @q82419
