Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @dannypsnl, @ibmibmibm, @q82419, @dm4, @SAtacker

[RISCV] Add arch in compiler.cpp
  lib/aot/compiler.cpp
Owners: @ibmibmibm

support loading type and instruction defined in GC
  include/ast/instruction.h
  include/common/enum.inc
  lib/loader/ast/instruction.cpp
  lib/loader/ast/type.cpp
Owners: @q82419

[Docs] Fix the markdown linting issue
  docs/book/en/src/contribute/installer.md
Owners: @hydai

[CI]Fix the packages which needs to be updated.
  .github/workflows/build_for_openwrt.yml
Owners: @hydai

[CI]Fix the packages which needs to be updated.
  .github/workflows/build_for_openwrt.yml
Owners: @hydai

[CI]Fix the packages which needs to be updated.
  .github/workflows/build_for_openwrt.yml
Owners: @hydai

[CI]Fix the packages which needs to be updated.
  .github/workflows/build_for_openwrt.yml
Owners: @hydai

[CI]Fix the packages which needs to be updated.
  .github/workflows/build_for_openwrt.yml
Owners: @hydai

[CI] Fix the error of installing packages when building Openwrt. (#2222)
  .github/workflows/build_for_openwrt.yml
Owners: @hydai

[Docs] Add WasmEdge execution flow graph
  docs/book/en/src/contribute/internal.md
Owners: @hydai

[Docs] Add installer guide
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/contribute/installer.md
Owners: @hydai

[Docs] Modify installer docs (#2219)
  docs/book/en/src/contribute/installer.md
Owners: @hydai

[Docs] Fix the markdown linting issue
  docs/book/en/src/contribute/installer.md
Owners: @hydai

[MISC] Fix symlink lookup at path_filestat_set_times
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
Owners: @ibmibmibm

[Docs] Remove the deprecated section of image deps
  docs/book/en/src/contribute/installer.md
Owners: @hydai

[WASI] Fix symlink lookup at path_filestat_set_times (#2225)
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
Owners: @ibmibmibm

chore(ci): rust 1.67
  .github/workflows/bindings-rust.yml
Owners: @hydai

chore(ci): support fedora-35
  .github/workflows/bindings-rust.yml
Owners: @hydai

chore(ci): update branch for test
  .github/workflows/bindings-rust.yml
Owners: @hydai

fix(rust-types): fixed clippy issues
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

fix(rust-sys): fixed clippy issues
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
Owners: @hydai, @yanganto

chore(rust-sys): update code
  bindings/rust/wasmedge-sys/src/instance/function.rs
Owners: @hydai, @yanganto

chore(ci): update branches
  .github/workflows/bindings-rust.yml
Owners: @hydai

docs(platforms): correct typo: respberry -> raspberry
  docs/book/en/src/features/platforms.md
Owners: @hydai

[Docs] docs(platforms): correct typo: respberry -> raspberry (#2239)
  docs/book/en/src/features/platforms.md
Owners: @hydai

[Docs] Remove the deprecated section of image deps
  docs/book/en/src/contribute/installer.md
Owners: @hydai

[Docs] Modify installer docs (#2219)
  docs/book/en/src/contribute/installer.md
Owners: @hydai

[Docs] Fix the markdown linting issue
  docs/book/en/src/contribute/installer.md
Owners: @hydai

[Docs] Add installer guide
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/contribute/installer.md
Owners: @hydai

chore(ci): update workflow
  .github/workflows/bindings-rust.yml
Owners: @hydai

feat: finish tf backend
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @ibmibmibm

feat: all wasi-nn api
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
Owners: @ibmibmibm, @q82419

feat: add tf backend
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasi_nn/wasinnmodule.cpp
Owners: @ibmibmibm

fix: solve comments
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @ibmibmibm

add: test file and test executable
  test/host/wasi/CMakeLists.txt
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add: fromEAIEErrNo test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add: toClockId test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

[CI] Update bindings-rust workflow (#2236)
  .github/workflows/bindings-rust.yml
  bindings/rust/wasmedge-sys/examples/async_host_func_indirect.rs
  bindings/rust/wasmedge-sys/src/instance/function.rs
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

add: toTimespec test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

add: fromTimespec unit test case
  test/host/wasi/linuxTest.cpp
Owners: @ibmibmibm

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
bindings/java/                  @dannypsnl
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
plugins/                        @ibmibmibm
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
