Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Utils] Installer CI: Update CI tests for python installer
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer: Add other lib dir sourcing in env file
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Fix GNUSparseFile for macOS
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: fix library name for macOS
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Add progress bar and print
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Working Image extensions installation
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer CI: Install python from source as ubuntu packages are not same in all ubuntu versions
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer CI: Use matrix for python versions
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer: Working WasmEdge installer
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: WIP skeleton of installer
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer : if library does not contain digits skip
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Add plugins option
  .github/workflows/test-install-script.yml
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Plugins: Added a wasmedge_manifest json file
  utils/wasmedge_manifest.json
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Enable plugins download using wasmedge_manifest configuration
  utils/install.py
  utils/wasmedge_manifest.json
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Minor cleanup
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Modify bash script for more clarity during curl or wget installer.py
  utils/install.sh
Owners: @SAtacker

[Utils] Installer CI: fix Ubuntu 16 deadsnake ppa not found
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer CI: Remove old version checks and remove installer check for ignore brew option
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer: Remove content from bash script and call python script from inside bash script
  utils/install.sh
Owners: @SAtacker

[Utils] Installer CI: Fix CI for plugins
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer: Wrap json loader in try catch
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer CI: There's no way of knowing if plugins are in lib64 or in lib as script handles it in the following way:
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] wasmedge_manifest: reduce redundancy
  utils/wasmedge_manifest.json
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer CI: Handle multiple cases for python installation
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer CI: Separated CI for bash script and python script
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Owners: @hydai

[Utils] Installer: fix algorithm and data structure
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: fix plugins not found when installed at custom path which is a non system path
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer CI: Install curl
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer : fix aarch64 CI and check if plugins are downloaded in TEMP dir before copying
  .github/workflows/test-install-script.yml
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Fix for aarch64 CI
  .github/workflows/test-install-script.yml
Owners: @hydai

[Utils] Installer: Distinguished module name and variable name
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Manifest: fix url_root with / at the end
  utils/wasmedge_manifest.json
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Handle when no plugins given
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Instaler: Handle wasmedge aarch64 no tf deps
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: fix wasi_nn-openvino name
  utils/wasmedge_manifest.json
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer: Continue when plugin name does not match
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419

[Utils] Installer CI: Add multiple plugin tests
  .github/workflows/test-python-install-script.yml
Owners: @hydai

[Utils] Installer CI: Fix indentation
  .github/workflows/test-python-install-script.yml
Owners: @hydai

[Utils] Installer: minor fixes
  utils/install.py
Owners: @hydai, @ibmibmibm, @q82419
