Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

[Rust] Implemented new APIs for Memory and Config. (#1985)
  .github/workflows/bindings-rust.yml
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
  bindings/rust/wasmedge-sys/src/config.rs
Owners: @hydai, @yanganto

fix: solve comments and type
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

fix: test tensor type
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/wasi_nn.cpp
Owners: @hydai, @q82419

fix: handle tflite stat
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

[Executor] Add additional import hint message when instantiation failed.
  lib/executor/instantiate/import.cpp
Owners: @q82419

[Tools] Detect valid _start function on command mode
  lib/driver/runtimeTool.cpp
Owners: @q82419

[Tools] prevent file from loading twice
  lib/driver/runtimeTool.cpp
Owners: @q82419

[WASI] Support tensorflow lite backend for WASI-NN (#1846)
  .github/workflows/build-extensions.yml
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-tflite-fixtures.sh
  utils/wasi-nn/install-pytorch.sh
Owners: @hydai, @q82419, @ibmibmibm

[CI] Refine the plugin build and release CI for WASI-NN.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasi_nn/CMakeLists.txt
  utils/wasi-nn/download-openvino-fixtures.sh
  utils/wasi-nn/download-pytorch-fixtures.sh
  utils/wasi-nn/download-tflite-fixtures.sh
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Fix the order of graph-encoding in WASI-NN.
  plugins/wasi_nn/wasinnenv.h
Owners: @hydai

[Docs] Update WASI-NN docs for TensorFlow-Lite backend.
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[WASI] Fix the WASI-NN tensorflow-lite backend segmentation fault.
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

[Docs] Update the Quick start guides links of README.
  README-zh-TW.md
  README-zh.md
Owners: @hydai

[Docs] Update the Quick start guides links of README.
  README-zh-TW.md
  README-zh.md
Owners: @hydai

[Docs] Update the Quick start guides links of README.
  README-zh-TW.md
  README-zh.md
Owners: @hydai

[Docs] Update the Quick start guides links of README.
  README-zh-TW.md
  README-zh.md
Owners: @hydai

[Docs] Update the Quick start guides links of README.
  README-zh-TW.md
  README-zh.md
Owners: @hydai

[Misc] Support non-english args for win-cli
  include/api/wasmedge/wincli_helper.h
  tools/wasmedge/CMakeLists.txt
  tools/wasmedge/wasmedgec.cpp
  tools/wasmedge/wasmedger.cpp
  tools/wasmedge/wincli_helper.cpp
Owners: @q82419, @hydai, @ibmibmibm

[Misc] Bump the C API version to 0.0.1.
  CMakeLists.txt
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @q82419

fix(plugin): fix the pytorch encoding
  plugins/wasi_nn/wasinnenv.h
Owners: @hydai

[Docs] Update WASI-NN docs for TensorFlow-Lite backend.
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Owners: @hydai

[WASI] Fix the order of graph-encoding in WASI-NN.
  plugins/wasi_nn/wasinnenv.h
Owners: @hydai

[CI] Refine the plugin build and release CI for WASI-NN.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasi_nn/CMakeLists.txt
  utils/wasi-nn/download-openvino-fixtures.sh
  utils/wasi-nn/download-pytorch-fixtures.sh
  utils/wasi-nn/download-tflite-fixtures.sh
Owners: @hydai, @ibmibmibm, @q82419

[WASI] Support tensorflow lite backend for WASI-NN (#1846)
  .github/workflows/build-extensions.yml
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-tflite-fixtures.sh
  utils/wasi-nn/install-pytorch.sh
Owners: @hydai, @q82419, @ibmibmibm

[WASI] Fix the WASI-NN tensorflow-lite backend segmentation fault.
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Owners: @hydai

[Fuzz] Link LIB_FUZZING_ENGINE library for oss-fuzz
  tools/fuzz/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Fuzz] Make fuzzer compatible with old libc++
  lib/driver/fuzzPO.cpp
Owners: @q82419

[Fuzz] Check linking static library with fuzzer
  tools/fuzz/CMakeLists.txt
Owners: @hydai, @ibmibmibm, @q82419

[Loader] Capped maximum local counts to 67108864
  lib/loader/ast/segment.cpp
Owners: @q82419

[AOT] Record unreachable status for every control stacks
  lib/aot/compiler.cpp
Owners: @ibmibmibm

[Loader] Reject unreasonable long vector sizes
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
Owners: @q82419

[Fuzz] Export `LLVMFuzzerTestOneInput` symbol
  tools/fuzz/po.cpp
  tools/fuzz/tool.cpp
Owners: @hydai, @ibmibmibm, @q82419

[Loader] Reject wrong data in `AOTSection`
  lib/loader/ast/section.cpp
  lib/loader/shared_library.cpp
Owners: @q82419

[Fuzz] Add corpus for po fuzzer
  utils/corpus/po/add.txt
  utils/corpus/po/disable1.txt
  utils/corpus/po/enable1.txt
  utils/corpus/po/enable2.txt
  utils/corpus/po/gas-limit1.txt
  utils/corpus/po/gas-limit2.txt
  utils/corpus/po/help.txt
  utils/corpus/po/memory-page-limit1.txt
  utils/corpus/po/memory-page-limit2.txt
  utils/corpus/po/reactor.txt
  utils/corpus/po/simple.txt
  utils/corpus/po/time-limit1.txt
  utils/corpus/po/time-limit2.txt
  utils/corpus/po/version.txt
Owners: @hydai, @ibmibmibm, @q82419

initial commit
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ValueType.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdge.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeF32Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeF64Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeI32Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeI64Value.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeResult.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeString.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeValue.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeString_Test.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
  bindings/java/wasmedge-java/src/wasmedge/CMakeLists.txt
  bindings/java/wasmedge-java/src/wasmedge/lib/WasmEdgeResult.c
  bindings/java/wasmedge-java/src/wasmedge/lib/WasmEdgeString.c
  bindings/java/wasmedge-java/src/wasmedge/lib/WasmEdgeVM.c
  bindings/java/wasmedge-java/src/wasmedge/lib/common.c
  bindings/java/wasmedge-java/src/wasmedge/lib/common.h
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdgeResult.h
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdgeVM.h
Owners: @hydai, @q82419

[Java SDK] Basic Set Up
  .gitignore
  bindings/java/wasmedge-java/README.md
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/gradle/wrapper/gradle-wrapper.jar
  bindings/java/wasmedge-java/gradle/wrapper/gradle-wrapper.properties
  bindings/java/wasmedge-java/gradlew
  bindings/java/wasmedge-java/gradlew.bat
  bindings/java/wasmedge-java/settings.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVM_Test.java
  bindings/java/wasmedge-java/src/wasmedge/CMakeLists.txt
  bindings/java/wasmedge-java/src/wasmedge/WasmEdgeVM.c
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdgeVM.h
Owners: @hydai, @q82419

add local changes
  .gitignore
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdge.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeResult.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeString.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeValue.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeString_Test.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVM_Test.java
  bindings/java/wasmedge-java/src/test/java/WasmEdge_Test.java
  bindings/java/wasmedge-java/src/wasmedge/CMakeLists.txt
  bindings/java/wasmedge-java/src/wasmedge/WasmEdgeVM.c
  bindings/java/wasmedge-java/src/wasmedge/lib/WasmEdge.c
  bindings/java/wasmedge-java/src/wasmedge/lib/WasmEdgeString.c
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdge.h
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdgeString.h
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-java/src/wasmedge/org_wasmedge_WasmEdge_LogLevel.h
Owners: @hydai, @q82419

add resource delocation
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ConfigureContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StatisticsContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/StoreContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdgeVM.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/jni/org_wasmedge_ConfigureContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_StoreContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_VMContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/ConfigureContext.c
  bindings/java/wasmedge-jni/lib/StoreContext.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

finish step by step cases
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/CMakeLists.txt
  bindings/java/wasmedge-jni/FindWasmEdge.cmake
  bindings/java/wasmedge-jni/jni/org_wasmedge_ConfigureContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_StoreContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_VMContext.h
  bindings/java/wasmedge-jni/jni/org_wasmedge_WasmEdgeVM.h
  bindings/java/wasmedge-jni/lib/ConfigureContext.c
  bindings/java/wasmedge-jni/lib/ConfigureContext.h
  bindings/java/wasmedge-jni/lib/StoreContext.c
  bindings/java/wasmedge-jni/lib/StoreContext.h
  bindings/java/wasmedge-jni/lib/VmContext.c
  bindings/java/wasmedge-jni/lib/WasmEdge.c
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
  bindings/java/wasmedge-jni/lib/common.c
  bindings/java/wasmedge-jni/lib/common.h
Owners: @q82419, @hydai

add function type context
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/FunctionTypeContext.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/GlobalTypeContext.java
  bindings/java/wasmedge-java/src/test/java/BaseTest.java
  bindings/java/wasmedge-java/src/test/java/FunctionTypeContextTest.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeTest.java
  bindings/java/wasmedge-java/src/test/java/WasmEdgeVMTest.java
  bindings/java/wasmedge-jni/lib/WasmEdgeVM.c
Owners: @hydai, @q82419

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker
