Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[Rust SDK][refactor](instance, lib, config, vm, import): Implemented conditional compilation for WasmEdgeProcess.
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
Owners: @hydai, @yanganto

[Rust][fix](module, vm, examples): Fixed issues.
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[CI] Move the part of openwrt into build_for_openwrt.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  docs/book/en/src/os/openwrt.md
Owners: @hydai

[Docs] Add missing link to wasi-nn
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/dev/rust.md
Owners: @hydai

Update nodejs.md
  docs/book/en/src/dev/js/nodejs.md
Owners: @hydai

Update ssr.md
  docs/book/en/src/dev/js/ssr.md
Owners: @hydai

[Changelog] Update the changelog for the 0.10.1-alpha.3 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[Changelog] Update the changelog for the 0.10.1-alpha.3 pre-release.
  .CurrentChangelog.md
  Changelog.md
Owners: @hydai

[CI] Fix the build_for_openwrt.yml
  .github/workflows/build_for_openwrt.yml
Owners: @hydai

[Utils] Don't add current directory to path if the $XX_PATH is empty
  utils/install.sh
Owners: @SAtacker

[OpenWrt] Build WasmEdge for OpenWrt (#1620)
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  docs/book/en/src/os/openwrt.md
  docs/book/zh/src/os/openwrt.md
  utils/openwrt/build_for_openwrt.sh
  utils/openwrt/configuration/Makefile
Owners: @hydai, @ibmibmibm, @q82419

Update quickstart.md
  docs/book/en/src/dev/js/quickstart.md
Owners: @hydai

Update tensorflow.md
  docs/book/en/src/dev/js/tensorflow.md
Owners: @hydai

Update es6.md
  docs/book/en/src/dev/js/es6.md
Owners: @hydai

Update npm.md
  docs/book/en/src/dev/js/npm.md
Owners: @hydai

Update SUMMARY.md
  docs/book/en/src/SUMMARY.md
Owners: @hydai

[Utils] Don't add current directory to path if the $XX_PATH is empty
  utils/install.sh
Owners: @SAtacker

[Common] workaround fmt ostream deprecated problem via setting FMT_DEPRECATED_OSTREAM, fix it later
  cmake/Helper.cmake
Owners: @ibmibmibm

[CI] The cmake folder should be included in these workflows
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/static-code-analysis.yml
Owners: @hydai

[Rust] Supported conditional compilation for WasmEdgeProcess (#1662)
  bindings/rust/wasmedge-sdk/src/config.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/config.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[rust-types][feat](error): Defined new error variant.
  bindings/rust/wasmedge-types/src/error.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Rust][refactor](config): Refactored code.
  bindings/rust/wasmedge-sys/src/config.rs
Owners: @hydai, @yanganto

[rust-types][feat](lib): Implemented From trait.
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Rust][fix](types): Fixed clippy issues.
  bindings/rust/wasmedge-sys/src/types.rs
Owners: @hydai, @yanganto

[Rust][refactor](module): Refactored test code.
  bindings/rust/wasmedge-sys/src/instance/module.rs
Owners: @hydai, @yanganto

[rust-types][feat](lib): Implemented From trait.
  bindings/rust/wasmedge-types/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](import): Refactored test code.
  bindings/rust/wasmedge-sdk/src/import.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Rust][refactor](types): Refactored test code.
  bindings/rust/wasmedge-sys/src/types.rs
Owners: @hydai, @yanganto

[Rust][refactor](utils): Refactored code.
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Rust][doc](lib): Refactored doc comments.
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[CI][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Rust][refactor](bindings-rust): Refactored bindings-rust script.
  .github/workflows/bindings-rust.yml
Owners: @hydai

[Rust SDK][doc](lib): Refactored doc comments.
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[Rust][fix](utils): Fixed a bug.
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto
