Repository WasmEdge/WasmEdge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hydai, @yanganto, @ibmibmibm, @q82419, @dm4, @SAtacker

.github/CODEOWNERS:

# Global rule:
*                               @hydai
.devcontainer/                  @hydai
.github/                        @hydai
bindings/                       @hydai
bindings/rust/                  @hydai @yanganto
cmake/                          @ibmibmibm
docs/                           @hydai
include/                        @q82419
lib/                            @q82419
**/aot/                         @ibmibmibm
**/host/wasi/                   @ibmibmibm
**/host/wasmedge_process/       @ibmibmibm
**/system/                      @ibmibmibm
**/api/                         @q82419
rpm/                            @hydai @dm4
test/                           @q82419
test/aot/                       @ibmibmibm
test/host/wasi/                 @ibmibmibm
test/po/                        @ibmibmibm
test/span/                      @ibmibmibm
thirdparty/                     @ibmibmibm
tools/                          @hydai @ibmibmibm @q82419
utils/                          @hydai @ibmibmibm @q82419
utils/install.sh                @SAtacker
utils/uninstall.sh              @SAtacker

[CI][refactor](sdk-release): Refactored workflow.
  .github/workflows/rust-wasmedge-sdk-release.yml
Owners: @hydai

[CI][refactor](sdk-docs, sys-docs): Refactored workflows.
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
Owners: @hydai

[CI][refactor](sdk-release, sys-release): Refactored workflows.
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

[CI][refactor](sys-release): Refactored workflow.
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

[README][CI] Add diagrams for workflows
  .github/workflows/README.md
Owners: @hydai

[CI] Make sure linter has passed before start building
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/reusable-call-linter.yml
Owners: @hydai

[Docs] Fix the content width for fitting the small screens.
  docs/book/en/theme/css/general.css
  docs/book/zh-TW/theme/css/general.css
  docs/book/zh/theme/css/general.css
Owners: @hydai

[Docs] Fix the content width for fitting the small screens. (#1703)
  docs/book/en/theme/css/general.css
  docs/book/zh-TW/theme/css/general.css
  docs/book/zh/theme/css/general.css
Owners: @hydai

[Rust][CI] Refactored workflows related to Rust bindings for publishing crates. (#1701)
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
Owners: @hydai

[CI] Publish docker slim image in release.yml
  .github/workflows/release-published.yml
  .github/workflows/release.yml
  docs/book/en/src/start/docker.md
  utils/docker/Dockerfile.release
Owners: @hydai, @ibmibmibm, @q82419

[CI] Make sure linter has passed before start building
  .github/workflows/build.yml
  .github/workflows/linter.yml
  .github/workflows/reusable-call-linter.yml
Owners: @hydai

[README][CI] Add diagrams for workflows
  .github/workflows/README.md
Owners: @hydai

[Test] add the tests for networking for https
  test/plugins/CMakeLists.txt
  test/plugins/httpsreq/CMakeLists.txt
  test/plugins/httpsreq/httpsreq.cpp
Owners: @q82419

[Executor] implement the host function for https
  plugins/CMakeLists.txt
  plugins/httpsreq/CMakeLists.txt
  plugins/httpsreq/httpsreqbase.h
  plugins/httpsreq/httpsreqenv.cpp
  plugins/httpsreq/httpsreqenv.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/httpsreq/httpsreqmodule.h
Owners: @hydai

[Misc] clang format and tidy
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/httpsreq/httpsreqbase.h
  plugins/httpsreq/httpsreqenv.cpp
  plugins/httpsreq/httpsreqenv.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/httpsreq/httpsreqmodule.h
Owners: @hydai

[Plugin] update the host function to expose the received content
  plugins/httpsreq/httpsreqenv.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
Owners: @hydai

[Docs] add the doc for networking for https
  docs/book/en/src/dev/rust/networking-https.md
  docs/book/en/src/dev/rust/networking.md
  docs/book/zh/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking.md
Owners: @hydai

[Tests] update the tests for get_rcv and get_rcv_len function
  test/plugins/httpsreq/httpsreq.cpp
Owners: @q82419

[Rust][refactor](readme, lib): Refactored the version info of wasmedge-sdk.
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
Owners: @hydai, @yanganto

[Rust SDK][refactor](cargo, readme, lib): version 0.3.0.
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
Owners: @hydai, @yanganto

[Doc][refactor](rust): Refactored the version info of wasmedge-sdk.
  docs/book/en/src/embed/rust.md
Owners: @hydai

[Rust][fix](sdk, sys): Fixed clippy issues.
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/global.rs
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/examples/executor_register_active_module.rs
  bindings/rust/wasmedge-sys/examples/executor_register_named_module.rs
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/store_get_named_module.rs
  bindings/rust/wasmedge-sys/examples/vm_get_active_module.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/global.rs
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/validator.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Doc] Add the doc of building WasmEdge(interpreter) for RISC-V64 arch.
  docs/book/en/src/extend/build_for_RISC-V64.md
Owners: @hydai

[Rust][fix](sdk, sys): Fixed clippy issues on Linux.
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/vm.rs
Owners: @hydai, @yanganto

[Docs] update the docs for get_rcv and get_rcv_len function
  docs/book/en/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking.md
Owners: @hydai

[Rust][refactor](sdk, sys): Refactored doc for plugins.
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/utils.rs
Owners: @hydai, @yanganto

[Doc][refactor](rust): Refactored mdbook.
  docs/book/en/src/embed/rust.md
Owners: @hydai

[Doc][fix](rust): Fixed issue.
  docs/book/en/src/embed/rust.md
Owners: @hydai

[Misc] add plugin name to Error message line
  plugins/httpsreq/httpsreqfunc.cpp
Owners: @hydai

[CI] Make rust crates release workflow only execute when the rust-related components are modified.
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai

[Docs] correct the grammar mistake
  docs/book/en/src/dev/rust/networking-https.md
Owners: @hydai

[Rust] Bumped the version of wasmedge-sdk to v0.3.0 (#1709)
  bindings/rust/wasmedge-sdk/Cargo.toml
  bindings/rust/wasmedge-sdk/README.md
  bindings/rust/wasmedge-sdk/src/executor.rs
  bindings/rust/wasmedge-sdk/src/externals/function.rs
  bindings/rust/wasmedge-sdk/src/externals/global.rs
  bindings/rust/wasmedge-sdk/src/externals/memory.rs
  bindings/rust/wasmedge-sdk/src/externals/table.rs
  bindings/rust/wasmedge-sdk/src/import.rs
  bindings/rust/wasmedge-sdk/src/instance.rs
  bindings/rust/wasmedge-sdk/src/lib.rs
  bindings/rust/wasmedge-sdk/src/module.rs
  bindings/rust/wasmedge-sdk/src/store.rs
  bindings/rust/wasmedge-sdk/src/vm.rs
  bindings/rust/wasmedge-sys/README.md
  bindings/rust/wasmedge-sys/examples/executor_register_active_module.rs
  bindings/rust/wasmedge-sys/examples/executor_register_named_module.rs
  bindings/rust/wasmedge-sys/examples/func_call_across_different_modes.rs
  bindings/rust/wasmedge-sys/examples/mdbook_example_module_instance.rs
  bindings/rust/wasmedge-sys/examples/store_get_named_module.rs
  bindings/rust/wasmedge-sys/examples/vm_get_active_module.rs
  bindings/rust/wasmedge-sys/examples/wasmedge_process_module.rs
  bindings/rust/wasmedge-sys/src/compiler.rs
  bindings/rust/wasmedge-sys/src/executor.rs
  bindings/rust/wasmedge-sys/src/instance/global.rs
  bindings/rust/wasmedge-sys/src/instance/memory.rs
  bindings/rust/wasmedge-sys/src/instance/module.rs
  bindings/rust/wasmedge-sys/src/instance/table.rs
  bindings/rust/wasmedge-sys/src/lib.rs
  bindings/rust/wasmedge-sys/src/loader.rs
  bindings/rust/wasmedge-sys/src/store.rs
  bindings/rust/wasmedge-sys/src/utils.rs
  bindings/rust/wasmedge-sys/src/validator.rs
  bindings/rust/wasmedge-sys/src/vm.rs
  docs/book/en/src/embed/rust.md
Owners: @hydai, @yanganto

[CI] workflow: make the concurrency group fallback to github.ref if the event is not PR
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-rust.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docker.yml
  .github/workflows/inventory.yml
  .github/workflows/linter.yml
  .github/workflows/mdbook.yml
  .github/workflows/post-release.yml
  .github/workflows/release.yml
  .github/workflows/rust-wasmedge-sdk-docs.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-docs.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-docs.yml
  .github/workflows/rust-wasmedge-types-release.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/test-install-script.yml
  .github/workflows/witx.yml
Owners: @hydai

[Plugin] implement the host function for https request (#1666)
  CMakeLists.txt
  docs/book/en/src/dev/rust/networking-https.md
  docs/book/en/src/dev/rust/networking.md
  docs/book/zh/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking.md
  plugins/CMakeLists.txt
  plugins/httpsreq/CMakeLists.txt
  plugins/httpsreq/httpsreqbase.h
  plugins/httpsreq/httpsreqenv.cpp
  plugins/httpsreq/httpsreqenv.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/httpsreq/httpsreqmodule.h
  test/plugins/CMakeLists.txt
  test/plugins/httpsreq/CMakeLists.txt
  test/plugins/httpsreq/httpsreq.cpp
Owners: @hydai, @q82419

[Loader] Fix the set number of instruction immediate in debug mode.
  lib/loader/ast/instruction.cpp
Owners: @q82419

[Plugin] implement the host function for https request (#1666)
  CMakeLists.txt
  docs/book/en/src/dev/rust/networking-https.md
  docs/book/en/src/dev/rust/networking.md
  docs/book/zh/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking.md
  plugins/CMakeLists.txt
  plugins/httpsreq/CMakeLists.txt
  plugins/httpsreq/httpsreqbase.h
  plugins/httpsreq/httpsreqenv.cpp
  plugins/httpsreq/httpsreqenv.h
  plugins/httpsreq/httpsreqfunc.cpp
  plugins/httpsreq/httpsreqfunc.h
  plugins/httpsreq/httpsreqmodule.cpp
  plugins/httpsreq/httpsreqmodule.h
  test/plugins/CMakeLists.txt
  test/plugins/httpsreq/CMakeLists.txt
  test/plugins/httpsreq/httpsreq.cpp
Owners: @hydai, @q82419

update annotation to "module.wasm.image/variant: compat-smart"
  docs/book/en/src/kubernetes/cri/containerd.md
  docs/book/en/src/kubernetes/demo/server.md
  docs/book/en/src/kubernetes/demo/wasi.md
  docs/book/en/src/kubernetes/kubernetes/kind.md
  docs/book/en/src/kubernetes/kubernetes/kubeedge.md
  docs/book/en/src/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/en/src/kubernetes/kubernetes/kubernetes-crio.md
  docs/book/en/src/kubernetes/kubernetes/openyurt.md
  docs/book/en/src/kubernetes/kubernetes/superedge.md
  docs/book/zh/src/kubernetes/cri/containerd.md
  docs/book/zh/src/kubernetes/demo/server.md
  docs/book/zh/src/kubernetes/demo/wasi.md
  docs/book/zh/src/kubernetes/kubernetes/kind.md
  docs/book/zh/src/kubernetes/kubernetes/kubeedge.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-crio.md
  docs/book/zh/src/kubernetes/kubernetes/openyurt.md
Owners: @hydai

update annotation to "module.wasm.image/variant: compat-smart"
  docs/book/en/src/kubernetes/cri/containerd.md
  docs/book/en/src/kubernetes/demo/server.md
  docs/book/en/src/kubernetes/demo/wasi.md
  docs/book/en/src/kubernetes/kubernetes/kind.md
  docs/book/en/src/kubernetes/kubernetes/kubeedge.md
  docs/book/en/src/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/en/src/kubernetes/kubernetes/kubernetes-crio.md
  docs/book/en/src/kubernetes/kubernetes/openyurt.md
  docs/book/en/src/kubernetes/kubernetes/superedge.md
  docs/book/zh/src/kubernetes/cri/containerd.md
  docs/book/zh/src/kubernetes/demo/server.md
  docs/book/zh/src/kubernetes/demo/wasi.md
  docs/book/zh/src/kubernetes/kubernetes/kind.md
  docs/book/zh/src/kubernetes/kubernetes/kubeedge.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-crio.md
  docs/book/zh/src/kubernetes/kubernetes/openyurt.md
Owners: @hydai

[Docs] Apply the md format.
  docs/book/en/src/dev/js.md
  docs/book/en/src/dev/js/modules.md
  docs/book/en/src/dev/js/networking.md
  docs/book/en/src/dev/js/nodejs.md
  docs/book/en/src/dev/js/quickstart.md
  docs/book/en/src/dev/js/ssr.md
  docs/book/en/src/dev/rust/networking-https.md
  docs/book/en/src/frameworks/mesh/dapr.md
  docs/book/en/src/frameworks/mesh/wasm-nginx-module.md
  docs/book/en/src/os/openwrt.md
  docs/book/en/src/start/docker.md
  docs/book/zh/src/dev/rust.md
  docs/book/zh/src/dev/rust/bindgen.md
  docs/book/zh/src/dev/rust/command.md
  docs/book/zh/src/dev/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking-nonblocking.md
  docs/book/zh/src/dev/rust/networking.md
  docs/book/zh/src/dev/rust/ssr.md
  docs/book/zh/src/embed/go/ref.md
  docs/book/zh/src/frameworks/app/reactr.md
  docs/book/zh/src/os/openwrt.md
  utils/ohos/README-zh.md
Owners: @hydai, @ibmibmibm, @q82419

[CI] Make rust crates release workflow only execute when the rust-related components are modified.
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
Owners: @hydai
