Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

[CI] Use llvm dir from the chocolatey one
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

[Test] Use std::filesystem::u8path instead of a const char* Path (#2706)
  test/api/APIUnitTest.cpp
  test/externref/CMakeLists.txt
  test/externref/ExternrefTest.cpp
  test/mixcall/mixcallTest.cpp
Labels: c-Test

[WASI-NN] Added support for Tuple Type Output Tensors in Pytorch Backend (#2564)
  plugins/wasi_nn/torch.cpp
Labels: c-Plugin

[Preview] This is a preview version of WasmEdge coroutine. The API may change if there is any design decision update
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

[CI] Remove continue-on-error in testing phases
  .github/workflows/bindings-java.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

Fixed build fail in Xcode
  lib/host/wasi/CMakeLists.txt
Labels: c-WASI

Fixed broken links to docs
  docs/book/en/src/cli/wasmedge.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/features.md
  docs/book/en/src/features/platforms.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/quick_start/install.md
  docs/book/en/src/quick_start/run_cli.md
  docs/book/en/src/quick_start/run_in_aot_mode.md
  docs/book/en/src/sdk/c/0.10.1/ref.md
  docs/book/en/src/sdk/c/0.11.2/ref.md
  docs/book/en/src/sdk/c/0.9.1/ref.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/0.10.1/ref.md
  docs/book/en/src/sdk/go/0.11.2/ref.md
  docs/book/en/src/sdk/go/0.9.1/ref.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Labels: documentation

[System] Remove "inline" from Fault::emitFault (#2695)
  lib/system/fault.cpp
Labels: none

[System] Remove "inline" from Fault::emitFault (#2695) (#2720)
  lib/system/fault.cpp
Labels: none

[CI] Enable nix log when building process failed
  .github/workflows/build_for_nix.yml
Labels: c-CI

[Utils] Installer: Formatting and Better source message
  utils/install.py
Labels: c-Installer

[Utils] Installer CI: Add linting check using black formatter for python
  .github/workflows/test-python-install-script.yml
Labels: c-CI

Removed Unwanted content
  docs/book/en/src/features/proposals.md
  docs/book/en/src/quick_start/install.md
  docs/book/en/src/quick_start/run_cli.md
  docs/book/en/src/quick_start/run_in_aot_mode.md
Labels: documentation

[Test] Migrating spec test from RapidJSON to SIMDJSON (#2659)
  test/spec/CMakeLists.txt
  test/spec/spectest.cpp
Labels: c-Test

[CI] Remove continue-on-error in testing phases (#2718)
  .github/workflows/bindings-java.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

allows all parameter, fix review comment
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
Labels: c-Plugin

Added a more comprehensive Host and Wasm ZStream Syncronization Func, and wrapped all zlib calls with it.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Change few comments.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Add Condition to only add ZStream to internal registry, if init succeeded.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Remove unnecessary zlib version check in wasmedge, delegated it to the zlib implementation.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Added WasmEdgeZlibDeflateSetDictionary and WasmEdgeZlibDeflateGetDictionary.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

[Docs] Updating redirect links in the WasmEdge docs (#2719)
  docs/book/en/src/cli/wasmedge.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/features.md
  docs/book/en/src/features/platforms.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/quick_start/install.md
  docs/book/en/src/quick_start/run_cli.md
  docs/book/en/src/quick_start/run_in_aot_mode.md
  docs/book/en/src/sdk/c/0.10.1/ref.md
  docs/book/en/src/sdk/c/0.11.2/ref.md
  docs/book/en/src/sdk/c/0.9.1/ref.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/0.10.1/ref.md
  docs/book/en/src/sdk/go/0.11.2/ref.md
  docs/book/en/src/sdk/go/0.9.1/ref.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Labels: documentation

Added WasmEdgeZlibDeflateCopy with a comment on impl. ref.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

try `-L` options
  .github/workflows/build_for_nix.yml
Labels: c-CI

[CI] Enable nix log when building process failed (#2722)
  .github/workflows/build_for_nix.yml
Labels: c-CI

[Plugin] opecvmini `rectangle` and `cvtColor` (#2705)
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

[WASI] itimerspec with 0 timeout will disarm timer, +1 to workaround
  lib/host/wasi/inode-linux.cpp
Labels: c-WASI

[Java] Update gradle wrapper to 8.1.1
  bindings/java/wasmedge-java/gradle/wrapper/gradle-wrapper.jar
  bindings/java/wasmedge-java/gradle/wrapper/gradle-wrapper.properties
  bindings/java/wasmedge-java/gradlew
  bindings/java/wasmedge-java/gradlew.bat
Labels: binding-java

[WASI] Avoid undefined function `FindHolderBase::reset`
  include/host/wasi/inode.h
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

[JAVA] Remove old api functions
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ModuleInstanceContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ModuleInstanceContextTest.java
  bindings/java/wasmedge-java/wasmedge-jni/lib/ModuleInstanceContext.c
Labels: binding-java

[WASI] itimerspec with 0 timeout will disarm timer, +1 to workaround (#2730)
  lib/host/wasi/inode-linux.cpp
Labels: c-WASI

[CI] try to pre-build image with necessary dependency for extension
  .github/workflows/build-extensions.yml
  utils/docker/Dockerfile.build-opencv-clang
  utils/docker/Dockerfile.build-opencv-gcc
  utils/docker/build.sh
Labels: c-CI

revert ci changes
  .github/workflows/build-extensions.yml
Labels: c-CI

rename dockerfile and tag
  utils/docker/Dockerfile.build-clang-plugins-deps
  utils/docker/Dockerfile.build-gcc-plugins-deps
  utils/docker/build.sh
Labels: none

revert ci changes
  .github/workflows/build-extensions.yml
Labels: c-CI

share same installation script
  utils/docker/Dockerfile.build-clang-plugins-deps
  utils/docker/Dockerfile.build-gcc-plugins-deps
  utils/docker/install-opencvmini.sh
Labels: none

[Java] Update gradle wrapper to 8.1.1
  bindings/java/wasmedge-java/gradle/wrapper/gradle-wrapper.jar
  bindings/java/wasmedge-java/gradle/wrapper/gradle-wrapper.properties
  bindings/java/wasmedge-java/gradlew
  bindings/java/wasmedge-java/gradlew.bat
Labels: binding-java

[JAVA] Remove old api functions
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/ModuleInstanceContext.java
  bindings/java/wasmedge-java/src/test/java/org/wasmedge/ModuleInstanceContextTest.java
  bindings/java/wasmedge-java/wasmedge-jni/lib/ModuleInstanceContext.c
Labels: binding-java

[WASI] Avoid undefined function `FindHolderBase::reset`
  include/host/wasi/inode.h
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

Update test wat path
  test/api/CMakeLists.txt
Labels: c-Test
