Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

[CMake] Add the option to build WasmEdge-Image plugin.
  CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
Labels: c-Plugin

[Utils] Fix wrong condition when checking OS version in installer
  utils/install.py
Labels: c-Installer

[Utils] Let installer can use a local script if the path is given
  utils/install.sh
Labels: c-Installer

[Utils] Fix wrong condition when checking OS version in installer
  utils/install.py
Labels: c-Installer

[Utils] Let installer can use a local script if the path is given
  utils/install.sh
Labels: c-Installer

implements `imencode`
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
Labels: c-Plugin

[Examples] Fix the fibonacci.wat.
  examples/wasm/fibonacci.wat
Labels: c-Example

[Examples] Fix the fibonacci.wat.
  examples/wasm/fibonacci.wat
Labels: c-Example

[Misc] Remove bundled qjs.wasm. Users should download them from the wasmedge-quickjs release pages
  examples/js/README.md
  examples/js/qjs.wasm
  examples/js/qjs_tf.wasm
Labels: c-Example

[Misc] Re-write add.wasm with wat directly instead of generting it from a rust file
  examples/wasm/README.md
  examples/wasm/add.wasm
  examples/wasm/add.wat
  examples/wasm/hello.wasm
  examples/wasm/hello.wat
Labels: c-Example

[Misc] Users should build mandelbrot.wasm with the commands in README. No longer bundled precompiled mandelbrot.wasm
  examples/capi/mandelbrot-set-in-threads/mandelbrot.wasm
Labels: c-Example

[Misc] Remove precompiled wasi_get_env.wasm file
  examples/capi/wasi-env/.gitignore
  examples/capi/wasi-env/README.md
  examples/capi/wasi-env/wasi_get_env.wasm
Labels: c-Example

[Misc] Remove precompiled hello.wasm. Make users compile it from the Rust application
  examples/wasm/README.md
  examples/wasm/hello.wasm
  examples/wasm/hello.wat
  examples/wasm/hello/.gitignore
  examples/wasm/hello/Cargo.toml
  examples/wasm/hello/src/main.rs
Labels: c-Example

[Misc] Remove pre-compiled wasm in the examples from the source tree. Users can use wat2wasm, wabt toolchain, to compile them
  examples/capi/host_functions/parse_json/parse-json.wasm
  examples/plugin/get-string/test.wasm
  examples/wasm/README.md
  examples/wasm/add.wasm
  examples/wasm/factorial.wasm
  examples/wasm/fibonacci.wasm
Labels: c-Example

[CI] Use WABT to generate wasm from wat
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[API] Update the docs in API header.
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

[Test] Make unit tests use hex array instead of the raw wasm files
  .github/workflows/reusable-build-on-macos.yml
  test/api/APIUnitTest.cpp
  test/api/apiTestData/fibonacci.wasm
  test/api/apiTestData/import.wasm
  test/api/apiTestData/test.wasm
  test/externref/ExternrefTest.cpp
  test/externref/externrefTestData/funcs.wasm
  test/externref/externrefTestData/stl.wasm
  test/mixcall/mixcallTest.cpp
  test/mixcall/mixcallTestData/module1.wasm
  test/mixcall/mixcallTestData/module2.wasm
Labels: c-CI, c-Test

[API] Update the docs in API header.
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

Changed the OpenVino version and OpenVino year
  utils/wasi-nn/install-openvino.sh
Labels: none

[CI] Extension workflow should also watch the related utils files
  .github/workflows/build-extensions.yml
Labels: c-CI

Changed the OpenVino version and OpenVino year
  utils/wasi-nn/install-openvino.sh
Labels: none

Remove unsafe usage of wasm MemStart(pointer from base{0}). Converted to offset based pointer calculation, based on pointer increment after zlib operation..
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Changed Openvino version and Openvino year
  utils/wasi-nn/install-openvino.sh
Labels: none

Added in-code documentation to every field in Wasm_z_stream.
  plugins/wasmedge_zlib/zlibenv.h
Labels: c-Plugin

[CI] Extension workflow should also watch the related utils files
  .github/workflows/build-extensions.yml
Labels: c-CI

Changed Openvino version to 2023.0.0
  utils/wasi-nn/install-openvino.sh
Labels: none

Honor LLVM Naming Convention: Change 'Wasm_z_stream' struct name to 'WasmZStream'.
  plugins/wasmedge_zlib/zlibenv.h
  plugins/wasmedge_zlib/zlibfunc.cpp
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Plugin, c-Test

Honor LLVM Naming Convention: Change 'Wasm_z_stream' struct name to 'WasmZStream'.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

[Changelog] Update the changelog for the 0.13.0 release.
  .CurrentChangelog.md
  Changelog.md
Labels: none

[Changelog] Update the changelog for the 0.13.0 release.
  .CurrentChangelog.md
  Changelog.md
Labels: none

[CI] Use WABT to generate wasm from wat
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[Misc] Re-write add.wasm with wat directly instead of generting it from a rust file
  examples/wasm/README.md
  examples/wasm/add.wasm
  examples/wasm/add.wat
  examples/wasm/hello.wasm
  examples/wasm/hello.wat
Labels: c-Example

[Misc] Remove pre-compiled wasm in the examples from the source tree. Users can use wat2wasm, wabt toolchain, to compile them
  examples/capi/host_functions/parse_json/parse-json.wasm
  examples/plugin/get-string/test.wasm
  examples/wasm/README.md
  examples/wasm/add.wasm
  examples/wasm/factorial.wasm
  examples/wasm/fibonacci.wasm
Labels: c-Example

[Misc] Remove precompiled hello.wasm. Make users compile it from the Rust application
  examples/wasm/README.md
  examples/wasm/hello.wasm
  examples/wasm/hello.wat
  examples/wasm/hello/.gitignore
  examples/wasm/hello/Cargo.toml
  examples/wasm/hello/src/main.rs
Labels: c-Example

[Misc] Remove precompiled wasi_get_env.wasm file
  examples/capi/wasi-env/.gitignore
  examples/capi/wasi-env/README.md
  examples/capi/wasi-env/wasi_get_env.wasm
Labels: c-Example

[Test] Make unit tests use hex array instead of the raw wasm files
  .github/workflows/reusable-build-on-macos.yml
  test/api/APIUnitTest.cpp
  test/api/apiTestData/fibonacci.wasm
  test/api/apiTestData/import.wasm
  test/api/apiTestData/test.wasm
  test/externref/ExternrefTest.cpp
  test/externref/externrefTestData/funcs.wasm
  test/externref/externrefTestData/stl.wasm
  test/mixcall/mixcallTest.cpp
  test/mixcall/mixcallTestData/module1.wasm
  test/mixcall/mixcallTestData/module2.wasm
Labels: c-CI, c-Test

[Misc] Users should build mandelbrot.wasm with the commands in README. No longer bundled precompiled mandelbrot.wasm
  examples/capi/mandelbrot-set-in-threads/mandelbrot.wasm
Labels: c-Example

[Misc] Remove bundled qjs.wasm. Users should download them from the wasmedge-quickjs release pages
  examples/js/README.md
  examples/js/qjs.wasm
  examples/js/qjs_tf.wasm
Labels: c-Example

Export malloc
  include/api/wasmedge/wasmedge.h
  include/common/enum.inc
  include/runtime/instance/module.h
  lib/api/wasmedge.cpp
  lib/executor/instantiate/export.cpp
  test/api/APIMallocTest.cpp
  test/api/CMakeLists.txt
  test/api/apiTestData/cmalloc.wasm
  test/api/apiTestData/cmalloc.wat
Labels: c-CAPI, c-Test

normalize function
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
Labels: c-Plugin
