Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

[WASI Socket] Add CAPI for enabling/disabling/querying AF_UNIX support
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

[CAPI] Provide API for registering pre- and post- host functions
  include/api/wasmedge/wasmedge.h
  include/executor/executor.h
  lib/api/wasmedge.cpp
  lib/executor/executor.cpp
  lib/executor/helper.cpp
Labels: c-CAPI

[Docs] Update Changelog for the 0.13.4 release
  .CurrentChangelog.md
  Changelog.md
Labels: none

[Docs] Update Changelog for the 0.13.4 release
  .CurrentChangelog.md
  Changelog.md
Labels: none

[CI] Fix the brew env on MacOS release CI.
  .github/workflows/release.yml
Labels: c-CI

[CI] Fix the brew env on MacOS release CI.
  .github/workflows/release.yml
Labels: c-CI

[CMake] Fix the target name of rustls plugin.
  plugins/wasmedge_rustls/CMakeLists.txt
  test/plugins/wasmedge_rustls/CMakeLists.txt
Labels: c-Plugin, c-Test

[CMake] Fix the target name of rustls plugin.
  plugins/wasmedge_rustls/CMakeLists.txt
  test/plugins/wasmedge_rustls/CMakeLists.txt
Labels: c-Plugin, c-Test

[CI] Install gh on MacOS plugin release CI.
  .github/workflows/release.yml
Labels: c-CI

[CI] Install gh on MacOS plugin release CI.
  .github/workflows/release.yml
Labels: c-CI

[CI] Plugin rustls only supports on the linux x86_64
  .github/workflows/release.yml
Labels: c-CI

[CI] Plugin rustls only supports on the linux x86_64 (#2783)
  .github/workflows/release.yml
Labels: c-CI

[CI] Source cargo env for building rustls plugin
  .github/workflows/release.yml
Labels: c-CI

[CI] Source cargo env for building rustls plugin (#2784)
  .github/workflows/release.yml
Labels: c-CI

Change all remaining naming convention to LLVM style.
  plugins/wasmedge_zlib/zlibenv.h
  plugins/wasmedge_zlib/zlibfunc.cpp
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Plugin, c-Test

[Installer] Enable WASI-NN ggml plugin
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-CI, c-Installer

[Installer] Enable WASI-NN ggml plugin (#2787)
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-CI, c-Installer

Support part of instructions
  lib/loader/serialize/serial_instruction.cpp
Labels: none

Serialize instructions without checking proposals
  include/loader/serialize.h
  lib/loader/serialize/serial_expression.cpp
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_segment.cpp
  test/loader/CMakeLists.txt
  test/loader/serializeInstructionTest.cpp
  test/loader/serializeSectionTest.cpp
Labels: c-Test

Remove this->
  include/common/configure.h
Labels: none

Fix serialize element segment
  lib/loader/serialize/serial_segment.cpp
Labels: none

Fix serialize element segment
  lib/loader/serialize/serial_segment.cpp
Labels: none

Remove proposal check functions in serialize.h
  include/loader/serialize.h
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_segment.cpp
  lib/loader/serialize/serial_type.cpp
Labels: none

Serialize modules by sorting section offset
  include/ast/section.h
  include/loader/serialize.h
  lib/loader/serialize/serial_module.cpp
  test/loader/serializeModuleTest.cpp
Labels: c-Test

Add serialize type test
  test/loader/CMakeLists.txt
  test/loader/serializeTypeTest.cpp
Labels: c-Test

Add more serialize segment tests
  test/loader/serializeSegmentTest.cpp
Labels: c-Test

Fix serializeTypeTest build error
  test/loader/serializeTypeTest.cpp
Labels: c-Test

Fix typo
  test/loader/serializeExpressionTest.cpp
  test/loader/serializeSegmentTest.cpp
Labels: c-Test

Add serialize description test
  test/loader/CMakeLists.txt
  test/loader/serializeDescriptionTest.cpp
Labels: c-Test

Reformat code
  lib/loader/serialize/serial_description.cpp
  lib/loader/serialize/serial_expression.cpp
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_module.cpp
  lib/loader/serialize/serial_section.cpp
  lib/loader/serialize/serial_segment.cpp
  lib/loader/serialize/serial_type.cpp
  test/loader/serializeDescriptionTest.cpp
  test/loader/serializeExpressionTest.cpp
  test/loader/serializeInstructionTest.cpp
  test/loader/serializeSectionTest.cpp
  test/loader/serializeSegmentTest.cpp
  test/loader/serializeTypeTest.cpp
Labels: c-Test

Support more AST
  lib/loader/CMakeLists.txt
  lib/loader/serialize/serial_expression.cpp
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_module.cpp
  lib/loader/serialize/serial_section.cpp
  lib/loader/serialize/serial_segment.cpp
  test/loader/serializeSectionTest.cpp
Labels: c-Test

Refactor to check proposals
  include/loader/serialize.h
  lib/loader/serialize/serial_description.cpp
  lib/loader/serialize/serial_expression.cpp
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_module.cpp
  lib/loader/serialize/serial_section.cpp
  lib/loader/serialize/serial_segment.cpp
  lib/loader/serialize/serial_type.cpp
  test/loader/serializeDescriptionTest.cpp
  test/loader/serializeExpressionTest.cpp
  test/loader/serializeInstructionTest.cpp
  test/loader/serializeSectionTest.cpp
  test/loader/serializeSegmentTest.cpp
  test/loader/serializeTypeTest.cpp
Labels: c-Test

Fix auto return type
  include/common/configure.h
Labels: none

Fix serializeSN
  include/loader/serialize.h
Labels: none

Add serialize expression test
  test/loader/CMakeLists.txt
  test/loader/serializeExpressionTest.cpp
Labels: c-Test

Check ref type proposals in serialize element segment
  lib/loader/serialize/serial_segment.cpp
Labels: none

Add serialize segment test
  test/loader/CMakeLists.txt
  test/loader/serializeSegmentTest.cpp
Labels: c-Test

Fix serializeElementSegment
  lib/loader/serialize/serial_segment.cpp
Labels: none

Move proposal check to Configure
  include/common/configure.h
  include/loader/loader.h
  include/loader/serialize.h
  lib/loader/ast/instruction.cpp
  lib/loader/loader.cpp
Labels: none

Fix line separators
  test/loader/serializeDescriptionTest.cpp
Labels: c-Test
