Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

Added gzopen | gzseek | gztell | gzoffset | adler32_combine | crc32_combine & Refactor Part 2
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added deflateInit2_ | inflateInit2_ | inflateBackInit_.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added gzgetc_
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added inflateSyncPoint | inflateUndermine | inflateValidate | inflateCodesUsed | inflateResetKeep | deflateResetKeep.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added draft WasmEdgeZlibGZVPrintf.
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Removed unused Frame parameter.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

[Utils] Installer CI: Add linting check using black formatter for python
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer: Make a new const CONST_PATH_NOT_EXIST_STR
  utils/install.py
Labels: c-Installer

[Utils] Installer CI: Fix matrix not having python ex variable
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Fix brew not found
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer: Check if variable is None
  utils/install.py
Labels: c-Installer

[Utils] Installer CI: Revert wrong rebase change
  .github/workflows/test-python-install-script.yml
Labels: c-CI

implements `monotonic_clock`
  plugins/wasi_clocks/func.cpp
  plugins/wasi_clocks/func.h
  plugins/wasi_clocks/module.cpp
Labels: c-Plugin

implements WallClock
  plugins/wasi_clocks/func.cpp
  plugins/wasi_clocks/func.h
  plugins/wasi_clocks/module.cpp
Labels: c-Plugin

corrected CMake output messages
  CMakeLists.txt
  plugins/wasi_ocr/CMakeLists.txt
Labels: c-Plugin

[Utils] Installer: Fix checking of shell paths (#2752)
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-CI, c-Installer

implements `utc_offset` of `timezone`
  plugins/wasi_clocks/func.cpp
  plugins/wasi_clocks/func.h
  plugins/wasi_clocks/module.cpp
Labels: c-Plugin

implements `display` in two separate functions
  plugins/wasi_clocks/func.cpp
  plugins/wasi_clocks/func.h
  plugins/wasi_clocks/module.cpp
Labels: c-Plugin

Add CI & test
  .github/workflows/build-extensions.yml
  test/plugins/wasi_clocks/CMakeLists.txt
  test/plugins/wasi_clocks/wasi_clocks.cpp
Labels: c-CI, c-Test

fixing
  .github/workflows/build-extensions.yml
  plugins/wasi_clocks/module.cpp
  test/plugins/wasi_clocks/wasi_clocks.cpp
Labels: c-CI, c-Plugin, c-Test

add wasi_clocks
  test/plugins/CMakeLists.txt
Labels: c-Test

[Plugin] update workflow
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
  plugins/CMakeLists.txt
  plugins/wasmedge_rustls/CMakeLists.txt
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_rustls/CMakeLists.txt
  test/plugins/wasmedge_rustls/wasmedge_rustls.cpp
Labels: c-CI, c-Plugin, c-Test

fixing
  .github/workflows/build-extensions.yml
  test/plugins/wasi_clocks/wasi_clocks.cpp
Labels: c-CI, c-Test

[Socket] Fix Test
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  test/host/socket/CMakeLists.txt
  test/host/socket/wasi_socket.cpp
Labels: c-Test, c-WASI

[Socket] AF_UNIX Support
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/linux.h
  lib/host/wasi/macos.h
  lib/host/wasi/wasifunc.cpp
  test/host/socket/wasi_socket.cpp
  thirdparty/wasi/api.hpp
Labels: c-Test, c-WASI

[Socket] add example for unix domain socket
  examples/capi/unix_domain_socket/Makefile
  examples/capi/unix_domain_socket/README.md
  examples/capi/unix_domain_socket/client.cpp
  examples/capi/unix_domain_socket/server.cpp
  examples/capi/unix_domain_socket/wrapper.h
Labels: c-Example

fix naming
  plugins/wasi_clocks/env.cpp
Labels: c-Plugin

[Tool] Add a option to enable af_unix
  examples/capi/unix_domain_socket/Makefile
  examples/capi/unix_domain_socket/README.md
  include/common/configure.h
  include/driver/tool.h
  include/executor/executor.h
  lib/driver/runtimeTool.cpp
  lib/host/wasi/wasifunc.cpp
Labels: c-CLI, c-Example, c-WASI

[WASI-NN] Add ggml backend for llama (#2763)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  LICENSE.spdx
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  thirdparty/CMakeLists.txt
  thirdparty/ggml/CMakeLists.txt
  thirdparty/ggml/LICENSE
  thirdparty/ggml/README.md
  thirdparty/ggml/common.cpp
  thirdparty/ggml/common.h
  thirdparty/ggml/ggml-alloc.c
  thirdparty/ggml/ggml-alloc.h
  thirdparty/ggml/ggml.c
  thirdparty/ggml/ggml.h
  thirdparty/ggml/k_quants.c
  thirdparty/ggml/k_quants.h
  thirdparty/ggml/llama-util.h
  thirdparty/ggml/llama.cpp
  thirdparty/ggml/llama.h
Labels: c-CI, c-CMake, c-Plugin

[Plugin] add wasmedge_rustls_plugin (#2762)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasmedge_rustls/.gitignore
  plugins/wasmedge_rustls/CMakeLists.txt
  plugins/wasmedge_rustls/Cargo.toml
  plugins/wasmedge_rustls/src/lib.rs
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_rustls/CMakeLists.txt
  test/plugins/wasmedge_rustls/wasmedge_rustls.cpp
Labels: c-CI, c-Plugin, c-Test

[Example] Update wit-bindgen version from 0.7.0 to 0.11.0
  examples/plugin/wasi-logging/Cargo.toml
Labels: c-Example

[Loader] Refactor the serializer.
  include/loader/serialize.h
  lib/loader/CMakeLists.txt
  lib/loader/serialization/description.cpp
  lib/loader/serialization/serialize.cpp
  lib/loader/serialization/type.cpp
  lib/loader/serialize/serial_description.cpp
  lib/loader/serialize/serial_expression.cpp
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_module.cpp
  lib/loader/serialize/serial_section.cpp
  lib/loader/serialize/serial_segment.cpp
  lib/loader/serialize/serial_type.cpp
  test/loader/CMakeLists.txt
  test/loader/serializeSectionTest.cpp
Labels: c-Test

[Loader] Support serialize and deserialize in WasmEdge (#2041)
  include/loader/serialize.h
  lib/loader/CMakeLists.txt
  lib/loader/serialization/description.cpp
  lib/loader/serialization/serialize.cpp
  lib/loader/serialization/type.cpp
  test/loader/CMakeLists.txt
  test/loader/serializeSectionTest.cpp
Labels: c-Test

[WASI Socket] AF_UNIX Support (#2216)
  examples/capi/unix_domain_socket/Makefile
  examples/capi/unix_domain_socket/README.md
  examples/capi/unix_domain_socket/client.cpp
  examples/capi/unix_domain_socket/server.cpp
  examples/capi/unix_domain_socket/wrapper.h
  include/common/configure.h
  include/driver/tool.h
  include/executor/executor.h
  lib/driver/runtimeTool.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/linux.h
  lib/host/wasi/macos.h
  lib/host/wasi/wasifunc.cpp
  test/host/socket/CMakeLists.txt
  test/host/socket/wasi_socket.cpp
  thirdparty/wasi/api.hpp
Labels: c-CLI, c-Example, c-Test, c-WASI

[CI] Fix the standalone test for tools on MacOS.
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] Fix the standalone test for tools on MacOS. (#2772)
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[WASI Socket] Use plain type to replace the VarAddrAs struct
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  test/host/socket/wasi_socket.cpp
Labels: c-Test, c-WASI

[CAPI] Provide API for registering pre- and post- host functions
  include/api/wasmedge/wasmedge.h
  include/executor/executor.h
  lib/api/wasmedge.cpp
  lib/executor/executor.cpp
  lib/executor/helper.cpp
Labels: c-CAPI

[WASI Socket] Add CAPI for enabling/disabling/querying AF_UNIX support
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

[WASI Socket] Use plain type to replace the VarAddrAs struct
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  test/host/socket/wasi_socket.cpp
Labels: c-Test, c-WASI
