Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

added OpenVINO_DIR
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

fixing OpenVINO_DIR
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

fixing OpenVINO_DIR
  .github/workflows/build-extensions.yml
Labels: c-CI

Add free function
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  lib/executor/instantiate/export.cpp
  test/api/APIMallocTest.cpp
Labels: c-CAPI, c-Test

fixing OpenVINO_DIR
  .github/workflows/build-extensions.yml
Labels: c-CI

install libopencv-dev on ubuntu
  .github/workflows/build-extensions.yml
Labels: c-CI

yum can install opencv
  .github/workflows/build-extensions.yml
  utils/opencvmini/install-opencvmini.sh
Labels: c-CI

build and limit build thread
  .github/workflows/build-extensions.yml
  utils/opencvmini/install-opencvmini.sh
Labels: c-CI

retry with no sudo
  .github/workflows/build-extensions.yml
  utils/opencvmini/install-opencvmini.sh
Labels: c-CI

[Misc] Remove package-lock.json in the example folder
  examples/capi/mandelbrot-set-in-threads/package-lock.json
Labels: c-Example

correct path for OpenVINO_DIR
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

Version Update install-openvino.sh
  utils/wasi-nn/install-openvino.sh
Labels: none

[Community] Nominate Shreyas Atre(@SAtacker) as WasmEdge Committers
  docs/OWNER.md
Labels: documentation

[Fuzz] Use own implement of `BoyerMooreHorspoolSearcher`
  lib/driver/fuzzPO.cpp
Labels: c-CLI

[CI] Separate the specific plugins by archetectures.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CMake] Add the headers install target.
  include/CMakeLists.txt
Labels: none

independent
  utils/opencvmini/install-opencvmini.sh
Labels: none

[Fuzz] Use own implement of `BoyerMooreHorspoolSearcher`
  lib/driver/fuzzPO.cpp
Labels: c-CLI

ninja
  utils/opencvmini/install-opencvmini.sh
Labels: none

ubuntu also use build
  .github/workflows/build-extensions.yml
Labels: c-CI

extra module
  utils/opencvmini/install-opencvmini.sh
Labels: none

add platform exclusive, and fix naming
  plugins/CMakeLists.txt
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

remove contrib
  utils/opencvmini/install-opencvmini.sh
Labels: none

Add memory instance's dump function
  include/runtime/instance/memory.h
  include/runtime/instance/module.h
  lib/vm/vm.cpp
Labels: none

[Utils] Installer CI: Remove macos-arm64 test container for now
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Make python3 default for macos testing
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Enable macos-arm64 container
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Remove redundant test
  .github/workflows/test-install-script.yml
Labels: c-CI

[Utils] Installer: Support new `wasmedge-tensorflow` tags
  utils/install.py
Labels: c-Installer

[Utils] Installer: Remove unnecessary variable as we handle what to install using arguments
  utils/install.py
Labels: c-Installer

[Utils] Installer: Replace print with logging.info and add default logging level INFO
  utils/install.py
Labels: c-Installer

[Utils] Installer CI: Add tensorflow plugin test for macos-arm64
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Add debug mecahnism in case source files are found
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Fix wasmedge_tensorflow and wasmedge_tensorflowlite installation versions
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer: Formatting and fix else case
  utils/install.py
Labels: c-Installer

[Utils] Installer: Don't download extensions from 0.13.0 even if user specifies those
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-CI, c-Installer

[Utils] Installer CI: Fix spelling of Tensorflow
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Modify the CI to test expected failure for deprecated 0.9.x version
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-CI, c-Installer

[Utils] Installer: Remove args.tf_version and tools changes
  utils/install.py
Labels: c-Installer

[Utils] Installer: Fix wasmedge_tensorflowlite dependencies not installing
  utils/install.py
Labels: c-Installer
