Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

Update versio to 0.13.2
  utils/install.py
Labels: c-Installer

Disabling some warnings being treated as errors during Windows build
  test/spec/CMakeLists.txt
Labels: c-Test

[WASI] Refactor Code.
  include/host/wasi/environ.h
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

[Misc] Add release workflows for wasm_bpf plugin and the related installing script (#2610)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasm_bpf/CMakeLists.txt
  plugins/wasm_bpf/bpf-api.h
  plugins/wasm_bpf/func-bpf-map-operate.cpp
  test/plugins/wasm_bpf/CMakeLists.txt
  test/plugins/wasm_bpf/simple_ringbuf_test.cpp
  test/plugins/wasm_bpf/wasm_bpf.cpp
  utils/install.py
Labels: c-CI, c-Installer, c-Plugin, c-Test

install certain version
  utils/opencvmini/install-opencvmini.sh
Labels: none

fix install script
  utils/opencvmini/install-opencvmini.sh
Labels: none

Create ValueStack's checkpoint/restore function
  include/executor/migrator.h
  include/runtime/stackmgr.h
Labels: none

fix upload name
  .github/workflows/build-extensions.yml
Labels: c-CI

fix wrong format
  .github/workflows/release.yml
Labels: c-CI

Adding simdjson under PRIVATE scope, and adding a check for commands list in spectest
  test/spec/CMakeLists.txt
  test/spec/spectest.cpp
Labels: c-Test

build static library in github actions
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-debian-static.yml
  utils/docker/Dockerfile.debian-static
  utils/docker/docker-bake.debian-static.hcl
Labels: c-CI

[CI] build static library in github actions (#2666)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-debian-static.yml
  utils/docker/Dockerfile.debian-static
  utils/docker/docker-bake.debian-static.hcl
Labels: c-CI

[CI] add repository path as git safe.directory
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/mdbook.yml
  .github/workflows/misc-linters.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-debian-static.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-call-linter.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

[CI] add repository path as git safe.directory (#2668)
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/mdbook.yml
  .github/workflows/misc-linters.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-debian-static.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-call-linter.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

[WASI] Fix blocking when multiple requests have the same fds. (#2662)
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

[Misc] Update Changelog for the 0.13.2 release
  .CurrentChangelog.md
  Changelog.md
Labels: none

[Misc] Update Changelog for the 0.13.2 release (#2667)
  .CurrentChangelog.md
  Changelog.md
Labels: none

[CI] add missing options field
  .github/workflows/release.yml
Labels: c-CI

[CI] add missing options field in the release workflow (#2670)
  .github/workflows/release.yml
Labels: c-CI

[CI] wasm_bpf is only available on x86_64 Linux in the release workflow
  .github/workflows/release.yml
Labels: c-CI

[CI] wasm_bpf is only available on x86_64 Linux in the release workflow (#2671)
  .github/workflows/release.yml
Labels: c-CI

[WASI] Remove unused fds before closing them.
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

Add a flag to disable libtinfo
  CMakeLists.txt
  cmake/Helper.cmake
Labels: c-CMake

[WASI] Move close into fdClose.
  include/host/wasi/environ.h
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

Adding some more const variables, checks and misc. changes.
  test/spec/spectest.cpp
Labels: c-Test

[CMake] Add a flag to disable libtinfo (#2676)
  CMakeLists.txt
  cmake/Helper.cmake
Labels: c-CMake

[CI] try nix build in CI workflow
  .github/workflows/build_for_nix.yml
Labels: c-CI

rename CI flow
  .github/workflows/build_for_nix.yml
Labels: c-CI

outdated trick
  plugins/wasmedge_opencvmini/CMakeLists.txt
Labels: c-Plugin

WIP: dump呼び出し
  include/executor/migrator.h
  include/runtime/stackmgr.h
  lib/executor/engine/engine.cpp
Labels: none

FIX: frameがModuleを持ってない場合のチェックをつけた
  include/executor/migrator.h
Labels: none

Valueのdump/restore修正
  include/executor/migrator.h
Labels: none

dump関数を呼ぶ&シグナルハンドラ作成
  include/executor/migrator.h
  include/runtime/instance/global.h
  lib/executor/engine/engine.cpp
Labels: none

[WASI] Remove unused fds before closing them. (#2675)
  include/host/wasi/environ.h
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

restore-flag追加
  include/common/configure.h
  include/common/statistics.h
  include/driver/tool.h
  include/executor/executor.h
  lib/driver/runtimeTool.cpp
  lib/executor/engine/engine.cpp
Labels: c-CLI

Delete comment out
  include/driver/tool.h
Labels: c-CLI

Add set stack
  include/runtime/stackmgr.h
Labels: none

use v3 cache
  .github/workflows/build_for_nix.yml
Labels: c-CI

test if we remove devtoolset-8
  .github/workflows/release.yml
Labels: c-CI

there has no http plugin now
  plugins/CMakeLists.txt
Labels: c-Plugin

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
