Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

[Utils] Installer and CI: wasmedge_tensorflow and wasmedge_tensorflowlite installation
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-CI, c-Installer

[Utils] Installer CI: Add python installation as macos-arm64 does not have one
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Remove INSTALL_PY_URL temporarily
  .github/workflows/test-install-script.yml
Labels: c-CI

[Utils] Installer: Fix wasi_nn-tensorflowlite to download TFLite deps
  utils/install.py
Labels: c-Installer

[Utils] Installer CI: Remove uninstalling WasmEdge after deprecation check because it does not install WasmEdge
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer: Major: Download plugins for tensorflow and image beyond 0.13.0
  utils/install.py
Labels: c-Installer

[Utils] Installer: Separate logic for sourcing on macOS platform
  utils/install.py
Labels: c-Installer

[Utils] Installer: Fix else condition for image post 0.13.0
  utils/install.py
Labels: c-Installer

[Utils] Installer CI: Quote the string
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer: Deprecate 0.9.x
  utils/install.py
Labels: c-Installer

[Utils] Installer: Remove 0.10.0-rc.1 test as it is earlier than 0.10.0
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer: Fix macOS extensions and plugins support for arm64
  utils/install.py
Labels: c-Installer

[Utils] Installer: Add wasi_nn-tensorflowlite ubuntu x86 for 0.11.2-rc.1
  utils/install.py
Labels: c-Installer

[Utils] Installer CI: Add macos-arm64 CI
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Check dist package string only before 0.13.0
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Clear files before source check
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer: Use image plugins instead of image extensions since 0.13.0
  utils/install.py
Labels: c-Installer

[Utils] Installer: Add sourcing to zshenv instead of zprofile
  utils/install.py
Labels: c-Installer

[Utils] Installer: Add tensorflow plugins for versions >= 0.13.0
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-CI, c-Installer

[Utils] Installer CI: Fix macOS-arm64 tests
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: Fix installer_changes script
  .github/workflows/test-python-install-script.yml
  utils/installer_changes.sh
Labels: c-CI, c-Installer

[Thirdparty] Add the WASM C API proposal header.
  thirdparty/wasm/wasm.h
  thirdparty/wasm/wasm.hh
Labels: none

[API] Implement the runtime object of wasm c api.
  lib/api/CMakeLists.txt
  lib/api/libwasmedge.lds
  lib/api/wasm_c.cpp
Labels: c-CAPI

[API] Add runtime wrapper of C API
  lib/api/wasm_c.cpp
Labels: c-CAPI

[Test] Add WASM C API proposal unit tests.
  test/api/APIWasmCUnitTest.cpp
  test/api/CMakeLists.txt
Labels: c-Test

[API] Fixed coding sytle
  lib/api/wasm_c.cpp
Labels: c-CAPI

[API] Fix comments and the wasm::Module member functions.
  lib/api/wasm_c.cpp
Labels: c-CAPI

[API] Implement the WASM C API proposal.
  lib/api/CMakeLists.txt
  lib/api/wasm_c.cpp
  lib/api/wasmedge.cpp
Labels: c-CAPI

[API] Base C++ api for WasmEdge (#2368)
  examples/cppapi/fibonacci/fibonacci_complex.cc
  examples/cppapi/fibonacci/fibonacci_simple.cc
  include/CMakeLists.txt
  include/api/wasmedge/wasmedge.hh
  lib/api/CMakeLists.txt
  lib/api/wasmedge_cpp.cpp
Labels: c-CAPI, c-Example

fix binary name
  .github/workflows/build-extensions.yml
Labels: c-CI

dump関数修正 & restore関数とりあえず書いた
  include/runtime/instance/memory.h
  include/runtime/instance/module.h
  lib/vm/vm.cpp
Labels: none

[Utils] Installer CI: Enable macos-arm64 CI test for plugins
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Utils] Installer CI: There are no default plugins for 0.13.1
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

Maxは実行中に変化しないのでdump/restoreする必要がなさそう
  include/runtime/instance/memory.h
Labels: none

WIP: global instance保存
  include/runtime/instance/global.h
  include/runtime/instance/memory.h
  include/runtime/instance/module.h
  lib/vm/vm.cpp
Labels: none

[Examples] Replace wasmedgec with wasmedge compile
  examples/capi/mandelbrot-set-in-threads/Makefile
  examples/wasm/README.md
Labels: c-Example

Fixing OpenVINO_DIR
  .github/workflows/release.yml
Labels: c-CI

[Examples] Replace wasmedgec with wasmedge compile (#2661)
  examples/capi/mandelbrot-set-in-threads/Makefile
  examples/wasm/README.md
Labels: c-Example

Switched to SIMDJSON DOM API
  test/spec/spectest.cpp
Labels: c-Test

Allowing SIMDJSON to be loaded from the system, if it is available
  test/spec/CMakeLists.txt
Labels: c-Test

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
