Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, c-WASI-NN, documentation

[JIT] Add llvm orcjit as dependency
  cmake/Helper.cmake
  lib/llvm/CMakeLists.txt
Labels: c-CMake

[JIT] Add LLVM JIT Support
  include/common/configure.h
  include/driver/tool.h
  include/llvm/jit.h
  lib/driver/runtimeTool.cpp
  lib/llvm/CMakeLists.txt
  lib/llvm/jit.cpp
  lib/llvm/llvm.h
  lib/vm/CMakeLists.txt
  lib/vm/vm.cpp
Labels: c-CLI

[JIT] Prevent JIT when LLVM is disabled
  lib/vm/CMakeLists.txt
  lib/vm/vm.cpp
Labels: none

[JIT] Add support for stack unwinding in windows
  lib/llvm/llvm.h
Labels: none

[JIT] Add test for JIT
  test/llvm/LLVMcoreTest.cpp
Labels: c-Test

[JIT] Create interface class `Executable` to hold shared library, AOT section and JIT library in `Symbol`
  include/ast/module.h
  include/ast/type.h
  include/common/executable.h
  include/common/symbol.h
  include/executor/executor.h
  include/loader/aot_section.h
  include/loader/ldmgr.h
  include/loader/loader.h
  include/loader/shared_library.h
  lib/executor/engine/proxy.cpp
  lib/llvm/compiler.cpp
  lib/loader/CMakeLists.txt
  lib/loader/aot_section.cpp
  lib/loader/ast/module.cpp
  lib/loader/ldmgr.cpp
  lib/loader/loader.cpp
  lib/loader/shared_library.cpp
Labels: none

[JIT] Use OrcThreadSafeContext and OrcThreadSafeModule
  lib/llvm/codegen.cpp
  lib/llvm/compiler.cpp
  lib/llvm/data.h
  lib/llvm/llvm.h
Labels: none

[AOT] Support uwtable in older llvm versions
  lib/llvm/codegen.cpp
  lib/llvm/compiler.cpp
  lib/llvm/llvm.h
Labels: none

[Plugin] Don't install llvm, use preinstalled llvm.
  .github/workflows/build-extensions.yml
Labels: c-CI

[Plugin] Don't install llvm, use preinstalled llvm.
  .github/workflows/build-extensions.yml
Labels: c-CI

[JIT] Use OrcThreadSafeContext and OrcThreadSafeModule
  lib/llvm/codegen.cpp
  lib/llvm/compiler.cpp
  lib/llvm/data.h
  lib/llvm/llvm.h
Labels: none

[JIT] Add support for stack unwinding in windows
  lib/llvm/llvm.h
Labels: none

[JIT] Add llvm orcjit as dependency
  cmake/Helper.cmake
  lib/llvm/CMakeLists.txt
Labels: c-CMake

[JIT] Create interface class `Executable` to hold shared library, AOT section and JIT library in `Symbol`
  include/ast/module.h
  include/ast/type.h
  include/common/executable.h
  include/common/symbol.h
  include/executor/executor.h
  include/loader/aot_section.h
  include/loader/ldmgr.h
  include/loader/loader.h
  include/loader/shared_library.h
  lib/executor/engine/proxy.cpp
  lib/llvm/compiler.cpp
  lib/loader/CMakeLists.txt
  lib/loader/aot_section.cpp
  lib/loader/ast/module.cpp
  lib/loader/ldmgr.cpp
  lib/loader/loader.cpp
  lib/loader/shared_library.cpp
Labels: none

[JIT] Add test for JIT
  test/llvm/LLVMcoreTest.cpp
Labels: c-Test

[AOT] Support uwtable in older llvm versions
  lib/llvm/codegen.cpp
  lib/llvm/compiler.cpp
  lib/llvm/llvm.h
Labels: none

[JIT] Add LLVM JIT Support
  include/common/configure.h
  include/driver/tool.h
  include/llvm/jit.h
  lib/driver/runtimeTool.cpp
  lib/llvm/CMakeLists.txt
  lib/llvm/jit.cpp
  lib/llvm/llvm.h
  lib/vm/CMakeLists.txt
  lib/vm/vm.cpp
Labels: c-CLI

[JIT] Prevent JIT when LLVM is disabled
  lib/vm/CMakeLists.txt
  lib/vm/vm.cpp
Labels: none

[WASI] Ignore NONBLOCK flags on windows, fix #3084
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

[WASI] Ignore NONBLOCK flags on windows, fix #3084
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

[CI] Use the latest llvm from homebrew, remove the pinned llvm@16
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[Misc] Ignore false positive warnings in MSVC
  include/experimental/expected.hpp
  test/expected/noexcept.cpp
Labels: c-Test

[Misc] enable -Wno-deprecated-literal-operator only if clang >= 17.0.0
  cmake/Helper.cmake
Labels: c-CMake

[Misc] enable -Wno-deprecated-literal-operator only if clang >= 17.0.0 (#3219)
  cmake/Helper.cmake
Labels: c-CMake

[OpenWrt] Bump the WasmEdge C API version to 0.1.0
  utils/openwrt/configuration/Makefile
Labels: none

.github/labeler.yml:

'binding-java':
  - changed-files:
    - any-glob-to-any-file: [
      'bindings/java/**',
      'bindings/java/**/*'
    ]

'binding-rust':
  - changed-files:
    - any-glob-to-any-file: [
      'bindings/rust/**',
      'bindings/rust/**/*'
    ]

'c-AOT':
  - changed-files:
    - any-glob-to-any-file: [
      'include/aot/**',
      'lib/aot/**',
      'include/aot/**/*',
      'lib/aot/**/*']

'c-CAPI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/api/**',
      'lib/api/**',
      'include/api/**/*',
      'lib/api/**/*'
    ]

'c-CI':
  - changed-files:
    - any-glob-to-any-file: [
      '.github/**',
      '.github/**/*'
    ]

'c-CLI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/driver/**',
      'lib/driver/**',
      'include/po/**',
      'lib/po/**',
      'include/driver/**/*',
      'lib/driver/**/*',
      'include/po/**/*',
      'lib/po/**/*'
    ]

'c-CMake':
  - changed-files:
    - any-glob-to-any-file: [
      'cmake/**',
      'cmake/**/*'
    ]

'c-Example':
  - changed-files:
    - any-glob-to-any-file: [
      'examples/**',
      'examples/**/*'
    ]

'c-Installer':
  - changed-files:
    - any-glob-to-any-file: [
      'utils/install.*',
      'utils/installer_changes.sh',
      'utils/uninstall.sh'
    ]

'c-Plugin':
  - changed-files:
    - any-glob-to-any-file: [
      'plugins/**',
      'plugins/**/*'
    ]

'c-Test':
  - changed-files:
    - any-glob-to-any-file: [
      'test/**',
      'test/**/*'
    ]

'c-WASI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/host/wasi/**',
      'lib/host/wasi/**',
      'include/host/wasi/**/*',
      'lib/host/wasi/**/*'
    ]

'c-WASI-NN':
  - changed-files:
    - any-glob-to-any-file: [
      'plugins/wasi_nn/**',
      'plugins/wasi_nn/**/*'
    ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [
      'docs/**',
      'docs/**/*'
    ]
