Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

[MSVC] Avoid designated initializers.
  bindings/java/wasmedge-java/wasmedge-jni/lib/MemoryTypeContext.c
  bindings/java/wasmedge-java/wasmedge-jni/lib/TableTypeContext.c
  include/api/wasmedge/wasmedge.h
  include/common/enum_errcode.hpp
  include/system/winapi.h
  lib/api/wasmedge.cpp
  lib/executor/engine/proxy.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/win.h
  lib/plugin/plugin.cpp
  test/api/APIUnitTest.cpp
  test/api/helper.cpp
  test/host/wasi/wasi.cpp
  test/plugins/unittest/testplugin.c
Labels: binding-java, c-CAPI, c-Test, c-WASI

[MSVC] Fix `gnu::visibility("default")`.
  include/plugin/plugin.h
  include/system/allocator.h
  lib/plugin/plugin.cpp
  lib/system/allocator.cpp
Labels: none

[MSVC] Fix ambiguous symbol `byte`.
  include/experimental/span.hpp
Labels: none

[MSVC] Fix conversion warning using static_cast.
  include/common/configure.h
  lib/aot/llvm.h
  lib/executor/engine/engine.cpp
  lib/host/wasi/inode-win.cpp
Labels: c-AOT, c-WASI

[MSVC] Remove redundant parentheses.
  include/common/enum_errcode.hpp
Labels: none

[MSVC] Fix `constexpr` in inode.h
  include/host/wasi/inode.h
Labels: c-WASI

[MSVC] Fix compiler flags in CMakeLists.txt for MSVC.
  cmake/Helper.cmake
  test/spec/CMakeLists.txt
  thirdparty/blake3/CMakeLists.txt
Labels: c-CMake, c-Test

[Common] Fix a bug in int128.h.
  include/common/int128.h
Labels: none

[MSVC] Refactor SIMD type. Split executor ipp file
  include/common/types.h
  include/executor/engine/binary_numeric.ipp
  include/executor/engine/binary_numeric_vector.ipp
  include/executor/engine/binary_numeric_vector_msvc.ipp
  include/executor/engine/unary_numeric.ipp
  include/executor/engine/unary_numeric_vector.ipp
  include/executor/engine/unary_numeric_vector_msvc.ipp
  include/executor/executor.h
  test/spec/spectest.cpp
Labels: c-Test

[MSVC] Change from UINT_MAX to UINT32_MAX.
  include/executor/engine/memory.ipp
  test/host/socket/wasi_socket.cpp
Labels: c-Test

[MSVC] Fix designated initializer style, keep designated initializer in C file.
  bindings/java/wasmedge-java/wasmedge-jni/lib/MemoryTypeContext.c
  bindings/java/wasmedge-java/wasmedge-jni/lib/TableTypeContext.c
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/win.h
  test/api/APIUnitTest.cpp
  test/api/helper.cpp
  test/host/wasi/wasi.cpp
  test/plugins/unittest/testplugin.c
Labels: binding-java, c-CAPI, c-Test, c-WASI

[Test] Support separating the execution mode of spec test.
  test/aot/AOTcoreTest.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/APIStepsCoreTest.cpp
  test/api/APIVMCoreTest.cpp
  test/executor/ExecutorTest.cpp
  test/spec/spectest.cpp
  test/spec/spectest.h
Labels: c-Test

Remove param size of createCodeSec in test
  test/loader/serializeExpressionTest.cpp
  test/loader/serializeInstructionTest.cpp
Labels: c-Test

Fix code segment size
  lib/loader/serialize/serial_segment.cpp
Labels: none

[API] Fix the wrong logic of getting types from exports.
  lib/api/wasmedge.cpp
Labels: c-CAPI

[Proposal] Add exception handling proposal to interpreter mode
  include/ast/description.h
  include/ast/instruction.h
  include/ast/module.h
  include/ast/section.h
  include/ast/type.h
  include/common/enum.inc
  include/executor/executor.h
  include/loader/loader.h
  include/runtime/instance/module.h
  include/runtime/instance/tag.h
  include/runtime/stackmgr.h
  include/validator/formchecker.h
  include/validator/validator.h
  lib/executor/CMakeLists.txt
  lib/executor/engine/controlInstr.cpp
  lib/executor/engine/engine.cpp
  lib/executor/helper.cpp
  lib/executor/instantiate/export.cpp
  lib/executor/instantiate/import.cpp
  lib/executor/instantiate/module.cpp
  lib/executor/instantiate/tag.cpp
  lib/loader/ast/description.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/ast/type.cpp
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
Labels: none

[Test] Add exception handling spec test
  test/loader/descriptionTest.cpp
  test/spec/CMakeLists.txt
  test/spec/spectest.cpp
  test/spec/spectest.h
Labels: c-Test

[Tools] Add option for exception handling proposal in wasm runner
  lib/driver/runtimeTool.cpp
Labels: c-CLI

Refactor Tag Type
  include/ast/description.h
  include/ast/section.h
  include/ast/type.h
  include/common/enum.inc
  include/loader/loader.h
  include/runtime/instance/tag.h
  lib/executor/instantiate/import.cpp
  lib/executor/instantiate/tag.cpp
  lib/loader/ast/description.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/ast/type.cpp
  lib/loader/loader.cpp
  lib/validator/validator.cpp
Labels: none

Support exception handling to tail call instruction
  include/runtime/stackmgr.h
Labels: none

Run clang-format
  include/api/wasmedge/wasmedge.h
  include/ast/instruction.h
Labels: c-CAPI

Remove additional Data Tag
  include/ast/instruction.h
  lib/executor/engine/controlInstr.cpp
  lib/loader/ast/instruction.cpp
  lib/validator/formchecker.cpp
Labels: none

Resolve windows CI issue
  lib/validator/formchecker.cpp
Labels: none

Format the code
  include/loader/loader.h
  include/runtime/instance/tag.h
  lib/loader/loader.cpp
Labels: none

clang-format
  lib/validator/formchecker.cpp
Labels: none

Resolve windows CI issue
  include/ast/instruction.h
  include/ast/type.h
  include/runtime/instance/tag.h
  include/runtime/stackmgr.h
Labels: none

Fix windows CI issue
  lib/validator/formchecker.cpp
Labels: none

Fix typo
  include/ast/instruction.h
Labels: none

Update WasmEdge CAPI with tag
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

Resolve Windows CI issue
  lib/executor/instantiate/export.cpp
Labels: none

Add tail call proposal to exception handling spec test
  test/spec/spectest.cpp
Labels: c-Test

Update to latest
  include/driver/tool.h
  test/spec/spectest.cpp
Labels: c-CLI, c-Test

Refactor class AST::Instruction
  include/ast/instruction.h
  lib/executor/engine/controlInstr.cpp
  lib/loader/ast/instruction.cpp
  lib/validator/formchecker.cpp
Labels: none

Add option
  include/driver/tool.h
Labels: c-CLI

Fix bugs
  lib/executor/helper.cpp
  lib/validator/formchecker.cpp
Labels: none

Add log for need exception handling proposal
  lib/loader/ast/description.cpp
Labels: none

Clang-format
  lib/validator/formchecker.cpp
Labels: none

Fix typo
  lib/validator/formchecker.cpp
Labels: none

Add TestMode::Interpreter on EH Test
  test/spec/spectest.cpp
Labels: c-Test

Fix windows warning
  include/runtime/stackmgr.h
Labels: none

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
