Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

Serialize num
  include/loader/serialize.h
  lib/loader/serialize/serial_instruction.cpp
Labels: none

Add more test
  test/loader/CMakeLists.txt
  test/loader/serializeDescriptionTest.cpp
  test/loader/serializeExpressionTest.cpp
  test/loader/serializeInstructionTest.cpp
  test/loader/serializeModuleTest.cpp
  test/loader/serializeSegmentTest.cpp
  test/loader/serializeTypeTest.cpp
Labels: c-Test

Add serializeElementSection test
  include/loader/serialize.h
  test/loader/serializeSectionTest.cpp
Labels: c-Test

Remove logNeedProposal function in serialize.h
  include/loader/serialize.h
  lib/loader/serialize/serial_description.cpp
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_segment.cpp
  lib/loader/serialize/serial_type.cpp
Labels: none

Reformat serialize.h
  include/loader/serialize.h
Labels: none

Serialize then sort
  include/ast/section.h
  include/loader/serialize.h
  lib/loader/serialize/serial_module.cpp
Labels: none

Revert "Serialize then sort"
  include/ast/section.h
  include/loader/serialize.h
  lib/loader/serialize/serial_module.cpp
Labels: none

Fix requested changes
  include/loader/serialize.h
Labels: none

Fix build error
  include/ast/section.h
  include/common/configure.h
  include/loader/serialize.h
  test/loader/serializeExpressionTest.cpp
  test/loader/serializeInstructionTest.cpp
Labels: c-Test

Fix implicit conversion error
  include/loader/serialize.h
  lib/loader/serialize/serial_description.cpp
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_section.cpp
  lib/loader/serialize/serial_segment.cpp
  lib/loader/serialize/serial_type.cpp
Labels: none

Reformat serial_module.cpp
  lib/loader/serialize/serial_module.cpp
Labels: none

Memory64 limits encoding changes
  include/ast/type.h
  lib/loader/ast/type.cpp
Labels: none

change header
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

handle u64 offset
  include/ast/instruction.h
  lib/loader/ast/instruction.cpp
Labels: none

share more code for 32/64-bit mode
  include/ast/type.h
  lib/loader/ast/type.cpp
Labels: none

no need uint32_t version now
  include/ast/type.h
Labels: none

use wasm-dev branch to enable memory64 spec test
  test/spec/CMakeLists.txt
Labels: c-Test

changes related values to uint64_t
  include/ast/type.h
  include/common/errinfo.h
  include/runtime/instance/memory.h
Labels: none

assuming default is 32 mode
  include/ast/type.h
Labels: none

fix memory limit test (32-bit mode testing)
  include/common/configure.h
  include/runtime/instance/memory.h
Labels: none

make smarter loader
  lib/loader/ast/type.cpp
Labels: none

update related memory instructions
  include/ast/type.h
  include/common/errinfo.h
  include/runtime/instance/memory.h
  lib/executor/engine/memoryInstr.cpp
Labels: none

add default case
  lib/executor/engine/memoryInstr.cpp
Labels: none

missing break
  lib/executor/engine/memoryInstr.cpp
Labels: none

add memory64 spec test
  test/spec/spectest.cpp
Labels: c-Test

static_cast
  include/runtime/instance/table.h
Labels: none

more static_cast
  include/runtime/instance/table.h
Labels: none

Added Host Func registration & Refactor Part 3.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
  plugins/wasmedge_zlib/zlibmodule.cpp
Labels: c-Plugin

Update function presence check to validate al 74 functions.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

fixing loader & add more description in test
  lib/loader/ast/instruction.cpp
  lib/loader/ast/type.cpp
  test/loader/typeTest.cpp
Labels: c-Test

move `popIndexType` into stack manager
  include/runtime/stackmgr.h
  lib/executor/engine/memoryInstr.cpp
Labels: none

give more information for test failed
  test/spec/spectest.cpp
Labels: c-Test

oops, reverse
  test/spec/spectest.cpp
Labels: c-Test

[Test] add tests for wasi-nn ggml backend
  plugins/wasi_nn/ggml.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-ggml-fixtures.sh
Labels: c-Plugin, c-Test

[Test] add tests for wasi-nn ggml backend (#2796)
  plugins/wasi_nn/ggml.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-ggml-fixtures.sh
Labels: c-Plugin, c-Test

Update release.yml to include zlib.
  .github/workflows/release.yml
Labels: c-CI

Added deflatesetheader & inflategetheader.
  plugins/wasmedge_zlib/zlibenv.h
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Change return type of SyncRun.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

SyncRun Func Design & Params Overhaul.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Remove access to moved unique_ptr.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin
