Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

Adding resolveRegister() function, and fixing parsing issues
  test/spec/CMakeLists.txt
  test/spec/spectest.cpp
Labels: c-Test

Initial conversion to SIMDJSON
  test/spec/CMakeLists.txt
  test/spec/spectest.cpp
Labels: c-Test

Adding comments, and enabling clang-format
  test/spec/spectest.cpp
Labels: c-Test

Adding back const function arguments, and changing variable names as requested.
  test/spec/spectest.cpp
Labels: c-Test

GlobInstの保存・復元関数作成
  include/runtime/instance/global.h
  lib/executor/instantiate/memory.cpp
Labels: none

Add assert when externref and funcref
  include/runtime/instance/global.h
Labels: none

[Utils] Installer CI: Earlier I aarcch64 CI failed due to lines not removed for some weird error, trying it manually
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[Misc] Remove package-lock.json in the example folder (#2655)
  examples/capi/mandelbrot-set-in-threads/package-lock.json
Labels: c-Example

[CI] Separate the specific plugins by archetectures.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[Utils] Installer: Add new tags support for wasmedge-tensorflow (#2608)
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
  utils/installer_changes.sh
Labels: c-CI, c-Installer

macos missing opencv installation
  .github/workflows/build-extensions.yml
Labels: c-CI

Fixing OpenVINO_DIR
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

Fixing OpenVINO_DIR
  .github/workflows/release.yml
Labels: c-CI

Try to fix wasm_bpf build issues
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasm_bpf/CMakeLists.txt
  plugins/wasm_bpf/bpf-api.h
  plugins/wasm_bpf/func-bpf-map-operate.cpp
  test/plugins/wasm_bpf/CMakeLists.txt
  test/plugins/wasm_bpf/simple_ringbuf_test.cpp
  test/plugins/wasm_bpf/wasm_bpf.cpp
  utils/install.py
  utils/wasm_bpf/install-clang.sh
Labels: c-CI, c-Installer, c-Plugin, c-Test

Remove clang installing scripts
  .github/workflows/build-extensions.yml
  utils/wasm_bpf/install-clang.sh
Labels: c-CI

Move some comments
  .github/workflows/build-extensions.yml
Labels: c-CI

Fixed some grammar issues
  plugins/wasm_bpf/CMakeLists.txt
Labels: c-Plugin

Changed InferenceEngine to OpenVINO
  cmake/WASINNDeps.cmake
Labels: c-CMake

Changed InferenceEngine to OpenVINO
  cmake/WASINNDeps.cmake
Labels: c-CMake

Changed InferenceEngine to OpenVINO
  cmake/WASINNDeps.cmake
Labels: c-CMake

[WASI] Fix blocking when multiple requests have the same fds.
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

Updating SIMDJSON to newly released v3.2.1
  test/spec/CMakeLists.txt
Labels: c-Test

Fixing failing Windows build
  test/spec/CMakeLists.txt
Labels: c-Test

Removing extra code
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  cmake/WASINNDeps.cmake
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/install-openvino.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Labels: c-CI, c-CMake

Iteratorの保存・復元関数の作成
  include/executor/executor.h
  include/executor/migrator.h
  include/runtime/instance/module.h
  lib/executor/engine/engine.cpp
  lib/vm/vm.cpp
Labels: none

Removed extra code
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

Removed unnecessary modification
  .github/workflows/release.yml
Labels: c-CI

[WASI] Use single close function.
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

WIP: StackMgrの保存・復元
  include/executor/migrator.h
  include/runtime/stackmgr.h
Labels: none

WIP: StackMgr restoreFrame
  include/runtime/stackmgr.h
Labels: none

StackMgr restoreFrame
  include/executor/migrator.h
  include/runtime/stackmgr.h
Labels: none

Rename restoreFrame
  include/executor/migrator.h
Labels: none

WIP: ValueStack保存
  include/executor/migrator.h
  include/runtime/stackmgr.h
  lib/executor/engine/engine.cpp
Labels: none

[WASI] Remove this pointer.
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

[WASI-NN] Updating install script for OpenVino 2023.0.0 version (#2636)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  cmake/WASINNDeps.cmake
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/install-openvino.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Labels: c-CI, c-CMake

[CI] Fix testing issue on the RISCV CI workflow
  .github/workflows/build_for_riscv.yml
Labels: c-CI

[CI] Fix testing issue on the RISCV CI workflow
  .github/workflows/build_for_riscv.yml
Labels: c-CI

[Utils] devtoolset-11 is not available on manylinux2014 aarch64, downgrade to devtoolset-10
  utils/docker/Dockerfile.manylinux2014_aarch64
  utils/docker/build-manylinux.sh
Labels: none

[CI] Enable static build for the release assets on Linux
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-manylinux.yml
  cmake/Helper.cmake
Labels: c-CI, c-CMake

[Utils] devtoolset-11 is not available on manylinux2014 aarch64, downgrade to devtoolset-10
  utils/docker/Dockerfile.manylinux2014_aarch64
  utils/docker/build-manylinux.sh
Labels: none
