Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

[Community] Nominate Shreyas Atre(@SAtacker) as WasmEdge Committers
  docs/OWNER.md
Labels: documentation

Updated the install script as per the 2023.0.0 version
  utils/wasi-nn/install-openvino.sh
Labels: none

removed sudo
  utils/wasi-nn/install-openvino.sh
Labels: none

Sudo removed
  utils/wasi-nn/install-openvino.sh
Labels: none

rewrote the script again
  utils/wasi-nn/install-openvino.sh
Labels: none

--
  utils/wasi-nn/install-openvino.sh
Labels: none

--
  utils/wasi-nn/install-openvino.sh
Labels: none

Update apt install to apt-get install
  utils/wasi-nn/install-openvino.sh
Labels: none

apt-get -y install openvino
  utils/wasi-nn/install-openvino.sh
Labels: none

[CI] Use arm64 arch name on macOS instead of aarch64
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: c-CI

add function bilinear sampling
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
Labels: c-Plugin

release adding opencvmini
  .github/workflows/release.yml
Labels: c-CI

build extensions
  .github/workflows/build-extensions.yml
Labels: c-CI

add test
  test/plugins/wasmedge_opencvmini/CMakeLists.txt
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Test

cmake track testing
  test/plugins/CMakeLists.txt
Labels: c-Test

metas
  .github/workflows/build-extensions.yml
Labels: c-CI

[CI] Use arm64 arch name on macOS instead of aarch64
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: c-CI

deleted a line
  utils/wasi-nn/install-openvino.sh
Labels: none

fixing the environment
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/install-openvino.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Labels: none

--
  utils/wasi-nn/install-openvino.sh
Labels: none

--
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/install-openvino.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Labels: none

Fixed Broken Link
  docs/book/en/src/sdk/node.md
  docs/book/zh/src/embed/node.md
Labels: documentation

[WASI]: Unify the write and the read function.
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

[WASI] Add workaround for macos and windows.
  include/host/wasi/inode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

[BUILDFIX] support fmtlib 10
  include/executor/engine/atomic.ipp
  include/loader/loader.h
  lib/executor/engine/threadInstr.cpp
  lib/executor/helper.cpp
  lib/host/wasi/environ.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/loader.cpp
  lib/validator/formchecker.cpp
Labels: c-WASI

install opencv
  .github/workflows/build-extensions.yml
  utils/opencvmini/install-opencvmini.sh
Labels: c-CI

fix release name
  .github/workflows/release.yml
Labels: c-CI

fix dependencies
  test/plugins/wasmedge_opencvmini/CMakeLists.txt
Labels: c-Test

fix typo in CI configuration
  .github/workflows/build-extensions.yml
Labels: c-CI

fix name
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Test

fix export functions number test
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Test

[WASI Socket] Rollback the correct new behavior, since the old behavior is different from the new one
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

[WASI Socket] Rollback the correct new behavior, since the old behavior is different from the new one
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

[Misc] Update Changelog for 0.13.1 bugfix release
  .CurrentChangelog.md
  Changelog.md
Labels: none

[Misc] Update Changelog for 0.13.1 bugfix release
  .CurrentChangelog.md
  Changelog.md
Labels: none

try newer g++
  .github/workflows/build-extensions.yml
Labels: c-CI

fixed the CI file
  .github/workflows/build-extensions.yml
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/install-openvino.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Labels: c-CI

--
  utils/wasi-nn/install-openvino.sh
Labels: none

--
  utils/wasi-nn/install-openvino.sh
Labels: none

removed the source command
  .github/workflows/build-extensions.yml
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/install-openvino.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Labels: c-CI
