Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

Fix windows warning
  include/runtime/stackmgr.h
Labels: none

[API] Fix the wrong logic of getting types from exports.
  lib/api/wasmedge.cpp
Labels: c-CAPI

[WASI Threads] handle imported shared memory
  include/runtime/storemgr.h
  lib/executor/instantiate/import.cpp
Labels: none

[WASI Threads] Add pulgin
  include/host/mock/wasi_threads_func.h
  include/host/mock/wasi_threads_module.h
  include/runtime/instance/memory.h
  include/runtime/instance/module.h
  include/runtime/storemgr.h
  lib/executor/instantiate/import.cpp
  lib/vm/vm.cpp
  plugins/CMakeLists.txt
  plugins/wasi_threads/CMakeLists.txt
  plugins/wasi_threads/base.h
  plugins/wasi_threads/threadenv.cpp
  plugins/wasi_threads/threadenv.h
  plugins/wasi_threads/threadfunc.cpp
  plugins/wasi_threads/threadfunc.h
  plugins/wasi_threads/threadmodule.cpp
  plugins/wasi_threads/threadmodule.h
Labels: c-Plugin

[WASI Threads] Instance for threads
  include/executor/executor.h
  include/host/mock/wasi_threads_func.h
  include/runtime/instance/memory.h
  include/runtime/instance/module.h
  include/vm/vm.h
  lib/executor/executor.cpp
  lib/executor/instantiate/import.cpp
  lib/vm/vm.cpp
  plugins/wasi_threads/threadenv.cpp
  plugins/wasi_threads/threadenv.h
  plugins/wasi_threads/threadfunc.cpp
  plugins/wasi_threads/threadfunc.h
Labels: c-Plugin

[WASI-NN] Update thirdparty/ggml
  LICENSE.spdx
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  thirdparty/ggml/CMakeLists.txt
  thirdparty/ggml/common.cpp
  thirdparty/ggml/common.h
  thirdparty/ggml/ggml-alloc.c
  thirdparty/ggml/ggml-alloc.h
  thirdparty/ggml/ggml.c
  thirdparty/ggml/ggml.h
  thirdparty/ggml/k_quants.c
  thirdparty/ggml/llama-util.h
  thirdparty/ggml/llama.cpp
  thirdparty/ggml/llama.h
  thirdparty/ggml/log.h
  utils/wasi-nn/download-ggml-fixtures.sh
Labels: c-Plugin, c-Test

[WASI-NN] Add openblas support for ggml
  plugins/wasi_nn/CMakeLists.txt
  thirdparty/ggml/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Only build ggml with ggml backend
  plugins/wasi_nn/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Disable LLAMA_ALL_WARNINGS
  thirdparty/ggml/CMakeLists.txt
Labels: none

Fix windows warning
  include/runtime/stackmgr.h
Labels: none

Fix windows warning
  include/runtime/stackmgr.h
Labels: none

validator first update
  include/validator/formchecker.h
  include/validator/validator.h
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
Labels: none

introduce `getIt` to correspond index type checking
  include/validator/formchecker.h
  lib/validator/formchecker.cpp
Labels: none

code format
  include/system/allocator.h
Labels: none

[WASI-NN] Move ggml to wasi_nn/thirdparty/
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/thirdparty/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/LICENSE
  plugins/wasi_nn/thirdparty/ggml/README.md
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/common.h
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.c
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.h
  plugins/wasi_nn/thirdparty/ggml/ggml.c
  plugins/wasi_nn/thirdparty/ggml/ggml.h
  plugins/wasi_nn/thirdparty/ggml/k_quants.c
  plugins/wasi_nn/thirdparty/ggml/k_quants.h
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.h
  plugins/wasi_nn/thirdparty/ggml/log.h
  thirdparty/CMakeLists.txt
Labels: c-Plugin

[CI] Do not lint & format thirdparty subdirectories
  .github/scripts/clang-format.sh
  .github/workflows/misc-linters.yml
Labels: c-CI

[License] Update PackageFileName of ggml
  LICENSE.spdx
Labels: none

[Docker] Install libopenblas-dev by default
  utils/docker/Dockerfile.base
Labels: none

[WASI-NN] Remove unused ggml options
  plugins/wasi_nn/thirdparty/CMakeLists.txt
Labels: c-Plugin

[Plugin] initial support of the zlib plugin (#2562)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasmedge_zlib/CMakeLists.txt
  plugins/wasmedge_zlib/zlibbase.h
  plugins/wasmedge_zlib/zlibenv.cpp
  plugins/wasmedge_zlib/zlibenv.h
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
  plugins/wasmedge_zlib/zlibmodule.cpp
  plugins/wasmedge_zlib/zlibmodule.h
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_zlib/CMakeLists.txt
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-CI, c-Plugin, c-Test

memory & v128 validation
  lib/validator/formchecker.cpp
Labels: none

[WASI-NN] Check LLAMA_LOG to print logs
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
Labels: c-Plugin

[API] Add the API to set WASI-NN preloads.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

[WASI-NN] Clear LlamaOutputs before prediction
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[API] Add the API to set WASI-NN preloads. (#2827)
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

fix loader: MemType missing index type setup
  include/ast/type.h
  lib/loader/ast/type.cpp
Labels: none

fix validator
  include/ast/segment.h
  include/driver/tool.h
  include/validator/formchecker.h
  lib/driver/runtimeTool.cpp
  lib/validator/validator.cpp
Labels: c-CLI

[WASI-NN] Initialize llama context when setting inputs.
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Do not append [end of text] for ggml outputs
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Update thirdparty/ggml
  LICENSE.spdx
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  thirdparty/ggml/CMakeLists.txt
  thirdparty/ggml/common.cpp
  thirdparty/ggml/common.h
  thirdparty/ggml/ggml-alloc.c
  thirdparty/ggml/ggml-alloc.h
  thirdparty/ggml/ggml.c
  thirdparty/ggml/ggml.h
  thirdparty/ggml/k_quants.c
  thirdparty/ggml/llama-util.h
  thirdparty/ggml/llama.cpp
  thirdparty/ggml/llama.h
  thirdparty/ggml/log.h
  utils/wasi-nn/download-ggml-fixtures.sh
Labels: c-Plugin, c-Test

[WASI-NN] Add openblas support for ggml
  plugins/wasi_nn/CMakeLists.txt
  thirdparty/ggml/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Disable LLAMA_ALL_WARNINGS
  thirdparty/ggml/CMakeLists.txt
Labels: none

[CI] Do not lint & format thirdparty subdirectories
  .github/scripts/clang-format.sh
  .github/workflows/misc-linters.yml
Labels: c-CI

[WASI-NN] Only build ggml with ggml backend
  plugins/wasi_nn/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: c-Plugin

[License] Update PackageFileName of ggml
  LICENSE.spdx
Labels: none

[WASI-NN] Move ggml to wasi_nn/thirdparty/
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/thirdparty/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/LICENSE
  plugins/wasi_nn/thirdparty/ggml/README.md
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/common.h
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.c
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.h
  plugins/wasi_nn/thirdparty/ggml/ggml.c
  plugins/wasi_nn/thirdparty/ggml/ggml.h
  plugins/wasi_nn/thirdparty/ggml/k_quants.c
  plugins/wasi_nn/thirdparty/ggml/k_quants.h
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.h
  plugins/wasi_nn/thirdparty/ggml/log.h
  thirdparty/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Update ggml tests
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-Test

[WASI-NN] Pass preloaded model path for ggml backend
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[WASI-NN] Remove unused ggml options
  plugins/wasi_nn/thirdparty/CMakeLists.txt
Labels: c-Plugin

[CI] Fix CI build
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasi_nn/CMakeLists.txt
  utils/wasi-nn/install-openvino.sh
Labels: c-CI, c-Plugin
