Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

Update index.md
  docs/book/en/src/index.md
Labels: documentation

Update plugin.md
  docs/book/en/src/plugin.md
Labels: documentation

Update sdk.md
  docs/book/en/src/sdk.md
Labels: documentation

[WASI] Clear Dir.Buffer to fix fd_readdir
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

[CI] Use ninja-build instead of make -j
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

[Misc] use std::boyer_moore_horspool_searcher instead of boost one
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/wasi-testsuite.yml
  CMakeLists.txt
  docs/book/en/src/sdk/node.md
  docs/book/zh-TW/src/extend/build.md
  docs/book/zh/src/embed/node.md
  docs/book/zh/src/extend/build.md
  docs/book/zh/src/extend/build_on_mac.md
  flake.nix
  fossa-deps.yml
  lib/driver/fuzzPO.cpp
  lib/host/wasi/CMakeLists.txt
  lib/loader/CMakeLists.txt
  lib/system/CMakeLists.txt
  test/api/CMakeLists.txt
  utils/docker/Dockerfile.base
  utils/docker/Dockerfile.ubuntu2004_x86_64
  utils/docker/Dockerfile.ubuntu2104_armv7l
  utils/docker/build-manylinux.sh
  utils/ohos/build_for_ohos.sh
  utils/ohos/configuration/BUILD.gn
  utils/ohos/configuration/CMakeLists.txt
Labels: c-CI, c-CLI, c-Test, c-WASI, documentation

[Misc] use std::boyer_moore_horspool_searcher instead of boost one
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/wasi-testsuite.yml
  CMakeLists.txt
  docs/book/en/src/sdk/node.md
  docs/book/zh-TW/src/extend/build.md
  docs/book/zh/src/embed/node.md
  docs/book/zh/src/extend/build.md
  docs/book/zh/src/extend/build_on_mac.md
  flake.nix
  fossa-deps.yml
  lib/driver/fuzzPO.cpp
  lib/host/wasi/CMakeLists.txt
  lib/loader/CMakeLists.txt
  lib/system/CMakeLists.txt
  test/api/CMakeLists.txt
  utils/docker/Dockerfile.base
  utils/docker/Dockerfile.ubuntu2004_x86_64
  utils/docker/Dockerfile.ubuntu2104_armv7l
  utils/docker/build-manylinux.sh
  utils/ohos/build_for_ohos.sh
  utils/ohos/configuration/BUILD.gn
  utils/ohos/configuration/CMakeLists.txt
Labels: c-CI, c-CLI, c-Test, c-WASI, documentation

[CI] Use ninja build when building extensions.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CI] Use ninja build when building extensions.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[PO] Use `system/winapi.h` instead of `windows.h`
  include/system/winapi.h
  lib/po/argument_parser.cpp
  tools/wasmedge/wincli_helper.cpp
Labels: c-CLI

[Tool] Use `system/winapi.h` instead of `windows.h`
  include/api/wasmedge/wasmedge.h
  include/api/wasmedge/wincli_helper.h
  include/system/winapi.h
  lib/api/wasmedge.cpp
  lib/driver/compilerTool.cpp
  lib/driver/runtimeTool.cpp
  tools/wasmedge/CMakeLists.txt
  tools/wasmedge/wasmedge.cpp
  tools/wasmedge/wasmedgec.cpp
  tools/wasmedge/wincli_helper.cpp
Labels: c-CAPI, c-CLI

[WASI-NN] Fix TfLite model data ownership
  plugins/wasi_nn/tfl.cpp
  plugins/wasi_nn/tfl.h
Labels: c-Plugin

[PO] Use `system/winapi.h` instead of `windows.h`
  include/system/winapi.h
  lib/po/argument_parser.cpp
  tools/wasmedge/wincli_helper.cpp
Labels: c-CLI

[Tool] Use `system/winapi.h` instead of `windows.h`
  include/api/wasmedge/wasmedge.h
  include/api/wasmedge/wincli_helper.h
  include/system/winapi.h
  lib/api/wasmedge.cpp
  lib/driver/compilerTool.cpp
  lib/driver/runtimeTool.cpp
  tools/wasmedge/CMakeLists.txt
  tools/wasmedge/wasmedge.cpp
  tools/wasmedge/wasmedgec.cpp
  tools/wasmedge/wincli_helper.cpp
Labels: c-CAPI, c-CLI

[CI] Add zlib1g-dev in Ubuntu env to fix zlib not found issue
  .github/workflows/build-extensions.yml
  utils/docker/Dockerfile.base
Labels: c-CI

[WASI-NN] Fix TfLite model data ownership (#2589)
  plugins/wasi_nn/tfl.cpp
  plugins/wasi_nn/tfl.h
Labels: c-Plugin

[CI] Only trigger docker workflow when related files are modified
  .github/workflows/docker.yml
Labels: c-CI

[Utils] Update ubuntu armv7l dockerfile
  utils/docker/Dockerfile.ubuntu2104_armv7l
  utils/docker/Dockerfile.ubuntu2204_armv7l
Labels: none

[Community] Propose new reviewer, WenYuan Huang, for the WASI-Logging proposal
  docs/OWNER.md
Labels: documentation

[Misc] Format OWNER.md
  docs/OWNER.md
Labels: documentation

[Misc] Add @michael1017 as the CODEOWNERS of the WASI-Logging plugin
  .github/CODEOWNERS
Labels: c-CI

[CI] Add zlib1g-dev in Ubuntu env to fix zlib not found issue
  .github/workflows/build-extensions.yml
  utils/docker/Dockerfile.base
Labels: c-CI

[Test] Fix socket test on macos.
  test/host/socket/wasi_socket.cpp
Labels: c-Test

[CI] Turn on verbose log on macOS.
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] Inspect return value.
  test/host/socket/wasi_socket.cpp
Labels: c-Test

[CI] Add debug info.
  .github/workflows/reusable-build-on-ubuntu.yml
  test/host/socket/wasi_socket.cpp
Labels: c-CI, c-Test

[Test] Remove reinterpret_cast from uint8_t* to bool*
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  test/host/socket/wasi_socket.cpp
Labels: c-CI, c-Test

[Test] Statically cast int32 to bool on macOS.
  test/host/socket/wasi_socket.cpp
Labels: c-Test

[CI] Add full test on macOS.
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[Test] Remove unneeded line.
  test/host/socket/wasi_socket.cpp
Labels: c-Test

Removed Unwanted Docs
  docs/book/en/book.toml
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/write_wasm.md
  docs/book/en/src/write_wasm/as.md
  docs/book/en/src/write_wasm/grain.md
  docs/book/en/src/write_wasm/kotlin.md
  docs/book/en/src/write_wasm/python.md
  docs/book/en/src/write_wasm/swift.md
Labels: documentation

Removed Unwanted Docs - zh
  docs/book/zh/src/SUMMARY.md
  docs/book/zh/src/dev.md
  docs/book/zh/src/dev/as.md
  docs/book/zh/src/dev/grain.md
  docs/book/zh/src/dev/kotlin.md
  docs/book/zh/src/dev/python.md
  docs/book/zh/src/dev/swift.md
  docs/book/zh/src/os/android/apk.md
Labels: documentation

Removed Unwanted Docs - zh-TW
  docs/book/zh-TW/src/SUMMARY.md
  docs/book/zh-TW/src/dev/as.md
  docs/book/zh-TW/src/dev/grain.md
  docs/book/zh-TW/src/dev/kotlin.md
  docs/book/zh-TW/src/dev/python.md
  docs/book/zh-TW/src/dev/swift.md
Labels: documentation

Reorganized Docs
  CODE_OF_CONDUCT.md
  Ecosystem.md
  GOVERNANCE.md
  OWNER.md
  README.md
  docs/ecosystem.md
Labels: documentation

Updated Link
  Ecosystem.md
Labels: none

[CI] Enable macOS arm64 CI runner
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] the new macOS asks strict permission to access /usr and /opt. Use a local path for packaging instead
  .github/workflows/build-extensions.yml
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] the new macOS asks strict permission to access /usr and /opt. Use a local path for packaging instead
  .github/workflows/build-extensions.yml
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] Enable macOS arm64 CI runner
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] Add plugin release CI for MacOS arm64.
  .github/workflows/release.yml
Labels: c-CI

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
