Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

StackMgr Valueのrestoreのバグ修正
  include/executor/migrator.h
  lib/executor/engine/engine.cpp
Labels: none

StackMgr FrameのArityとVposの順序逆なの修正
  include/executor/migrator.h
Labels: none

restore時のprintデバッグをコメントアウト
  include/executor/migrator.h
  include/runtime/instance/module.h
Labels: none

restore stackmgr frameでModInstがnullptrのとき、nullptrをpushするようにした
  include/executor/migrator.h
Labels: none

[CI] use pre-built image to get deps (#2734)
  .github/workflows/build-extensions.yml
Labels: c-CI

[Docker] manylinux plugins deps pre-built image
  .github/workflows/docker.yml
  utils/docker/Dockerfile.manylinux2014-build-plugins-deps
Labels: c-CI

[AOT] Fix the neontbl1 codegen error on macOS
  lib/aot/compiler.cpp
Labels: c-AOT

[AOT] Fix the neontbl1 codegen error on macOS (#2738)
  lib/aot/compiler.cpp
Labels: c-AOT

[Docker] manylinux plugins deps pre-built image (#2737)
  .github/workflows/docker.yml
  utils/docker/Dockerfile.manylinux2014-build-plugins-deps
Labels: c-CI

[CI] use plugins deps manylinux
  .github/workflows/build-extensions.yml
Labels: c-CI

[AOT] Fix fallback case of `compileVectorExtAddPairwise`. (#2736)
  lib/aot/compiler.cpp
Labels: c-AOT

stop building opencv in CI
  .github/workflows/build-extensions.yml
Labels: c-CI

aarch64 use plugins deps
  .github/workflows/build-extensions.yml
Labels: c-CI

[CI] use plugins deps manylinux (#2741)
  .github/workflows/build-extensions.yml
Labels: c-CI

[Misc] Provide an option for using the gitee link instead of the GitHub link
  utils/install.py
  utils/install.sh
Labels: c-Installer

[CI] Fix the brew not found issue on the macOS runners
  .github/workflows/IWYU_scan.yml
  .github/workflows/release.yml
  .github/workflows/test-python-install-script.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

Defined the Wasm gz_header struct.
  plugins/wasmedge_zlib/zlibenv.h
Labels: c-Plugin

Correct fallback error message after adding support for tuple-type output tensors in PyTorch for Wasi-NN
  plugins/wasi_nn/torch.cpp
Labels: c-Plugin

Added few function impl of zlib.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added most of non gz functions.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added adler32, adler32_z, crc32, crc32_z.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

[WASI-NN] Correct fallback error message after adding support for tuple-type output tensors in PyTorch for Wasi-NN (#2747)
  plugins/wasi_nn/torch.cpp
Labels: c-Plugin

Add load_by_name implementation into wasi-nn plugin
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasi_nn/wasinnmodule.cpp
Labels: c-Plugin

[WASI-NN] Add load_by_name implementation into wasi-nn plugin (#2742)
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasi_nn/wasinnmodule.cpp
Labels: c-Plugin

WIP
  include/executor/migrator.h
  lib/executor/engine/engine.cpp
Labels: none

WIP: test windows
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-windows.yml
  test/spec/CMakeLists.txt
Labels: c-CI, c-Test

[CI] Update llvm-windows from 13.0.3 to 16.0.6
  .github/workflows/bindings-java.yml
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

fix format ; fix table.init oob (issue 2744)
  include/runtime/instance/table.h
Labels: none

fix issue 2744
  include/runtime/instance/table.h
Labels: none

[C API] Use GUEST_PATH:HOST_PATH instead of PATH1:PATH2
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

Remove _v2 postfix
  .github/workflows/build-extensions.yml
Labels: c-CI

Remove duplicate impl. of WasmEdgeZlibInflateSetDictionary.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Remove unused parameter 'Frame' from WasmEdgeZlibZlibCompilerFlags & WasmEdgeZlibCompressBound.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Correct few pointer value usage.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Added GZFile support Env & implemented WasmEdgeZlibGZDOpen.
  plugins/wasmedge_zlib/zlibenv.h
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Implemented gzbuffer, gzsetparams & gzread.
  plugins/wasmedge_zlib/zlibenv.h
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added gzfread, gzwrite & gzfwrite.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added gzputs, gzgets, gzputc, gzgetc.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added gzflush & gzrewind
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Remove unused parameter 'Frame'.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
