Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

[WASI-NN] Set n_ctx from LLAMA_N_CTX env
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Set max tokens predicted by LLAMA_N_PREDICT
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Update md5sum of testing model
  test/plugins/wasi_nn/CMakeLists.txt
Labels: c-Test

[WASI-NN] Update ggml backend to b1273
  LICENSE.spdx
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/common.h
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.c
  plugins/wasi_nn/thirdparty/ggml/ggml.c
  plugins/wasi_nn/thirdparty/ggml/ggml.h
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.h
Labels: c-Plugin

[WASI-NN] ggml backend: handle exceptions & add more comments
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] ggml backend: handle exceptions & add more comments
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Update md5sum of testing model
  test/plugins/wasi_nn/CMakeLists.txt
Labels: c-Test

[WASI-NN] Update ggml backend to b1273
  LICENSE.spdx
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/common.h
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.c
  plugins/wasi_nn/thirdparty/ggml/ggml.c
  plugins/wasi_nn/thirdparty/ggml/ggml.h
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.h
Labels: c-Plugin

[WASI-NN] Set max tokens predicted by LLAMA_N_PREDICT
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Set n_ctx from LLAMA_N_CTX env
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[Example] Fix get-string with latest C++ internal getSpan API. Fixes #2887
  examples/plugin/get-string/getstring.cpp
Labels: c-Example

[CI] Fix the broken installation of OpenVINO
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  utils/wasi-nn/install-openvino.sh
Labels: c-CI

[WASI-NN] Disable OpenVINO target temporary due to the failure of installation issue
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CI] Disable unnecessary workflows
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_nix.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/static-code-analysis.yml
Labels: c-CI

[WASI-NN] Disable OpenVINO target temporary due to the failure of installation issue (#2933)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[Example] Fix get-string with latest C++ internal getSpan API. Fixes #2887 (#2929)
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_nix.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/static-code-analysis.yml
  examples/plugin/get-string/getstring.cpp
Labels: c-CI, c-Example

[Misc] Fix spelling issue
  .github/workflows/ignore_words
  .github/workflows/misc-linters.yml
  Changelog.md
  README.md
  docs/book/en/src/sdk/rust/table_and_funcref.md
  lib/validator/formchecker.cpp
  utils/install.sh.old
Labels: c-CI, c-Installer, documentation

[Misc] Fix spelling issue (#2938)
  .github/workflows/ignore_words
  .github/workflows/misc-linters.yml
  Changelog.md
  README.md
  docs/book/en/src/sdk/rust/table_and_funcref.md
  lib/validator/formchecker.cpp
  utils/install.sh.old
Labels: c-CI, c-Installer, documentation

wasi-poll `poll-oneoff`
  include/host/wasi_preview2/environ.h
  include/host/wasi_preview2/wasifunc.h
  lib/host/wasi_preview2/wasifunc.cpp
  lib/host/wasi_preview2/wasimodule.cpp
Labels: none

wasi preview2 setup & wasi-poll draft impl
  include/host/wasi_preview2/environ.h
  include/host/wasi_preview2/wasibase.h
  include/host/wasi_preview2/wasifunc.h
  include/host/wasi_preview2/wasimodule.h
  lib/host/CMakeLists.txt
  lib/host/wasi_preview2/CMakeLists.txt
  lib/host/wasi_preview2/environ.cpp
  lib/host/wasi_preview2/wasifunc.cpp
  lib/host/wasi_preview2/wasimodule.cpp
Labels: none

moves implementation to cpp
  include/host/wasi_preview2/environ.h
  lib/host/wasi_preview2/environ.cpp
  lib/host/wasi_preview2/wasifunc.cpp
Labels: none

complete first version of poll-oneoff
  lib/host/wasi_preview2/wasifunc.cpp
Labels: none

statically casting
  lib/host/wasi_preview2/wasifunc.cpp
Labels: none

[WASI-NN] Enable ggml llama.cpp plugin on macOS
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.h
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.m
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.metal
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[CI] Fix WASI-NN building workflow from macOS
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CI] Enable ggml llama.cpp plugin in the macOS workflows
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CI] Enable METAL
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Metal related options should only apply on macOS
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin

[Misc] Add WASMEDGE_PLUGIN_WASI_NN_GGML_LLAMA_METAL for controlling the LLAMA_METAL flag
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Enable OpenVINO target again
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  utils/wasi-nn/install-openvino.sh
Labels: c-CI

[WASI-NN] Enable ggml llama.cpp plugin on macOS
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.h
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.m
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.metal
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[WASI-NN] Metal related options should only apply on macOS
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin

[CI] Fix WASI-NN building workflow from macOS
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CI] Enable METAL
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
Labels: c-Plugin

[Misc] Add WASMEDGE_PLUGIN_WASI_NN_GGML_LLAMA_METAL for controlling the LLAMA_METAL flag
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
Labels: c-Plugin

[CI] Enable ggml llama.cpp plugin in the macOS workflows
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[WASI-NN] Upgrade ggml from b1273 to b1309
  LICENSE.spdx
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/common.h
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.c
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.h
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.h
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.m
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.metal
  plugins/wasi_nn/thirdparty/ggml/ggml.c
  plugins/wasi_nn/thirdparty/ggml/ggml.h
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.h
  plugins/wasi_nn/thirdparty/ggml/log.h
Labels: c-Plugin

[WASI-NN] Update ggml backend
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Upgrade ggml from b1273 to b1309 (#2941)
  LICENSE.spdx
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/common.h
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.c
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.h
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.h
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.m
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.metal
  plugins/wasi_nn/thirdparty/ggml/ggml.c
  plugins/wasi_nn/thirdparty/ggml/ggml.h
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.h
  plugins/wasi_nn/thirdparty/ggml/log.h
Labels: c-Plugin

Added imgproc's 9 functions.
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
Labels: c-Plugin

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
