Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

Add checksum for clang*.src.tar.xz
  utils/docker/SHA256SUM
Labels: none

[Utils] Add clang tool in manylinux2014_x86_64 docker image (#2606)
  utils/docker/Dockerfile.manylinux2014_x86_64
  utils/docker/SHA256SUM
Labels: none

[API] Support setting host data and its finalizer into module instances.
  include/api/wasmedge/wasmedge.h
  include/runtime/instance/module.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
  test/plugins/unittest/testplugin.c
  test/plugins/unittest/unittest_c.cpp
Labels: c-CAPI, c-Test

[API] Support setting host data and its finalizer into module instances.
  include/api/wasmedge/wasmedge.h
  include/runtime/instance/module.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
  test/plugins/unittest/testplugin.c
  test/plugins/unittest/unittest_c.cpp
Labels: c-CAPI, c-Test

[WASI] Correct the inheriting right of the readonly
  lib/host/wasi/environ.cpp
Labels: c-WASI

[CI] Downgrade the release assets from Ubuntu 22.04 to Ubuntu 20.04
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

[WASI] Correct the inheriting right of the readonly
  lib/host/wasi/environ.cpp
Labels: c-WASI

[CI] Downgrade the release assets from Ubuntu 22.04 to Ubuntu 20.04
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

[CI] Only trigger CodeQL analysis on C/CPP related files
  .github/workflows/codeql-analysis.yml
Labels: c-CI

[CI] Only trigger CodeQL analysis on C/CPP related files
  .github/workflows/codeql-analysis.yml
Labels: c-CI

[CI] Split some options of manylinux environment between x86_64 and aarch64
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[Changelog] Update the changelog for the 0.13.0-alpha.1 pre-release.
  .CurrentChangelog.md
  CMakeLists.txt
  Changelog.md
  test/api/APIUnitTest.cpp
  test/spec/CMakeLists.txt
Labels: c-Test

[Changelog] Update the changelog for the 0.13.0-alpha.1 pre-release.
  .CurrentChangelog.md
  CMakeLists.txt
  Changelog.md
  test/api/APIUnitTest.cpp
  test/spec/CMakeLists.txt
Labels: c-Test

[CI] Fix and add the MacOS arm64 release CI.
  .github/workflows/release.yml
Labels: c-CI

[CI] Fix and add the MacOS arm64 release CI.
  .github/workflows/release.yml
Labels: c-CI

[CI] Fix release CI for plugins on manylinux.
  .github/workflows/release.yml
Labels: c-CI

[CI] Fix release CI for plugins on manylinux.
  .github/workflows/release.yml
Labels: c-CI

[CI] Fix plugin release CI on MacOS.
  .github/workflows/release.yml
Labels: c-CI

[CI] Fix plugin release CI on MacOS.
  .github/workflows/release.yml
Labels: c-CI

[CI] Use gh cli for creating release and uploading assets
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-create-source-tarball.yml
Labels: c-CI

[CI] Split macOS release assets with the arch
  .github/workflows/release.yml
Labels: c-CI

[CI] Grant the safe directory for git
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

[CI] Correct the macOS release assets' names
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] Correct the macOS release assets' names
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] Grant the safe directory for git
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

[CI] Use gh cli for creating release and uploading assets
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-create-source-tarball.yml
Labels: c-CI

[CI] Split macOS release assets with the arch
  .github/workflows/release.yml
Labels: c-CI

Minor type changes to better reflect the Zlib API.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added Deflate Inflate Integration Test
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

[Utils] Installer: Use ubuntu20.04 packages only for x86
  utils/install.py
Labels: c-Installer

[Utils] Installer: Use ubuntu20.04 packages only for x86 (#2623)
  utils/install.py
Labels: c-Installer

[Plugin] Support saved-model in WasmEdge-Tensorflow plugin.
  plugins/wasmedge_image/image_func.cpp
  plugins/wasmedge_tensorflow/tensorflow_func.cpp
Labels: c-Plugin

Removed unnecessary nulling of wasm module's z_stream allocators | The host ignores them.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

[Plugin] Support saved-model in WasmEdge-Tensorflow plugin.
  plugins/wasmedge_image/image_func.cpp
  plugins/wasmedge_tensorflow/tensorflow_func.cpp
Labels: c-Plugin

add `blur` function & `imwrite`
  plugins/wasmedge_opencvmini/opencvmini_env.h
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
Labels: c-Plugin

[CMake] Add the option to build WasmEdge-Image plugin.
  CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
Labels: c-Plugin

Added static_assert on Wasm_z_stream struct size.
  plugins/wasmedge_zlib/zlibenv.h
Labels: c-Plugin

Start writing to the wasm heap from address 1 onwards, to nto collide with the semantic meaning of address/offset 0 as nullptr.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

Fix: Correct Version Check and Stream Size Check Error code, and API behaviour, along with relevant test case changes.
  plugins/wasmedge_zlib/zlibfunc.cpp
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Plugin, c-Test

Added in-code documentation/pointer/reason on why we just compare only the first character of zlib version strings.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin
