Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, c-WASI-NN, documentation

[WASI-NN] ggml backend: bump llama.cpp b1953
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: remove fixed ngl when using Metal on macOS (#3165)
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml backend: bump llama.cpp b1953
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[loader] the unique_ptr at the place is not required (#3149)
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/loader.cpp
  lib/vm/vm.cpp
Labels: none

[component model] wrong loading (#3152)
  include/ast/component/type.h
  include/ast/module.h
  include/ast/section.h
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/component/import_export.cpp
  lib/loader/ast/component/type.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
Labels: none

[Executor] Fix integer overflow on `memGrow` boundary check
  include/runtime/instance/memory.h
  test/memlimit/MemLimitTest.cpp
Labels: c-Test

[Executor] Fix integer overflow on `memGrow` boundary check
  include/runtime/instance/memory.h
  test/memlimit/MemLimitTest.cpp
Labels: c-Test

[WASI-NN] ggml: support top_p and presence_penalty
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: support top_p and presence_penalty (#3174)
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

permissions added to workflow files
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

[WASI-NN] CI: re-enable OpenVINO
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[WASI-NN] openvino: upgrade to 2.0 (#3140)
  plugins/wasi_nn/openvino.cpp
  plugins/wasi_nn/openvino.h
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/install-openvino.sh
Labels: c-Plugin, c-Test, c-WASI-NN

permissions added for workflow files
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

permissions edited
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

permissions edited
  .github/workflows/bindings-java.yml
  .github/workflows/wasi-testsuite.yml
  .github/workflows/winget-submit.yml
Labels: c-CI

[CI] Add permissions for workflows (#3178)
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/wasi-testsuite.yml
  .github/workflows/winget-submit.yml
Labels: c-CI

[WASI-NN] CI: re-enable OpenVINO
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[WASI-NN] openvino: upgrade to 2.0 (#3140)
  plugins/wasi_nn/openvino.cpp
  plugins/wasi_nn/openvino.h
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/install-openvino.sh
Labels: c-Plugin, c-Test, c-WASI-NN

[component model] the least needed validation
  include/ast/module.h
  lib/validator/validator.cpp
Labels: none

[Test] Refine the log.
  lib/executor/engine/engine.cpp
  test/spec/spectest.cpp
Labels: c-Test

[Test] Fix the warning in expected tests.
  test/expected/extensions.cpp
Labels: c-Test

[Misc] Extend the RefVariant to 128-bit.
  include/common/types.h
  include/runtime/instance/table.h
  lib/aot/compiler.cpp
  lib/api/wasmedge.cpp
  lib/executor/engine/engine.cpp
  lib/executor/engine/proxy.cpp
  test/spec/hostfunc.h
Labels: c-AOT, c-CAPI, c-Test

[Executor] Refine the slice copy of table instances.
  include/runtime/instance/table.h
  lib/executor/engine/proxy.cpp
  lib/executor/engine/tableInstr.cpp
Labels: none

[AOT] Fix the MSVC AOT proxy.
  lib/executor/engine/proxy.cpp
Labels: none

[Executor] Add the helper function of getting function instance by function index.
  include/executor/executor.h
  include/runtime/instance/module.h
  lib/executor/engine/proxy.cpp
  lib/executor/helper.cpp
Labels: none

[AOT] Fix the MSVC AOT proxy.
  lib/executor/engine/proxy.cpp
Labels: none

[Test] Refine the log.
  lib/executor/engine/engine.cpp
  test/spec/spectest.cpp
Labels: c-Test

[Executor] Add the helper function of getting function instance by function index.
  include/executor/executor.h
  include/runtime/instance/module.h
  lib/executor/engine/proxy.cpp
  lib/executor/helper.cpp
Labels: none

[Executor] Refine the slice copy of table instances.
  include/runtime/instance/table.h
  lib/executor/engine/proxy.cpp
  lib/executor/engine/tableInstr.cpp
Labels: none

[Test] Fix the warning in expected tests.
  test/expected/extensions.cpp
Labels: c-Test

[Misc] Extend the RefVariant to 128-bit.
  include/common/types.h
  include/runtime/instance/table.h
  lib/aot/compiler.cpp
  lib/api/wasmedge.cpp
  lib/executor/engine/engine.cpp
  lib/executor/engine/proxy.cpp
  test/spec/hostfunc.h
Labels: c-AOT, c-CAPI, c-Test

[component model] the least needed validation (#3179)
  include/ast/module.h
  lib/validator/validator.cpp
Labels: none

[CI] Use the macos-14 GitHub runner instead of the self-hosted one
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[CI] Use the macos-14 GitHub runner instead of the self-hosted one (#3184)
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

[WASI-NN] ggml: bump llama.cpp b2029
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: sync default values with llama.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: support frequency penalty (#3180)
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: support frequency penalty (#3180)
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: sync default values with llama.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: bump llama.cpp b2029
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

.github/labeler.yml:

'binding-java':
  - changed-files:
    - any-glob-to-any-file: [
      'bindings/java/**',
      'bindings/java/**/*'
    ]

'binding-rust':
  - changed-files:
    - any-glob-to-any-file: [
      'bindings/rust/**',
      'bindings/rust/**/*'
    ]

'c-AOT':
  - changed-files:
    - any-glob-to-any-file: [
      'include/aot/**',
      'lib/aot/**',
      'include/aot/**/*',
      'lib/aot/**/*']

'c-CAPI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/api/**',
      'lib/api/**',
      'include/api/**/*',
      'lib/api/**/*'
    ]

'c-CI':
  - changed-files:
    - any-glob-to-any-file: [
      '.github/**',
      '.github/**/*'
    ]

'c-CLI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/driver/**',
      'lib/driver/**',
      'include/po/**',
      'lib/po/**',
      'include/driver/**/*',
      'lib/driver/**/*',
      'include/po/**/*',
      'lib/po/**/*'
    ]

'c-CMake':
  - changed-files:
    - any-glob-to-any-file: [
      'cmake/**',
      'cmake/**/*'
    ]

'c-Example':
  - changed-files:
    - any-glob-to-any-file: [
      'examples/**',
      'examples/**/*'
    ]

'c-Installer':
  - changed-files:
    - any-glob-to-any-file: [
      'utils/install.*',
      'utils/installer_changes.sh',
      'utils/uninstall.sh'
    ]

'c-Plugin':
  - changed-files:
    - any-glob-to-any-file: [
      'plugins/**',
      'plugins/**/*'
    ]

'c-Test':
  - changed-files:
    - any-glob-to-any-file: [
      'test/**',
      'test/**/*'
    ]

'c-WASI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/host/wasi/**',
      'lib/host/wasi/**',
      'include/host/wasi/**/*',
      'lib/host/wasi/**/*'
    ]

'c-WASI-NN':
  - changed-files:
    - any-glob-to-any-file: [
      'plugins/wasi_nn/**',
      'plugins/wasi_nn/**/*'
    ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [
      'docs/**',
      'docs/**/*'
    ]
