Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, c-WASI-NN, documentation

[WASI-NN] ggml: add experimental embedding support
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: add experimental embedding support
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: bump llama.cpp b2037
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[qdrvm] hunter
  CMakeLists.txt
  cmake/Hunter/config.cmake
  cmake/HunterGate.cmake
  cmake/wasmedge-config.cmake
  lib/api/CMakeLists.txt
  lib/loader/CMakeLists.txt
  lib/loader/ast/component/component_type.cpp
Labels: c-CAPI, c-CMake

[qdrvm] data segment
  include/api/wasmedge/wasmedge.h
  include/executor/executor.h
  lib/api/wasmedge.cpp
  lib/executor/instantiate/data.cpp
Labels: c-CAPI

[qdrvm] thread local
  include/executor/executor.h
  lib/executor/helper.cpp
Labels: none

[qdrvm] fix hunter
  cmake/Helper.cmake
  cmake/wasmedge-config.cmake
Labels: c-CMake

[WASI-NN] ggml: bump llama.cpp b2037
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: add experimental embedding support
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: support top_p and presence_penalty (#3174)
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: sync default values with llama.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: support frequency penalty (#3180)
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: bump llama.cpp b2037
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: bump llama.cpp b2029
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[AOT] Support exception handling, stack unwinding across AOT binary
  include/loader/shared_library.h
  include/system/fault.h
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/executor/engine/proxy.cpp
  lib/executor/helper.cpp
  lib/loader/shared_library.cpp
  lib/system/fault.cpp
Labels: c-AOT

[AOT] Support exception handling, stack unwinding across AOT binary
  include/loader/shared_library.h
  include/system/fault.h
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/executor/engine/proxy.cpp
  lib/executor/helper.cpp
  lib/loader/shared_library.cpp
  lib/system/fault.cpp
Labels: c-AOT

[Misc] Update the printed messages to match the actual installed version of OpenVINO.
  utils/wasi-nn/install-openvino.sh
Labels: none

[Misc] Update the printed messages to match the actual installed version of OpenVINO. (#3193)
  utils/wasi-nn/install-openvino.sh
Labels: none

Update llvm and lld to 17.0.6
  CMakeLists.txt
  cmake/Hunter/config.cmake
Labels: c-CMake

made changes in the permission hierarchy
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/misc-linters.yml
  .github/workflows/reusable-build-on-alpine-static.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-debian-static.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-call-linter.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/winget-submit.yml
Labels: c-CI

Update build.yml
  .github/workflows/build.yml
Labels: c-CI

[AOT] Fix windows build
  cmake/Helper.cmake
  lib/aot/CMakeLists.txt
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/executor/helper.cpp
Labels: c-AOT, c-CMake

Update IWYU_scan.yml
  .github/workflows/IWYU_scan.yml
Labels: c-CI

[AOT] Fix windows build (#3195)
  cmake/Helper.cmake
  lib/aot/CMakeLists.txt
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/executor/helper.cpp
Labels: c-AOT, c-CMake

Update llvm and lld to 17.0.6, reduce llvm targets
  CMakeLists.txt
  cmake/Hunter/config.cmake
Labels: c-CMake

[component model] section order will affect index space
  include/ast/module.h
  include/ast/section.h
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/section.cpp
  lib/validator/validator.cpp
Labels: none

ref
  lib/validator/validator.cpp
Labels: none

changing permissions hierarchy as per ossf docs
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/misc-linters.yml
  .github/workflows/reusable-build-on-alpine-static.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-call-linter.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/wasi-testsuite.yml
  .github/workflows/winget-submit.yml
Labels: c-CI

[component model] section order will affect index space (#3202)
  include/ast/module.h
  include/ast/section.h
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/section.cpp
  lib/validator/validator.cpp
Labels: none

[CI] Use the latest llvm from homebrew, remove the pinned llvm@16
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

disable signal handling
  lib/system/fault.cpp
Labels: none

Fixed style issue in CMakeLists.txt
  plugins/wasi_ocr/CMakeLists.txt
Labels: c-Plugin

Fix the linking error with simdjson
  plugins/wasi_nn/CMakeLists.txt
  test/spec/CMakeLists.txt
Labels: c-Plugin, c-Test, c-WASI-NN

[Misc] Fix the linking error with simdjson (#3206)
  plugins/wasi_nn/CMakeLists.txt
  test/spec/CMakeLists.txt
Labels: c-Plugin, c-Test, c-WASI-NN

[Zlib] Use the zlib package from system
  plugins/wasmedge_zlib/CMakeLists.txt
Labels: c-Plugin

[CI] No longer build zlib on manylinux2014, due to the API incompatible
  .github/workflows/build-extensions.yml
Labels: c-CI

[CI] No longer build zlib on manylinux2014, due to the API incompatible
  .github/workflows/build-extensions.yml
Labels: c-CI

[Zlib] Use the zlib package from system
  plugins/wasmedge_zlib/CMakeLists.txt
Labels: c-Plugin

[OpenWrt] Bump the WasmEdge version and API version
  utils/openwrt/configuration/Makefile
Labels: none

[OpenWrt] Bump the WasmEdge version and API version
  utils/openwrt/configuration/Makefile
Labels: none

.github/labeler.yml:

'binding-java':
  - changed-files:
    - any-glob-to-any-file: [
      'bindings/java/**',
      'bindings/java/**/*'
    ]

'binding-rust':
  - changed-files:
    - any-glob-to-any-file: [
      'bindings/rust/**',
      'bindings/rust/**/*'
    ]

'c-AOT':
  - changed-files:
    - any-glob-to-any-file: [
      'include/aot/**',
      'lib/aot/**',
      'include/aot/**/*',
      'lib/aot/**/*']

'c-CAPI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/api/**',
      'lib/api/**',
      'include/api/**/*',
      'lib/api/**/*'
    ]

'c-CI':
  - changed-files:
    - any-glob-to-any-file: [
      '.github/**',
      '.github/**/*'
    ]

'c-CLI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/driver/**',
      'lib/driver/**',
      'include/po/**',
      'lib/po/**',
      'include/driver/**/*',
      'lib/driver/**/*',
      'include/po/**/*',
      'lib/po/**/*'
    ]

'c-CMake':
  - changed-files:
    - any-glob-to-any-file: [
      'cmake/**',
      'cmake/**/*'
    ]

'c-Example':
  - changed-files:
    - any-glob-to-any-file: [
      'examples/**',
      'examples/**/*'
    ]

'c-Installer':
  - changed-files:
    - any-glob-to-any-file: [
      'utils/install.*',
      'utils/installer_changes.sh',
      'utils/uninstall.sh'
    ]

'c-Plugin':
  - changed-files:
    - any-glob-to-any-file: [
      'plugins/**',
      'plugins/**/*'
    ]

'c-Test':
  - changed-files:
    - any-glob-to-any-file: [
      'test/**',
      'test/**/*'
    ]

'c-WASI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/host/wasi/**',
      'lib/host/wasi/**',
      'include/host/wasi/**/*',
      'lib/host/wasi/**/*'
    ]

'c-WASI-NN':
  - changed-files:
    - any-glob-to-any-file: [
      'plugins/wasi_nn/**',
      'plugins/wasi_nn/**/*'
    ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [
      'docs/**',
      'docs/**/*'
    ]
