Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

Added GZHeader Sync steps in SyncRun.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Registered deflateSetHeader | inflateGetHeader.
  plugins/wasmedge_zlib/zlibmodule.cpp
Labels: c-Plugin

Updated Test to check for deflateSetHeader & inflateGetHeader.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

Updated function count test to check for 76 functions.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

Check if SyncRun fails even with no call to zlib API.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Removed old unused comments, revert usage of named fields & naming convention fixes.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Plugin, c-Test

Added extensive error logging to Zlib Plugin.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Added Function Instance Name, to SyncRun Error messages for better debug experience.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Added a space between error msg tag & message.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Added info to error msg if the error is caught inside SyncRun.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

[Example] Update wit-bindgen version from 0.7.0 to 0.11.0 (#2770)
  examples/plugin/wasi-logging/Cargo.toml
Labels: c-Example

Removed usage of a temporary ZRes variable wherever not absolutely necessary.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

[Style Change] Remove trailing _s from GZFile_s.
  plugins/wasmedge_zlib/zlibenv.h
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Removed usage of decltype, due to gcc [error: type qualifiers ignored on cast result type]. Using remove_cv to supress, would create code bloat.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

[MSVC] Fix msvc workflow.
  .github/workflows/reusable-build-on-windows-msvc.yml
Labels: c-CI

[MSVC] fix compilation warnings.
  cmake/Helper.cmake
  include/common/configure.h
  include/executor/engine/cast_numeric.ipp
  include/host/wasi/environ.h
  include/po/parser.h
  include/runtime/stackmgr.h
  lib/aot/CMakeLists.txt
  lib/aot/llvm.h
  lib/executor/engine/engine.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
  lib/loader/ast/instruction.cpp
  lib/validator/formchecker.cpp
  test/CMakeLists.txt
  test/api/APIStepsCoreTest.cpp
  test/api/hostfunc_c.c
  test/host/wasi/wasi.cpp
  test/spec/spectest.cpp
  thirdparty/blake3/CMakeLists.txt
Labels: c-AOT, c-CLI, c-CMake, c-Test, c-WASI

[MSVC] Unroll SIMD to adapt for MSVC.
  include/common/types.h
  include/executor/engine/binary_numeric_msvc.ipp
  include/executor/engine/memory.ipp
  include/executor/engine/unary_numeric_msvc.ipp
  include/executor/executor.h
  lib/executor/engine/engine.cpp
Labels: none

[MSVC] Fix workflow name, indent, name style.
  .github/workflows/reusable-build-on-windows-msvc.yml
  include/common/int128.h
  test/CMakeLists.txt
Labels: c-CI, c-Test

[MSVC] Use `__restrict` instead of `__restrict__` in MSVC.
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

[MSVC] Fix compiler flags in CMakeLists.txt for MSVC.
  cmake/Helper.cmake
  test/spec/CMakeLists.txt
  thirdparty/blake3/CMakeLists.txt
Labels: c-CMake, c-Test

[MSVC] add test and build workflow.
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
Labels: c-CI

[Runtime] Set 16-bytes alignment for global variable.
  include/runtime/instance/global.h
Labels: none

[MSVC] Fix uninitialized flags in INode.
  include/host/wasi/inode.h
Labels: c-WASI

[MSVC] Fix int128.h and its test for MSVC.
  include/common/int128.h
  test/common/int128Test.cpp
Labels: c-Test

[MSVC] Many small fixes.
  include/common/enum_errcode.hpp
  include/common/int128.h
  lib/api/wasmedge.cpp
  lib/host/wasi/inode-win.cpp
Labels: c-CAPI, c-WASI

[MSVC] Fix warning, comment style.
  include/executor/engine/memory.ipp
  include/po/parser.h
  lib/plugin/plugin.cpp
Labels: c-CLI

[MSVC] Enable sleep for test case `PollOneoff`.
  test/host/wasi/wasi.cpp
Labels: c-Test

[MSVC] Fix ambiguous symbol `byte`.
  include/experimental/span.hpp
Labels: none

[ThirdParty] Add include condition for `thirdparty\ggml`.
  thirdparty/CMakeLists.txt
Labels: none

[MSVC] Enable `__x86_64__` in `compiler.cpp`.
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/loader/ast/section.cpp
Labels: c-AOT

[MSVC] Refactor SIMD type. Split executor ipp file
  include/common/types.h
  include/executor/engine/binary_numeric.ipp
  include/executor/engine/binary_numeric_vector.ipp
  include/executor/engine/binary_numeric_vector_msvc.ipp
  include/executor/engine/unary_numeric.ipp
  include/executor/engine/unary_numeric_vector.ipp
  include/executor/engine/unary_numeric_vector_msvc.ipp
  include/executor/executor.h
  test/spec/spectest.cpp
Labels: c-Test

[MSVC] Avoid designated initializers.
  bindings/java/wasmedge-java/wasmedge-jni/lib/MemoryTypeContext.c
  bindings/java/wasmedge-java/wasmedge-jni/lib/TableTypeContext.c
  include/api/wasmedge/wasmedge.h
  include/common/enum_errcode.hpp
  include/system/winapi.h
  lib/api/wasmedge.cpp
  lib/executor/engine/proxy.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/win.h
  lib/plugin/plugin.cpp
  test/api/APIUnitTest.cpp
  test/api/helper.cpp
  test/host/wasi/wasi.cpp
  test/plugins/unittest/testplugin.c
Labels: binding-java, c-CAPI, c-Test, c-WASI

[MSVC] Fix intrinsics `[[gnu::always_inline]]` `__builtin_unreachable` `__builtin_expect`.
  include/common/errcode.h
  include/experimental/expected.hpp
Labels: none

[MSVC] Fix a small bug of conversion.
  test/aot/AOTcoreTest.cpp
Labels: c-Test

[MSVC] Update llvm version for MSVC build workflow
  .github/workflows/reusable-build-on-windows-msvc.yml
Labels: c-CI

[MSVC] Fix undefined symbol `Cxt`.
  lib/api/wasmedge.cpp
Labels: c-CAPI

[Common] Fix a bug in int128.h.
  include/common/int128.h
Labels: none

[MSVC] fix bug in unrolled version of SIMD.
  include/executor/engine/binary_numeric_msvc.ipp
  include/executor/engine/unary_numeric_msvc.ipp
  lib/executor/engine/engine.cpp
Labels: none

[MSVC] Intrinsic `__maybe_unused`.
  test/api/hostfunc_c.c
Labels: c-Test

[MSVC] Fix `constexpr` in inode.h
  include/host/wasi/inode.h
Labels: c-WASI

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
