Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, c-WASI-NN, documentation

.github/labeler.yml:

'binding-java':
  - changed-files:
    - any-glob-to-any-file: [
      'bindings/java/**',
      'bindings/java/**/*'
    ]

'binding-rust':
  - changed-files:
    - any-glob-to-any-file: [
      'bindings/rust/**',
      'bindings/rust/**/*'
    ]

'c-AOT':
  - changed-files:
    - any-glob-to-any-file: [
      'include/aot/**',
      'lib/aot/**',
      'include/aot/**/*',
      'lib/aot/**/*']

'c-CAPI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/api/**',
      'lib/api/**',
      'include/api/**/*',
      'lib/api/**/*'
    ]

'c-CI':
  - changed-files:
    - any-glob-to-any-file: [
      '.github/**',
      '.github/**/*'
    ]

'c-CLI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/driver/**',
      'lib/driver/**',
      'include/po/**',
      'lib/po/**',
      'include/driver/**/*',
      'lib/driver/**/*',
      'include/po/**/*',
      'lib/po/**/*'
    ]

'c-CMake':
  - changed-files:
    - any-glob-to-any-file: [
      'cmake/**',
      'cmake/**/*'
    ]

'c-Example':
  - changed-files:
    - any-glob-to-any-file: [
      'examples/**',
      'examples/**/*'
    ]

'c-Installer':
  - changed-files:
    - any-glob-to-any-file: [
      'utils/install.*',
      'utils/installer_changes.sh',
      'utils/uninstall.sh'
    ]

'c-Plugin':
  - changed-files:
    - any-glob-to-any-file: [
      'plugins/**',
      'plugins/**/*'
    ]

'c-Test':
  - changed-files:
    - any-glob-to-any-file: [
      'test/**',
      'test/**/*'
    ]

'c-WASI':
  - changed-files:
    - any-glob-to-any-file: [
      'include/host/wasi/**',
      'lib/host/wasi/**',
      'include/host/wasi/**/*',
      'lib/host/wasi/**/*'
    ]

'c-WASI-NN':
  - changed-files:
    - any-glob-to-any-file: [
      'plugins/wasi_nn/**',
      'plugins/wasi_nn/**/*'
    ]

documentation:
  - changed-files:
    - any-glob-to-any-file: [
      'docs/**',
      'docs/**/*'
    ]

[CI][Lint] Ignore files in 'dist/'
  .github/workflows/misc-linters.yml
Labels: c-CI

[CI] Separate prepare stage for workflows
  .github/actions/expand-variables/dist/index.js
  .github/actions/expand-variables/main.js
  .github/workflows/reusable-build-extensions-on-manylinux.yml
  .github/workflows/reusable-build-extensions.yml
Labels: c-CI

[CI] Refactor workflows for plugins on manylinux
  .github/actions/expand-variables/README.md
  .github/actions/expand-variables/action.yml
  .github/actions/expand-variables/dist/index.js
  .github/actions/expand-variables/dist/license.txt
  .github/actions/expand-variables/main.js
  .github/actions/expand-variables/package-lock.json
  .github/actions/expand-variables/package.json
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-extensions-on-manylinux.yml
  .github/workflows/reusable-build-extensions.yml
Labels: c-CI

[Misc] Remove legacy witx files
  .github/workflows/misc-linters.yml
  .github/workflows/witx.yml
  docs/witx/.gitignore
  docs/witx/crypto/proposal_asymmetric_common.witx
  docs/witx/crypto/proposal_common.witx
  docs/witx/crypto/proposal_external_secrets.witx
  docs/witx/crypto/proposal_kx.witx
  docs/witx/crypto/proposal_signatures.witx
  docs/witx/crypto/proposal_symmetric.witx
  docs/witx/typenames.witx
  docs/witx/wasi_ephemeral_sock.witx
  utils/witx-doc/.gitignore
  utils/witx-doc/Cargo.toml
  utils/witx-doc/generate.sh
  utils/witx-doc/src/main.rs
Labels: c-CI, documentation

[CI] Update filename patterns
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
Labels: c-CI

[CI] Remove post-release.yml
  .github/workflows/post-release.yml
Labels: c-CI

permissions added to 9 files
  .github/workflows/misc-linters.yml
  .github/workflows/reusable-build-on-alpine-static.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-debian-static.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
Labels: c-CI

[WASI-NN] ggml: print llama timing in fini_single
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: improved logging mechanism for ContextFull and PromptTooLong
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: support setting the llama threads number
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

[Plugin] image: update boost tarball URL
  plugins/wasmedge_image/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] CI: temporarily disable OpenVINO
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[WASI-NN] Support RPC mode
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  CMakeLists.txt
  cmake/Helper.cmake
  include/api/wasmedge/wasmedge.h
  include/driver/wasiNNRPCServerTool.h
  include/driver/wasi_nn_rpc/wasi_nn_rpcserver/wasi_nn_rpcserver.h
  lib/CMakeLists.txt
  lib/api/CMakeLists.txt
  lib/api/wasmedge.cpp
  lib/driver/CMakeLists.txt
  lib/driver/wasiNNRPCServerTool.cpp
  lib/wasi_nn_rpc/CMakeLists.txt
  lib/wasi_nn_rpc/wasi_ephemeral_nn.proto
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  tools/wasmedge/CMakeLists.txt
  tools/wasmedge/wasi_nn_rpcserver.cpp
Labels: c-CAPI, c-CI, c-CLI, c-CMake, c-Plugin, c-Test, c-WASI-NN

[WASI-NN] ggml: count n-predict correctly
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: return version in metadata
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml: update ggml to b1808
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml backend: bump to llama.cpp b1879 (#3158)
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

[CI] added token permissions for testing (#3093)
  .github/workflows/misc-linters.yml
  .github/workflows/reusable-build-on-alpine-static.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-debian-static.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-call-linter.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
Labels: c-CI

[CI] A cache today is immutable and cannot be updated. Use unique id to fix
  .github/workflows/reusable-build-extensions-on-manylinux.yml
Labels: c-CI

[CI] A cache today is immutable and cannot be updated. Use unique id to fix (#3163)
  .github/workflows/reusable-build-extensions-on-manylinux.yml
Labels: c-CI

[Docs] Fix the CI badge in README
  README.md
Labels: none

remove redudent move
  lib/loader/loader.cpp
Labels: none

wrap with unique_ptr to avoid copy
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/loader.cpp
  lib/vm/vm.cpp
Labels: none

the unique_ptr at the place is not required
  lib/loader/loader.cpp
Labels: none

redudent move
  lib/loader/ast/component.cpp
Labels: none

[component model] fix load bug
  include/ast/component/type.h
  include/vm/vm.h
  lib/loader/ast/component/type.cpp
  lib/vm/vm.cpp
Labels: none

missing break & a missing load
  lib/loader/ast/component/type.cpp
Labels: none

unnecessary ;
  lib/loader/ast/component/type.cpp
Labels: none

improve the naming
  include/common/enum.inc
Labels: none

fix import name, it actually expected 0x01
  include/loader/loader.h
  lib/loader/ast/component/import_export.cpp
  lib/loader/ast/component/type.cpp
Labels: none

fix import/export name
  lib/loader/ast/component/type.cpp
Labels: none

readLabel is still readName
  lib/loader/ast/component/type.cpp
Labels: none

fix core type section
  include/ast/module.h
  include/ast/section.h
  include/loader/loader.h
  include/vm/vm.h
  lib/loader/ast/component.cpp
  lib/loader/ast/section.cpp
  lib/vm/vm.cpp
Labels: none

fix core module and nested component concept
  include/common/enum.inc
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/section.cpp
Labels: none

add bound load module
  include/loader/loader.h
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
Labels: none

fix multi-section concept
  include/ast/module.h
  lib/loader/ast/component.cpp
Labels: none

[WASI-NN] ggml: remove fixed ngl when using Metal on macOS
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[Docs] Fix the CI badge in README
  README.md
Labels: none

[WASI-NN] ggml: remove fixed ngl when using Metal on macOS (#3165)
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

[WASI-NN] ggml backend: bump llama.cpp b1953
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN
