Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

Added gzeof, gzdirect, gzclose, gzclose_r, gzclose_w.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added gzclearerr.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Change void* to unsigned char*
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

[CI] Update llvm-windows from 13.0.3 to 16.0.6
  .github/workflows/bindings-java.yml
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

[C API] Use GUEST_PATH:HOST_PATH instead of PATH1:PATH2
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

[Runtime] fix table.init oob. issue #2744 (#2756)
  include/runtime/instance/table.h
Labels: none

Updated docs link
  docs/book/en/src/use_cases.md
Labels: documentation

Updated Docs
  docs/book/en/src/develop_plugin/c.md
  docs/book/en/src/develop_plugin/cpp.md
  docs/book/en/src/features/comparison.md
  docs/book/en/src/quick_start/install.md
  docs/book/en/src/quick_start/run_cli.md
  docs/book/en/src/quick_start/run_in_aot_mode.md
  docs/book/en/src/quick_start/use_docker.md
  docs/book/en/src/sdk/c++.md
  docs/book/en/src/sdk/go.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/sdk/node.md
  docs/book/en/src/use_cases/frameworks/app.md
  docs/book/en/src/use_cases/frameworks/mesh.md
  docs/book/en/src/use_cases/frameworks/mesh/wasm-nginx-module.md
  docs/book/en/src/use_cases/frameworks/serverless-wasmedge.png
  docs/book/en/src/use_cases/frameworks/serverless.md
  docs/book/en/src/use_cases/kubernetes/demo/server.md
  docs/book/en/src/use_cases/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/en/src/use_cases/kubernetes/kubernetes/kwasm.md
  docs/book/en/src/use_cases/kubernetes/kubernetes/openyurt.md
  docs/book/en/src/write_wasm/as.md
  docs/book/en/src/write_wasm/c.md
  docs/book/en/src/write_wasm/c/simd.md
  docs/book/en/src/write_wasm/grain.md
  docs/book/en/src/write_wasm/javascript.png
  docs/book/en/src/write_wasm/python.md
  docs/book/en/src/write_wasm/rust.md
  docs/book/en/src/write_wasm/rust/ssr.md
  docs/book/en/src/write_wasm/rust/tensorflow.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Labels: documentation

Made Requested Changes
  docs/book/en/src/develop_plugin/rust-sdk.md
  docs/book/en/src/use_cases/kubernetes/demo/server.md
  docs/book/en/src/use_cases/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/en/src/write_wasm/python.md
  docs/book/en/src/write_wasm/rust.md
Labels: documentation

Fixed Linting Issues
  docs/book/en/src/write_wasm/rust/networking-nonblocking.md
  docs/book/en/src/write_wasm/rust/networking.md
Labels: documentation

Added gzgetc & gzungetc.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Fix name Spell mistake.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Fixing segmentation fault error
  include/runtime/instance/memory.h
Labels: none

Fixing segmentation fault error
  include/runtime/instance/memory.h
Labels: none

Fixing segmentation fault error
  include/runtime/instance/memory.h
Labels: none

Update README.md
  README.md
Labels: none

[Runtime] fix memory.init oob. issue #2743 (#2758)
  include/runtime/instance/memory.h
Labels: none

[Docs] Replace the link in README with new docs link (#2759)
  README.md
Labels: none

[Plugin] add wasmedge_rustls_plugin
  plugins/CMakeLists.txt
  plugins/wasmedge_rustls_plugin/.gitignore
  plugins/wasmedge_rustls_plugin/CMakeLists.txt
  plugins/wasmedge_rustls_plugin/Cargo.toml
  plugins/wasmedge_rustls_plugin/src/lib.rs
Labels: c-Plugin

[Plugin] add WASMEDGE_PLUGIN_RUSTLS option
  CMakeLists.txt
  plugins/wasmedge_rustls/.gitignore
  plugins/wasmedge_rustls/CMakeLists.txt
  plugins/wasmedge_rustls/Cargo.toml
  plugins/wasmedge_rustls/src/lib.rs
Labels: c-Plugin

[WASI-NN] Add ggml backend
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
  plugins/wasi_nn/ggml/common.cpp
  plugins/wasi_nn/ggml/common.h
  plugins/wasi_nn/ggml/ggml-alloc.c
  plugins/wasi_nn/ggml/ggml-alloc.h
  plugins/wasi_nn/ggml/ggml.c
  plugins/wasi_nn/ggml/ggml.h
  plugins/wasi_nn/ggml/k_quants.c
  plugins/wasi_nn/ggml/k_quants.h
  plugins/wasi_nn/ggml/llama-util.h
  plugins/wasi_nn/ggml/llama.cpp
  plugins/wasi_nn/ggml/llama.h
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
Labels: c-CMake, c-Plugin

[WASI-NN] Add TODOs
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Format the ggml code to pass linter
  plugins/wasi_nn/ggml/common.cpp
  plugins/wasi_nn/ggml/common.h
  plugins/wasi_nn/ggml/ggml-alloc.c
  plugins/wasi_nn/ggml/ggml-alloc.h
  plugins/wasi_nn/ggml/ggml.c
  plugins/wasi_nn/ggml/ggml.h
  plugins/wasi_nn/ggml/k_quants.c
  plugins/wasi_nn/ggml/k_quants.h
  plugins/wasi_nn/ggml/llama-util.h
  plugins/wasi_nn/ggml/llama.h
Labels: c-Plugin

[WASI-NN] Move ggml/ to thirdparty/
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
  thirdparty/CMakeLists.txt
  thirdparty/ggml/CMakeLists.txt
  thirdparty/ggml/common.cpp
  thirdparty/ggml/common.h
  thirdparty/ggml/ggml-alloc.c
  thirdparty/ggml/ggml-alloc.h
  thirdparty/ggml/ggml.c
  thirdparty/ggml/ggml.h
  thirdparty/ggml/k_quants.c
  thirdparty/ggml/k_quants.h
  thirdparty/ggml/llama-util.h
  thirdparty/ggml/llama.cpp
  thirdparty/ggml/llama.h
Labels: c-Plugin

[WASI-NN] Fix ggml warning
  thirdparty/ggml/CMakeLists.txt
  thirdparty/ggml/common.cpp
  thirdparty/ggml/common.h
  thirdparty/ggml/ggml-alloc.c
  thirdparty/ggml/ggml-alloc.h
  thirdparty/ggml/ggml.c
  thirdparty/ggml/ggml.h
  thirdparty/ggml/k_quants.c
  thirdparty/ggml/k_quants.h
  thirdparty/ggml/llama-util.h
  thirdparty/ggml/llama.cpp
  thirdparty/ggml/llama.h
Labels: none

[WASI-NN] Remove ggml llama log
  thirdparty/ggml/llama.cpp
Labels: none

[WASI-NN] Correct naming style and error message for ggml backend
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[GGML] Fix CI build
  thirdparty/ggml/llama.cpp
Labels: none

[GGML] Fix CI aarch64 build
  thirdparty/ggml/CMakeLists.txt
Labels: none

[GGML] Fix CI Windows build
  thirdparty/ggml/CMakeLists.txt
Labels: none

[GGML] Add license file of llama.cpp
  LICENSE.spdx
  thirdparty/ggml/LICENSE
Labels: none

[Plugin] wasi clocks init
  plugins/CMakeLists.txt
  plugins/wasi_clocks/CMakeLists.txt
  plugins/wasi_clocks/base.h
  plugins/wasi_clocks/env.cpp
  plugins/wasi_clocks/env.h
  plugins/wasi_clocks/func.cpp
  plugins/wasi_clocks/func.h
  plugins/wasi_clocks/module.cpp
  plugins/wasi_clocks/module.h
Labels: c-Plugin

[WASI-NN] Use string_literal and correct naming style
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Remove the unused local variable
  plugins/wasi_nn/wasinnfunc.cpp
Labels: c-Plugin

[CI] Build WASI-NN ggml backend
  .github/workflows/build-extensions.yml
Labels: c-CI

[CI] Release WASI-NN ggml backend
  .github/workflows/release.yml
Labels: c-CI

Fixed no-return on a Expect<void>.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

[GGML] Add thirdparty/ggml/README.md
  thirdparty/ggml/README.md
Labels: none

Fix move semantics related to unique_ptr.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Added deflateInit2 & inflateInit2 & inflateBackInit2 & Refactor Part 1.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
