Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

[MSVC] Change from UINT_MAX to UINT32_MAX.
  include/executor/engine/memory.ipp
  test/host/socket/wasi_socket.cpp
Labels: c-Test

[MSVC] Fix divide by zero error.
  test/api/APIUnitTest.cpp
Labels: c-Test

[MSVC] Fix designated initializer style, keep designated initializer in C file.
  bindings/java/wasmedge-java/wasmedge-jni/lib/MemoryTypeContext.c
  bindings/java/wasmedge-java/wasmedge-jni/lib/TableTypeContext.c
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/win.h
  test/api/APIUnitTest.cpp
  test/api/helper.cpp
  test/host/wasi/wasi.cpp
  test/plugins/unittest/testplugin.c
Labels: binding-java, c-CAPI, c-Test, c-WASI

[MSVC] Fix conversion warnings in test.
  include/executor/engine/binary_numeric_vector_msvc.ipp
  include/executor/engine/unary_numeric_vector_msvc.ipp
  test/CMakeLists.txt
  test/api/APIVMCoreTest.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
  test/po/help.cpp
  test/po/subcommand.cpp
Labels: c-Test

[MSVC] Use `MAYBE_UNUSED` instead of `__maybe_unused`
  test/api/hostfunc_c.c
Labels: c-Test

[MSVC] Fix `gnu::visibility("default")`.
  include/plugin/plugin.h
  include/system/allocator.h
  lib/plugin/plugin.cpp
  lib/system/allocator.cpp
Labels: none

[MSVC] Avoid `std::swap` in `constexpr` function.
  include/host/wasi/inode.h
Labels: c-WASI

[MSVC] SIMD, reinterpret_cast by reference
  test/spec/spectest.cpp
Labels: c-Test

[MSVC] Fix conversion warning using static_cast.
  include/common/configure.h
  lib/aot/llvm.h
  lib/executor/engine/engine.cpp
  lib/host/wasi/inode-win.cpp
Labels: c-AOT, c-WASI

[MSVC] Remove redundant parentheses.
  include/common/enum_errcode.hpp
Labels: none

instruction: `mem.load`
  include/ast/instruction.h
  include/executor/engine/memory.ipp
Labels: none

instruction `mem.store`
  include/executor/engine/memory.ipp
Labels: none

instruction rest load/store many
  include/executor/engine/memory.ipp
Labels: none

page count is possible up to 64-bit now
  include/system/allocator.h
  lib/system/allocator.cpp
Labels: none

[Test] Support separating the execution mode of spec test.
  test/aot/AOTcoreTest.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/APIStepsCoreTest.cpp
  test/api/APIVMCoreTest.cpp
  test/executor/ExecutorTest.cpp
  test/spec/spectest.cpp
  test/spec/spectest.h
Labels: c-Test

[MSVC] Intrinsic `__maybe_unused`.
  test/api/hostfunc_c.c
Labels: c-Test

[MSVC] SIMD, reinterpret_cast by reference
  test/spec/spectest.cpp
Labels: c-Test

[MSVC] Avoid `std::swap` in `constexpr` function.
  include/host/wasi/inode.h
Labels: c-WASI

[MSVC] Fix uninitialized flags in INode.
  include/host/wasi/inode.h
Labels: c-WASI

[MSVC] Many small fixes.
  include/common/enum_errcode.hpp
  include/common/int128.h
  lib/api/wasmedge.cpp
  lib/host/wasi/inode-win.cpp
Labels: c-CAPI, c-WASI

[MSVC] fix bug in unrolled version of SIMD.
  include/executor/engine/binary_numeric_msvc.ipp
  include/executor/engine/unary_numeric_msvc.ipp
  lib/executor/engine/engine.cpp
Labels: none

[MSVC] Use `__restrict` instead of `__restrict__` in MSVC.
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

[MSVC] Unroll SIMD to adapt for MSVC.
  include/common/types.h
  include/executor/engine/binary_numeric_msvc.ipp
  include/executor/engine/memory.ipp
  include/executor/engine/unary_numeric_msvc.ipp
  include/executor/executor.h
  lib/executor/engine/engine.cpp
Labels: none

[MSVC] Fix undefined symbol `Cxt`.
  lib/api/wasmedge.cpp
Labels: c-CAPI

[MSVC] Fix warning, comment style.
  include/executor/engine/memory.ipp
  include/po/parser.h
  lib/plugin/plugin.cpp
Labels: c-CLI

[MSVC] Fix intrinsics `[[gnu::always_inline]]` `__builtin_unreachable` `__builtin_expect`.
  include/common/errcode.h
  include/experimental/expected.hpp
Labels: none

[MSVC] Fix workflow name, indent, name style.
  .github/workflows/reusable-build-on-windows-msvc.yml
  include/common/int128.h
  test/CMakeLists.txt
Labels: c-CI, c-Test

[ThirdParty] Add include condition for `thirdparty\ggml`.
  thirdparty/CMakeLists.txt
Labels: none

[MSVC] Fix msvc workflow.
  .github/workflows/reusable-build-on-windows-msvc.yml
Labels: c-CI

[MSVC] Fix divide by zero error.
  test/api/APIUnitTest.cpp
Labels: c-Test

[Runtime] Set 16-bytes alignment for global variable.
  include/runtime/instance/global.h
Labels: none

[MSVC] Fix int128.h and its test for MSVC.
  include/common/int128.h
  test/common/int128Test.cpp
Labels: c-Test

[MSVC] Update llvm version for MSVC build workflow
  .github/workflows/reusable-build-on-windows-msvc.yml
Labels: c-CI

[MSVC] Enable `__x86_64__` in `compiler.cpp`.
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/loader/ast/section.cpp
Labels: c-AOT

[MSVC] Enable sleep for test case `PollOneoff`.
  test/host/wasi/wasi.cpp
Labels: c-Test

[MSVC] add test and build workflow.
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
Labels: c-CI

[MSVC] fix compilation warnings.
  cmake/Helper.cmake
  include/common/configure.h
  include/executor/engine/cast_numeric.ipp
  include/host/wasi/environ.h
  include/po/parser.h
  include/runtime/stackmgr.h
  lib/aot/CMakeLists.txt
  lib/aot/llvm.h
  lib/executor/engine/engine.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
  lib/loader/ast/instruction.cpp
  lib/validator/formchecker.cpp
  test/CMakeLists.txt
  test/api/APIStepsCoreTest.cpp
  test/api/hostfunc_c.c
  test/host/wasi/wasi.cpp
  test/spec/spectest.cpp
  thirdparty/blake3/CMakeLists.txt
Labels: c-AOT, c-CLI, c-CMake, c-Test, c-WASI

[MSVC] Fix conversion warnings in test.
  include/executor/engine/binary_numeric_vector_msvc.ipp
  include/executor/engine/unary_numeric_vector_msvc.ipp
  test/CMakeLists.txt
  test/api/APIVMCoreTest.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
  test/po/help.cpp
  test/po/subcommand.cpp
Labels: c-Test

[MSVC] Fix a small bug of conversion.
  test/aot/AOTcoreTest.cpp
Labels: c-Test

[MSVC] Use `MAYBE_UNUSED` instead of `__maybe_unused`
  test/api/hostfunc_c.c
Labels: c-Test
