Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

Fix: Added ZLIB as link dep to wasmedge_zlib plugin.
  plugins/wasmedge_zlib/CMakeLists.txt
Labels: c-Plugin

Added basic test for zlib plugin; WIP/TODO.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

Added test/plugins/wasmedge_zlib/CMakeLists.txt to build and create zlib test executable.
  test/plugins/wasmedge_zlib/CMakeLists.txt
Labels: c-Test

Include zlib plugin test sub directory in test/plugins/CMakeLists.txt.
  test/plugins/CMakeLists.txt
Labels: c-Test

Fixed naming convention by omitting namespace prefix from function name.
  plugins/wasmedge_zlib/zlibmodule.cpp
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Plugin, c-Test

[TEST]: Enable test when boost not found.
  CMakeLists.txt
Labels: none

[Validator] Add support of function reference proposal for validation. (#2152)
  include/common/enum.inc
  include/common/types.h
  include/validator/formchecker.h
  include/validator/validator.h
  lib/driver/runtimeTool.cpp
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
Labels: c-CLI

[API] Add the new WasmEdge_ValType related APIs.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

[Loader] Support loading table extended from function reference (#2151)
  include/ast/section.h
  include/ast/segment.h
  include/ast/type.h
  include/common/enum.inc
  include/common/types.h
  include/loader/filemgr.h
  include/loader/loader.h
  include/runtime/instance/table.h
  include/validator/validator.h
  lib/api/wasmedge.cpp
  lib/loader/ast/section.cpp
  lib/loader/ast/segment.cpp
  lib/loader/filemgr.cpp
  lib/validator/validator.cpp
Labels: c-CAPI

[Validator] Reduce the use of `VType` in validator. (#2150)
  include/validator/formchecker.h
  lib/validator/formchecker.cpp
Labels: none

[Loader] Support loading the instructions extended from the function references proposal (#2125)
  include/ast/instruction.h
  include/common/enum.inc
  include/common/types.h
  lib/driver/runtimeTool.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/type.cpp
  lib/validator/formchecker.cpp
Labels: c-CLI

[Test] Update for the new `ValType` class.
  test/aot/AOTcoreTest.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/APIStepsCoreTest.cpp
  test/api/APIUnitTest.cpp
  test/api/APIVMCoreTest.cpp
  test/api/helper.cpp
  test/api/helper.h
  test/api/hostfunc_c.c
  test/errinfo/errinfoTest.cpp
  test/executor/ExecutorTest.cpp
  test/externref/ExternrefTest.cpp
  test/mixcall/mixcallTest.cpp
  test/plugins/unittest/testplugin.c
  test/spec/hostfunc.h
  test/spec/spectest.cpp
  test/spec/spectest.h
  test/thread/ThreadTest.cpp
Labels: c-Test

[Loader] Support loading the type extended from function references proposal (#2124)
  include/common/types.h
  include/loader/loader.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/type.cpp
Labels: none

[Driver] Add command line option to enable function reference type (#2122)
  lib/driver/runtimeTool.cpp
Labels: c-CLI

[API] Refactor the `WasmEdge_ValType` in C API.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

[Common] Refactor the `WasmEdge::ValType` and `WasmEdge::RefType` class.
  include/ast/instruction.h
  include/ast/segment.h
  include/ast/type.h
  include/common/enum.inc
  include/common/enum_types.h
  include/common/enum_types.hpp
  include/common/errinfo.h
  include/common/types.h
  include/executor/executor.h
  include/loader/loader.h
  include/runtime/instance/elem.h
  include/runtime/instance/function.h
  include/validator/formchecker.h
  include/validator/validator.h
  include/vm/vm.h
  lib/aot/compiler.cpp
  lib/api/wasmedge.cpp
  lib/common/errinfo.cpp
  lib/driver/runtimeTool.cpp
  lib/executor/executor.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
  lib/vm/vm.cpp
Labels: c-AOT, c-CAPI, c-CLI

[Common] Introduce heap type and turn reftype into referencing heaptype (#2107)
  include/common/enum.inc
  include/common/enum_types.h
  include/common/enum_types.hpp
  include/common/types.h
  include/validator/formchecker.h
  lib/aot/compiler.cpp
  lib/api/wasmedge.cpp
  lib/common/errinfo.cpp
  lib/driver/runtimeTool.cpp
  lib/loader/ast/type.cpp
  test/spec/spectest.cpp
Labels: c-AOT, c-CAPI, c-CLI, c-Test

[Common] Fix the alignment issue on aarch64 in the new ValType.
  include/api/wasmedge/wasmedge.h
  include/common/types.h
  lib/api/wasmedge.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/APIStepsCoreTest.cpp
  test/api/APIVMCoreTest.cpp
  test/api/helper.cpp
  test/api/helper.h
Labels: c-CAPI, c-Test

[CI] Reduce the jobs of plugin CI.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CI] Reduce the jobs of plugin CI.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[WASI] Refactor wasi-socket internal api
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/vinode.cpp
  lib/host/wasi/wasifunc.cpp
  test/host/socket/wasi_socket.cpp
Labels: c-Test, c-WASI

[WASI] Refactor wasi-socket internal api
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/vinode.cpp
  lib/host/wasi/wasifunc.cpp
  test/host/socket/wasi_socket.cpp
Labels: c-Test, c-WASI

fix ci
  lib/executor/engine/controlInstr.cpp
Labels: none

refactor: unify all reference value to RefVariant
  include/common/types.h
  include/runtime/instance/table.h
  lib/api/wasmedge.cpp
  lib/common/errinfo.cpp
  lib/executor/engine/controlInstr.cpp
  lib/executor/engine/engine.cpp
  lib/executor/engine/proxy.cpp
  lib/executor/engine/tableInstr.cpp
  lib/executor/instantiate/elem.cpp
  test/errinfo/errinfoTest.cpp
  test/spec/spectest.cpp
Labels: c-CAPI, c-Test

[Misc] Update blake3 to 1.3.3
  thirdparty/blake3/blake3.c
  thirdparty/blake3/blake3.h
  thirdparty/blake3/blake3_avx2.c
  thirdparty/blake3/blake3_avx512.c
  thirdparty/blake3/blake3_dispatch.c
  thirdparty/blake3/blake3_impl.h
  thirdparty/blake3/blake3_sse2.c
  thirdparty/blake3/blake3_sse41.c
Labels: none

[Misc] Update blake3 to 1.3.3
  thirdparty/blake3/blake3.c
  thirdparty/blake3/blake3.h
  thirdparty/blake3/blake3_avx2.c
  thirdparty/blake3/blake3_avx512.c
  thirdparty/blake3/blake3_dispatch.c
  thirdparty/blake3/blake3_impl.h
  thirdparty/blake3/blake3_sse2.c
  thirdparty/blake3/blake3_sse41.c
Labels: none

Fix case sensitivity in CMake of zlib library.
  plugins/wasmedge_zlib/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Fix parse WASMEDGE_PLUGIN_WASI_NN_BACKEND build flags
  cmake/WASINNDeps.cmake
Labels: c-CMake

Refactor build-extensions.yml to be in-line with upstream master.
  .github/workflows/build-extensions.yml
Labels: c-CI

[Misc] Tiny fix
  lib/vm/vm.cpp
Labels: none

[Misc] clang-format
  lib/vm/vm.cpp
Labels: none

[Misc] Fix debug log empty messages
  lib/vm/vm.cpp
Labels: none

[Misc] clang-format
  lib/vm/vm.cpp
Labels: none

Fix typo in build-extensions.yml on zlib cmake option
  .github/workflows/build-extensions.yml
Labels: c-CI

[Community] propose new reviewers (#2550)
  docs/OWNER.md
Labels: documentation

More docs on MacOS installation - #2568
  docs/book/en/src/quick_start/install.md
Labels: documentation

[Docs] More docs on MacOS installation - #2568 (#2569)
  docs/book/en/src/quick_start/install.md
Labels: documentation

[Misc] Unify all reference value to RefVariant. (#2153)
  include/common/types.h
  include/runtime/instance/table.h
  lib/api/wasmedge.cpp
  lib/common/errinfo.cpp
  lib/executor/engine/controlInstr.cpp
  lib/executor/engine/engine.cpp
  lib/executor/engine/proxy.cpp
  lib/executor/engine/tableInstr.cpp
  lib/executor/instantiate/elem.cpp
  test/errinfo/errinfoTest.cpp
  test/spec/spectest.cpp
Labels: c-CAPI, c-Test

[Misc] Fix debug log empty messages (#2551)
  lib/vm/vm.cpp
Labels: none

feat: support execution of function references
  include/common/enum.inc
  include/executor/executor.h
  include/runtime/instance/table.h
  lib/api/wasmedge.cpp
  lib/driver/runtimeTool.cpp
  lib/executor/engine/controlInstr.cpp
  lib/executor/engine/engine.cpp
  lib/executor/instantiate/table.cpp
  test/spec/hostfunc.h
Labels: c-CAPI, c-CLI, c-Test

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
