Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

share the same dockerfile for plugin-deps
  utils/docker/Dockerfile.build-gcc-plugins-deps
  utils/docker/Dockerfile.build-plugins-deps
  utils/docker/build.sh
Labels: none

Assign opencv version in dockerfile via environment variable
  utils/docker/Dockerfile.build-plugins-deps
  utils/docker/install-opencvmini.sh
Labels: none

Fix, must use version variable
  utils/docker/install-opencvmini.sh
Labels: none

build image plugins-deps in actions
  .github/workflows/docker.yml
Labels: c-CI

[CI] pre-build image with necessary dependency for extension (#2731)
  .github/workflows/docker.yml
  utils/docker/Dockerfile.build-plugins-deps
  utils/docker/build.sh
  utils/docker/install-opencvmini.sh
Labels: c-CI

[Utils] Installer: Formatting and Better source message (#2721)
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-CI, c-Installer

correct path case
  test/api/CMakeLists.txt
Labels: c-Test

Add wabt dependecy to fedora,ubuntu,windows
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

[CI] use pre-built image to get deps
  .github/workflows/build-extensions.yml
Labels: c-CI

don't remove ssl
  .github/workflows/build-extensions.yml
Labels: c-CI

try another revert
  .github/workflows/build-extensions.yml
Labels: c-CI

Added deflateReset
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added deflateParams
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

[CI] Clean up the redundant lines all workflows
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

[CI] Force eval brew env on macOS
  .github/workflows/build-extensions.yml
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

Added deflateTune & deflateBound.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Added deflatePending & deflatePrime.
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
Labels: c-Plugin

Fix brew install
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

Fix dependencies
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
Labels: c-CI

sudo brew install
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

revert check brew
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

Add wabt in windows
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

Remove test from wabt
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

init sub modules
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

add wabt to windows path
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

Set correct path
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-windows.yml
  test/api/CMakeLists.txt
Labels: c-CI, c-Test

remove test
  .github/workflows/build-extensions.yml
Labels: c-CI

[AOT] Fix fallback case of `compileVectorExtAddPairwise`.
  lib/aot/compiler.cpp
Labels: c-AOT

WIP: restore呼び出し
  include/executor/executor.h
  include/executor/migrator.h
  include/runtime/instance/function.h
  include/runtime/instance/module.h
  lib/executor/engine/engine.cpp
  lib/vm/vm.cpp
Labels: none

test remove clang
  .github/workflows/build-extensions.yml
Labels: c-CI

[CI] Clean up the redundant lines all workflows (#2728)
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

try remove llvm
  .github/workflows/build-extensions.yml
Labels: c-CI

restore llvm
  .github/workflows/build-extensions.yml
Labels: c-CI

WIP: restore呼び出し
  include/executor/executor.h
  include/executor/migrator.h
  include/runtime/storemgr.h
  lib/executor/engine/engine.cpp
  lib/vm/vm.cpp
Labels: none

WIP: restore関数バグってるので修正
  include/executor/migrator.h
  lib/executor/engine/engine.cpp
Labels: none

restoreIterのバグは直した
  include/executor/migrator.h
  lib/executor/engine/engine.cpp
Labels: none

MigratorからModInstのメンバ変数を削除
  include/executor/migrator.h
Labels: none

IterMigratorの整理
  include/executor/migrator.h
  include/runtime/instance/module.h
Labels: none

WIP: StackMgr Frameのrestoreのバグ修正
  include/executor/migrator.h
  lib/vm/vm.cpp
Labels: none

StackMgr Frameのrestoreのバグ修正
  include/executor/migrator.h
Labels: none
