Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

loading entry share component & module
  include/ast/module.h
  include/common/enum.inc
  include/loader/loader.h
  include/validator/validator.h
  lib/loader/CMakeLists.txt
  lib/loader/ast/component.cpp
  lib/loader/loader.cpp
  lib/validator/validator.cpp
Labels: none

Changed Expect in opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_func.h
Labels: c-Plugin

Changed OpenCVMiniEmptyMat in opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
Labels: c-Plugin

Working example & build+Run guide of the wasmedge-zlib plugin.
  examples/plugin/wasmedge-zlib/.gitignore
  examples/plugin/wasmedge-zlib/README.md
  examples/plugin/wasmedge-zlib/main.cpp
Labels: c-Example

Few spell corrections.
  examples/plugin/wasmedge-zlib/README.md
  examples/plugin/wasmedge-zlib/main.cpp
Labels: c-Example

Changed a few naming style issues for the zlib plugin tests.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

Updated tests for opencvmini
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Test

share same loading entry
  include/loader/loader.h
  lib/loader/ast/component.cpp
  lib/loader/ast/module.cpp
  lib/loader/loader.cpp
Labels: none

the missing validate for prototype
  lib/validator/validator.cpp
Labels: none

replace loadModule with loadWasmUnit
  lib/vm/vm.cpp
Labels: none

move to proper location about module's AOT section
  lib/loader/ast/component.cpp
  lib/loader/ast/module.cpp
Labels: none

set the actual version
  lib/loader/ast/component.cpp
Labels: none

setup unsafe run component for future work
  include/vm/vm.h
  lib/validator/validator.cpp
  lib/vm/vm.cpp
Labels: none

remove shadowing
  lib/vm/vm.cpp
Labels: none

[Plugin] Added imgproc 9 functions to opencvmini plugin. (#2794)
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

Create hacktoberfest-1
  hacktoberfest-1
Labels: none

Create Print Array in reverse order
  Print Array in reverse order
Labels: none

[WASI-NN] Unified preload options with case-insensitive matching
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[WASI-NN] Add AUTO device support in ggml backend
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[CI] Temporary disable OpenCVMini testing
  .github/workflows/build-extensions.yml
Labels: c-CI

[WASI-NN] Add STREAM_TO_STDOUT support in ggml backend
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[CI] Temporary disable OpenCVMini testing
  .github/workflows/build-extensions.yml
Labels: c-CI

[WASI-NN] Add AUTO device support in ggml backend
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[WASI-NN] Add STREAM_TO_STDOUT support in ggml backend
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Unified preload options with case-insensitive matching
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[Plugin] zlib: Changed a few naming style issues for the zlib plugin tests. (#2947)
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

Few spell checks and grammar improvement.
  examples/plugin/wasmedge-zlib/README.md
Labels: c-Example

Few more pedantic grammar improvements.
  examples/plugin/wasmedge-zlib/README.md
Labels: c-Example

[WASI-NN] Enable OpenVINO target again (#2940)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  utils/wasi-nn/install-openvino.sh
Labels: c-CI

[Example] wasmedge-zlib: Working example with Build + Run Guide. (#2946)
  examples/plugin/wasmedge-zlib/.gitignore
  examples/plugin/wasmedge-zlib/README.md
  examples/plugin/wasmedge-zlib/main.cpp
Labels: c-Example

[CAPI] Provide getData API for FunctionInstance
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

[CAPI] Provide getData API for FunctionInstance (#2937)
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

[WASI-NN] Add metadata support
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin

[WASI-NN] Add metadata support (#2957)
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin

updated plugin code with latest C++ internal getSpan API
  plugins/wasi_ocr/wasiocrfunc.cpp
Labels: c-Plugin

fixed linting and formatting failed checks
  plugins/CMakeLists.txt
  plugins/wasi_ocr/Makefile
  plugins/wasi_ocr/cmake_install.cmake
  plugins/wasi_ocr/wasiocrenv.h
  plugins/wasi_ocr/wasiocrfunc.cpp
  plugins/wasi_ocr/wasiocrfunc.h
  plugins/wasi_ocr/wasiocrmodule.cpp
Labels: c-Plugin

fixed speelcheck failing checks
  plugins/wasi_ocr/wasiocrenv.h
Labels: c-Plugin

[AOT] Fix AOT Error on MacOS, fix #2427
  lib/aot/compiler.cpp
  lib/aot/llvm.h
Labels: c-AOT

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
