Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

remove do nothing configuration
  plugins/wasmedge_opencvmini/CMakeLists.txt
Labels: c-Plugin

blur export kernel parameters
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
Labels: c-Plugin

let user can assign extension
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
Labels: c-Plugin

[Plugin] Implement OpenCV-mini (#2648)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasmedge_opencvmini/CMakeLists.txt
  plugins/wasmedge_opencvmini/opencvmini_base.h
  plugins/wasmedge_opencvmini/opencvmini_env.cpp
  plugins/wasmedge_opencvmini/opencvmini_env.h
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  plugins/wasmedge_opencvmini/opencvmini_module.h
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_opencvmini/CMakeLists.txt
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
  utils/opencvmini/install-opencvmini.sh
Labels: c-CI, c-Plugin, c-Test

jobs name
  .github/workflows/build_for_nix.yml
Labels: c-CI

[CI] Build wasmedge on Nix (#2674)
  .github/workflows/build_for_nix.yml
Labels: c-CI

[Misc] Update changelog for 0.13.3 release
  .CurrentChangelog.md
  Changelog.md
Labels: none

[Misc] Update changelog for 0.13.3 release
  .CurrentChangelog.md
  Changelog.md
Labels: none

[CI] Add missing opencvmini.dylib in the release workflow
  .github/workflows/release.yml
Labels: c-CI

[CI] Add missing opencvmini.dylib in the release workflow
  .github/workflows/release.yml
Labels: c-CI

[CI] Add misssing cmake options on macOS of opencvmini
  .github/workflows/release.yml
Labels: c-CI

[CI] Add misssing cmake options on macOS of opencvmini
  .github/workflows/release.yml
Labels: c-CI

[CI] brew install opencv on amd64 macOS
  .github/workflows/release.yml
Labels: c-CI

[CI] brew install opencv on amd64 macOS
  .github/workflows/release.yml
Labels: c-CI

Build wasmfile at testtime
  include/runtime/instance/module.h
  lib/api/wasmedge.cpp
  test/api/APIMallocTest.cpp
  test/api/CMakeLists.txt
  test/api/apiTestData/cmalloc.wasm
Labels: c-CAPI, c-Test

Using type() to detect JSON array & string, changing variable names and other misc changes
  test/spec/spectest.cpp
Labels: c-Test

Styling changes
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

Updated Workflow File
  .github/workflows/mdbook.yml
Labels: c-CI

Updated Readmes
  .github/ISSUE_TEMPLATE/document_translation.md
  README-zh-TW.md
  README-zh.md
  README.md
Labels: c-CI

Made Requedted Changes
  README-zh-TW.md
  README-zh.md
  README.md
Labels: none

[Misc] Remove remaining boost related files in .github
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

build alpine static libraries
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-alpine-static.yml
  utils/docker/Dockerfile.alpine-static
  utils/docker/docker-bake.alpine-static.hcl
Labels: c-CI

Using references, instead of copying data structures
  test/spec/spectest.cpp
Labels: c-Test

Update README.md
  README.md
Labels: none

[Plugin] opecvmini `rectangle`
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
Labels: c-Plugin

rectangle will modify the given matrix, no need to return
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
Labels: c-Plugin

update tests
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Test

[Docs] Fixed typo in README.md (#2704)
  README.md
Labels: none

[Misc] Remove remaining boost related files in .github
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

[CI] build alpine static libraries (#2699)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-alpine-static.yml
  utils/docker/Dockerfile.alpine-static
  utils/docker/docker-bake.alpine-static.hcl
Labels: c-CI

add `cvtColor` function to change color space
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

Adding missing else case in parseExpectedList(), and removed redundant variables
  test/spec/spectest.cpp
Labels: c-Test

Changed c style cast to static_cast.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Updated a few variable name to reflect LLVM standards.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

Updated a few more variable name to reflect LLVM standards.
  plugins/wasmedge_zlib/zlibfunc.cpp
Labels: c-Plugin

Added support for Tuple Type Output Tensors in Pytorch Backend
  plugins/wasi_nn/torch.cpp
Labels: c-Plugin

[Test] Use std::filesystem::u8path instead of a const char* Path
  test/api/APIUnitTest.cpp
  test/externref/CMakeLists.txt
  test/externref/ExternrefTest.cpp
  test/mixcall/mixcallTest.cpp
Labels: c-Test

provide all options for `rectangle`
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
Labels: c-Plugin

[CI] Use llvm on chocolatey instead of self-built one
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

tmp: trigger workflow
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
