Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

[WASI-NN] Add ggml backend log prefix
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Do not append [end of text] for ggml outputs
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Initialize llama context when setting inputs.
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Clear LlamaOutputs before prediction
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Check LLAMA_LOG to print logs
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
Labels: c-Plugin

[CI] Fix CI build
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-CI, c-Plugin, c-Test

[WASI-NN] Add openblas support for ggml
  plugins/wasi_nn/CMakeLists.txt
  thirdparty/ggml/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Initialize llama context when setting inputs.
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Remove unused ggml options
  plugins/wasi_nn/thirdparty/CMakeLists.txt
Labels: c-Plugin

[WASI-NN] Only build ggml with ggml backend
  plugins/wasi_nn/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: c-Plugin

[License] Update PackageFileName of ggml
  LICENSE.spdx
Labels: none

[WASI-NN] Add ggml backend log prefix
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Disable LLAMA_ALL_WARNINGS
  thirdparty/ggml/CMakeLists.txt
Labels: none

[WASI-NN] Do not append [end of text] for ggml outputs
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[WASI-NN] Move ggml to wasi_nn/thirdparty/
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/thirdparty/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/LICENSE
  plugins/wasi_nn/thirdparty/ggml/README.md
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/common.h
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.c
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.h
  plugins/wasi_nn/thirdparty/ggml/ggml.c
  plugins/wasi_nn/thirdparty/ggml/ggml.h
  plugins/wasi_nn/thirdparty/ggml/k_quants.c
  plugins/wasi_nn/thirdparty/ggml/k_quants.h
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.h
  plugins/wasi_nn/thirdparty/ggml/log.h
  thirdparty/CMakeLists.txt
Labels: c-Plugin

[CI] Fix CI build
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-CI, c-Plugin, c-Test

[WASI-NN] Update ggml tests
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-Test

[WASI-NN] Update thirdparty/ggml
  LICENSE.spdx
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  thirdparty/ggml/CMakeLists.txt
  thirdparty/ggml/common.cpp
  thirdparty/ggml/common.h
  thirdparty/ggml/ggml-alloc.c
  thirdparty/ggml/ggml-alloc.h
  thirdparty/ggml/ggml.c
  thirdparty/ggml/ggml.h
  thirdparty/ggml/k_quants.c
  thirdparty/ggml/llama-util.h
  thirdparty/ggml/llama.cpp
  thirdparty/ggml/llama.h
  thirdparty/ggml/log.h
  utils/wasi-nn/download-ggml-fixtures.sh
Labels: c-Plugin, c-Test

[WASI-NN] Clear LlamaOutputs before prediction
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

[CI] Do not lint & format thirdparty subdirectories
  .github/scripts/clang-format.sh
  .github/workflows/misc-linters.yml
Labels: c-CI

[WASI-NN] Check LLAMA_LOG to print logs
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
Labels: c-Plugin

[WASI-NN] Pass preloaded model path for ggml backend
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin

[CI] Fix CI build
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasi_nn/CMakeLists.txt
  utils/wasi-nn/install-openvino.sh
Labels: c-CI, c-Plugin

[Plugin] expose cv::resize, update normalize func to match opencv's func def
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

[Installer] Enable WASI-NN ggml plugin on macOS apple silicon model
  utils/install.py
Labels: c-Installer

[Installer] Enable WASI-NN ggml plugin on macOS apple silicon model
  utils/install.py
Labels: c-Installer

[Misc] Update GitHub issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
Labels: c-CI

improve the driver option
  include/driver/tool.h
Labels: c-CLI

[Misc] Update GitHub issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
Labels: c-CI

[WASI] add wasi_random as plugin
  .github/workflows/build-extensions.yml
  include/system/winapi.h
  plugins/CMakeLists.txt
  plugins/wasi_random/CMakeLists.txt
  plugins/wasi_random/details/random_linux.cpp
  plugins/wasi_random/details/random_macos.cpp
  plugins/wasi_random/details/random_windows.cpp
  plugins/wasi_random/env.cpp
  plugins/wasi_random/func.cpp
  plugins/wasi_random/module.cpp
  plugins/wasi_random/wasi_random/base.h
  plugins/wasi_random/wasi_random/env.h
  plugins/wasi_random/wasi_random/func.h
  plugins/wasi_random/wasi_random/module.h
  test/plugins/CMakeLists.txt
  test/plugins/wasi_random/CMakeLists.txt
  test/plugins/wasi_random/wasi_random.cpp
Labels: c-CI, c-Plugin, c-Test

[Plugin] expose cv::resize, update normalize func to match opencv's func def (#2795)
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

move getPageLimit up
  include/ast/type.h
  include/runtime/instance/memory.h
Labels: none

fixed to install llvm@16
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

assign LLVM_DIR to llvm@16
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

[CI] install llvm@16 to fix macos build (#2878)
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

the length should be `uint64_t`
  include/runtime/instance/memory.h
Labels: none

use `const` as proper access
  include/executor/engine/memory.ipp
Labels: none

fix `wasmedgeExecutorCoreTests` by fixing the `grow` instruction
  include/runtime/instance/memory.h
  lib/executor/engine/memoryInstr.cpp
Labels: none

[Installer] Enable WASI-NN ggml plugin on macOS intel model (CPU only)
  utils/install.py
Labels: c-Installer

[Installer] Enable WASI-NN ggml plugin on macOS intel model (CPU only) (#2882)
  utils/install.py
Labels: c-Installer

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
