Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

[CI] Add plugin release CI for MacOS arm64.
  .github/workflows/release.yml
Labels: c-CI

[Misc] Fix wrong objs folders in the ar command
  lib/api/CMakeLists.txt
Labels: c-CAPI

[Test] Fix socket test on macos. (#2555)
  .github/workflows/reusable-build-on-macos.yml
  test/host/socket/wasi_socket.cpp
Labels: c-CI, c-Test

Made Requested Changes
  Ecosystem.md
  docs/CODE_OF_CONDUCT.md
  docs/Ecosystem.md
  docs/GOVERNANCE.md
  docs/OWNER.md
Labels: documentation

Made Requested Changes - v2
  docs/Ecosystem.md
Labels: documentation

Made Requested Changes - v3
  docs/ecosystema.md
Labels: documentation

Made Requested Changes - v4
  docs/ecosystem.md
Labels: documentation

Updated CodeQL to Ignore Doc Changes
  .github/workflows/codeql-analysis.yml
Labels: c-CI

Updated CodeQL to Ignore Doc Changes - v2
  .github/workflows/codeql-analysis.yml
Labels: c-CI

[Utils] Installer: Install 20.04 package for any ubuntu version >= 20.04
  utils/install.py
Labels: c-Installer

Signed-off-by: alabulei1 <vivian.xiage@gmail.com>
  docs/CODE_OF_CONDUCT.md
Labels: documentation

[Community] Propose new reviewer, WenYuan Huang, for the WASI-Logging proposal
  docs/OWNER.md
Labels: documentation

[Misc] Format OWNER.md
  docs/OWNER.md
Labels: documentation

[Misc] Add @michael1017 as the CODEOWNERS of the WASI-Logging plugin
  .github/CODEOWNERS
Labels: c-CI

[Community] propose adding an additional code of conduct (#2575)
  docs/CODE_OF_CONDUCT.md
Labels: documentation

[Misc] Fix wrong objs folders in the ar command
  lib/api/CMakeLists.txt
Labels: c-CAPI

Add TCP_NODELAY socket option
  lib/host/wasi/linux.h
  lib/host/wasi/wasifunc.cpp
  test/host/wasi/linuxTest.cpp
  thirdparty/wasi/api.hpp
Labels: c-Test, c-WASI

[Utils] Installer: Install 20.04 package for any ubuntu version >= 20.04 (#2602)
  utils/install.py
Labels: c-Installer

[Test] Add the async invoke test in executor.
  test/aot/AOTcoreTest.cpp
  test/api/APIStepsCoreTest.cpp
  test/api/APIUnitTest.cpp
  test/api/APIVMCoreTest.cpp
  test/executor/ExecutorTest.cpp
Labels: c-Test

[Common] Move async class to common and support in executor.
  include/common/async.h
  include/executor/executor.h
  include/vm/vm.h
  lib/api/wasmedge.cpp
  lib/executor/executor.cpp
  lib/vm/vm.cpp
  test/thread/ThreadTest.cpp
Labels: c-CAPI, c-Test

[API] Add the async invoke API of executor.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

[CMake] Refine the cmake for tensorflow dependencies.
  cmake/WASINNDeps.cmake
Labels: c-CMake

[Plugin] Add WasmEdge-tensorflow, tensorflowlite, and image plugins.
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
  plugins/wasmedge_image/image_base.h
  plugins/wasmedge_image/image_env.cpp
  plugins/wasmedge_image/image_env.h
  plugins/wasmedge_image/image_func.cpp
  plugins/wasmedge_image/image_func.h
  plugins/wasmedge_image/image_module.cpp
  plugins/wasmedge_image/image_module.h
  plugins/wasmedge_tensorflow/CMakeLists.txt
  plugins/wasmedge_tensorflow/tensorflow_base.h
  plugins/wasmedge_tensorflow/tensorflow_env.cpp
  plugins/wasmedge_tensorflow/tensorflow_env.h
  plugins/wasmedge_tensorflow/tensorflow_func.cpp
  plugins/wasmedge_tensorflow/tensorflow_func.h
  plugins/wasmedge_tensorflow/tensorflow_module.cpp
  plugins/wasmedge_tensorflow/tensorflow_module.h
  plugins/wasmedge_tensorflowlite/CMakeLists.txt
  plugins/wasmedge_tensorflowlite/tensorflowlite_base.h
  plugins/wasmedge_tensorflowlite/tensorflowlite_env.cpp
  plugins/wasmedge_tensorflowlite/tensorflowlite_env.h
  plugins/wasmedge_tensorflowlite/tensorflowlite_func.cpp
  plugins/wasmedge_tensorflowlite/tensorflowlite_func.h
  plugins/wasmedge_tensorflowlite/tensorflowlite_module.cpp
  plugins/wasmedge_tensorflowlite/tensorflowlite_module.h
Labels: c-Plugin

[Test] Add unit tests for WasmEdge-tensorflow, tensorflowlite, and image plugins.
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_image/CMakeLists.txt
  test/plugins/wasmedge_image/wasmedge_image.cpp
  test/plugins/wasmedge_tensorflow/CMakeLists.txt
  test/plugins/wasmedge_tensorflow/wasmedge_tensorflow.cpp
  test/plugins/wasmedge_tensorflowlite/CMakeLists.txt
  test/plugins/wasmedge_tensorflowlite/wasmedge_tensorflowlite.cpp
Labels: c-Test

[CI] Disable AOT and tools when building plugins.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[VM] Mock the WasmEdge-tensorflow, tensorflowlite, and image plugins in VM.
  include/host/mock/wasmedge_image_func.h
  include/host/mock/wasmedge_image_module.h
  include/host/mock/wasmedge_tensorflow_func.h
  include/host/mock/wasmedge_tensorflow_module.h
  include/host/mock/wasmedge_tensorflowlite_func.h
  include/host/mock/wasmedge_tensorflowlite_module.h
  lib/vm/vm.cpp
  test/api/APIUnitTest.cpp
  test/host/mock/mockTest.cpp
Labels: c-Test

[CI] Add the test and release CI for WasmEdge-Tensorflow, Tensorflowlite, and image plugins.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CI] Disable AOT and tools when building plugins.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

[CMake] Refine the cmake for tensorflow dependencies.
  cmake/WASINNDeps.cmake
Labels: c-CMake

[Plugin] Add WasmEdge-tensorflow, tensorflowlite, and image plugins.
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
  plugins/wasmedge_image/image_base.h
  plugins/wasmedge_image/image_env.cpp
  plugins/wasmedge_image/image_env.h
  plugins/wasmedge_image/image_func.cpp
  plugins/wasmedge_image/image_func.h
  plugins/wasmedge_image/image_module.cpp
  plugins/wasmedge_image/image_module.h
  plugins/wasmedge_tensorflow/CMakeLists.txt
  plugins/wasmedge_tensorflow/tensorflow_base.h
  plugins/wasmedge_tensorflow/tensorflow_env.cpp
  plugins/wasmedge_tensorflow/tensorflow_env.h
  plugins/wasmedge_tensorflow/tensorflow_func.cpp
  plugins/wasmedge_tensorflow/tensorflow_func.h
  plugins/wasmedge_tensorflow/tensorflow_module.cpp
  plugins/wasmedge_tensorflow/tensorflow_module.h
  plugins/wasmedge_tensorflowlite/CMakeLists.txt
  plugins/wasmedge_tensorflowlite/tensorflowlite_base.h
  plugins/wasmedge_tensorflowlite/tensorflowlite_env.cpp
  plugins/wasmedge_tensorflowlite/tensorflowlite_env.h
  plugins/wasmedge_tensorflowlite/tensorflowlite_func.cpp
  plugins/wasmedge_tensorflowlite/tensorflowlite_func.h
  plugins/wasmedge_tensorflowlite/tensorflowlite_module.cpp
  plugins/wasmedge_tensorflowlite/tensorflowlite_module.h
Labels: c-Plugin

[Test] Add unit tests for WasmEdge-tensorflow, tensorflowlite, and image plugins.
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_image/CMakeLists.txt
  test/plugins/wasmedge_image/wasmedge_image.cpp
  test/plugins/wasmedge_tensorflow/CMakeLists.txt
  test/plugins/wasmedge_tensorflow/wasmedge_tensorflow.cpp
  test/plugins/wasmedge_tensorflowlite/CMakeLists.txt
  test/plugins/wasmedge_tensorflowlite/wasmedge_tensorflowlite.cpp
Labels: c-Test

[VM] Mock the WasmEdge-tensorflow, tensorflowlite, and image plugins in VM.
  include/host/mock/wasmedge_image_func.h
  include/host/mock/wasmedge_image_module.h
  include/host/mock/wasmedge_tensorflow_func.h
  include/host/mock/wasmedge_tensorflow_module.h
  include/host/mock/wasmedge_tensorflowlite_func.h
  include/host/mock/wasmedge_tensorflowlite_module.h
  lib/vm/vm.cpp
  test/api/APIUnitTest.cpp
  test/host/mock/mockTest.cpp
Labels: c-Test

[CI] Add the test and release CI for WasmEdge-Tensorflow, Tensorflowlite, and image plugins.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

Try to fix wasm_bpf build issues
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasm_bpf/CMakeLists.txt
  plugins/wasm_bpf/bpf-api.h
  plugins/wasm_bpf/func-bpf-map-operate.cpp
  test/plugins/wasm_bpf/CMakeLists.txt
  test/plugins/wasm_bpf/simple_ringbuf_test.cpp
  test/plugins/wasm_bpf/wasm_bpf.cpp
  utils/install.py
  utils/wasm_bpf/install-clang.sh
Labels: c-CI, c-Installer, c-Plugin, c-Test

[Misc] Only define some 64 bits related constants on the corresponding platforms
  lib/system/allocator.cpp
Labels: none

Introduce __wasi_sock_opt_tcp_t
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/linux.h
  lib/host/wasi/macos.h
  lib/host/wasi/wasifunc.cpp
  thirdparty/wasi/api.hpp
Labels: c-WASI

clang-format
  lib/host/wasi/linux.h
  lib/host/wasi/macos.h
Labels: c-WASI

fix linuxTest.cpp
  test/host/wasi/linuxTest.cpp
Labels: c-Test

[Misc] Only define some 64 bits related constants on the corresponding platforms
  lib/system/allocator.cpp
Labels: none

update manylinux dockerfile
  utils/docker/Dockerfile.manylinux2014_x86_64
Labels: none

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*
