Repository WasmEdge/WasmEdge, changes with the labels that .github/labeler.yml gives for each.
All labels: binding-java, binding-rust, c-AOT, c-CAPI, c-CI, c-CLI, c-CMake, c-Example, c-Installer, c-Plugin, c-Test, c-WASI, documentation

.github/labeler.yml:

binding-java:
- bindings/java/*
- bindings/java/**/*
binding-rust:
- bindings/rust/*
- bindings/rust/**/*
c-AOT:
- include/aot/*
- include/aot/**/*
- lib/aot/*
- lib/aot/**/*
c-CAPI:
- include/api/*
- include/api/**/*
- lib/api/*
- lib/api/**/*
c-CI:
- .github/*
- .github/**/*
c-CLI:
- include/driver/*
- include/driver/**/*
- lib/driver/*
- lib/driver/**/*
- include/po/*
- include/po/**/*
- lib/po/*
- lib/po/**/*
c-CMake:
- cmake/*
- cmake/**/*
c-Example:
- examples/*
- examples/**/*
c-Installer:
- utils/install.*
- utils/installer_changes.sh
- utils/uninstall.sh
c-Plugin:
- plugins/*
- plugins/**/*
c-Test:
- test/*
- test/**/*
c-WASI:
- include/host/wasi/*
- include/host/wasi/**/*
- lib/host/wasi/*
- lib/host/wasi/**/*
documentation:
- docs/*
- docs/**/*

improved the simple http server example in Rust
  docs/book/en/src/write_wasm/rust/networking.md
Labels: documentation

[Misc] Make WasmEdge on armv7l great again
  include/common/endian.h
  include/common/int128.h
  include/common/types.h
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/loader/ast/section.cpp
Labels: c-AOT

added the format of code block
  docs/book/en/src/write_wasm/rust/networking.md
Labels: documentation

Grant socket FDs the ability to fd_read and fd_write
  lib/host/wasi/vinode.cpp
Labels: c-WASI

[community] propose adding an additional code of conduct
  docs/CODE_OF_CONDUCT.md
Labels: documentation

[WASI] Grant socket FDs the ability to fd_read and fd_write (#2574)
  lib/host/wasi/vinode.cpp
Labels: c-WASI

[Doc] how to write a rust plugin sdk
  docs/book/en/src/develop_plugin/rust-sdk.md
Labels: documentation

add ignore words `wit`
  .github/workflows/ignore_words
Labels: c-CI

mention codeblock type
  docs/book/en/src/develop_plugin/rust-sdk.md
Labels: documentation

add references to witc
  docs/book/en/src/develop_plugin/rust-sdk.md
Labels: documentation

[Doc] fix k8s containerd use case
  docs/book/en/src/use_cases/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-containerd.md
Labels: documentation

[Docs] fix k8s containerd use case (#2577)
  docs/book/en/src/use_cases/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-containerd.md
Labels: documentation

[Misc] Do not disable test when boost not found. (#2560)
  CMakeLists.txt
Labels: none

[Docs] how to write a rust plugin sdk (#2576)
  .github/workflows/ignore_words
  docs/book/en/src/develop_plugin/rust-sdk.md
Labels: c-CI, documentation

[Misc] Make WasmEdge on armv7l great again
  include/common/endian.h
  include/common/int128.h
  include/common/types.h
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/loader/ast/section.cpp
Labels: c-AOT

Add Wasi Logging Plugin
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasi_logging/CMakeLists.txt
  plugins/wasi_logging/env.cpp
  plugins/wasi_logging/func.cpp
  plugins/wasi_logging/module.cpp
  plugins/wasi_logging/wasi_logging/base.h
  plugins/wasi_logging/wasi_logging/enum.h
  plugins/wasi_logging/wasi_logging/env.h
  plugins/wasi_logging/wasi_logging/func.h
  plugins/wasi_logging/wasi_logging/module.h
Labels: c-Plugin

[Plugin] add tests for wasi_logging
  plugins/CMakeLists.txt
  plugins/wasi_logging/func.cpp
  plugins/wasi_logging/wasi_logging/env.h
  test/plugins/CMakeLists.txt
  test/plugins/wasi_logging/CMakeLists.txt
  test/plugins/wasi_logging/wasi_logging.cpp
Labels: c-Plugin, c-Test

Add wasi-logging rust example
  examples/plugin/wasi-logging/.gitignore
  examples/plugin/wasi-logging/Cargo.toml
  examples/plugin/wasi-logging/README.md
  examples/plugin/wasi-logging/src/lib.rs
  examples/plugin/wasi-logging/src/logging.rs
  examples/plugin/wasi-logging/src/main.rs
Labels: c-Example

Add wasi-logging Mock and Doc
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_logging.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/ref.md
  examples/plugin/wasi-logging/README.md
  include/host/mock/wasi_logging_func.h
  include/host/mock/wasi_logging_module.h
  lib/vm/vm.cpp
  plugins/wasi_logging/env.cpp
  plugins/wasi_logging/func.cpp
  plugins/wasi_logging/wasi_logging/module.h
  test/api/APIUnitTest.cpp
  test/host/mock/mockTest.cpp
  test/plugins/wasi_logging/wasi_logging.cpp
Labels: c-Example, c-Plugin, c-Test, documentation

Example use wit-bindgen
  .gitmodules
  examples/plugin/wasi-logging/Cargo.toml
  examples/plugin/wasi-logging/src/lib.rs
  examples/plugin/wasi-logging/src/logging.rs
Labels: c-Example

Rename module name from 'logging' to 'wasi:logging/logging'
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/ref.md
  examples/plugin/wasi-logging/README.md
  include/host/mock/wasi_logging_module.h
  lib/vm/vm.cpp
  plugins/wasi_logging/env.cpp
  plugins/wasi_logging/module.cpp
  test/api/APIUnitTest.cpp
  test/host/mock/mockTest.cpp
  test/plugins/wasi_logging/wasi_logging.cpp
Labels: c-Example, c-Plugin, c-Test, documentation

Update CI for #2563
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

Remove submodule and add wit dir
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .gitmodules
  examples/plugin/wasi-logging/README.md
  examples/plugin/wasi-logging/src/lib.rs
  examples/plugin/wasi-logging/wit/logging.wit
  examples/plugin/wasi-logging/wit/world.wit
Labels: c-CI, c-Example

[Win] Move all WinAPI function into `include/system/winapi.h`
  include/host/wasi/inode.h
  include/loader/shared_library.h
  include/system/winapi.h
  lib/host/wasi/CMakeLists.txt
  lib/host/wasi/clock-win.cpp
  lib/host/wasi/environ-win.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/win.cpp
  lib/host/wasi/win.h
  lib/loader/shared_library.cpp
  lib/plugin/plugin.cpp
  lib/system/allocator.cpp
  lib/system/fault.cpp
  lib/system/mmap.cpp
  lib/system/path.cpp
  test/api/APIUnitTest.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
Labels: c-Test, c-WASI

[Win] Move all WinAPI function into `include/system/winapi.h`
  include/host/wasi/inode.h
  include/loader/shared_library.h
  include/system/winapi.h
  lib/host/wasi/CMakeLists.txt
  lib/host/wasi/clock-win.cpp
  lib/host/wasi/environ-win.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/win.cpp
  lib/host/wasi/win.h
  lib/loader/shared_library.cpp
  lib/plugin/plugin.cpp
  lib/system/allocator.cpp
  lib/system/fault.cpp
  lib/system/mmap.cpp
  lib/system/path.cpp
  test/api/APIUnitTest.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
Labels: c-Test, c-WASI

[Plugin] Add WASI-Logging Plugin (#2535)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_logging.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/ref.md
  examples/plugin/wasi-logging/.gitignore
  examples/plugin/wasi-logging/Cargo.toml
  examples/plugin/wasi-logging/README.md
  examples/plugin/wasi-logging/src/lib.rs
  examples/plugin/wasi-logging/src/main.rs
  examples/plugin/wasi-logging/wit/logging.wit
  examples/plugin/wasi-logging/wit/world.wit
  include/host/mock/wasi_logging_func.h
  include/host/mock/wasi_logging_module.h
  lib/vm/vm.cpp
  plugins/CMakeLists.txt
  plugins/wasi_logging/CMakeLists.txt
  plugins/wasi_logging/env.cpp
  plugins/wasi_logging/func.cpp
  plugins/wasi_logging/module.cpp
  plugins/wasi_logging/wasi_logging/base.h
  plugins/wasi_logging/wasi_logging/enum.h
  plugins/wasi_logging/wasi_logging/env.h
  plugins/wasi_logging/wasi_logging/func.h
  plugins/wasi_logging/wasi_logging/module.h
  test/api/APIUnitTest.cpp
  test/host/mock/mockTest.cpp
  test/plugins/CMakeLists.txt
  test/plugins/wasi_logging/CMakeLists.txt
  test/plugins/wasi_logging/wasi_logging.cpp
Labels: c-CI, c-Example, c-Plugin, c-Test, documentation

[CI] Use ninja-build instead of make -j
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

[Misc] Add new testcase from https://github.com/TartanLlama/expected/
  include/experimental/expected.hpp
  test/expected/issues.cpp
Labels: c-Test

[Misc] Add new testcase from https://github.com/TartanLlama/expected/
  include/experimental/expected.hpp
  test/expected/issues.cpp
Labels: c-Test

[WASI] Fix wasi-socket testcase timeout error
  test/host/wasi/wasi.cpp
Labels: c-Test

[WASI] Fix wasi-socket testcase timeout error
  test/host/wasi/wasi.cpp
Labels: c-Test

[WASI] Remove unused VFS object
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vfs.h
  include/host/wasi/vinode.h
  lib/host/wasi/environ.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/vinode.cpp
Labels: c-WASI

[WASI] Clear Dir.Buffer to fix fd_readdir
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

[WASI] Remove unused VFS object
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vfs.h
  include/host/wasi/vinode.h
  lib/host/wasi/environ.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/vinode.cpp
Labels: c-WASI

Update wasmedge.md
  docs/book/en/src/cli/wasmedge.md
Labels: documentation

Update wasmedge_compile.md
  docs/book/en/src/cli/wasmedge_compile.md
Labels: documentation

Update android.md
  docs/book/en/src/contribute/build_from_src/android.md
Labels: documentation

Update apk.md
  docs/book/en/src/contribute/build_from_src/android/apk.md
Labels: documentation

Update cli.md
  docs/book/en/src/contribute/build_from_src/android/cli.md
Labels: documentation

Update ndk.md
  docs/book/en/src/contribute/build_from_src/android/ndk.md
Labels: documentation
