Repository WasmEdge/WasmEdge, pull requests merged in 2023-03, with the labels that each got.

#2323 [Docs] Update build from source section on Ubuntu
  docs/book/en/src/contribute/build_from_src/linux.md
Labels: documentation

#2099 refactor: turn ValType into a structured FullValType
  bindings/java/wasmedge-java/wasmedge-jni/lib/ValueType.c
  bindings/java/wasmedge-java/wasmedge-jni/lib/common.c
  bindings/rust/wasmedge-sys/build.rs
  bindings/rust/wasmedge-sys/src/types.rs
  include/api/wasmedge/wasmedge.h
  include/ast/instruction.h
  include/ast/segment.h
  include/ast/type.h
  include/common/enum.inc
  include/common/enum_types.h
  include/common/enum_types.hpp
  include/common/errinfo.h
  include/common/types.h
  include/executor/executor.h
  include/loader/loader.h
  include/runtime/instance/elem.h
  include/runtime/instance/function.h
  include/validator/formchecker.h
  include/validator/validator.h
  include/vm/vm.h
  lib/aot/compiler.cpp
  lib/api/wasmedge.cpp
  lib/common/errinfo.cpp
  lib/driver/runtimeTool.cpp
  lib/executor/executor.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/loader.cpp
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
  lib/vm/vm.cpp
  test/aot/AOTcoreTest.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/APIStepsCoreTest.cpp
  test/api/APIUnitTest.cpp
  test/api/APIVMCoreTest.cpp
  test/api/helper.cpp
  test/api/helper.h
  test/executor/ExecutorTest.cpp
  test/externref/ExternrefTest.cpp
  test/mixcall/mixcallTest.cpp
  test/spec/spectest.cpp
  test/spec/spectest.h
  test/thread/ThreadTest.cpp
Labels: c:CAPI, breaking changes, c:function-references

#2107 refactor: introduce heap type and turn reftype into referencing heaptype
  bindings/java/wasmedge-java/wasmedge-jni/lib/ValueType.c
  bindings/java/wasmedge-java/wasmedge-jni/lib/common.c
  bindings/rust/wasmedge-sys/build.rs
  bindings/rust/wasmedge-sys/src/types.rs
  include/api/wasmedge/wasmedge.h
  include/ast/instruction.h
  include/ast/segment.h
  include/ast/type.h
  include/common/enum.inc
  include/common/enum_types.h
  include/common/enum_types.hpp
  include/common/errinfo.h
  include/common/types.h
  include/executor/executor.h
  include/loader/loader.h
  include/runtime/instance/elem.h
  include/runtime/instance/function.h
  include/validator/formchecker.h
  include/validator/validator.h
  include/vm/vm.h
  lib/aot/compiler.cpp
  lib/api/wasmedge.cpp
  lib/common/errinfo.cpp
  lib/driver/runtimeTool.cpp
  lib/executor/executor.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/loader.cpp
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
  lib/vm/vm.cpp
  test/aot/AOTcoreTest.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/APIStepsCoreTest.cpp
  test/api/APIUnitTest.cpp
  test/api/APIVMCoreTest.cpp
  test/api/helper.cpp
  test/api/helper.h
  test/executor/ExecutorTest.cpp
  test/externref/ExternrefTest.cpp
  test/mixcall/mixcallTest.cpp
  test/spec/spectest.cpp
  test/spec/spectest.h
  test/thread/ThreadTest.cpp
Labels: c:function-references

#2122 feat: add command line option to enable function reference type
  lib/driver/runtimeTool.cpp
Labels: c:function-references
