Repository WasmEdge/WasmEdge, pull requests merged in 2023-06, with the labels that each got.

#2547 Fix Wasmedge-Process documents grammar/instruction
  docs/book/en/src/contribute/build_from_src/plugin_wasmedge_process.md
Labels: documentation

#2549 [Plugin] Fix the incorrect function signature of internal WASI-NN
  plugins/wasi_nn/torch.cpp
Labels: c-Plugin

#2368 draft: Cpp sdk for WasmEdge
  examples/cppapi/fibonacci/fibonacci_complex.cc
  examples/cppapi/fibonacci/fibonacci_simple.cc
  include/CMakeLists.txt
  include/api/wasmedge/wasmedge.hh
  lib/api/CMakeLists.txt
  lib/api/wasmedge_cpp.cpp
Labels: c-CAPI, c-Example

#2550 [community] Propose new reviewers
  docs/OWNER.md
Labels: documentation

#2569 More docs for MacOS installation - #2568
  docs/book/en/src/quick_start/install.md
Labels: documentation

#2153 refactor: unify all reference value to RefVariant
  include/common/types.h
  include/runtime/instance/table.h
  lib/api/wasmedge.cpp
  lib/common/errinfo.cpp
  lib/executor/engine/controlInstr.cpp
  lib/executor/engine/engine.cpp
  lib/executor/engine/proxy.cpp
  lib/executor/engine/tableInstr.cpp
  lib/executor/instantiate/elem.cpp
  test/errinfo/errinfoTest.cpp
  test/spec/spectest.cpp
Labels: c-CAPI, c-Test, c-function-references

#2574 Grant socket FDs the ability to fd_read and fd_write
  lib/host/wasi/vinode.cpp
Labels: c-WASI

#2577 [Docs] fix k8s containerd use case
  docs/book/en/src/use_cases/kubernetes/kubernetes/kubernetes-containerd.md
  docs/book/zh/src/kubernetes/kubernetes/kubernetes-containerd.md
Labels: documentation

#2576 [Docs] how to write a rust plugin sdk
  .github/workflows/ignore_words
  docs/book/en/src/develop_plugin/rust-sdk.md
Labels: documentation, c-CI

#2573 [Misc] Make WasmEdge on armv7l great again
  include/common/endian.h
  include/common/int128.h
  include/common/types.h
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/loader/ast/section.cpp
Labels: c-AOT

#2449 [Win] Move all WinAPI function into `include/system/winapi.h`
  include/host/wasi/inode.h
  include/loader/shared_library.h
  include/system/winapi.h
  lib/host/wasi/CMakeLists.txt
  lib/host/wasi/clock-win.cpp
  lib/host/wasi/environ-win.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/win.cpp
  lib/host/wasi/win.h
  lib/loader/shared_library.cpp
  lib/plugin/plugin.cpp
  lib/system/allocator.cpp
  lib/system/fault.cpp
  lib/system/mmap.cpp
  lib/system/path.cpp
  test/api/APIUnitTest.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
Labels: platform-windows, c-Internal, c-Test, c-WASI

#2535 [Plugin] Add WASI-Logging Plugin
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_logging.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/ref.md
  examples/plugin/wasi-logging/.gitignore
  examples/plugin/wasi-logging/Cargo.toml
  examples/plugin/wasi-logging/README.md
  examples/plugin/wasi-logging/src/lib.rs
  examples/plugin/wasi-logging/src/main.rs
  examples/plugin/wasi-logging/wit/logging.wit
  examples/plugin/wasi-logging/wit/world.wit
  include/host/mock/wasi_logging_func.h
  include/host/mock/wasi_logging_module.h
  lib/vm/vm.cpp
  plugins/CMakeLists.txt
  plugins/wasi_logging/CMakeLists.txt
  plugins/wasi_logging/env.cpp
  plugins/wasi_logging/func.cpp
  plugins/wasi_logging/module.cpp
  plugins/wasi_logging/wasi_logging/base.h
  plugins/wasi_logging/wasi_logging/enum.h
  plugins/wasi_logging/wasi_logging/env.h
  plugins/wasi_logging/wasi_logging/func.h
  plugins/wasi_logging/wasi_logging/module.h
  test/api/APIUnitTest.cpp
  test/host/mock/mockTest.cpp
  test/plugins/CMakeLists.txt
  test/plugins/wasi_logging/CMakeLists.txt
  test/plugins/wasi_logging/wasi_logging.cpp
Labels: documentation, c-Plugin, c-Test, c-CI, c-Example

#2582 [Misc] Add new testcase from https://github.com/TartanLlama/expected/
  include/experimental/expected.hpp
  test/expected/issues.cpp
Labels: c-Test

#2583 [WASI] Fix wasi-socket testcase timeout error
  test/host/wasi/wasi.cpp
Labels: c-Test

#2584 [WASI] Remove unused VFS object
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vfs.h
  include/host/wasi/vinode.h
  lib/host/wasi/environ.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/vinode.cpp
Labels: c-WASI

#2581 [WASI] Clear Dir.Buffer to fix fd_readdir
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

#2579 [CI] Use ninja-build instead of make -j
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

#2580 [Misc] use std::boyer_moore_horspool_searcher instead of boost one
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/wasi-testsuite.yml
  CMakeLists.txt
  docs/book/en/src/sdk/node.md
  docs/book/zh-TW/src/extend/build.md
  docs/book/zh/src/embed/node.md
  docs/book/zh/src/extend/build.md
  docs/book/zh/src/extend/build_on_mac.md
  flake.nix
  fossa-deps.yml
  lib/driver/fuzzPO.cpp
  lib/host/wasi/CMakeLists.txt
  lib/loader/CMakeLists.txt
  lib/system/CMakeLists.txt
  test/api/CMakeLists.txt
  utils/docker/Dockerfile.base
  utils/docker/Dockerfile.ubuntu2004_x86_64
  utils/docker/Dockerfile.ubuntu2104_armv7l
  utils/docker/build-manylinux.sh
  utils/ohos/build_for_ohos.sh
  utils/ohos/configuration/BUILD.gn
  utils/ohos/configuration/CMakeLists.txt
Labels: documentation, c-CLI, c-Test, c-WASI, c-CI

#2588 [CI] Use ninja build when building extensions.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

#2589 [WASI-NN] Fix TfLite model data ownership
  plugins/wasi_nn/tfl.cpp
  plugins/wasi_nn/tfl.h
Labels: c-Plugin

#2597 [CI] Add plugin release CI for MacOS arm64.
  .github/workflows/release.yml
Labels: c-CI

#2555 [Test] Fix socket test on macos.
  .github/workflows/reusable-build-on-macos.yml
  test/host/socket/wasi_socket.cpp
Labels: c-Test, c-CI

#2575 [Community] propose adding an additional code of conduct
  docs/CODE_OF_CONDUCT.md
Labels: documentation

#2600 [Misc] Fix wrong objs folders in the ar command
  lib/api/CMakeLists.txt
Labels: c-CAPI

#2602 [Utils] Installer: Install 20.04 package for any ubuntu version >= 20.04
  utils/install.py
Labels: c-Installer

#2605 [Misc] Only define some 64 bits related constants on the corresponding platforms
  lib/system/allocator.cpp
Labels: platform-linux, c-Internal, arch-arm32

#2609 [API] Support setting host data and its finalizer into module instances.
  include/api/wasmedge/wasmedge.h
  include/runtime/instance/module.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
  test/plugins/unittest/testplugin.c
  test/plugins/unittest/unittest_c.cpp
Labels: c-CAPI, c-Test

#2611 [CI] Downgrade the release assets from Ubuntu 22.04 to Ubuntu 20.04
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

#2612 [CI] Only trigger CodeQL analysis on C/CPP related files
  .github/workflows/codeql-analysis.yml
Labels: c-CI

#2613 [Changelog] Update the changelog for the 0.13.0-alpha.1 pre-release.
  .CurrentChangelog.md
  CMakeLists.txt
  Changelog.md
  test/api/APIUnitTest.cpp
  test/spec/CMakeLists.txt
Labels: c-Test

#2615 [CI] Fix and add the MacOS arm64 release CI.
  .github/workflows/release.yml
Labels: c-CI

#2616 [CI] Fix release CI for plugins on manylinux.
  .github/workflows/release.yml
Labels: c-CI

#2617 [CI] Fix plugin release CI on MacOS.
  .github/workflows/release.yml
Labels: c-CI

#2623 [Utils] Installer: Use ubuntu20.04 packages only for x86
  utils/install.py
Labels: c-Installer

#2624 [Plugin] Support saved-model in WasmEdge-Tensorflow plugin.
  plugins/wasmedge_image/image_func.cpp
  plugins/wasmedge_tensorflow/tensorflow_func.cpp
Labels: c-Plugin

#2628 [CMake] Add the option to build WasmEdge-Image plugin.
  CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
Labels: c-Plugin

#2631 [Examples] Fix the fibonacci.wat.
  examples/wasm/fibonacci.wat
Labels: c-Example

#2632 [API] Update the docs in API header.
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

#2635 [CI] Extension workflow should also watch the related utils files
  .github/workflows/build-extensions.yml
Labels: c-CI
