Repository WasmEdge/WasmEdge, pull requests merged in 2023-09, with the labels that each got.

#2763 [WASI-NN] Add ggml backend for llama
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  LICENSE.spdx
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  thirdparty/CMakeLists.txt
  thirdparty/ggml/CMakeLists.txt
  thirdparty/ggml/LICENSE
  thirdparty/ggml/README.md
  thirdparty/ggml/common.cpp
  thirdparty/ggml/common.h
  thirdparty/ggml/ggml-alloc.c
  thirdparty/ggml/ggml-alloc.h
  thirdparty/ggml/ggml.c
  thirdparty/ggml/ggml.h
  thirdparty/ggml/k_quants.c
  thirdparty/ggml/k_quants.h
  thirdparty/ggml/llama-util.h
  thirdparty/ggml/llama.cpp
  thirdparty/ggml/llama.h
Labels: c-Plugin, c-CI, c-CMake

#2762 [Plugin] add wasmedge_rustls_plugin
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-macos.yml
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasmedge_rustls/.gitignore
  plugins/wasmedge_rustls/CMakeLists.txt
  plugins/wasmedge_rustls/Cargo.toml
  plugins/wasmedge_rustls/src/lib.rs
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_rustls/CMakeLists.txt
  test/plugins/wasmedge_rustls/wasmedge_rustls.cpp
Labels: c-Plugin, c-Test, c-CI

#2772 [CI] Fix the standalone test for tools on MacOS.
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

#2773 [WASI Socket] Use plain type to replace the VarAddrAs struct
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  test/host/socket/wasi_socket.cpp
Labels: c-Test, c-WASI

#2774 [WASI Socket] Add CAPI for enabling/disabling/querying AF_UNIX support
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

#2778 [CAPI] Provide API for registering pre- and post- host functions
  include/api/wasmedge/wasmedge.h
  include/executor/executor.h
  lib/api/wasmedge.cpp
  lib/executor/executor.cpp
  lib/executor/helper.cpp
Labels: c-CAPI

#2780 [CI] Fix the brew env on MacOS release CI.
  .github/workflows/release.yml
Labels: c-CI

#2781 [CMake] Fix the target name of rustls plugin.
  plugins/wasmedge_rustls/CMakeLists.txt
  test/plugins/wasmedge_rustls/CMakeLists.txt
Labels: c-Plugin, c-Test

#2782 [CI] Install gh on MacOS plugin release CI.
  .github/workflows/release.yml
Labels: c-CI

#2783 [CI] Plugin rustls only supports on the linux x86_64
  .github/workflows/release.yml
Labels: c-CI

#2787 [Installer] Enable WASI-NN ggml plugin
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-Installer, c-CI

#2796 [Test] add tests for wasi-nn ggml backend
  plugins/wasi_nn/ggml.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/download-ggml-fixtures.sh
Labels: c-Plugin, c-Test

#2770 [Example] Update wit-bindgen version from 0.7.0 to 0.11.0
  examples/plugin/wasi-logging/Cargo.toml
Labels: c-Example

#2801 [Test] Support separating the execution mode of spec test.
  test/aot/AOTcoreTest.cpp
  test/api/APIAOTCoreTest.cpp
  test/api/APIStepsCoreTest.cpp
  test/api/APIVMCoreTest.cpp
  test/executor/ExecutorTest.cpp
  test/spec/spectest.cpp
  test/spec/spectest.h
Labels: c-Test

#2803 [API] Fix the wrong logic of getting types from exports.
  lib/api/wasmedge.cpp
Labels: c-CAPI

#2562 [Plugin] zlib [LFX 2023 Term 2]
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasmedge_zlib/CMakeLists.txt
  plugins/wasmedge_zlib/zlibbase.h
  plugins/wasmedge_zlib/zlibenv.cpp
  plugins/wasmedge_zlib/zlibenv.h
  plugins/wasmedge_zlib/zlibfunc.cpp
  plugins/wasmedge_zlib/zlibfunc.h
  plugins/wasmedge_zlib/zlibmodule.cpp
  plugins/wasmedge_zlib/zlibmodule.h
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_zlib/CMakeLists.txt
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Plugin, c-Test, c-CI

#2827 [API] Add the API to set WASI-NN preloads.
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

#2872 [Installer] Enable WASI-NN ggml plugin on macOS apple silicon model
  utils/install.py
Labels: c-Installer

#2874 [Misc] Update GitHub issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
Labels: c-CI

#2795 [Plugin] opencvmini api expose resize function, update normalize
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

#2878 fixed install llvm@16 to fix macos build
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

#2882 [Installer] Enable WASI-NN ggml plugin on macOS intel model (CPU only)
  utils/install.py
Labels: c-Installer
