Repository WasmEdge/WasmEdge, pull requests merged in 2023-12, with the labels that each got.

#3075 [WASI-NN] ggml: add repeat-penalty and temp
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin

#3081 [Test] Fix the warning in simdjson cmake.
  test/spec/CMakeLists.txt
Labels: c-Test

#3089 [WASI-NN] ggml backend: add more debug log
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin

#3069 Refactor the error codes enum.
  include/common/enum.inc
  include/common/enum_errcode.hpp
  include/common/errcode.h
  lib/aot/compiler.cpp
  lib/executor/engine/controlInstr.cpp
Labels: c-AOT

#3101 [Installer] Fix: Append correct path for ggml metal file
  utils/install.py
Labels: c-Installer

#3102 [WASI-NN] ggml: force set ngl=1 on macOS to enable Metal
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

#2956 Add GitHub action to submit MSI package to WinGet repositories
  .github/workflows/winget-submit.yml
Labels: c-CI

#3080 [Community] Nominate 王纪开(@am009) as WasmEdge Reviewers
  docs/OWNER.md
Labels: documentation

#3108 [Installer] Enable ggml-blas plugin
  utils/install.py
Labels: c-Installer

#3106 Fix large timestamp causing overflow
  lib/host/wasi/linux.h
Labels: c-WASI

#3114 [Tools] --version: add plugin versions
  include/plugin/plugin.h
  lib/driver/uniTool.cpp
Labels: c-CLI

#3090 Added Sbom generator action
  .github/workflows/release.yml
Labels: c-CI

#3118 [WASI-NN] ggml: Enhance the error msg when llama_decode failed
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin
