Repository WasmEdge/WasmEdge, pull requests merged in 2023-05, with the labels that each got.

#2457 [WASI-NN] Add GPU target support for pytorch backend.
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
Labels: c:Plugin, c:WASI-NN

#2416 [Bug] - Remove Checkbox in Release Process Docs and Update Installer Docs
  docs/book/en/src/contribute/installer.md
Labels: documentation

#2508 [CI] Bump Ubuntu from 20.04 to 22.04
  .github/workflows/bindings-java.yml
  .github/workflows/bindings-rust.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/mdbook.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/rust-standalone.yml
  .github/workflows/rust-static-lib.yml
  .github/workflows/rust-wasmedge-macro-release.yml
  .github/workflows/rust-wasmedge-sdk-release.yml
  .github/workflows/rust-wasmedge-sys-release.yml
  .github/workflows/rust-wasmedge-types-release.yml
Labels: Improvement

#2519 [CI] Enable GitHub labeler
  .github/labeler.yml
Labels: c-CI

#2520 [CI] Add workflow file for the PR labeler
  .github/workflows/labeler.yml
Labels: c-CI

#2500 [WASI] Fix WASI ci test
  include/host/wasi/environ.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/vinode.cpp
  lib/host/wasi/wasifunc.cpp
  test/host/wasi/wasi.cpp
Labels: bug, c-Test, c-WASI

#2522 [WASI-CRYPTO] Fix CI Fail
  plugins/wasi_crypto/symmetric/aeads.cpp
  plugins/wasi_crypto/symmetric/hash.cpp
  plugins/wasi_crypto/symmetric/hash.h
  plugins/wasi_crypto/symmetric/kdf.cpp
  plugins/wasi_crypto/symmetric/mac.cpp
  plugins/wasi_crypto/utils/evp_wrapper.h
  test/plugins/wasi_crypto/aeads.cpp
Labels: c-Plugin, c-Test

#2524 [Utils] Installer: Fix error message
  .github/workflows/test-install-script.yml
  utils/install.py
  utils/installer_changes.sh
Labels: c-Installer, c-CI

#2517 [Plugin] Deprecate wasmedge-httpsreq
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/test-python-install-script.yml
  CMakeLists.txt
  bindings/rust/wasmedge-sdk/src/vm.rs
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/plugin_wasmedge_httpsreq.md
  docs/book/en/src/plugin.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/write_wasm/rust/networking-https.md
  docs/book/zh/src/dev/rust/networking-https.md
  include/host/mock/wasmedge_httpsreq_module.h
  lib/vm/vm.cpp
  plugins/CMakeLists.txt
  plugins/wasmedge_httpsreq/CMakeLists.txt
  plugins/wasmedge_httpsreq/httpsreqbase.h
  plugins/wasmedge_httpsreq/httpsreqenv.cpp
  plugins/wasmedge_httpsreq/httpsreqenv.h
  plugins/wasmedge_httpsreq/httpsreqfunc.cpp
  plugins/wasmedge_httpsreq/httpsreqfunc.h
  plugins/wasmedge_httpsreq/httpsreqmodule.cpp
  plugins/wasmedge_httpsreq/httpsreqmodule.h
  test/api/APIUnitTest.cpp
  test/host/mock/mockTest.cpp
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_httpsreq/CMakeLists.txt
  test/plugins/wasmedge_httpsreq/httpsreq.cpp
  utils/install.py
  utils/wasmedge_httpsreq/build-openssl.sh
Labels: documentation, binding-rust, c-Plugin, c-Test, c-Installer, c-CI

#2378 [Docs] Update documents for unified tool
  docs/book/en/book.toml
  docs/book/en/src/SUMMARY.md
  docs/book/en/src/contribute/build_from_src.md
  docs/book/en/src/contribute/build_from_src/riscv64.md
  docs/book/en/src/quick_start/install.md
  docs/book/en/src/quick_start/run_cli.md
  docs/book/en/src/quick_start/run_in_aot_mode.md
  docs/book/en/src/quick_start/use_docker.md
  docs/book/en/src/sdk/go/tensorflow.md
  docs/book/en/src/use_cases/frameworks/app/yomo.md
  docs/book/en/src/write_wasm/c/simd.md
  docs/book/en/src/write_wasm/go.md
  docs/book/en/src/write_wasm/js/quickstart.md
  docs/book/en/src/write_wasm/python.md
  docs/book/en/src/write_wasm/rust.md
  docs/book/en/src/write_wasm/rust/tensorflow.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Labels: documentation

#2385 [CI] update for unified tool
  .github/workflows/build_for_riscv.yml
  .github/workflows/reusable-build-on-macos.yml
  include/po/argument_parser.h
  lib/driver/uniTool.cpp
  lib/po/argument_parser.cpp
  test/po/help.cpp
Labels: enhancement, c-CLI, c-Test, c-CI

#2538 fix function params in plugin/get-string/getstring.cpp
  examples/plugin/get-string/getstring.cpp
Labels: c-Example

#2536 [WASI] Use StaticVector to speedup CI in debug version
  include/runtime/instance/memory.h
  lib/api/wasmedge.cpp
  lib/host/wasi/wasifunc.cpp
  plugins/wasi_crypto/asymmetric_common/func.cpp
  plugins/wasi_crypto/common/func.cpp
  plugins/wasi_crypto/kx/func.cpp
  plugins/wasi_crypto/signatures/func.cpp
  plugins/wasi_crypto/symmetric/func.cpp
  plugins/wasi_crypto/utils/hostfunction.h
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasm_bpf/func-bpf-buffer-poll.cpp
  plugins/wasm_bpf/func-bpf-buffer-poll.h
  plugins/wasm_bpf/func-bpf-map-operate.cpp
  plugins/wasm_bpf/func-load-bpf-object.cpp
  plugins/wasm_bpf/util.cpp
  plugins/wasmedge_process/processfunc.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-CAPI, c-Plugin, c-Test, c-WASI

#2527 [CMake] Add an option to enable undefined behavior sanitizer
  CMakeLists.txt
  cmake/Helper.cmake
Labels: c-CMake
