Repository WasmEdge/WasmEdge, pull requests merged in 2023-10, with the labels that each got.

#2933 [WASI-NN] Disable OpenVINO target temporary due to the failure of installation issue
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

#2929 [Example] Fix get-string with latest C++ internal getSpan API. Fixes #2887
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_nix.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/static-code-analysis.yml
  examples/plugin/get-string/getstring.cpp
Labels: c-CI, c-Example

#2938 [Misc] Fix spelling issue
  .github/workflows/ignore_words
  .github/workflows/misc-linters.yml
  Changelog.md
  README.md
  docs/book/en/src/sdk/rust/table_and_funcref.md
  lib/validator/formchecker.cpp
  utils/install.sh.old
Labels: documentation, c-Installer, c-CI

#2941 [WASI-NN] Upgrade ggml from b1273 to b1309
  LICENSE.spdx
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
  plugins/wasi_nn/thirdparty/ggml/common.cpp
  plugins/wasi_nn/thirdparty/ggml/common.h
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.c
  plugins/wasi_nn/thirdparty/ggml/ggml-alloc.h
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.h
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.m
  plugins/wasi_nn/thirdparty/ggml/ggml-metal.metal
  plugins/wasi_nn/thirdparty/ggml/ggml.c
  plugins/wasi_nn/thirdparty/ggml/ggml.h
  plugins/wasi_nn/thirdparty/ggml/llama.cpp
  plugins/wasi_nn/thirdparty/ggml/llama.h
  plugins/wasi_nn/thirdparty/ggml/log.h
Labels: c-Plugin

#2794 Added imgproc 9 functions to opencvmini plugin.
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

#2947 [WASMEDGE-Zlib] Changed a few naming style issues.
  test/plugins/wasmedge_zlib/wasmedge_zlib.cpp
Labels: c-Test

#2940 [WASI-NN] Enable OpenVINO target again
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  utils/wasi-nn/install-openvino.sh
Labels: c-CI

#2946 [WASMEDGE-Zlib] Working example with Build + Run Guide.
  examples/plugin/wasmedge-zlib/.gitignore
  examples/plugin/wasmedge-zlib/README.md
  examples/plugin/wasmedge-zlib/main.cpp
Labels: c-Example

#2937 [CAPI] Provide getData API for FunctionInstance
  include/api/wasmedge/wasmedge.h
  lib/api/wasmedge.cpp
Labels: c-CAPI

#2957 [WASI-NN] Add metadata support
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin

#2968 [WASI-NN] Make simdjson available before `set_property`
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin

#2980 [Java] provide platform specific jni and jar for Java bindings
  .github/workflows/bindings-java.yml
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/NativeUtils.java
  bindings/java/wasmedge-java/src/main/java/org/wasmedge/WasmEdge.java
Labels: binding-java, c-CI

#2994 [Utils] Installer: Double quote the strings to prevent splitting in env file
  utils/install.py
Labels: c-Installer
