Repository WasmEdge/WasmEdge, pull requests merged in 2023-08, with the labels that each got.

#2706 [Test] Use std::filesystem::u8path instead of a const char* Path
  test/api/APIUnitTest.cpp
  test/externref/CMakeLists.txt
  test/externref/ExternrefTest.cpp
  test/mixcall/mixcallTest.cpp
Labels: c-Test

#2564 [WASI-NN] PyTorch Backend - Added support for Tuple Type Output Tensors
  plugins/wasi_nn/torch.cpp
Labels: c-Plugin

#2659 [Test] Migrating spec test from RapidJSON to SIMDJSON
  test/spec/CMakeLists.txt
  test/spec/spectest.cpp
Labels: c-Test

#2718 [CI] Remove continue-on-error in testing phases
  .github/workflows/bindings-java.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

#2719 Updating redirect links in the WasmEdge docs
  docs/book/en/src/cli/wasmedge.md
  docs/book/en/src/contribute/build_from_src/plugin_wasi_nn.md
  docs/book/en/src/features.md
  docs/book/en/src/features/platforms.md
  docs/book/en/src/features/proposals.md
  docs/book/en/src/quick_start/install.md
  docs/book/en/src/quick_start/run_cli.md
  docs/book/en/src/quick_start/run_in_aot_mode.md
  docs/book/en/src/sdk/c/0.10.1/ref.md
  docs/book/en/src/sdk/c/0.11.2/ref.md
  docs/book/en/src/sdk/c/0.9.1/ref.md
  docs/book/en/src/sdk/c/ref.md
  docs/book/en/src/sdk/go/0.10.1/ref.md
  docs/book/en/src/sdk/go/0.11.2/ref.md
  docs/book/en/src/sdk/go/0.9.1/ref.md
  docs/book/en/src/sdk/go/ref.md
  docs/book/en/src/write_wasm/rust/wasinn.md
Labels: documentation

#2722 [CI] Enable nix log when building process failed
  .github/workflows/build_for_nix.yml
Labels: c-CI

#2705 [Plugin] opecvmini `rectangle` and `cvtColor`
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
Labels: c-Plugin, c-Test

#2730 [WASI] itimerspec with 0 timeout will disarm timer, +1 to workaround
  lib/host/wasi/inode-linux.cpp
Labels: c-WASI

#2731 [CI] pre-build image with necessary dependency for extension
  .github/workflows/docker.yml
  utils/docker/Dockerfile.build-plugins-deps
  utils/docker/build.sh
  utils/docker/install-opencvmini.sh
Labels: c-CI

#2721 [Utils] Installer: Formatting and Better source message
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-Installer, c-CI

#2728 [CI] Clean up the redundant lines all workflows
  .github/workflows/IWYU_scan.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

#2734 [CI] use pre-built image to get deps
  .github/workflows/build-extensions.yml
Labels: c-CI

#2738 [AOT] Fix the neontbl1 codegen error on macOS
  lib/aot/compiler.cpp
Labels: c-AOT

#2737 [Docker] manylinux plugins deps pre-built image
  .github/workflows/docker.yml
  utils/docker/Dockerfile.manylinux2014-build-plugins-deps
Labels: c-CI

#2736 [AOT] Fix fallback impl of `compileVectorExtAddPairwise`.
  lib/aot/compiler.cpp
Labels: c-AOT

#2741 [CI] use plugins deps manylinux
  .github/workflows/build-extensions.yml
Labels: c-CI

#2747 [WASI-NN] PyTorch Backend - Fallback Error Message Correction for Tuple type Output Tensors
  plugins/wasi_nn/torch.cpp
Labels: c-Plugin

#2742 Add load_by_name implementation into wasi-nn plugin
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasi_nn/wasinnmodule.cpp
Labels: c-Plugin

#2757 [CI] Update llvm-windows from 13.0.3 to 16.0.6
  .github/workflows/bindings-java.yml
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

#2753 [C API] Use GUEST_PATH:HOST_PATH instead of PATH1:PATH2
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

#2752 Fix checking of shell paths
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-Installer, c-CI
