Repository WasmEdge/WasmEdge, pull requests merged in 2023-11, with the labels that each got.

#2992 remove nix build for now
  .github/workflows/build_for_nix.yml
Labels: c-CI

#2995 [AOT] Add invariant attribute for memory and global pointer
  lib/aot/compiler.cpp
  lib/aot/llvm.h
Labels: c-AOT

#3004 [WASI-NN] ggml: Set n_gpu_layers to 0 on the macOS platform
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin

#3012 [CI] Use the correct docker image name and fix the naming issue in msvc workflow
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
Labels: c-CI

#3008 [Installer] Enable WASI_NN_GGML_CUDA
  utils/install.py
Labels: c-Installer

#3017 [CI] remove or upgrade macOS 11 to 12
  .github/workflows/README.md
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: c-CI

#3025 [Misc] Remove render:bash from the bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: c-CI

#3020 [WASI-NN] ggml: Ensure the model/cxt is re-allocated when params change
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
  plugins/wasi_nn/thirdparty/ggml/CMakeLists.txt
Labels: c-Plugin

#3032 [Installer] Support WasmEdge rustls plugin installation
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-Installer, c-CI

#3038 [Fuzz] Force loader in interpreter mode to skip AOT sections
  lib/driver/fuzzTool.cpp
Labels: c-CLI

#3043 [WASI] Check fd valid on `socket_accept`, fix #3041
  include/host/wasi/environ.h
Labels: c-WASI

#3042 [WASI] Check same fd for `fd_renumber`, fix #3040
  include/host/wasi/environ.h
Labels: c-WASI

#3047 [WASI] Handle HUP only events
  lib/host/wasi/inode-linux.cpp
Labels: c-WASI

#3065 Update Cargo.toml to fix the breaking issue
  examples/plugin/wasi-logging/Cargo.toml
Labels: c-Example
