Repository WasmEdge/WasmEdge, pull requests merged in 2023-07, with the labels that each got.

#2642 [CI] Use arm64 arch name on macOS instead of aarch64
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: c-CI

#2649 [WASI Socket] Rollback the correct new behavior, since the old behavior is different from the new one
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

#2640 [Community] Nominate Shreyas Atre(@SAtacker) as WasmEdge Committers
  docs/OWNER.md
Labels: documentation

#2657 [Fuzz] Use own implement of `BoyerMooreHorspoolSearcher`
  lib/driver/fuzzPO.cpp
Labels: c-CLI

#2661 [Examples] Replace wasmedgec with wasmedge compile
  examples/capi/mandelbrot-set-in-threads/Makefile
  examples/wasm/README.md
Labels: c-Example

#2655 [Misc] Remove package-lock.json in the example folder
  examples/capi/mandelbrot-set-in-threads/package-lock.json
Labels: c-Example

#2653 [CI] Separate the specific plugins by archetectures.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

#2608 [Utils] Installer: Add new tags support for wasmedge-tensorflow
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
  utils/installer_changes.sh
Labels: c-Installer, c-CI

#2636 [WASI-NN] Updating install script for OpenVino 2023.0.0 version
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  cmake/WASINNDeps.cmake
  utils/wasi-nn/build-wasinn-ubuntu-openvino.sh
  utils/wasi-nn/install-openvino.sh
  utils/wasi-nn/test-wasinn-ubuntu-openvino.sh
Labels: c-CI, c-CMake

#2664 [CI] Fix testing issue on the RISCV CI workflow
  .github/workflows/build_for_riscv.yml
Labels: c-CI

#2666 [CI] Build static library in github actions
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-debian-static.yml
  utils/docker/Dockerfile.debian-static
  utils/docker/docker-bake.debian-static.hcl
Labels: c-CI

#2668 [CI] add repository path as git safe.directory
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_openwrt.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/mdbook.yml
  .github/workflows/misc-linters.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-debian-static.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-call-linter.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

#2662 [WASI] Fix blocking when multiple requests have the same fds.
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

#2670 [CI] add missing options field
  .github/workflows/release.yml
Labels: c-CI

#2671 [CI] wasm_bpf is only available on x86_64 Linux in the release workflow
  .github/workflows/release.yml
Labels: c-CI

#2676 Add a flag to disable libtinfo
  CMakeLists.txt
  cmake/Helper.cmake
Labels: c-CMake

#2675 [WASI] Remove unused fds before closing them.
  include/host/wasi/environ.h
  lib/host/wasi/wasifunc.cpp
Labels: c-WASI

#2648 [Plugin] Implement OpenCV-mini
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasmedge_opencvmini/CMakeLists.txt
  plugins/wasmedge_opencvmini/opencvmini_base.h
  plugins/wasmedge_opencvmini/opencvmini_env.cpp
  plugins/wasmedge_opencvmini/opencvmini_env.h
  plugins/wasmedge_opencvmini/opencvmini_func.cpp
  plugins/wasmedge_opencvmini/opencvmini_func.h
  plugins/wasmedge_opencvmini/opencvmini_module.cpp
  plugins/wasmedge_opencvmini/opencvmini_module.h
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_opencvmini/CMakeLists.txt
  test/plugins/wasmedge_opencvmini/wasmedge_opencvmini.cpp
  utils/opencvmini/install-opencvmini.sh
Labels: c-Plugin, c-Test, c-CI

#2674 [CI] Build wasmedge on Nix
  .github/workflows/build_for_nix.yml
Labels: c-CI

#2683 [CI] Add missing opencvmini.dylib in the release workflow
  .github/workflows/release.yml
Labels: c-CI

#2684 [CI] Add misssing cmake options on macOS of opencvmini
  .github/workflows/release.yml
Labels: c-CI

#2696 [Misc] Remove remaining boost related files in .github
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/wasi-testsuite.yml
Labels: c-CI
