Repository WasmEdge/WasmEdge, pull requests merged in 2024-12, with the labels that each got.

#3909 [CMake] Link libfmt to the target in the static build
  lib/api/CMakeLists.txt
Labels: c-CAPI

#3916 [CI] Windows: use the preinstalled cmake as a workaround
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

#3860 [Executor] coredump: add coredump
  include/common/configure.h
  include/driver/tool.h
  include/executor/coredump.h
  include/loader/serialize.h
  include/runtime/instance/module.h
  include/runtime/stackmgr.h
  lib/driver/runtimeTool.cpp
  lib/executor/CMakeLists.txt
  lib/executor/coredump.cpp
  lib/executor/engine/engine.cpp
  test/executor/ExecutorTest.cpp
  test/host/socket/CMakeLists.txt
  utils/ohos/configuration/BUILD.gn
Labels: c-CLI, c-Test

#3915 [Log] Allow to unregister the log callback function.
  lib/api/wasmedge.cpp
  lib/common/spdlog.cpp
  test/api/APIUnitTest.cpp
Labels: c-CAPI, c-Test

#3917 [WASI-NN]: add finalize_execution_context function
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasi_nn/wasinnfunc.h
  plugins/wasi_nn/wasinnmodule.cpp
Labels: c-Plugin, WASI-NN

#3926 Fix Typographical Errors
  examples/capi/unix_domain_socket/README.md
  examples/plugin/wasi-crypto-signature/README.md
Labels: c-Example

#3930 [WASI-NN] ggml: support Qwen2VL and bump llama.cpp b4381
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinn_ggml.h
Labels: c-Plugin, WASI-NN, c-CMake

#3927 [VOTE before merging] Update the givernance
  docs/CONTRIBUTING.md
  docs/CONTRIBUTOR_LADDER.md
  docs/GOVERNANCE.md
Labels: documentation, gitvote

#3938 [Loader] fix nested component load
  include/ast/section.h
  lib/loader/ast/section.cpp
Labels: c-Internal, component-model

#3924 [Docker] Update llvm, zstd, ninja, cmake in dockerfile
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/wasi-testsuite.yml
  utils/docker/Dockerfile.manylinux2014_aarch64
  utils/docker/Dockerfile.manylinux2014_x86_64
  utils/docker/Dockerfile.manylinux_2_28-base
  utils/docker/SHA256SUM.manylinux2014
  utils/docker/SHA256SUM.manylinux_2_28
Labels: c-CI

#3724 [Wasi-nn] PyTorch AOTI
  plugins/wasi_nn/wasinn_torch.cpp
  plugins/wasi_nn/wasinn_torch.h
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin, WASI-NN

#3931 [WASI-NN] whisper: add new option
  plugins/wasi_nn/wasinn_whisper.cpp
  plugins/wasi_nn/wasinn_whisper.h
Labels: c-Plugin, WASI-NN

#3940 [WASI-NN] ChatTTS: fix GIL problem and do not call Py_Finalize
  plugins/wasi_nn/wasinn_chattts.cpp
  plugins/wasi_nn/wasinn_chattts.h
Labels: c-Plugin, WASI-NN

#3943 [WASI-NN] ggml: show clip uses pure CPU log
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN
