Repository WasmEdge/WasmEdge, pull requests merged in 2024-01, with the labels that each got.

#3142 [Changelog] Update the changelog for the 0.14.0-alpha.1 pre-release.
  .CurrentChangelog.md
  Changelog.md
  test/spec/CMakeLists.txt
Labels: c-Test

#3144 [CI] Fix SBOM workflow
  .github/workflows/release.yml
Labels: c-CI

#3128 [WASI-NN] Support RPC mode (e.g., for allowing Lima guest to use the host GPU)
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  CMakeLists.txt
  cmake/Helper.cmake
  include/api/wasmedge/wasmedge.h
  include/driver/wasiNNRPCServerTool.h
  include/driver/wasi_nn_rpc/wasi_nn_rpcserver/wasi_nn_rpcserver.h
  lib/CMakeLists.txt
  lib/api/CMakeLists.txt
  lib/api/wasmedge.cpp
  lib/driver/CMakeLists.txt
  lib/driver/wasiNNRPCServerTool.cpp
  lib/wasi_nn_rpc/CMakeLists.txt
  lib/wasi_nn_rpc/wasi_ephemeral_nn.proto
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  tools/wasmedge/CMakeLists.txt
  tools/wasmedge/wasi_nn_rpcserver.cpp
Labels: c-CLI, c-CAPI, c-Plugin, c-Test, c-WASI-NN, c-CI, c-CMake

#3153 [WASI-NN] ggml: update ggml to b1808
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3158 [WASI-NN] ggml backend: bump to llama.cpp b1879
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3160 [Utils] Detect CUDA 12.x via nvidia-smi
  utils/install.py
Labels: c-Installer

#3161 [WASI-NN] ggml: return version in metadata
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3162 [WASI-NN] ggml: count n-predict correctly
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3093 added token permissions for testing
  .github/workflows/misc-linters.yml
  .github/workflows/reusable-build-on-alpine-static.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-debian-static.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
  .github/workflows/reusable-call-linter.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
Labels: c-CI

#3163 [CI] A cache today is immutable and cannot be updated. Use unique id …
  .github/workflows/reusable-build-extensions-on-manylinux.yml
Labels: c-CI

#3165 [WASI-NN] ggml: remove fixed ngl when using Metal on macOS
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3167 [WASI-NN] ggml backend: bump llama.cpp b1953
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3171 [Executor] Fix integer overflow on `memGrow` boundary check
  include/runtime/instance/memory.h
  test/memlimit/MemLimitTest.cpp
Labels: c-Test

#3174 [WASI-NN] ggml: support top_p and presence_penalty
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

#3178 permissions added for workflow files
  .github/workflows/IWYU_scan.yml
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/build_for_riscv.yml
  .github/workflows/wasi-testsuite.yml
  .github/workflows/winget-submit.yml
Labels: c-CI

#3179 [component model] the least needed validation
  include/ast/module.h
  lib/validator/validator.cpp
Labels: feature

#3184 [CI] Use the macos-14 GitHub runner instead of the self-hosted one
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI
