Repository WasmEdge/WasmEdge, pull requests merged in 2024-10, with the labels that each got.

#3808 [WASI-NN] mlx: Lint codes and refine cmake.
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/MLX/mlx/activations.cpp
  plugins/wasi_nn/MLX/mlx/activations.h
  plugins/wasi_nn/MLX/mlx/base.cpp
  plugins/wasi_nn/MLX/mlx/base.h
  plugins/wasi_nn/MLX/mlx/embedding.cpp
  plugins/wasi_nn/MLX/mlx/embedding.h
  plugins/wasi_nn/MLX/mlx/linear.cpp
  plugins/wasi_nn/MLX/mlx/linear.h
  plugins/wasi_nn/MLX/mlx/normalization.cpp
  plugins/wasi_nn/MLX/mlx/normalization.h
  plugins/wasi_nn/MLX/mlx/positional_encoding.cpp
  plugins/wasi_nn/MLX/mlx/positional_encoding.h
  plugins/wasi_nn/MLX/mlx/quantized.cpp
  plugins/wasi_nn/MLX/mlx/quantized.h
  plugins/wasi_nn/MLX/mlx/transformer.cpp
  plugins/wasi_nn/MLX/mlx/transformer.h
  plugins/wasi_nn/MLX/model/converter.cpp
  plugins/wasi_nn/MLX/model/converter.h
  plugins/wasi_nn/MLX/model/registry.cpp
  plugins/wasi_nn/MLX/model/registry.h
  plugins/wasi_nn/MLX/model/transformer.cpp
  plugins/wasi_nn/MLX/model/transformer.h
  plugins/wasi_nn/MLX/model/utils.cpp
  plugins/wasi_nn/MLX/model/utils.h
  plugins/wasi_nn/MLX/prompt/prompt.cpp
  plugins/wasi_nn/MLX/prompt/prompt.h
Labels: c-Plugin, WASI-NN

#3813 [WASI-NN] mlx: fix missing header.
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/MLX/mlx/activations.h
Labels: c-Plugin, WASI-NN

#3815 [WASI-NN] whisper: add metal and cuda option
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN

#3807 [Docs] Update roadmap for Q4/2024.
  .github/workflows/ignore_words
  docs/ROADMAP.md
Labels: documentation, c-CI, gitvote

#3824 [Plugin] Stable Diffusion: fix reuse context segment fault
  plugins/wasmedge_stablediffusion/sd_func.cpp
  test/plugins/wasmedge_stablediffusion/wasmedge_stablediffusion.cpp
Labels: c-Plugin, c-Test

#3829 [CI] Use llvm@18 temporary on MacOS.
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

#3830 [Misc] move the rust plugin into a separate repository
  .github/workflows/matrix-extensions.json
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasi_nn_burnrs/.gitignore
  plugins/wasi_nn_burnrs/CMakeLists.txt
  plugins/wasi_nn_burnrs/Cargo.toml
  plugins/wasi_nn_burnrs/src/helper.rs
  plugins/wasi_nn_burnrs/src/lib.rs
  plugins/wasi_nn_burnrs/src/models/mod.rs
  plugins/wasi_nn_burnrs/src/models/squeezenet.rs
  plugins/wasi_nn_burnrs/src/models/whisper.rs
Labels: c-Plugin, c-CI

#3834 [CI] fix the codespell installation
  .github/workflows/misc-linters.yml
Labels: c-CI

#3825 [WASI-NN] piper: extend the json_input functionality to allow setting various parameters at runtime
  plugins/wasi_nn/piper.cpp
  plugins/wasi_nn/piper.h
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-Plugin, c-Test, WASI-NN

#3832 [CI] Refactor macOS plugins
  .github/extensions.paths-filter.yml
  .github/workflows/build-extensions.yml
  .github/workflows/matrix-extensions.json
  .github/workflows/release.yml
  .github/workflows/reusable-build-extensions-on-linux.yml
  .github/workflows/reusable-build-extensions-on-macos.yml
  .github/workflows/reusable-build-extensions.yml
Labels: c-CI

#3841 [DO NOT MERGE UNTIL VOTE]Update GOVERNANCE.md
  docs/GOVERNANCE.md
Labels: documentation, gitvote, vote open

#3843 [Plugin] Stable Diffusion: add more test
  plugins/wasmedge_stablediffusion/sd_env.cpp
  plugins/wasmedge_stablediffusion/sd_func.cpp
  test/plugins/wasmedge_stablediffusion/wasmedge_stablediffusion.cpp
Labels: c-Plugin, c-Test

#3842 [CMake] Update the FetchContent usage.
  plugins/wasm_bpf/CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
Labels: c-Plugin

#3844 [WASI-NN] ggml: bump llama.cpp b3942
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinn_ggml.h
Labels: c-Plugin, WASI-NN, c-CMake

#3849 [Docs] fix minor typo
  docs/self-assessment.md
Labels: documentation

#3848 [Installer] v2: use 0.14.1 by default
  .github/workflows/test-installer-v2.yml
  utils/install_v2.sh
Labels: c-CI

#3845 [CMake] Reduce the duplicate libraries when linking.
  lib/api/CMakeLists.txt
  lib/driver/CMakeLists.txt
  lib/driver/wasiNNRPCServerTool.cpp
  lib/wasi_nn_rpc/CMakeLists.txt
  test/CMakeLists.txt
  test/api/CMakeLists.txt
  test/executor/CMakeLists.txt
  test/llvm/CMakeLists.txt
  test/mixcall/CMakeLists.txt
Labels: c-CLI, c-CAPI, c-Test

#3619 [Component] break down validation for most tasks
  include/ast/component/instance.h
  include/validator/validator_component.h
  lib/loader/ast/component/component_instance.cpp
  lib/validator/CMakeLists.txt
  lib/validator/validator.cpp
  lib/validator/validator_component.cpp
Labels: v-0.15.0, component-model

#3763 [OSPP][stable-difusion.cpp] achieve new functions
  plugins/wasmedge_stablediffusion/CMakeLists.txt
  plugins/wasmedge_stablediffusion/sd_env.cpp
  plugins/wasmedge_stablediffusion/sd_env.h
  plugins/wasmedge_stablediffusion/sd_func.cpp
  plugins/wasmedge_stablediffusion/sd_func.h
Labels: c-Plugin
