Repository WasmEdge/WasmEdge, pull requests merged in 2024-08, with the labels that each got.

#3611 [CI] Misc: update paths dependencies
  .github/workflows/build-extensions.yml
  .github/workflows/docker.yml
Labels: c-CI

#3472 [Docs] Update security-related files
  SECURITY.md
  docs/SECURITY_CONTACTS.md
  docs/embargo-policy.md
Labels: documentation

#3506 [WASI-NN] ggml: support compute single in RPC mode
  .github/workflows/build-extensions.yml
  include/driver/wasi_nn_rpc/wasi_nn_rpcserver/wasi_nn_rpcserver.h
  lib/wasi_nn_rpc/wasi_ephemeral_nn.proto
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-CLI, c-Plugin, c-Test, WASI-NN, c-CI, c-WASI-NN

#3615 [WASI-NN] ggml: bump to b3499
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3621 [CI] Update the label name.
  .github/labeler.yml
Labels: c-CI

#3618 [CI] Fix dependency for docker.yml
  .github/workflows/docker.yml
Labels: c-CI

#3612 [Docs] Add self assessment document
  docs/self-assessment.md
Labels: documentation

#3566 Fix alignment checking in loading memory arg immediates
  include/common/enum.inc
  lib/loader/ast/instruction.cpp
  test/loader/instructionTest.cpp
Labels: c-Test

#3614 [CI] manylinux: WASI-NN Piper
  .github/workflows/matrix-extensions.json
  plugins/wasi_nn/piper.patch
Labels: c-Plugin, WASI-NN, c-CI

#3628 [Plugin] Stable Diffusion: fix segment fault
  plugins/wasmedge_stablediffusion/sd_func.cpp
Labels: c-Plugin

#3633 [CI] Ubuntu 20.04: WASI-NN Piper
  .github/workflows/release.yml
Labels: c-CI

#3632 [CI] Fix mirrors on manylinux2014(CentOS 7)
  .github/workflows/release.yml
  .github/workflows/reusable-build-extensions-on-manylinux.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

#3634 [CI] Use built-in gh on manylinux2014; install gh on non-EOL manylinux
  .github/workflows/build.yml
  .github/workflows/reusable-build-extensions-on-manylinux.yml
  .github/workflows/reusable-build-on-manylinux.yml
Labels: c-CI

#3637 [CI] Fix assets name for manylinux2014
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-manylinux.yml
Labels: c-CI, v-0.14.1

#3644 [Misc] Update fmt for passing gcc-14.
  .github/workflows/ignore_words
  Changelog.md
  lib/common/CMakeLists.txt
  lib/common/errinfo.cpp
  test/expected/catch.hpp
Labels: c-Test, c-CI

#3645 [WASI-NN] ggml: bump llama.cpp b3567
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN

#3649 [Java] should ignore generated bin/
  bindings/java/wasmedge-java/.gitignore
Labels: binding-java

#3651 [Installer] all: ignore wasi-logging plugin installation after 0.14.1-rc.1
  .github/workflows/test-installer-v2.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
  utils/install_v2.sh
Labels: c-Installer, c-CI

#3624 [WASI-LLM] Add initial CPU backend for wasi_llm
  .github/workflows/build-extensions.yml
  plugins/wasi_llm/CMakeLists.txt
  plugins/wasi_llm/llmc_fwd.h
  plugins/wasi_llm/types.h
  plugins/wasi_llm/wasillmbase.h
  plugins/wasi_llm/wasillmenv.cpp
  plugins/wasi_llm/wasillmenv.h
  plugins/wasi_llm/wasillmfunc.cpp
  plugins/wasi_llm/wasillmfunc.h
  plugins/wasi_llm/wasillmmodule.cpp
  plugins/wasi_llm/wasillmmodule.h
  test/plugins/CMakeLists.txt
  test/plugins/wasi_llm/CMakeLists.txt
  test/plugins/wasi_llm/wasi_llm.cpp
Labels: c-Plugin, c-Test, c-CI

#3652 [Plugin] Stable Diffusion: enable CUBLAS
  CMakeLists.txt
  plugins/wasmedge_stablediffusion/CMakeLists.txt
Labels: c-Plugin, v-0.14.1

#3657 [Example] Port the "parse_json" example to the 0.14 API
  examples/capi/host_functions/parse_json/host_function.c
Labels: c-Example

#3648 [DO NOT MERGE UNTIL VOTE] Add a new contact for reporting conduct issues
  docs/CODE_OF_CONDUCT.md
Labels: documentation

#3662 [CMake] Add the WasmEdge component of cpack.
  CMakeLists.txt
  cmake/Helper.cmake
  lib/api/CMakeLists.txt
  lib/wasi_nn_rpc/CMakeLists.txt
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_http/CMakeLists.txt
  plugins/wasi_llm/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_ocr/CMakeLists.txt
  plugins/wasi_poll/CMakeLists.txt
  plugins/wasmedge_ffmpeg/CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
  plugins/wasmedge_opencvmini/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
  plugins/wasmedge_stablediffusion/CMakeLists.txt
  plugins/wasmedge_tensorflow/CMakeLists.txt
  plugins/wasmedge_tensorflowlite/CMakeLists.txt
  plugins/wasmedge_zlib/CMakeLists.txt
  tools/wasmedge/CMakeLists.txt
Labels: c-CAPI, c-Plugin, WASI-NN, c-CMake

#3664 [Java] fix some build script problems
  bindings/java/wasmedge-java/build.gradle
  bindings/java/wasmedge-java/wasmedge-jni/FindWasmEdge.cmake
  bindings/java/wasmedge-java/wasmedge-jni/README.md
Labels: binding-java

#3668 [CI] Add build and release CI for WASI-NN plugins on MacOS.
  .github/workflows/README.md
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN, c-CI

#3671 [CI] Fix the CUDA asset on CI
  test/plugins/wasmedge_stablediffusion/CMakeLists.txt
Labels: c-Test

#3672 [CI] Fix build and release CI for plugins with cuda.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

#3674 [CI] Fix build plugin with cuda on ubuntu in release CI.
  .github/workflows/release.yml
Labels: c-CI

#3675 [CMake] Fix the package on Windows.
  lib/api/CMakeLists.txt
Labels: c-CAPI

#3678 [CI] Misc: Ignore plugins from paths in workflows for core
  .github/workflows/build.yml
  .github/workflows/build_for_riscv.yml
Labels: c-CI

#3680 [Plugin] stable diffusion: add Metal support
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  CMakeLists.txt
  plugins/wasmedge_stablediffusion/CMakeLists.txt
Labels: c-Plugin, c-CI

#3683 [WASI-NN] ggml: bump to b3613
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN

#3679 [Misc] Enable GitVote powered by CNCF
  .github/.gitvote.yml
Labels: c-CI

#3689 [CMake] Revert 6f0fb080: remove the component of cpack until 0.15.0.
  CMakeLists.txt
  lib/api/CMakeLists.txt
  lib/wasi_nn_rpc/CMakeLists.txt
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_http/CMakeLists.txt
  plugins/wasi_llm/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_ocr/CMakeLists.txt
  plugins/wasi_poll/CMakeLists.txt
  plugins/wasmedge_ffmpeg/CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
  plugins/wasmedge_opencvmini/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
  plugins/wasmedge_stablediffusion/CMakeLists.txt
  plugins/wasmedge_tensorflow/CMakeLists.txt
  plugins/wasmedge_tensorflowlite/CMakeLists.txt
  plugins/wasmedge_zlib/CMakeLists.txt
  tools/wasmedge/CMakeLists.txt
Labels: c-CAPI, c-Plugin, WASI-NN

#3673 [Nix] use specific version of nixpkgs
  .github/workflows/build_for_nix.yml
  flake.lock
  flake.nix
Labels: c-CI

#3693 [CMake] Add the bundled wasi-logging target in static library.
  lib/api/CMakeLists.txt
  lib/plugin/CMakeLists.txt
Labels: c-CAPI

#3692 [CI] Fix ubuntu image version
  .github/workflows/release.yml
Labels: c-CI

#3705 [Docker] Add python3-dev to the plugins-deps for the wasi-nn neural speed backend
  .github/workflows/release.yml
Labels: c-CI

#3713 [Test] Update googletest to 1.15.2
  test/CMakeLists.txt
Labels: c-Test
