Repository WasmEdge/WasmEdge, pull requests merged in 2024-04, with the labels that each got.

#3312 [CI] Fix the wrong package manager name
  .github/workflows/test-install-script.yml
Labels: c-CI

#3313 [Installer] Support a pure bash script installer
  .github/workflows/test-installer-v2.yml
  utils/install_v2.sh
Labels: c-CI, v-0.14.0

#3322 [Example] Fix the get-string plugin example.
  examples/plugin/get-string/getstring.cpp
Labels: c-Example

#3318 [WASI-NN] ggml: support grammar
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

#3333 [WASI-NN] ggml: update ggml to b2636
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3334 [WASI-NN] ggml: fix embedding with batch decode
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3336 [WASI-NN] ggml: fix input size checking of computeSingle
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3339 [CI] Deprecated mdbook workflow, use WasmEdge/docs instead
  .github/workflows/mdbook.yml
Labels: c-CI, v-0.14.0

#3340 [CI] Bump codecov-action from v3 to v4
  .github/workflows/build.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI, v-0.14.0

#3345 [WASI-NN] ggml: bump tp b2694 to fix the MoE segfault
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3357 [CMake] Bump simdjson to 3.9.1 and fix compiler flag.
  cmake/Helper.cmake
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN, c-CMake

#3364 [WASI-NN] ggml: bump tp b2734 to support phi-3-mini
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3365 [WASI-NN] ggml: add llama log callback
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  thirdparty/ggml/ggml.patch
Labels: c-Plugin, c-WASI-NN

#3366 [CMake] Fix GNU version for `template-id-cdtor`
  cmake/Helper.cmake
Labels: c-CMake

#3373 [CI] Update IWYU to 0.22
  .github/workflows/IWYU_scan.yml
Labels: c-CI

#3375 [WASI] Handle APPEND flag ourself
  include/host/wasi/inode.h
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
Labels: c-WASI

#3370 [WASI] fix pathReadlink on Windows
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

#3374 [WASI] Add missing callback routine for `ReadFileEx` and `WriteFileEx`
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

#3376 [Plugin] Use cmake commands for cross-platform support
  plugins/wasmedge_rustls/CMakeLists.txt
Labels: c-Plugin

#3377 [CI] ffmpeg plugin: fix pkg-config issue(ffmpeg path) in the release workflow on macOS
  .github/workflows/release.yml
Labels: c-CI
