Repository WasmEdge/WasmEdge, pull requests merged in 2024-06, with the labels that each got.

#3438 [Misc] Remove unused constructor inheration from base clases
  include/experimental/expected.hpp
Labels: v-0.14.1

#3445 [WASI-NN] ggml: bump to b3067
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN, v-0.14.1

#3446 [WASI-NN] ggml: bump llama.cpp b3075
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3451 [CI] Use dco-check workflow because the dcobot is stuck
  .github/workflows/dco.yml
Labels: c-CI

#3092 Fix java code examples in README
  bindings/java/README.md
Labels: binding-java

#3456 [CI] Fix IWYU on macOS
  .github/workflows/IWYU_scan.yml
Labels: c-CI

#3453 [Docs] Remove module.wasm.image annotation when building wasm container images
  docs/book/en/src/use_cases/kubernetes/demo/wasi.md
Labels: documentation

#3459 [CI] Revert #3451, the dcobot issue is fixed by upstream
  .github/workflows/dco.yml
Labels: c-CI

#3467 [CI] Enable fedora:rawhide and fedora:latest together
  .github/workflows/reusable-build-on-fedora.yml
Labels: c-CI

#3469 [WASI-NN] ggml backend: bump to llama.cpp b3135
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3461 [Docs] Update GOVERNANCE.md
  docs/GOVERNANCE.md
Labels: documentation

#3382 [Docs] Update ROADMAP.md (May/2024).
  docs/OWNER.md
  docs/ROADMAP.md
Labels: documentation

#3455 [CI] Bump Windows 10 SDK from 19041 to 22621
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
Labels: c-CI

#3486 [Misc] Update CODEOWNER based on the current file structures
  .github/CODEOWNERS
Labels: c-CI

#3218 [component model] instantiate
  CMakeLists.txt
  LICENSE.spdx
  include/ast/component/import_export.h
  include/ast/component/sort.h
  include/ast/component/type.h
  include/ast/type.h
  include/common/enum.inc
  include/common/types.h
  include/executor/executor.h
  include/plugin/plugin.h
  include/runtime/instance/component.h
  include/runtime/instance/composite.h
  include/runtime/instance/function.h
  include/runtime/instance/module.h
  include/runtime/storemgr.h
  include/vm/vm.h
  lib/driver/runtimeTool.cpp
  lib/executor/CMakeLists.txt
  lib/executor/executor.cpp
  lib/executor/instantiate/component.cpp
  lib/executor/instantiate/component/alias.cpp
  lib/executor/instantiate/component/canon.cpp
  lib/executor/instantiate/component/export.cpp
  lib/executor/instantiate/component/import.cpp
  lib/executor/instantiate/component/instance.cpp
  lib/executor/instantiate/component/start.cpp
  lib/executor/instantiate/component/type.cpp
  lib/plugin/plugin.cpp
  lib/vm/vm.cpp
  plugins/CMakeLists.txt
  plugins/wasi_http/CMakeLists.txt
  plugins/wasi_http/README.md
  plugins/wasi_http/base.h
  plugins/wasi_http/env.cpp
  plugins/wasi_http/env.h
  plugins/wasi_http/func.cpp
  plugins/wasi_http/func.h
  plugins/wasi_http/module.cpp
  plugins/wasi_http/module.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_poll/CMakeLists.txt
  plugins/wasi_poll/README.md
  plugins/wasi_poll/base.h
  plugins/wasi_poll/env.cpp
  plugins/wasi_poll/env.h
  plugins/wasi_poll/func.cpp
  plugins/wasi_poll/func.h
  plugins/wasi_poll/module.cpp
  plugins/wasi_poll/module.h
  test/plugins/unittest/testplugin.cpp
Labels: c-CLI, c-Plugin, c-Test, c-WASI-NN, v-0.14.1

#3490 [CMake] Refactor WASI-NN ggml for supporting multiple backends.
  cmake/Helper.cmake
  include/po/parser.h
  plugins/wasi_crypto/symmetric/options.cpp
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/wasinnenv.cpp
  test/plugins/wasi_nn/CMakeLists.txt
Labels: c-CLI, c-Plugin, c-Test, c-WASI-NN, c-CMake

#3496 [WASI-NN] ggml: bump to b3186
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3497 [CI] Try to fix the build on fedora:rawhide with options
  .github/workflows/reusable-build-on-fedora.yml
Labels: c-CI

#3498 [WASI-NN] ggml: prevent copy in log callback.
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3494 Upgraded the WASI-NN OpenVino backend to 2024.2.0
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  utils/docker/Dockerfile.manylinux2014-build-plugins-deps
  utils/docker/Dockerfile.manylinux_2_28-build-plugins-deps
  utils/wasi-nn/install-openvino.sh
Labels: c-CI, v-0.14.1

#3507 [WASI-NN] ggml: refine the unused target include in CMake.
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3516 [WASI-NN] ggml: fix metal related files because the folder structure changed
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN
