Repository WasmEdge/WasmEdge, pull requests merged in 2024-09, with the labels that each got.

#3711 [CI] Use riscv64/ubuntu22.04 instead of riscv64/ubuntu (18.04, EOL)
  .github/workflows/build_for_riscv.yml
Labels: c-CI

#3698 [Community] nominate a new reviewer
  docs/OWNER.md
Labels: documentation, gitvote

#3717 [CI] Remove docker-slim build
  .github/workflows/release.yml
Labels: c-CI

#3714 [Test] Fix undefined variable in newer gcc
  test/plugins/unittest/CMakeLists.txt
  test/plugins/unittest/testplugin.cpp
  test/plugins/unittest/testplugin.h
Labels: c-Test

#3719 [WASI-NN] ggml: bump to b3651
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN

#3723 [CI] Fix JSON error
  .github/workflows/release.yml
Labels: c-CI

#3726 [Test] Decouple plugin content and plugin test
  test/plugins/unittest/CMakeLists.txt
  test/plugins/unittest/testplugin.cpp
  test/plugins/unittest/testplugin.h
  test/plugins/unittest/unittest_cpp.cpp
Labels: c-Test

#3728 [CI] Fix variable used by condition
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

#3730 [CI] Plugins: Include tests and CMake files in paths-filter
  .github/extensions.paths-filter.yml
Labels: c-CI

#3716 [Plugin] Support `translate` and `language` option for WASI-NN whisper backend.
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/whispercpp.cpp
  plugins/wasi_nn/whispercpp.h
Labels: c-Plugin, WASI-NN

#3735 [CI] Fix the CI for WASI-NN burn.rs backend.
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  plugins/wasi_nn_burnrs/CMakeLists.txt
Labels: c-Plugin, c-CI

#3737 [CI] Install dependency for WASI-NN burn.rs backend in CI.
  .github/workflows/release.yml
Labels: c-CI

#3738 [CI] Install libssl for WASI-NN burn.rs backend in CI.
  .github/workflows/release.yml
Labels: c-CI

#3740 [CI] Fix release CI syntax error.
  .github/workflows/release.yml
Labels: c-CI

#3721 [CI] Add wasmedge_llmc for manylinux
  .github/extensions.paths-filter.yml
  .github/workflows/matrix-extensions.json
  .github/workflows/reusable-build-extensions.yml
Labels: c-CI

#3745 [WASI-NN] neural speed: removed due to the upstream end-of-life
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/neuralspeed.cpp
  plugins/wasi_nn/neuralspeed.h
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  utils/wasi-nn/install-neuralspeed.sh
Labels: c-Plugin, c-Test, WASI-NN, c-CI, c-CMake

#3734 Fix BLAKE3_DISABLE_SIMD macro
  thirdparty/blake3/CMakeLists.txt
Labels: v-0.14.1

#3751 [CI] Docker: remove `on.push.tags`
  .github/workflows/docker.yml
Labels: c-CI

#3752 [CI] Workaround for jobs not cancellable
  .github/workflows/docker.yml
Labels: c-CI

#3750 [Plugin] llmc: Support training GPT2 on GPU (CUDA)
  plugins/wasmedge_llmc/CMakeLists.txt
  plugins/wasmedge_llmc/llmc_env.cpp
  plugins/wasmedge_llmc/llmc_fwd.h
  test/plugins/wasmedge_llmc/CMakeLists.txt
Labels: c-Plugin, c-Test

#3760 [Installer] v2: set default version to 0.14.0
  utils/install_v2.sh
Labels: v-0.14.1

#3755 [Plugin] WASI-NN Whisper: supporting metadata in set_input.
  plugins/wasi_nn/whispercpp.cpp
  plugins/wasi_nn/whispercpp.h
Labels: c-Plugin, WASI-NN, v-0.14.1

#3758 [CI] plugins: enable Metal by default on arm64 macOS
  .github/workflows/build-extensions.yml
Labels: c-CI, v-0.14.1

#3746 [Changelog] Update the changelog for the 0.14.1 release.
  .CurrentChangelog.md
  Changelog.md
Labels: v-0.14.1

#3779 [WASI-NN] Fix `fmt::format` error in embedding
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, WASI-NN

#3777 [CI] Deprecated all CI workflows related to the manylinux2014 target
  .github/workflows/build.yml
  .github/workflows/matrix-extensions.json
  .github/workflows/release.yml
  .github/workflows/reusable-build-extensions-on-legacy-manylinux.yml
  .github/workflows/reusable-build-extensions.yml
  .github/workflows/reusable-build-on-manylinux.yml
Labels: c-CI

#3781 [CI] Disable the OpenCV plugin on macOS due to the dependencies issue
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
Labels: c-CI

#3785 [WASI-NN] ggml: fix accessing freed data after unload.
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, WASI-NN

#3786 [CI] Refactor ubuntu plugins (WASI-NN)
  .github/extensions.paths-filter.yml
  .github/workflows/build-extensions.yml
  .github/workflows/matrix-extensions.json
  .github/workflows/release.yml
  .github/workflows/reusable-build-extensions.yml
  utils/docker/Dockerfile.ubuntu-plugins-deps
  utils/docker/docker-bake.ubuntu.hcl
  utils/ffmpeg/install-ffmpeg-v6.0.sh
  utils/opencvmini/install-opencvmini.sh
  utils/wasi-nn/install-openvino.sh
Labels: c-CI

#3759 [Loader][Serializer]: Add Function References Instructions and their tests
  lib/loader/serialize/serial_instruction.cpp
  test/loader/serializeInstructionTest.cpp
Labels: c-Test

#3748 [Loader][Serializer]: Add tests for Typed Function References proposal's types
  test/loader/serializeTypeTest.cpp
Labels: c-Test

#3690 [CMake] Apply the WasmEdge component in the cpack.
  CMakeLists.txt
  lib/api/CMakeLists.txt
  lib/wasi_nn_rpc/CMakeLists.txt
  plugins/wasi_crypto/CMakeLists.txt
  plugins/wasi_http/CMakeLists.txt
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_poll/CMakeLists.txt
  plugins/wasmedge_ffmpeg/CMakeLists.txt
  plugins/wasmedge_image/CMakeLists.txt
  plugins/wasmedge_llmc/CMakeLists.txt
  plugins/wasmedge_ocr/CMakeLists.txt
  plugins/wasmedge_opencvmini/CMakeLists.txt
  plugins/wasmedge_process/CMakeLists.txt
  plugins/wasmedge_stablediffusion/CMakeLists.txt
  plugins/wasmedge_tensorflow/CMakeLists.txt
  plugins/wasmedge_tensorflowlite/CMakeLists.txt
  plugins/wasmedge_zlib/CMakeLists.txt
  tools/wasmedge/CMakeLists.txt
Labels: c-CAPI, c-Plugin, WASI-NN, v-0.15.0

#3798 [WASI-NN] piper: fix arguments for target linking and including in piper patch
  plugins/wasi_nn/piper.patch
Labels: c-Plugin, WASI-NN

#3801 [Plugin] Stable Diffusion: update SD version to 14206fd
  plugins/wasmedge_stablediffusion/CMakeLists.txt
Labels: c-Plugin

#3805 use winget-releaser to submit package to winget
  .github/workflows/winget-submit.yml
Labels: c-CI
