Repository WasmEdge/WasmEdge, pull requests merged in 2024-03, with the labels that each got.

#3249 [Installer] Support WasmEdge rustls plugin installation on aarch64
  utils/install.py
Labels: c-Installer

#3250 [CI] Replace 'WASMEDGE_BUILD_AOT_RUNTIME' with 'WASMEDGE_USE_LLVM'
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-extensions-on-manylinux.yml
  .github/workflows/wasi-testsuite.yml
Labels: c-CI

#3247 Fixing inode_linux.cpp fromFileType error
  lib/host/wasi/inode-linux.cpp
Labels: c-WASI

#3246 [WASI] fix special case in vinode path resolving
  lib/host/wasi/vinode.cpp
Labels: c-WASI

#3254 [WASI-NN] ggml: bump to b2334 for supporting the starcoder2 model
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3203 changing permissions hierarchy as per ossf docs
  .github/workflows/bindings-java.yml
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/labeler.yml
  .github/workflows/misc-linters.yml
  .github/workflows/reusable-build-on-alpine-static.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/reusable-build-on-fedora.yml
  .github/workflows/reusable-build-on-macos.yml
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-call-linter.yml
  .github/workflows/reusable-create-source-tarball.yml
  .github/workflows/static-code-analysis.yml
  .github/workflows/wasi-testsuite.yml
  .github/workflows/winget-submit.yml
Labels: c-CI

#3255 [Executor] Fix independent host function invocation.
  lib/executor/executor.cpp
  test/api/APIUnitTest.cpp
Labels: c-Test

#3262 [Installer] Support WasmEdge rustls plugin installation on the manylinux2014 aarch64
  utils/docker/Dockerfile.manylinux2014_plugins_deps_x86_64
  utils/install.py
Labels: c-Installer

#3265 [Installer] Add rustls plugin's name into env file
  utils/install.py
Labels: c-Installer, v-0.14.0

#3270 [CI] Change the runner from linux-arm64 to linux-arm64-v2
  .github/actions/expand-variables/dist/index.js
  .github/actions/expand-variables/main.js
Labels: c-CI

#3273 [Misc] update error message about magic header
  lib/loader/ast/component.cpp
  lib/loader/loader.cpp
Labels: v-0.14.0

#3272 [Plugin] Fix option toggle for wasmedge_process plugin.
  include/po/argument_parser.h
  lib/api/wasmedge.cpp
  test/api/APIUnitTest.cpp
  test/plugins/unittest/testplugin.cpp
  test/plugins/unittest/testplugin.h
  test/plugins/unittest/unittest_c.cpp
  test/plugins/unittest/unittest_cpp.cpp
Labels: c-CLI, c-CAPI, c-Test, v-0.14.0

#3277 [Misc] Disable warning in clang-18
  cmake/Helper.cmake
Labels: c-CMake

#3284 [CI] Ensure git safe directory for building extensions on manylinux.
  .github/workflows/reusable-build-extensions-on-manylinux.yml
Labels: c-CI

#3286 [WASI-NN] ggml: set LlamaNInputs correctly when llava inference
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3281 [Installer] Allow users to install the specific build number of the ggml plugin
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-Installer, c-CI

#3290 [WASI-NN] ggml: downgrade to b2370 to fix the metal segfault issue
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3291 [WASI-NN] ggml: downgrade to b2334 to fix the embedding issue
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3293 [WASI-NN] ggml: use new metal file
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3296 [WASI-NN] rpc: implement `load_by_name_with_config`
  include/driver/wasi_nn_rpc/wasi_nn_rpcserver/wasi_nn_rpcserver.h
  lib/wasi_nn_rpc/wasi_ephemeral_nn.proto
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-CLI, c-Plugin, c-Test, c-WASI-NN

#3297 [WASI-NN] ggml: bump llama.cpp b2479 and fix embeddings
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3298 [WASI-NN] ggml: clear inputs before setting it
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3299 [Installer] Reset the url_root due to the wasi-nn-ggml plugin with build number workaround
  utils/install.py
Labels: c-Installer

#3304 [Test] Update for spec test imports.
  test/api/hostfunc_c.c
  test/spec/hostfunc.h
Labels: c-Test

#3307 [WASI-NN] ggml: fix metal build & bump llama.cpp to b2534
  plugins/wasi_nn/CMakeLists.txt
  thirdparty/ggml/ggml.patch
Labels: c-Plugin, c-WASI-NN
