Repository WasmEdge/WasmEdge, pull requests merged in 2024-05, with the labels that each got.

#3383 [WASI-NN] ggml: support ubatch-size
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

#3384 [WASI-NN] ggml: bump llama.cpp b2781
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3385 [Installer] enable pre-built noavx ggml plugin on Ubuntu 20.04
  .github/workflows/test-install-script.yml
  .github/workflows/test-installer-v2.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
  utils/install_v2.sh
Labels: c-Installer, c-CI

#3401 [Misc] Fix the return value of fdAllocate
  lib/host/wasi/inode-linux.cpp
Labels: c-WASI

#3388 [Misc] Fix time conversion constant on Windows
  lib/host/wasi/win.h
  test/host/wasi/wasi.cpp
Labels: c-Test, c-WASI

#3348 [CI] Add manylinux_2_28 (x86_64) to workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-manylinux.yml
Labels: c-CI

#3409 [CI] Build and release on manylinux_2_28 aarch64
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: c-CI

#3414 [WASI-NN] ggml: bump llama.cpp b2943
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN, v-0.14.0

#3412 [Misc] dladdr for Windows
  include/system/winapi.h
  lib/plugin/plugin.cpp
Labels: v-0.14.0

#3418 [WASI-NN] ggml: bump llama.cpp b2961
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3419 [WASI-NN] ggml: bump llama.cpp b2963
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3404 [Changelog] Update the changelog for the 0.14.0 release.
  .CurrentChangelog.md
  Changelog.md
Labels: v-0.14.0

#3422 [Installer] v2: allow users to specify the ggml version
  .github/workflows/test-installer-v2.yml
  utils/install_v2.sh
Labels: c-CI

#3423 [CI] Fix `sudo` not found on manylinux
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-manylinux.yml
Labels: c-CI, v-0.14.0

#3424 [CI] Fix `yum install` with `-y`
  .github/workflows/release.yml
  .github/workflows/reusable-build-on-manylinux.yml
Labels: c-CI

#3426 [CMake] Merge and move the simdjson fetching.
  cmake/Helper.cmake
  plugins/wasi_nn/CMakeLists.txt
  test/spec/CMakeLists.txt
Labels: c-Plugin, c-Test, c-WASI-NN, c-CMake, v-0.14.1

#3434 [WASI-NN] ggml: bump llama.cpp b3014
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3431 [Installer] No longer support wasi_nn-ggml-blas assets
  utils/install.py
Labels: c-Installer, v-0.14.1

#3278 [Misc] Upgrade LLVM to 17.0.6, cmake to 3.29.3
  .github/workflows/bindings-java.yml
  .github/workflows/reusable-build-on-windows-msvc.yml
  .github/workflows/reusable-build-on-windows.yml
  utils/docker/Dockerfile.manylinux2014_aarch64
  utils/docker/Dockerfile.manylinux2014_x86_64
  utils/docker/Dockerfile.ubuntu2104_armv7l
  utils/docker/SHA256SUM.manylinux2014
Labels: c-CI, v-0.14.1

#3439 [Installer] Skip installing rustls when the version is not matched 0.13.5
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-Installer, c-CI

#3436 enables usage of parameter `--no-mmap` from llama.cpp
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

#3442 [Rustls] Deprecated the rustls plugin because the crate can be built with the Wasm target
  plugins/CMakeLists.txt
  plugins/wasmedge_rustls/.gitignore
  plugins/wasmedge_rustls/CMakeLists.txt
  plugins/wasmedge_rustls/Cargo.toml
  plugins/wasmedge_rustls/src/lib.rs
  test/plugins/CMakeLists.txt
  test/plugins/wasmedge_rustls/CMakeLists.txt
  test/plugins/wasmedge_rustls/wasmedge_rustls.cpp
Labels: c-Plugin, c-Test
