Repository WasmEdge/WasmEdge, pull requests merged in 2024-11, with the labels that each got.

#3861 [CI] Bump llvm 11 to 18 for static code analysis
  .github/workflows/static-code-analysis.yml
Labels: c-CI

#3821 [Loader] Serializer: Add GC proposal types
  include/loader/serialize.h
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_type.cpp
  test/loader/serializeInstructionTest.cpp
  test/loader/serializeTypeTest.cpp
Labels: c-Test

#3869 [WASI-NN] ggml: bump llama.cpp b4067
  cmake/WASINNDeps.cmake
Labels: c-CMake

#3859 [CI] Upgrade building and testing from Ubuntu 22.04 to 24.04
  .github/workflows/build-extensions.yml
  .github/workflows/build.yml
  .github/workflows/reusable-build-extensions.yml
Labels: c-CI

#3870 [WASI] win: Use `ReadFile/WriteFile` instead of `ReadFileEx/WriteFileEx`
  include/system/winapi.h
  lib/host/wasi/inode-win.cpp
Labels: WASI

#3874 [CI] Update README.md
  .github/workflows/README.md
Labels: c-CI

#3865 [Loader] Serializer: Finish GC type tests
  test/loader/serializeTypeTest.cpp
Labels: c-Test

#3789 Support all log levels in the API and add user callback support
  include/api/wasmedge/wasmedge.h
  include/common/spdlog.h
  lib/api/wasmedge.cpp
  lib/common/spdlog.cpp
  test/api/APIUnitTest.cpp
Labels: c-CAPI, c-Test, v-0.15.0

#3890 [WASI-NN] ggml: bump llama.cpp b4179
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#3891 [Installer] v2: update the assets' urls for the 0.14.1 ggmlbn
  .github/workflows/test-installer-v2.yml
  utils/install_v2.sh
Labels: c-CI

#3895 [Installer] v1: update the assets' urls for the 0.13.5 and 0.14.0 ggmlbn
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
  utils/install.py
Labels: c-Installer, c-CI
