Repository WasmEdge/WasmEdge, pull requests merged in 2024-07, with the labels that each got.

#3518 [WASI-NN] Neural speed: Refine code and add the release CI.
  .github/workflows/release.yml
  plugins/wasi_nn/neuralspeed.cpp
  plugins/wasi_nn/neuralspeed.h
Labels: c-Plugin, c-WASI-NN, c-CI

#3525 [Tools] Update the option for enabling relaxed-simd proposal.
  include/driver/compiler.h
  include/driver/tool.h
Labels: c-CLI

#3530 [CI] Fix paths-filter for push event
  .github/workflows/docker.yml
Labels: c-CI

#3531 [CI] Disable paths-filter except for pull_request
  .github/workflows/docker.yml
Labels: c-CI

#3505 [Community] nominate new committers
  docs/OWNER.md
Labels: documentation

#3517 [Docs] Update roadmap for Q3/2024.
  docs/ROADMAP.md
Labels: documentation

#3545 [CI] Allow node16 on manylinux
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/reusable-build-extensions-on-manylinux.yml
  .github/workflows/reusable-build-on-manylinux.yml
Labels: c-CI

#3550 [CI] Workaround for (the lack of) node20 on Ubuntu 16 & 18, and CentOS 7
  .github/workflows/test-install-script.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

#3546 [WASI-NN] ggml: disable OpenMP by default
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3554 [WASI-NN] ggml: fix model path in nn-preload string on Windows
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin, c-WASI-NN

#3536 [WASI-LLM] Implement wasi_llm module
  plugins/CMakeLists.txt
  plugins/wasi_llm/CMakeLists.txt
  plugins/wasi_llm/types.h
  plugins/wasi_llm/wasillmbase.h
  plugins/wasi_llm/wasillmfunc.cpp
  plugins/wasi_llm/wasillmfunc.h
  plugins/wasi_llm/wasillmmodule.cpp
  plugins/wasi_llm/wasillmmodule.h
Labels: c-Plugin

#3474 [WASI] Fix wasi-testsuite errors on windows
  include/host/wasi/inode.h
  include/system/winapi.h
  lib/host/wasi/CMakeLists.txt
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/vinode.cpp
  lib/host/wasi/wasifunc.cpp
  lib/host/wasi/win.h
  lib/system/mmap.cpp
Labels: c-WASI

#3499 [WASI-NN] piper: add backend structure
  .github/workflows/build-extensions.yml
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/piper.cpp
  plugins/wasi_nn/piper.h
  plugins/wasi_nn/piper.patch
  plugins/wasi_nn/types.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-Plugin, c-Test, c-WASI-NN, c-CI, c-CMake

#3567 [WASI-NN] ggml: bump llama.cpp b3405
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3568 [Plugin] Stable Diffusion: fix output path
  test/plugins/wasmedge_stablediffusion/wasmedge_stablediffusion.cpp
Labels: c-Test

#3557 [CI] Add the build and release CI of stable diffusion plugin.
  .github/workflows/build-extensions.yml
  .github/workflows/release.yml
  plugins/wasmedge_stablediffusion/CMakeLists.txt
  test/plugins/wasmedge_stablediffusion/CMakeLists.txt
  test/plugins/wasmedge_stablediffusion/wasmedge_stablediffusion.cpp
Labels: c-Plugin, c-Test, c-CI

#3569 [CI] Refactor: generate matrix values from JSON file instead of gh-action
  .github/actions/expand-variables/README.md
  .github/actions/expand-variables/action.yml
  .github/actions/expand-variables/dist/index.js
  .github/actions/expand-variables/dist/license.txt
  .github/actions/expand-variables/main.js
  .github/actions/expand-variables/package-lock.json
  .github/actions/expand-variables/package.json
  .github/workflows/build-extensions.yml
  .github/workflows/matrix-extensions.json
  .github/workflows/reusable-build-extensions-on-manylinux.yml
  .github/workflows/reusable-build-extensions.yml
Labels: Improvement, c-CI

#3573 [CI] Ensure git safe directory when release plugins.
  .github/workflows/reusable-build-extensions-on-manylinux.yml
Labels: c-CI

#3571 [CI] Sync build-extensions from Ubuntu to manylinux
  .github/workflows/matrix-extensions.json
Labels: c-CI

#3578 [Runtime] Create limited page size of memory instance if configured.
  include/runtime/instance/memory.h
  test/memlimit/MemLimitTest.cpp
Labels: c-Test

#3589 [WASI-NN] ggml: add json-schema suuport and bump llama.cpp b3445
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/ggml.cpp
Labels: c-Plugin, c-WASI-NN

#3597 [WASI-NN] ggml: bump to b3463 and allow forcely disable the native isa extensions
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3601 Update README for (reusable) workflows
  .github/workflows/README.md
Labels: c-CI

#3606 [WASINN] Turn off warning for llama.cpp
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3607 [Component] Fix static build naming conflicts
  lib/executor/CMakeLists.txt
  lib/executor/instantiate/component/instantiate_component_alias.cpp
  lib/executor/instantiate/component/instantiate_component_canon.cpp
  lib/executor/instantiate/component/instantiate_component_export.cpp
  lib/executor/instantiate/component/instantiate_component_import.cpp
  lib/executor/instantiate/component/instantiate_component_instance.cpp
  lib/executor/instantiate/component/instantiate_component_start.cpp
  lib/executor/instantiate/component/instantiate_component_type.cpp
  lib/loader/CMakeLists.txt
  lib/loader/ast/component/component_alias.cpp
  lib/loader/ast/component/component_canonical.cpp
  lib/loader/ast/component/component_import_export.cpp
  lib/loader/ast/component/component_instance.cpp
  lib/loader/ast/component/component_sort.cpp
  lib/loader/ast/component/component_start.cpp
  lib/loader/ast/component/component_type.cpp
Labels: v-0.14.1

#3583 [WASI-NN] piper: fix piper dependencies
  .github/workflows/build-extensions.yml
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/piper.patch
  utils/wasi-nn/install-onnxruntime.sh
Labels: c-Plugin, c-WASI-NN, c-CI, c-CMake
