Repository WasmEdge/WasmEdge, pull requests merged in 2024-02, with the labels that each got.

#3189 [WASI-NN] ggml: add experimental embedding support
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

#3190 [WASI-NN] ggml: bump llama.cpp b2037
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#2565 [AOT] Support exception handling, stack unwinding across AOT binary
  include/loader/shared_library.h
  include/system/fault.h
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/executor/engine/proxy.cpp
  lib/executor/helper.cpp
  lib/loader/shared_library.cpp
  lib/system/fault.cpp
Labels: c-AOT

#3195 [AOT] Fix windows build
  cmake/Helper.cmake
  lib/aot/CMakeLists.txt
  lib/aot/compiler.cpp
  lib/aot/llvm.h
  lib/executor/helper.cpp
Labels: c-CMake, c-AOT

#3206 Fix the linking error with simdjson
  plugins/wasi_nn/CMakeLists.txt
  test/spec/CMakeLists.txt
Labels: c-Plugin, c-Test, c-WASI-NN

#3214 [WASI] Ignore NONBLOCK flags on windows, fix #3084
  lib/host/wasi/inode-win.cpp
Labels: c-WASI

#3204 [CI] Use the latest llvm from homebrew, remove the pinned llvm@16
  .github/workflows/reusable-build-on-macos.yml
Labels: c-CI

#3219 [Misc] enable -Wno-deprecated-literal-operator only if clang >= 17.0.0
  cmake/Helper.cmake
Labels: c-CMake

#2962 feat: WASI-OCR New Plugin for using Tesseract OCR within WasmEdge
  CMakeLists.txt
  plugins/CMakeLists.txt
  plugins/wasi_ocr/CMakeLists.txt
  plugins/wasi_ocr/wasiocrbase.h
  plugins/wasi_ocr/wasiocrenv.cpp
  plugins/wasi_ocr/wasiocrenv.h
  plugins/wasi_ocr/wasiocrfunc.cpp
  plugins/wasi_ocr/wasiocrfunc.h
  plugins/wasi_ocr/wasiocrmodule.cpp
  plugins/wasi_ocr/wasiocrmodule.h
Labels: c-Plugin

#3215 [Misc] Ignore false positive warnings in MSVC
  include/experimental/expected.hpp
  test/expected/noexcept.cpp
Labels: c-Test

#3228 [WASI-NN] ggml: fix incorrect inputs tokens number after calling embedding
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

#3229 [WASI-NN] ggml: support main-gpu and tensor-split
  plugins/wasi_nn/ggml.cpp
  plugins/wasi_nn/ggml.h
Labels: c-Plugin, c-WASI-NN

#3230 [WASI-NN] ggml: bump to b2230 for supporting the gemma model
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, c-WASI-NN

#3227 [Changelog] Update the changelog for the 0.14.0-alpha.2 pre-release.
  .CurrentChangelog.md
  Changelog.md
Labels: v-0.14.0

#2877 [Plugin] Decoupled plugin register flow
  include/plugin/plugin.h
  lib/plugin/plugin.cpp
  plugins/wasi_crypto/ctx.cpp
  plugins/wasi_crypto/ctx.h
  plugins/wasi_logging/env.cpp
  plugins/wasi_logging/wasi_logging/env.h
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasm_bpf/wasm-bpf-module.cpp
  plugins/wasmedge_image/image_env.cpp
  plugins/wasmedge_image/image_env.h
  plugins/wasmedge_opencvmini/opencvmini_env.cpp
  plugins/wasmedge_opencvmini/opencvmini_env.h
  plugins/wasmedge_process/processenv.cpp
  plugins/wasmedge_process/processenv.h
  plugins/wasmedge_tensorflow/tensorflow_env.cpp
  plugins/wasmedge_tensorflow/tensorflow_env.h
  plugins/wasmedge_tensorflowlite/tensorflowlite_env.cpp
  plugins/wasmedge_tensorflowlite/tensorflowlite_env.h
  plugins/wasmedge_zlib/zlibenv.cpp
  plugins/wasmedge_zlib/zlibenv.h
  test/plugins/unittest/testplugin.cpp
  test/plugins/unittest/testplugin.h
Labels: c-Plugin, c-Test, c-WASI-NN, v-0.14.0

#3236 [CI] Seperate the release and build deps
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

#3237 [CI] not matrix.release, it's release only
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

#3238 [CI] inherit from the input fields
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

#3242 [Misc] Only build wasi_nn_rpc when WASMEDGE_BUILD_WASI_NN_RPC is ON
  .github/workflows/reusable-build-on-macos.yml
  CMakeLists.txt
Labels: c-CI

#3243 [Installer] Remove macOS metadata during installation
  utils/install.py
Labels: c-Installer
