Repository WasmEdge/WasmEdge, pull requests merged in 2025-03, with the labels that each got.

#4045 [WASI-NN] ggml: bump to b4818; bump wasi-nn plugin to 0.1.14
  CMakeLists.txt
  cmake/WASINNDeps.cmake
Labels: c-CMake

#4050 [CI] Test WasmEdge (Core) on Ubuntu 20.04 (x86_64)
  .github/workflows/README.md
  .github/workflows/build.yml
Labels: c-CI

#4040 [Executor] Re-order and lint the instructions.
  include/aot/version.h
  include/common/executable.h
  include/executor/executor.h
  lib/executor/engine/engine.cpp
  lib/executor/engine/proxy.cpp
  lib/executor/engine/refInstr.cpp
  lib/llvm/compiler.cpp
Labels: c-AOT

#4055 [WASI-NN] ggml: bump to b4875; bump wasi-nn plugin to 0.1.15
  CMakeLists.txt
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#4056 Update `0.14.1_plugin_lts` branch
  CMakeLists.txt
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#4058 [WASI-NN] ggml: bump to b4897; bump wasi-nn plugin to 0.1.16
  CMakeLists.txt
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#4060 Update `0.14.1_plugin_lts` branch
  CMakeLists.txt
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#4034 [WASI-NN] Add openvino genai support
  .github/workflows/matrix-extensions.json
  .github/workflows/reusable-build-extensions-on-linux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinn_openvino_genai.cpp
  plugins/wasi_nn/wasinn_openvino_genai.h
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinntypes.h
Labels: c-Plugin, WASI-NN, c-CI, c-CMake

#4059 [Plugin] image: bump stb_image to f056911
  cmake/Helper.cmake
Labels: c-CMake

#4063 [WASI-NN] ggml: bump to b4915; bump wasi-nn plugin to 0.1.17
  CMakeLists.txt
  cmake/WASINNDeps.cmake
Labels: c-CMake

#4065 Update `0.14.1_plugin_lts` branch
  CMakeLists.txt
  cmake/WASINNDeps.cmake
Labels: c-CMake

#4067 [WASI-NN] Fix symbol of openvino genai
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_openvino_genai.cpp
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#4069 [WASI-NN] Update TensorType Index
  plugins/wasi_nn/wasinntypes.h
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-Plugin, c-Test, WASI-NN
