Repository WasmEdge/WasmEdge, pull requests merged in 2025-02, with the labels that each got.

#4005 [WASI-NN] ggml: apply clang-tidy
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN

#4000 [Misc] Add macro for returning `unexpected` error
  include/common/expected.h
  include/executor/engine/atomic.ipp
  include/executor/engine/memory.ipp
  include/host/wasi/environ.h
  include/loader/loader.h
  include/loader/serialize.h
  include/runtime/component/hostfunc.h
  include/runtime/hostfunc.h
  include/validator/validator_component.h
  lib/executor/engine/controlInstr.cpp
  lib/executor/engine/engine.cpp
  lib/executor/engine/memoryInstr.cpp
  lib/executor/engine/proxy.cpp
  lib/executor/engine/tableInstr.cpp
  lib/executor/engine/threadInstr.cpp
  lib/executor/executor.cpp
  lib/executor/instantiate/component.cpp
  lib/executor/instantiate/component/instantiate_component_canon.cpp
  lib/executor/instantiate/component/instantiate_component_instance.cpp
  lib/executor/instantiate/component/instantiate_component_start.cpp
  lib/executor/instantiate/data.cpp
  lib/executor/instantiate/elem.cpp
  lib/executor/instantiate/global.cpp
  lib/executor/instantiate/import.cpp
  lib/executor/instantiate/module.cpp
  lib/executor/instantiate/table.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/host/wasi/vinode.cpp
  lib/host/wasi/wasifunc.cpp
  lib/llvm/codegen.cpp
  lib/loader/ast/component.cpp
  lib/loader/ast/component/component_alias.cpp
  lib/loader/ast/component/component_canonical.cpp
  lib/loader/ast/component/component_import_export.cpp
  lib/loader/ast/component/component_instance.cpp
  lib/loader/ast/component/component_sort.cpp
  lib/loader/ast/component/component_start.cpp
  lib/loader/ast/component/component_type.cpp
  lib/loader/ast/description.cpp
  lib/loader/ast/expression.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/ast/segment.cpp
  lib/loader/ast/type.cpp
  lib/loader/filemgr.cpp
  lib/loader/loader.cpp
  lib/loader/serialize/serial_expression.cpp
  lib/loader/serialize/serial_instruction.cpp
  lib/loader/serialize/serial_module.cpp
  lib/loader/serialize/serial_section.cpp
  lib/loader/serialize/serial_segment.cpp
  lib/loader/serialize/serial_type.cpp
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
  lib/validator/validator_component.cpp
  lib/vm/vm.cpp
Labels: WASI

#4007 [CI] Add groups and prefix for dependabot
  .github/dependabot.yml
Labels: c-CI

#4008 fix: typos in the wasi linux test file
  test/host/wasi/linuxTest.cpp
Labels: c-Test

#4009 [Misc] Add GSoC issue template
  .github/ISSUE_TEMPLATE/gsoc_idea.yml
Labels: c-CI

#4017 [WASI-NN] apply WASMEDGE_WASI_NN_VERSION into the plugin's version
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinnenv.cpp
Labels: c-Plugin, WASI-NN

#4020 [WASI-NN] ggml: add TTS speaker profile support
  .github/workflows/ignore_words
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinn_ggml.h
Labels: c-Plugin, WASI-NN, c-CI

#3995 [WASI-NN] ggml: add parameters
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinn_ggml.h
Labels: c-Plugin, WASI-NN

#4030 [WASI-NN] ggml: bump to b4762; bump wasi-nn plugin to 0.1.13
  CMakeLists.txt
  cmake/WASINNDeps.cmake
Labels: c-CMake

#4036 [Misc] fix typo in catch.hpp
  test/expected/catch.hpp
Labels: c-Test
