Repository WasmEdge/WasmEdge, pull requests merged in 2025-09, with the labels that each got.

#4353 feat(plugin): update the `0.15.0_plugin_lts` branch
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN, c-CMake

#4364 feat(installer,v2): support WasmEdge 0.15.0 tarball structure
  .github/workflows/test-installers.yml
  utils/install_v2.sh
Labels: c-CI

#4341 test: fix ubsan warnings
  include/common/statistics.h
  lib/common/errinfo.cpp
  test/api/APIUnitTest.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/wasi.cpp
  test/plugins/unittest/testplugin.cpp
Labels: c-Test

#4370 refactor(WASI-NN/GGML): parse metadata
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN
