Repository WasmEdge/WasmEdge, pull requests merged in 2025-01, with the labels that each got.

#3950 [Plugin] Stable Diffusion: upgrade version to dcf91
  .github/workflows/matrix-extensions.json
  CMakeLists.txt
  include/host/mock/wasmedge_stablediffusion_func.h
  plugins/wasmedge_stablediffusion/CMakeLists.txt
  plugins/wasmedge_stablediffusion/sd_env.cpp
  plugins/wasmedge_stablediffusion/sd_func.cpp
  plugins/wasmedge_stablediffusion/sd_func.h
  test/plugins/wasmedge_stablediffusion/wasmedge_stablediffusion.cpp
Labels: c-Plugin, c-Test, c-CI

#3956 [WASI-NN] GGML: add graph and context new/delete management. (PART 2)
  plugins/wasi_nn/wasinn_chattts.cpp
  plugins/wasi_nn/wasinn_chattts.h
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinn_ggml.h
  plugins/wasi_nn/wasinn_mlx.cpp
  plugins/wasi_nn/wasinn_mlx.h
  plugins/wasi_nn/wasinn_neuralspeed.cpp
  plugins/wasi_nn/wasinn_neuralspeed.h
  plugins/wasi_nn/wasinn_onnx.h
  plugins/wasi_nn/wasinn_openvino.cpp
  plugins/wasi_nn/wasinn_openvino.h
  plugins/wasi_nn/wasinn_piper.cpp
  plugins/wasi_nn/wasinn_piper.h
  plugins/wasi_nn/wasinn_tf.h
  plugins/wasi_nn/wasinn_tfl.cpp
  plugins/wasi_nn/wasinn_tfl.h
  plugins/wasi_nn/wasinn_torch.cpp
  plugins/wasi_nn/wasinn_torch.h
  plugins/wasi_nn/wasinn_whisper.cpp
  plugins/wasi_nn/wasinn_whisper.h
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/plugins/wasi_nn/wasi_nn.cpp
Labels: c-Plugin, c-Test, WASI-NN

#3961 [WASI-NN] mlx: fix typos
  plugins/wasi_nn/wasinn_mlx.cpp
Labels: c-Plugin, WASI-NN

#3965 [Docs] Rust 1.84 uses wasm32-wasip1 instead of wasm32-wasi
  examples/capi/wasi-env/README.md
  examples/plugin/wasi-crypto-signature/README.md
  examples/plugin/wasi-logging/README.md
  examples/wasm/README.md
Labels: c-Example

#3968 [WASI-NN] ggml: bump llama.cpp to b4466
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#3974 [Plugin] Use `stb_image` to replace the libpng and libjpeg.
  cmake/Helper.cmake
  include/host/mock/wasmedge_image_func.h
  include/host/mock/wasmedge_image_module.h
  plugins/wasmedge_image/CMakeLists.txt
  plugins/wasmedge_image/image_func.cpp
  plugins/wasmedge_image/image_func.h
  plugins/wasmedge_image/image_module.cpp
  test/host/mock/mockTest.cpp
  test/plugins/wasmedge_image/wasmedge_image.cpp
Labels: c-Plugin, c-Test, c-CMake

#3963 fix: secretkey_export on rsa with ENCODING_PKCS8
  plugins/wasi_crypto/signatures/rsa.cpp
  test/plugins/wasi_crypto/asymmetric.cpp
Labels: c-Plugin, c-Test

#3979 [WASI-NN] Fix wrong function dispatch.
  plugins/wasi_nn/wasinn_whisper.h
  plugins/wasi_nn/wasinnfunc.cpp
Labels: c-Plugin, WASI-NN

#3976 [Misc] Apply clang-tidy
  test/api/APIAOTNestedVMTest.cpp
  test/api/APIUnitTest.cpp
  test/api/APIVMCoreTest.cpp
  test/api/helper.cpp
Labels: c-Test

#3967 [Misc] Add stack trace while error occured
  include/executor/executor.h
  include/runtime/stackmgr.h
  include/system/fault.h
  include/system/stacktrace.h
  include/system/winapi.h
  lib/executor/engine/engine.cpp
  lib/executor/engine/proxy.cpp
  lib/executor/executor.cpp
  lib/executor/helper.cpp
  lib/host/wasi/CMakeLists.txt
  lib/system/CMakeLists.txt
  lib/system/fault.cpp
  lib/system/stacktrace.cpp
Labels: WASI

#3982 [Misc] Use `string_view` literals suffix for spdlog functions
  include/common/statistics.h
  include/plugin/wasi_logging/env.h
  include/runtime/instance/memory.h
  lib/common/spdlog.cpp
  lib/driver/compilerTool.cpp
  lib/driver/runtimeTool.cpp
  lib/driver/wasiNNRPCServerTool.cpp
  lib/executor/coredump.cpp
  lib/executor/engine/engine.cpp
  lib/executor/executor.cpp
  lib/executor/instantiate/component/instantiate_component_alias.cpp
  lib/host/wasi/environ.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/inode-macos.cpp
  lib/host/wasi/inode-win.cpp
  lib/llvm/codegen.cpp
  lib/llvm/compiler.cpp
  lib/llvm/jit.cpp
  lib/loader/aot_section.cpp
  lib/loader/ast/component.cpp
  lib/loader/ast/component/component_type.cpp
  lib/loader/ast/instruction.cpp
  lib/loader/ast/module.cpp
  lib/loader/ast/section.cpp
  lib/loader/loader.cpp
  lib/loader/shared_library.cpp
  lib/validator/formchecker.cpp
  lib/validator/validator.cpp
  lib/validator/validator_component.cpp
  lib/vm/vm.cpp
  plugins/wasi_http/func.cpp
  plugins/wasi_nn/wasinn_onnx.cpp
  plugins/wasi_nn/wasinn_openvino.cpp
  plugins/wasi_nn/wasinn_tf.cpp
  plugins/wasi_nn/wasinn_tfl.cpp
  plugins/wasi_nn/wasinn_whisper.cpp
  plugins/wasi_nn/wasinnenv.cpp
  plugins/wasi_nn/wasinnfunc.cpp
  plugins/wasm_bpf/func-bpf-map-operate.cpp
  plugins/wasm_bpf/wasm-bpf.cpp
  plugins/wasmedge_process/processfunc.cpp
  plugins/wasmedge_stablediffusion/sd_env.cpp
  test/plugins/wasi_nn/wasi_nn.cpp
  test/spec/spectest.cpp
Labels: c-CLI, c-Plugin, c-Test, WASI, WASI-NN

#3988 [Docs] Update roadmap for Q1/2025.
  docs/ROADMAP.md
Labels: documentation, gitvote
