Repository WasmEdge/WasmEdge, pull requests merged in 2025-04, with the labels that each got.

#4078 [WASI-NN] ggml: bump to b5074; bump wasi-nn plugin to 0.1.18
  CMakeLists.txt
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#4077 Validate CoreInstance Section, Improve Context, Add Tests for nested components
  include/common/enum.inc
  include/validator/context.h
  include/validator/validator_component.h
  lib/validator/validator_component.cpp
  test/component/componentvalidatortest.cpp
Labels: c-Test

#4081 docs(owner): update code owner status
  docs/OWNER.md
Labels: documentation

#4082 [Component Model] Validate CompInline Exports and sort indices
  include/common/enum.inc
  include/validator/context.h
  include/validator/validator_component.h
  test/component/componentvalidatortest.cpp
Labels: c-Test

#4086 [Docs] Update roadmap for Q2/2025.
  docs/ROADMAP.md
Labels: documentation, gitvote
