Repository WasmEdge/WasmEdge, pull requests merged in 2025-06, with the labels that each got.

#4144 feat(wasi-nn): bump ggml to b5593 and wasi-nn plugin to 0.1.25
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN, c-CMake

#4146 ci(IWYU): dump the result on CI
  .github/workflows/IWYU_scan.yml
Labels: c-CI

#4154 ci(commitlint): use label for showing the commitlint result
  .github/workflows/commitlint.yml
Labels: c-CI, commitlint-pass

#4163 fix(wasi-nn): fix n_ubatch assignment
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, commitlint-pass

#4164 feat(wasi-nn): bump ggml to b5640 and wasi-nn plugin to 0.1.26
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake, commitlint-pass

#4165 ci(commitlint): use updateComment instead of re-creating a new one
  .github/workflows/commitlint.yml
Labels: c-CI, commitlint-pass

#4169 ci(commitlint): change the condition to pull_request_target
  .github/workflows/commitlint.yml
Labels: c-CI

#4180 ci(commitlint): no longer add labels or comments due to the permissions and events issues
  .github/workflows/commitlint.yml
Labels: c-CI, commitlint-pass

#4196 ci(sbom): migrate SBOM generation to REST API
  .github/workflows/release.yml
Labels: c-CI
