Repository WasmEdge/WasmEdge, pull requests merged in 2025-05, with the labels that each got.

#4097 docs: updates Contribution Guide
  docs/CONTRIBUTING.md
Labels: documentation

#4112 feat(wasi-nn): use the new libmtmd for multimodal models
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinn_ggml.h
Labels: c-Plugin, WASI-NN, c-CMake

#4111 ci(WASI-NN/MLX): package with metalib
  .github/workflows/reusable-build-extensions-on-macos.yml
  cmake/WASINNDeps.cmake
Labels: c-CI, c-CMake

#4117 [EXAMPLE] wasi-cryptography-signature: add proper error handling
  examples/plugin/wasi-crypto-signature/src/signatures.rs
Labels: c-Example

#4119 feat(wasi-nn): bump ggml to b5463; bump wasi-nn plugin to 0.1.22
  CMakeLists.txt
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinn_ggml.h
Labels: c-Plugin, WASI-NN, c-CMake

#4122 Fix install.sh failure for Mac M4 with wasi_nn-tensorflowlite plugin
  utils/install.py
Labels: c-Installer

#4124 refactor(example): migrate zlib example to use WIT
  examples/plugin/wasmedge-zlib/.gitignore
  examples/plugin/wasmedge-zlib/Makefile
  examples/plugin/wasmedge-zlib/README.md
  examples/plugin/wasmedge-zlib/main.cpp
  examples/plugin/wasmedge-zlib/wit/world.wit
  examples/plugin/wasmedge-zlib/wit/zlib.wit
Labels: c-Example
