Repository WasmEdge/WasmEdge, pull requests merged in 2025-07, with the labels that each got.

#4225 fix(CAPI): no longer include stdbool.h after C23
  include/api/wasmedge/wasmedge.h
Labels: c-CAPI

#4217 chore(bpf): reorder the dual licenses to avoid the false positive license issue
  test/plugins/wasm_bpf/assets/bpf-sources/simple_map.bpf.c
  test/plugins/wasm_bpf/assets/bpf-sources/simple_ringbuf.bpf.c
Labels: c-Test

#4201 feat: unified all installer CI workflows
  .github/scripts/installer-test-helpers.sh
  .github/workflows/test-install-script.yml
  .github/workflows/test-installer-v2.yml
  .github/workflows/test-installers.yml
  .github/workflows/test-python-install-script.yml
Labels: c-CI

#4229 ci: pinned to specific actions' SHA
  .github/workflows/reusable-build-on-manylinux.yml
  .github/workflows/reusable-build-on-ubuntu.yml
Labels: c-CI

#4013 [CI] Add support for llvm19 on macos brew
  .github/workflows/reusable-build-on-macos.yml
  cmake/Helper.cmake
  lib/llvm/CMakeLists.txt
Labels: c-CI, c-CMake

#4208 fix(wasi_nn, ggml): Empty generation returned if n_predict is -1 or -2
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN

#4232 docs(roadmap): update roadmap for Q3/2025
  docs/ROADMAP.md
Labels: documentation, gitvote, gitvote/open

#4249 feat(WASI-NN,ggml): bump llama.cpp b5835
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake

#4255 ci(release): fixed the incorrect GitHub permissions
  .github/workflows/release.yml
Labels: c-CI

#4263 feat(WASI-NN,ggml): bump llama.cpp b5896
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN, c-CMake

#4256 WIP: ci(linters): add EOF newline check via linelint to misc CI workflow
  .github/workflows/misc-linters.yml
  .lineguardrc
Labels: c-CI

#4266 fix: fixed previously merged PR for symlink uninstallation with correct code
  .github/workflows/test-installers.yml
Labels: c-CI

#4214 docs: update CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
Labels: documentation, gitvote, gitvote/closed, gitvote/passed

#4215 docs: add vendor neutrality for GOVERNANCE.md
  docs/GOVERNANCE.md
Labels: documentation, gitvote, gitvote/closed, gitvote/passed

#4226 docs: licensing reminder from the Code of Conduct file
  docs/CODE_OF_CONDUCT.md
Labels: documentation, gitvote, gitvote/closed, gitvote/passed

#4233 feat(c-api): add method to delete registered modules from VM
  include/api/wasmedge/wasmedge.h
  include/runtime/storemgr.h
  lib/api/wasmedge.cpp
  test/api/APIVMCoreTest.cpp
Labels: c-CAPI, c-Test

#4265 chore(lineguard): apply lineguard for all files
  .github/scripts/installer-test-helpers.sh
  .github/workflows/IWYU_scan.yml
  .github/workflows/commitlint.yml
  .github/workflows/reusable-build-on-android.yml
  .github/workflows/wasi-testsuite.yml
  .gitvote.yml
  README-zh-TW.md
  README-zh.md
  README.md
  docs/CONTRIBUTOR_LADDER.md
  docs/self-assessment.md
  examples/embed_cxx/script/CMakeLists.txt
  examples/plugin/wasi-logging/README.md
  examples/plugin/wasi-logging/src/lib.rs
  examples/plugin/wasmedge-zlib/README.md
  plugins/wasm_bpf/README.md
  plugins/wasmedge_ffmpeg/CMakeLists.txt
  test/plugins/wasi_crypto/CMakeLists.txt
  test/plugins/wasmedge_ffmpeg/CMakeLists.txt
  thirdparty/wasi_crypto/api.hpp
  utils/android/app/README.md
  utils/ohos/README-zh.md
  utils/openwrt/configuration/Makefile
  utils/uninstall.sh
  utils/wasi-cpp-header/crypto_generate.sh
Labels: documentation, c-Plugin, c-Test, c-Installer, c-CI, c-Example, gitvote, gitvote/closed, gitvote/passed
