Repository WasmEdge/WasmEdge, pull requests merged in 2025-08, with the labels that each got.

#4295 fix(validator): correct core module handling
  lib/validator/component_validator.cpp
  test/component/spectest.cpp
Labels: c-Test

#4300 feat(WASI-NN,ggml): bump llama.cpp b6097, support gpt-oss
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN, c-CMake

#4301 feat(WASI-NN,ggml): bump llama.cpp b6097, support gpt-oss (#4300)
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
Labels: c-Plugin, WASI-NN, c-CMake

#4320 feat(wasi-nn): bump ggml to b6191 and wasi-nn plugin to 0.1.30
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinn_ggml.h
Labels: c-Plugin, WASI-NN, c-CMake

#4251 feat: support WasmEdge on the s390x platform
  .github/workflows/build_for_s390x.yml
  cmake/WASINNDeps.cmake
  include/api/wasmedge/int128.h
  include/ast/instruction.h
  include/common/endian.h
  include/common/int128.h
  include/common/types.h
  include/executor/engine/atomic.ipp
  include/executor/engine/binary_numeric_vector.ipp
  include/executor/engine/memory.ipp
  include/executor/engine/unary_numeric_vector.ipp
  include/executor/executor.h
  include/host/wasi/environ.h
  include/host/wasi/inode.h
  include/host/wasi/vinode.h
  include/runtime/instance/data.h
  include/runtime/instance/memory.h
  lib/api/wasmedge.cpp
  lib/common/hash.cpp
  lib/executor/engine/engine.cpp
  lib/executor/engine/proxy.cpp
  lib/executor/helper.cpp
  lib/host/wasi/clock-linux.cpp
  lib/host/wasi/inode-linux.cpp
  lib/host/wasi/linux.h
  lib/host/wasi/wasifunc.cpp
  lib/llvm/codegen.cpp
  lib/llvm/compiler.cpp
  lib/llvm/llvm.h
  lib/loader/ast/instruction.cpp
  lib/loader/ast/section.cpp
  lib/system/allocator.cpp
  plugins/wasi_nn/wasinn_ggml.cpp
  plugins/wasi_nn/wasinnenv.h
  plugins/wasi_nn/wasinnfunc.cpp
  test/api/APIUnitTest.cpp
  test/api/helper.cpp
  test/host/socket/wasi_socket.cpp
  test/host/wasi/linuxTest.cpp
  test/host/wasi/wasi.cpp
  test/plugins/wasi_nn/CMakeLists.txt
  test/plugins/wasi_nn/wasi_nn.cpp
  test/spec/spectest.cpp
  test/thread/ThreadTest.cpp
Labels: LFX Mentorship, c-CAPI, c-Plugin, c-Test, WASI, WASI-NN, c-CI, c-CMake

#4336 feat(WASI-NN,ggml): bump llama.cpp b6301, support MiniCPM-V4.5
  cmake/WASINNDeps.cmake
  plugins/wasi_nn/CMakeLists.txt
  plugins/wasi_nn/wasinn_ggml.cpp
Labels: c-Plugin, WASI-NN, c-CMake
